@media only screen and (max-width: 991px) {
  .router-outlet-holder {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .router-outlet-holder {
    margin-top: 200px;
  }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
  .router-outlet-holder {
    margin-top: 140px;
  }
}