<section class="container">
    <div class="login-holder">
        <h2 class="d-inline-block">Allready a Seller?</h2>
        <a target="_blank" [routerLink]="['/dashboard/login']">
            <button mat-raised-button>Login</button>
        </a>
    </div>
</section>
<section class="container">
    <div
        style="background: linear-gradient(270deg, #FFFFFF 49.32%, rgba(249, 251, 251, 0.05) 60.53%, rgba(238, 244, 244, 0) 68.47%);">
        <div class="register-holder">
            <h4>READY TO BECOME</h4>
            <h2>A EMDAD SELLER?</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias soluta corrupti 
                <br> 
                pariatur id tempora aut facilis, sint perspiciatis odit eos ratione commodi!
            </p>
            <a target="_blank" [routerLink]="['/dashboard/signup']">
                <button mat-raised-button>Sign UP</button>
            </a>
        </div>
    </div>
</section>