*:focus {
  outline: none;
}

.login-holder {
  content: "";
  background: #f49814 url("../../../../assets/sell-on-emdad-login-bg.svg")
    no-repeat 100%;
  padding: 20px;
  margin: 280px 0 40px;
}

.login-holder h2 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #fff;
}

.login-holder button {
  float: right;
  border-radius: 40px;
  color: #f49814;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 50px;
}

.register-holder {
  background: url("../../../../assets/images/seller-image-bg.png") no-repeat 100%;
  padding: 125px 100px;
  margin: 0 0 80px;
  height: 600px;
}

.register-holder h4 {
  font-weight: 500;
  font-size: 32px;
  color: #1f4f9e;
}

.register-holder h2 {
  font-weight: 500;
  font-size: 42px;
  color: #1f4f9e;
}

.register-holder p {
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}

.register-holder button {
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 50px;
  background: #f49814;
  margin-top: 40px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
