.list-group-item {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  /* #2B2B2B */
  color: #2b2b2b;
  border: none;
  cursor: pointer;
}

.active {
  background: #1F4F9E;
  color: #ffffff;
  border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
