/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-body {
  padding: 40px;
}

.errors {
  color: red;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  height: 80px;
  color: rgba(43, 43, 43, 0.3);
  border: none;
}

.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.login_btn {
  background: #454f63;
  border-radius: 5px;
  margin-top: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  background: #1f4f9e;
  width: 350px;
  height: 80px;
  color: #ffffff;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .col-xs-none {
    display: none;
  }
  .rounded-circle {
    margin-bottom: 15px;
    width: 70px;
    height: 70px;
  }
  .plus-icon {
    margin-top: 50px;
    margin-left: 50px;
  }
  .form-label {
    font-size: 16px;
  }
  .form-control {
    font-size: 16px;
    height: 50px;
  }
  .login_btn {
    height: 50px;
    margin-top: 0;
  }
  .btn {
    font-size: 16px;
  }
}
@media only screen and (min-width:992px) and (max-width:1200px){
  .form-label{
    font-size: 14px !important;
line-height: 20px !important;
  }
  .form-control{
    font-size: 14px;
    line-height: 20px;
    height: 48px;
    }
  .login_btn {
    height: 48px;
  }
  .btn{
    font-size: 16px;
    line-height: 23px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .col-xs-none {
    display: none;
  }
  .rounded-circle {
    margin-bottom: 15px;
    width: 70px;
    height: 70px;
  }
  .plus-icon {
    margin-top: 50px;
    margin-left: 50px;
  }
  .form-label {
    font-size: 18px;
  }
  .form-control {
    font-size: 18px;
    height: 60px;
  }
  .login_btn {
    height: 60px;
    margin-top: 0;
  }
  .btn {
    font-size: 18px;
  }
}
