.form-control{
	background: #EFEFEF;
	border-radius: 5px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */


	color: rgba(43, 43, 43, 0.3);
}
.form-label{
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
	color: #2B2B2B;
}

.login_btn{
	background: #454F63;
	border-radius: 5px;
	margin-top: 40px;
	font-family: Jost;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
	/* identical to box height */
	text-align: center;
	background: #1F4F9E;
	color: #FFFFFF;
}