<!-- <div>
    <input #old_password type='password' placeholder='old password'>
    <input #new_password type='password' placeholder='new password'>
    <button (click)="changePass(old_password.value, new_password.value)">update</button>
    <p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p>
    <p *ngIf="msg">{{msg.message}}</p>
</div> -->
<div class="card-body">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePass()">
    <div class="form-group">
      <label class="form-label">{{'Buyer_Change_Password_Form.Current_Password' | translate}}</label>
      <label for="currentPassword" *ngIf="changePasswordForm.get('currentPassword').errors && submitted"
        class="errors ml-1">* required</label>
      <input formControlName="currentPassword" class="form-control" type="password" />
    </div>
    <div class="form-group">
      <label class="form-label">{{'Buyer_Change_Password_Form.New_Password' | translate}}</label>
      <label for="newPassword" *ngIf="changePasswordForm.get('newPassword').errors && submitted" class="errors ml-1">*
        required</label>
      <label for="newPassword" *ngIf="validationMessage && submitted" class="errors ml-1">* {{ validationMessage
        }}</label>
      <input formControlName="newPassword" class="form-control" type="password" />
    </div>
    <div class="form-group">
      <label class="form-label">{{'Buyer_Change_Password_Form.Confirm_Password' | translate}}</label>
      <label for="newPasswordAgain" *ngIf="changePasswordForm.get('newPasswordAgain').errors && submitted"
        class="errors ml-1">* required</label>
      <label for="newPasswordAgain" *ngIf="passwordNotMatch && submitted" class="errors ml-1">* didn't match</label>
      <input formControlName="newPasswordAgain" class="form-control" type="password" />
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <input type="submit" value="{{'Nav.Update' | translate}}" class="btn btn-primary btn-md btn-block login_btn" />
      </div>
    </div>
    <!-- <p>{{ error?.message }}</p>
  <p *ngIf="error">{{ error?.error | json }}</p>
  <p *ngIf="msg">{{ msg.message }}</p> -->
  </form>
</div>
<ngx-spinner></ngx-spinner>