<section class="container pl-0 pr-0">
    <div class="card mb-4">
        <div class="row">
            <div class="col-md-7 border-right">
                <div class="media">
                    <a [routerLink]="['/product/details/', product.id]"><img class="mr-3 prod-img" *ngIf="product.image1 != null"
                        [lazyLoad]="this.img_base_url+slice_image_url(product.image1)" [defaultImage]="defaultImage"
                        alt="product image">
                    </a>
                    
                    <div class="media-body">
                        <a style="cursor: pointer; text-decoration: none;" [routerLink]="['/product/details/', product.id]" class="product-name">
                            {{product.name | slice:0:40}}{{product.name.length>40?'...':''}}
                        </a>
                        <p class="store-name">{{product.seller.full_name | titlecase}}</p>
                        <p class="stock"><span>Stock :</span> {{product.stock_quantity>0?product.stock_quantity:0}}</p>
                        <p class="product-price">SAR {{ get_unit_price(product.commission,product.unit_price) }}</p>
                        <p class="pickup"><span>Shop Pickup Location :</span> {{product.pickup_address[0]?.address}}</p>
                    </div>
                </div>
            </div>
            <!-- <mat-divider vertical class="float-right"></mat-divider> -->
            <div class="col-md-5 justify-content-center mt-3 float-right">
                <div class="justify-content-center">
                    <p><strong class="sar-text">SAR {{get_unit_price(product.commission,product.unit_price)|number:'1.0-0'}}</strong> / each</p>
                </div>
                <div class="row justify-content-between p-3 mt-3">
                    <div class="col-sm-4" style="width: 100%;">
                        <mat-form-field class="example-form-field">
                            <mat-label>Qty</mat-label>
                            <input matInput type="text" [(ngModel)]="prod_qty">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8">
                        <button mat-raised-button class="add-to-cart float-right" (click)="prod_qty>0?add_to_cart(product):''">Add to
                            Cart</button>
                    </div>
                </div>
                <div class="p-3">
                    <button class="btn btn-block request-btn align-self-center" (click)="go_to_rfq()"
                        [routerLink]="['/rfq/']"><img src="assets/file_plus.svg" /> Request for quotation</button>
                </div>
            </div>
        </div>
    </div>
</section>