.card {
  padding: 20px;
  border: none;
  border-radius: 10px;
}
.prod-img-div {
  border-radius: 10px;
  max-width: 260px;
}
.product-name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */

  /* #2B2B2B */

  color: #2b2b2b;
}
.store-name {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  /* identical to box height */

  color: rgba(43, 43, 43, 0.5);
}
.stock,
.pickup {
  font-size: 18px;
}
.stock span,
.pickup span {
  font-weight: 500;
}
.sar-text {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */

  text-align: center;

  /* #2B2B2B */
  padding: 0 16px;

  color: #2b2b2b;
}
.example-form-field {
  width: 80px !important;
}
.request-btn {
  border: 1px solid #1f4f9e;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  height: 48px;
  color: #1f4f9e;
}
.mat-raised-button {
  background: #1f4f9e;
  border-radius: 5px;

  text-align: center;

  /* white */

  color: #ffffff;
}
.add-to-cart {
  height: 48px;
  width: 155px;
}
.prod-img {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  margin-right: 30px !important;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}