<mat-dialog-content class="mat-typography" *ngIf="rfqDetailsData">
    <app-rfq-modal-product-description [rfqDetailData]="rfqDetailAll"></app-rfq-modal-product-description>
    <div *ngIf="data.rfqDetails.status==1" class="quote-btn-div"><button mat-flat-button class="quote-button" (click)="showQuote()" *ngIf="btnShow">{{'Seller_RFQ.Make_Quote'|translate}}</button></div>


    <div class="quote-form container" *ngIf="isShown">
        <mat-divider></mat-divider>
        <form [formGroup]="prodRfqForm" (ngSubmit)="onSubmit(prodRfqForm.value)" class="mt-5">
            <div class="row">
                <!--INPUT FOR PRODUCT QUANTITY-->
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="form-label height-label" for="quantity">{{'Seller_RFQ.Product_Quantity'|translate}}</label>
                        <input (change)="calc_total_price()" id="quantity" class="form-control form-control-md" type="number"
                            formControlName="quantity" required />
                        <!--ERROR CHECK-->
                        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="align-left">
                            <div *ngIf="quantity.errors?.required" class="align-left">
                                <app-form-input-alert [alertMsg]="'Product quantity is required (digits only).'">
                                </app-form-input-alert>
                            </div>
                        </div>
                    </div>

                </div>
                <!--INPUT FOR UNIT PRICE-->
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="form-label height-label" for="unit_price">{{'Seller_RFQ.Unit_Price'|translate}} {{'Seller_Upload_Product.VatEx'|translate}} </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">SR <span class="ml-2 stick">&#124;</span></div>
                            </div>
                            <input (change)="calc_unit_price($event.target.value)" id="unit_price" class="form-control form-control-md" type="number"
                                formControlName="unit_price" required />
                           

                        </div>
                        <p class="text-warning d-block">{{commission}}% {{'Seller_RFQ.Commission'|translate}}</p>
                        <!--ERROR CHECK-->
                        <div *ngIf="unit_price.invalid && (unit_price.dirty || unit_price.touched)" class="align-left">
                            <div *ngIf="unit_price.errors?.required">
                                <app-form-input-alert [alertMsg]="'Unit Price is required (digits only).'">
                                </app-form-input-alert>
                            </div>
                        </div>
                    </div>
                </div>
                <!--INPUT FOR TOTAL PRICE-->
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="form-label height-label" for="total_price">{{'Buyer_Quotation_History.Total_Price'|translate}} {{'Seller_Upload_Product.VatEx'|translate}} </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">SR <span class="ml-2 stick">&#124;</span></div>
                            </div>
                            <input id="total_price" class="form-control form-control-md" type="number"
                                formControlName="total_price" required />
                        </div>
                        <!-- ERROR CHECK -->
                        <div *ngIf="total_price.invalid && (total_price.dirty || total_price.touched)" class="align-left">
                            <div *ngIf="total_price.errors?.required">
                                <app-form-input-alert [alertMsg]="'Total Price is required (digits only).'">
                                </app-form-input-alert>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                        <label for="message height-label" class="form-label">{{'Buyer_Quotation_History.Message'|translate}}</label>
                        <textarea formControlName="message" id="message" class="form-control form-control-md"></textarea>
                    </div>
                </div>
                <!--ATTACHMENTS-->
                <div class="col-md-12">
                    <!--label show and warning message show-->
                    <div class="form-group">
                        <div class="file-warn">
                            <label class="file-label d-block">{{'Seller_RFQ.Quotation_Attachments'|translate}}:</label>
                           
                           <div> 
                               <app-form-input-alert [alertMsg]="'You can attach maximum two files'" class="align-left"></app-form-input-alert>
                            </div>
                        </div>
                        <!--FILE UPLOAD-->
                        <label for="attachments" class="custom-file-upload float-left mr-2" *ngIf="isEnabled">
                            <input id="attachments" class="form-control" type="file"
                                formControlName="attachments" (change)="handleFileSelect($event);" *ngIf="isEnabled" />
                        </label>
                        <!--Attached file show-->
                        <ul class="attached-file">
                            <li *ngFor="let file of selectedImage; let i = index;">
                                {{file.name}}
                                <button mat-mini-fab (click)="removeFile(i);">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </li>
                        </ul>


                    </div>
                </div>
                <!-- SUBMIT BUTTON-->

                <div class="col-md-12">
                    <div class="form-group mobile-show mt-3">
                        <button type="submit" mat-raised-button class="btn btn-primary btn-md login_btn"
                            mat-dialog-close [disabled]="prodRfqForm.invalid">
                            {{'Seller_Bulk_Upload_Product.Submit'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</mat-dialog-content>