*:focus {
    outline: none;
    border:transparent;
  }
  ::ng-deep .mat-dialog-container {
    padding: 30px 30px 0;
    width: 900px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border-radius: 0;
  }
 .mat-dialog-content{
    font-family: Jost;
    padding: 20px;
   /*  min-height: 550px; */
    /* min-width: 900px; */
  
   
  }
  .height-label{
    min-height:52px !important;
  }
  .quote-button{
    background: #1F4F9E;
    border-radius: 5px;
    color: #ffffff;
    font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height */
text-align: center;
/* padding: 20px 80px; */
width: 500px;
height: 60px;
margin-bottom: 40px !important;
margin-top: 40px;

  }
  .quote-btn-div{
    text-align: center;
   /*  margin-bottom: 40px !important; */
  }
  .quote-button:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    transition: 0.3s;

  }
 
  .form-label{
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    float: left !important;
    color: #2b2b2b;

  }
.file-label{
  font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #2b2b2b;
}
.alert-danger {
  background: transparent;
  border: none;
  color: #ff5f92;
  float: left !important;
  font-family: Jost;
  
 
}  
app-form-input-alert{
  padding: 0 !important;
}
.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 80px;
}
.input-group-text{
  background-color: #EFEFEF;
   border: 0px transparent;
   height: 60px;
   font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* identical to box height */


color: #2B2B2B;
}
input[type=number]{
  height: 60px !important;
}
input[type=number] {
  -moz-appearance: textfield ;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .stick{
      font-size:18px;
      line-height: 26px;
  }
  .align-left{
    text-align: left !important;
    font-family: Jost;
  }
/*attachments*/
input[type="file"] {
    display: none;
  }

  
  .custom-file-upload {
    width: 80px;
    height: 80px;
    background-image: url("../../../../../assets/icons/Uploadupload-grey.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    border-radius: 5px;
    border: 2px dashed #CFCFCF;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

 .attached-file {
    
   /*  vertical-align: top; */
    list-style: none !important;
    font-size: 16px;
  }
  
  .attached-file{
    display: inline-block !important;
    margin-left: -20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .attached-file li{
    margin-top: 5px;
    margin-left: -20px;
 
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  }
   
  .attached-file button {
  /*   border-radius: 50%;
  */
  width: 24px;
  height: 24px;
    background: #ff4b55;
    border: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    align-self: center;
    
  }
  .mat-icon{
    font-size: 8px;
  }
  .login_btn{
    background: #1F4F9E;
    border-radius: 5px;
    font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height */
text-align: center;
float: left;
width: 230px;
height: 60px;

/* white */
}
/*   .mat-icon{
    font-size: 14px;
  } */
  .file-warn{
    text-align: left !important;
  }
  /*responsove -_- :/ */

@media all and (min-width:290px) and (max-width:576px){
  .quote-button{
    width:180px;
    margin-top:20px;
    font-size: 14px;
    line-height: 20px; 
    height: 40px;
  }
  .login_btn{
    clear: left;
    height: 45px;
  
    width: 180px;
   
  }
  .height-label{
    min-height:auto !important;
  }
  .mobile-show{
    text-align: center !important;
    justify-content: center;
  }
  .attached-file,.login_btn,.attached-file button{
    font-size: 14px;
    line-height: 20px;
  }

  .mat-icon{
    font-size: 10px;

  }
 .form-label,.file-label,input{
    font-size: 14px;
line-height: 20px;

  }
  .input-group-text{
    font-size: 14px;
    padding: 0 8px;
  }
  .custom-file-upload{
    /* background-size: 5%; */
    height: 40px;
    width: 40px;
  }
  .form-control{
    height: 60px;
  }
  .attachments{
display: block !important;
  }

  .attached-file,.attached-file li{
    display: block !important;
    margin-left: -12px;
  }
   ::ng-deep .mat-dialog-content{
padding-bottom: 20px !important;
   }
}
@media all and (min-width:576px) and (max-width:768px){
  .quote-button{
    width:240px;
    margin-top:20px;
    font-size: 16px;
    line-height: 23px; 
    height: 40px;
  }
  .attached-file,.login_btn,.attached-file button{
    font-size: 16px;
    line-height: 23px;
  }
  .form-label,.file-label{
    font-size: 16px;
line-height: 23px;

  }
  .input-group-text{
    font-size: 14px;
    padding: 0 8px;
  }
  .attachments{
    display: block !important;
      }
    
      .attached-file,.attached-file li{
        display: block !important;
        margin-left: -12px;
      }
      .login_btn{
        height: 50px;
        width: 220px;
      }
      .custom-file-upload{
        /* background-size: 5%; */
        height: 60px;
        width: 60px;
      }
      .form-control{
        height: 60px;
      }
      ::ng-deep .mat-dialog-content{
        padding-bottom: 20px !important;
           }
           .height-label{
            min-height:auto !important;
          }
}
@media all and (min-width:768px) and (max-width:992px){
  .quote-button{
    width:320px;
    margin-top:20px;
    font-size: 16px;
    line-height: 23px; 
   
  }
  .attached-file,.login_btn,.attached-file button{
    font-size: 16px;
    line-height: 23px;
  }
  .form-label,.file-label{
    font-size: 16px;
line-height: 23px;

  }
  .input-group-text{
    font-size: 14px;
    padding: 0 8px;
  }
  .attachments{
    display: block !important;
      }
    
      .attached-file,.attached-file li{
        display: block !important;
        margin-left: -15px;
      }
      .login_btn{
        height: 50px;
        width: 280px;
      }
      .form-control{
        height: 60px;
      }
}