.ticket-icon {
  font-size: 60px;
  border: 2px solid grey;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imageUploadButton {
  position: relative;
  border: 2px dashed grey;
  width: 70px !important;
  height: 40px;
  cursor: pointer;
  border-radius: 10%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

#images {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.errors {
  color: red;
}
