<button [routerLink]="['/subscription/plans/history/']">subscription history</button>
<br>
<br>
<div class="row" *ngIf="plans">
    <div class="col-md-6" *ngFor="let plan of plans">
        <div class="card" (click)="selectedPlan(plan);">
            <h4>{{plan.subscription_plan}}</h4>
            <p>{{plan.fees}}</p>
            <input #planId type="text" hidden value="{{plan.id}}">
        </div>
    </div>
</div>
<br>
<div>
    <input type="text" #coupon placeholder="enter coupon code">
    <button (click)="applyCoupon(coupon.value);">Apply Coupon</button>
    <p *ngIf="msg">{{msg}}</p>
    <p>{{ error?.error.message }}</p>
    <p *ngIf="error" style="color: red;">{{ error?.error.global}}</p>
</div>
<br>
<button [routerLink]="['/subscription/payment']">proceed to payment</button>