/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.full-name{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;
}
.add-space{
  padding-left: 40px;
}
.content{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;

color: #2B2B2B;
}
.bold-content{
  font-weight: 500;
  font-size: 16px;
line-height: 23px;
}
.header-text {
  font-size: 36px;
line-height: 52px;
  margin: 60px 0 40px;
  color: #2b2b2b;
}

.card-body {
  background: #fff;
  padding: 60px 40px;
}
.card-body h4{
  font-size: 24px;
line-height: 35px;
}
.address-row {
  background: #ffffff;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-left: 10px;
}

.address-row-selected {
  border: 2px solid #1f4f9e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

::ng-deep .mat-radio-label {
  margin-bottom: 0;
}

.add-address {
  background: #ffffff;
  border: 2px solid #2b2b2b;
  border-radius: 5px;
  height: 80px;
  font-size: 18px;
line-height: 26px;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  border: none;
  color: black;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */
  color: #2b2b2b;
}

.save-btn {
  background: #1f4f9e;
  border-radius: 5px;
  /* margin-top: 40px; */
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  height: 60px;
  margin-top: 25px;
}

.pay-option {
  background: #ffffff;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
line-height: 29px;
  text-align: center;
  color: #2b2b2b;
  height: 80px;
}

.pay-option:hover {
  border: 2px solid #1f4f9e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.pay-option-selected {
  background: #ffffff;
  border: 2px solid #1f4f9e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.cash-div {
  background: #ffffff;
}

.example-radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.down-details{
  font-size: 16px;
  line-height: 23px;
  font-family: Jost !important;
  padding-left: 10px;
}
.errors {
  color: red;
  font-size: 16px;
  line-height: 23px;
  font-family: Jost;
  font-weight: normal;
}
.proceed-btn {
  background-color: #1f4f9e;
  color: white;
  width: 300px;
font-size: 20px;
line-height: 29px;
  font-style: normal;
  font-weight: 500;
  height: 60px;
text-align: center;
font-family: Jost;
}

::ng-deep .mat-radio-button .mat-accent .mat-radio-inner-circle {
  background-color: #1f4f9e;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #1f4f9e;
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #1f4f9e;
}

.add-address-div {
  margin-top: 30px;
}

.cart-summery p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.cart-summery p span {
  font-weight: 500;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .header-text {
    margin: 20px 0 20px;
    font-size: 20px;
  }
  .sub-text1 {
    font-size: 16px;
  }
.errors{
  font-size: 12px;
  line-height: 18px;
}
  .sub-text2 {
    font-size: 16px;
    padding-top: 0;
  }

  .sub-text3 {
    font-size: 16px;
    text-align: left;
    padding-top: 0;
  }
  .status-btn {
    height: 40px;
    font-size: 16px;
  }
  .order-num-div {
    padding: 15px;
  }
  .card-body {
    padding: 20px 15px;
  }
  .media-body {
    padding: 0px 0 0px 15px;
  }
  .cart-summery {
    margin-top: 30px;
  }
  .cart-summery p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .order-items {
    margin-bottom: 15px;
  }
  img {
    margin-bottom: 15px;
  }
  .payment-summery {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .payment-summery h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .payment-summery p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .download-btn {
    font-size: 18px;
    height: 50px;
  }
  .add-address {
    height: 50px;
    font-size: 16px;
  }
  .form-control {
    height: 50px;
    font-size: 16px;
  }
  .form-label {
    font-size: 16px;
  }
  .save-btn {
    font-size: 16px;
    height: 50px;
  }
  .pay-option {
    font-size: 16px;
    height: 50px;
    margin-bottom: 15px;
  }
  .proceed-btn {
    width: auto;
    height: 50px;
    font-size: 18px;
  }
 /*  .add-space{
    padding-left: 10px;
  } */
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .pay-option {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prod-name {
    padding-top: 25px;
  }
  .sub-text2 {
    padding-top: 45px;
  }

  .sub-text3 {
    text-align: right;
    padding-top: 45px;
  }
  .download-btn {
    font-size: 20px;
    height: 60px;
  }
}
/*992px to 1200px*/
@media only screen and (min-width:992px) and (max-width:1200px){
  .header-text{
    font-size: 32px;
line-height: 46px;
  }
  .full-name{
    font-size: 14px;
line-height: 20px;
  }
  .add-address{
    font-size: 14px;
line-height: 20px;
height: 60px;
  }
  .card-body h4{
    font-size: 20px;
line-height: 29px;
  }
  .cart-summery p{
    font-size: 14px;
line-height: 20px;

  }
  .form-control,.form-label{
    font-size: 14px;
line-height: 20px;
  }
  .form-control{
    height: 48px;
  }
.save-btn{
  height: 48px;
  font-size: 16px;
  line-height: 23px;
}
.pay-option{
  font-size: 16px !important;
line-height: 23px !important;
height: 60px !important;
}
.errors{
  font-size: 14px;
  line-height: 20px;
}
.content{
  font-size: 14px;
line-height: 24px;
}
.bold-content{
  font-size: 14px;
line-height: 20px;
}
.down-details{
  font-size: 14px;
  line-height: 20px;
}
.proceed-btn{
  font-size: 16px;
line-height: 23px;
height: 48px;
}
}
