<div class="container">
    <div class="row" style="margin-top: 60px;margin-bottom: 40px;">
        <div class="col">
            <h3 class="mx-auto header">Checkout</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 border-outline" style="text-align: left;">
            <div class="card-body" style="background: #FFFFFF;">
                <h4>Addresses</h4>
                <div class="row">
                    <div class="col-sm-7">
                        <div [ngClass]="selected_address===i?'row address-row address-row-selected':'row address-row'" class="row address-row" id="{{'address_div_'+address.id}}" *ngFor="let address of addresses; let i=index" (click)="selected_address=i" style="cursor: pointer;">
                            <mat-radio-group [(ngModel)]="selected_address">
                                <mat-radio-button class="p-2 example-radio-button ml-2" [value]="i" color="accent">
                                    {{address.address}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-left: 20px;">
                        <div class="container">
                            <div class="add-address">
                                <button (click)="show_address_form()" class="btn btn-default btn-block" type="button"><span><i class="fas fa-plus"></i></span>  New Address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="new_address">
                <form [formGroup]="addressForm" (ngSubmit)="onNewAddressFormSubmit()">
                    <div class="row p-4 card-body">
                        <div class="form-group w-100 row">
                            <div class="col-lg-12">
                                <label class="form-label">Address</label>
                                <label *ngIf="addressForm.get('address').errors && new_address_add_form_submitted" class="errors ml-1">required</label>
                                <input class="form-control" type="text" placeholder="Enter Address" formControlName="address" />
                            </div>
                        </div>
                        <div class="form-group w-100 row">
                            <div class="col-lg-6">
                                <label class="form-label">City</label>
                                <label *ngIf="addressForm.get('city').errors && new_address_add_form_submitted" class="errors ml-1">required</label>
                                <select class="form-control w-100" formControlName="city">
                                    <option value="-1" selected>Select City</option>
                                    <option *ngFor="let city of cities; let i=index" [value]="city.id|number">{{city.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label">Country</label>
                                <label *ngIf="addressForm.get('country').errors && new_address_add_form_submitted" class="errors ml-1">required</label>
                                <select class="form-control w-100" formControlName="country" (input)="onCountryChange($event.target.value)" >
                                    <option value="-1" selected>Select Country</option>
                                    <option *ngFor="let country of countries; let i=index" [value]="country.id">{{country.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group w-100 row">
                            <div class="col-lg-6">
                                <label class="form-label">Area</label>
                                <input class="form-control" placeholder="Enter Area" type="text" formControlName="area" />
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label">Zip Code</label>
                                <label *ngIf="addressForm.get('zip_code').errors && new_address_add_form_submitted" class="errors ml-1">required</label>
                                <input class="form-control" placeholder="Enter Zip code" type="text" formControlName="zip_code" required/>
                            </div>
                        </div>
                        <div class="form-group row w-100">
                            <div class="col-lg-6">
                                <button class="btn btn-block save-btn" type="submit"  value="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body mt-5" style="background: #FFFFFF;">
                <div class="row mb-2">
                    <div class="col">
                        <h4>Choose Payment Method</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a id="a_card" class="btn btn-block pay-option pay-option-selected p-4" (click)="show_card_inputs()">Card</a>
                    </div>
                    <div class="col-sm-6 float-left">
                        <a id="a_wire" class="btn btn-block pay-option p-4" (click)="show_wired_inputs()">Wire Transfer</a>
                    </div>
                </div>
            </div>
            <div class="card-body mt-5" style="background: #FFFFFF;">
                <mat-card class="example-card mt-4" style="margin-bottom: 120px">
                    <mat-card-content *ngIf="isWired">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum hasook</p>
                        <p><strong>Account Number: 702 555-0122</strong></p>
                    </mat-card-content>
                    <mat-card-content *ngIf="isCard">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="example-full-width w-100">
                                    <mat-label>Card Number</mat-label>
                                    <input matInput placeholder="Card Number" #card_number />
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width w-100">
                                    <mat-label>Card Holder</mat-label>
                                    <input matInput placeholder="Card Holder Name" data-paylib="number" #card_holder />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <!-- <label>Expires</label>
                                <input type="text" class="form-control" placeholder="Expire date"/> -->
                                <mat-form-field class="example-full-width w-100">
                                    <mat-label>Expires month</mat-label>
                                    <input matInput placeholder="Expiry date" data-paylib="expmonth" #card_expiry_date />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <!-- <label>Expires</label>
                                <input type="text" class="form-control" placeholder="Expire date"/> -->
                                <mat-form-field class="example-full-width w-100">
                                    <mat-label>Expires Year</mat-label>
                                    <input matInput placeholder="Expiry date" data-paylib="expyear" #card_expiry_date />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <!-- <label>CVC</label>
                                <input type="text" class="form-control" placeholder="cvc"/> -->
                                <mat-form-field class="example-full-width w-100">
                                    <mat-label>CVV</mat-label>
                                    <input matInput placeholder="security code" data-paylib="cvv" #card_cvv />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-block proceed-btn" mat-raised-button (click)="make_order()">Proceed</button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cash-div p-4">
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Sub Total</p>
                    </div>
                    <div>${{cash_details.subtotal}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Discount</p>
                    </div>
                    <div *ngIf="cash_details.discount_type===1">${{cash_details.discount}}</div>
                    <div *ngIf="cash_details.discount_type===2">{{cash_details.discount}}%</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Vat</p>
                    </div>
                    <div>{{cash_details.vat}}%</div>
                </div>
                <hr/>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Total</p>
                    </div>
                    <div>${{cash_details.total}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>
