.address-row{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.3s;
}
.address-row-selected{
    border: 2px solid #F49814;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.3s;
}

.add-address{
    background: #FFFFFF;
    /* #2B2B2B */
    border: 2px solid #2B2B2B;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-control{
    background: #EFEFEF;
    border-radius: 5px;
}
.save-btn{
    background: #F49814;
    border-radius: 5px;
    /* margin-top: 40px; */
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}
.pay-option{
    background: #FFFFFF;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.pay-option:hover{
    border: 2px solid #F49814;
    box-sizing: border-box;
    border-radius: 5px;
}

.pay-option-selected{
    background: #FFFFFF;
    border: 2px solid #F49814;
    box-sizing: border-box;
    border-radius: 5px;
}

.cash-div{
    background: #FFFFFF;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.errors {
    color: red;
  }

.mat-radio-button .mat-accent .mat-radio-inner-circle{
    background-color: #1F4F9E;
}
