.address-row{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.3s;
    height: 108px;
}
.address-row-selected{
    border: 2px solid #1F4F9E;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.3s;
    height: 108px;
}

.add-address{
    background: #FFFFFF;
    /* #2B2B2B */
    border: 2px solid #2B2B2B;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-control{
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    color: rgba(43, 43, 43, 0.3);
}
.address-list{
    margin-top: 40px;
}
.save-btn{
    background: #1F4F9E;
    border-radius: 5px;
    /* margin-top: 40px; */
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    width: 300px;
    height: 80px;
}
.pay-option{
    background: #FFFFFF;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    /* width: 420px;
    height: 120px; */
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;
    /* #2B2B2B */
    color: #2B2B2B;
}
.pay-option:hover{
    border: 2px solid #1F4F9E;
    box-sizing: border-box;
    border-radius: 5px;
}

.pay-option-selected{
    background: #FFFFFF;
    border: 2px solid #1F4F9E;
    box-sizing: border-box;
    border-radius: 5px;
}

.cash-div{
    background: #FFFFFF;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.errors {
    color: red;
}
.proceed-btn{
    background-color: #1F4F9E;
    color: white;
    width: 300px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;
}
::ng-deep .mat-radio-button .mat-accent .mat-radio-inner-circle{
    background-color: #1F4F9E;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #1F4F9E;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1F4F9E;
}
@media only screen and (min-width: 1200px) {
    .container {
      max-width: 1600px !important;
    }
}
.header{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;

    /* #2B2B2B */

    color: #2B2B2B;
    /* margin-top: 60px; */
}

.new-address-btn{
    width: 210px;
    height: 108px;
    background: #FFFFFF;
    border: 2px solid #2B2B2B;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */


    /* #2B2B2B */

    color: #2B2B2B;
}
/* .example-radio{
    background: #FFFFFF;
    
    width: 650px;
height: 108px;
    border: 2px solid #1F4F9E;
    box-sizing: border-box;
    border-radius: 5px;
} */