<section class="our-partners" *ngIf="partnersData">
    <!-- First row content -->
    <div class="first-row mt-0 ml-0">
        <div class="img-div-top">

            <img src="{{base_url + partnersData.sec1_image}}" alt="about-us" class="img-fluid m-0 p-0">
        </div>
        <div class="text-div">
            <h1 class="pb-2">{{partnersData.sec1_title | titlecase}}</h1>
            <p class="about-para">{{partnersData.sec1_description | htmltoPlain}}</p>
        </div>
    </div>
    <!-- next content -->
    <div class="second-row">
        <div class="container">
            <!--heading show-->
            <div class="heading-text">
                <h1 class="pb-2 head">{{'Nav.Our_Partners'|translate}}</h1>
                <p class="subheading">{{partnersData.sec2_description |htmltoPlain}}</p>
            </div>

            <div class="row justify-content-center">
                <!--first line-->
                 <!-- <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0 col-0 mobile-row"></div> -->
                
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-6 custom-row " *ngFor="let partner of partnersData.our_partner | slice:0:5; let i =index;">
                    <div class="card h-100">
                        <div class="card-img text-center"> <img src="{{base_url + partner.logo}}" alt="hi8 logo"
                                class="img-fluid"></div>
                        <span class="card-text">{{partner.name}}</span>
                    </div>

                </div>

            </div>
            <!-- 2nd Line  -_- -->
            <div class="row justify-content-center ">
                <!--first line-->
                 <!-- <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0 col-0 mobile-row"></div> -->
                
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-6 custom-row " *ngFor="let partner of partnersData.our_partner | slice:5:10; let i =index;">
                    <div class="card h-100">
                        <div class="card-img text-center"> <img src="{{base_url + partner.logo}}" alt="hi8 logo"
                                class="img-fluid"></div>
                        <span class="card-text">{{partner.name}}</span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--Partner success stories-->
    <div class="success-stories">
        <div class="container">
            <div class="heading-text">
                <h1 class="pb-2 head s-head"> {{'Our_Partners_Common.Success_Stories'|translate}}</h1>
            </div>
            <div class="row">
                <!--show image-->
                <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                    <div class="image-cont">
                        <img src="../../../../assets/success-pic.png" alt="success-image" class="img-fluid h-100 w-100">
                    </div>
                </div>
                <!--show logo and nav-buttons-->
                <div class="col-md-6 col-lg-7 col-sm-12 col-xs-12">
                    <div class="slide-text h-100" *ngIf="currentTab" >
                       
                        <div class="top-content d-block">
                            <div class="partner-logo float-left h-100"><img src="{{base_url + currentTab.logo}}"
                                    class="img-fluid img-thumbnail" alt="">

                            </div>
                            <div class="buttons-nav float-right h-100">
                                <button class="btn rounded-lg" (click)="prev();"  [disabled]="prevBtnDisabled"><i
                                        class="fas fa-angle-left"></i></button>
                                <button class="btn rounded-lg ml-2" (click)="next();" [disabled]="nextBtnDisabled"><i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                        <!--show text quote and partner name-->
                        <div class="bottom-content d-block">
                            <h3 class="text-head d-block mb-2 pl-2">{{currentTab.name}}</h3>
                            <p class="success-para d-block pl-2">
                                {{currentTab.description}}
                            </p>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--success carousel-->
    <div class="success-carousel">
        <div class="container">
            <ngb-carousel #carousel [interval]="1500" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" >
                <ng-template ngbSlide *ngFor="let image of successCaoursel">
                  <div class="carousel-inner">
                    <img src="{{base_url + image.image}}" alt="Random slide" class="d-block w-100 h-100">
                  </div>
   
                </ng-template>
              </ngb-carousel>
        </div>
    </div>

</section>