<section class="our-partners" *ngIf="partnersData">
    <!-- First row content -->
    <div class="first-row mt-0 ml-0">
        <div class="img-div-top">

            <img src="{{base_url + partnersData.sec1_image}}" alt="about-us" class="img-fluid m-0 p-0">
        </div>
        <div class="text-div">
            <h1 class="pb-2">{{partnersData.sec1_title | titlecase}}</h1>
            <p class="about-para">{{partnersData.sec1_description | htmltoPlain}}</p>
        </div>
    </div>
    <!-- next content -->
    <div class="second-row">
        <div class="container">
            <!--heading show-->
            <div class="heading-text">
                <h1 class="pb-2 head">{{partnersData.sec2_title | titlecase}}</h1>
                <p class="subheading">{{partnersData.sec2_description |htmltoPlain}}</p>
            </div>

            <div class="row">
                <!--first line-->
                 <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0 col-0 mobile-row"></div>
                
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-6 custom-row " *ngFor="let partner of partnersData.our_partner | slice:0:5; let i =index;">
                    <div class="card h-100">
                        <div class="card-img text-center"> <img src="{{base_url + partner.logo}}" alt="hi8 logo"
                                class="img-fluid"></div>
                        <span class="card-text">{{partner.name}}</span>
                    </div>

                </div>

            </div>
            <!-- 2nd Line  -_- -->
            <div class="row">
                <!--first line-->
                 <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0 col-0 mobile-row"></div>
                
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-6 custom-row " *ngFor="let partner of partnersData.our_partner | slice:5:10; let i =index;">
                    <div class="card h-100">
                        <div class="card-img text-center"> <img src="{{base_url + partner.logo}}" alt="hi8 logo"
                                class="img-fluid"></div>
                        <span class="card-text">{{partner.name}}</span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--Partner success stories-->
    <div class="success-stories">
        <div class="container">
            <div class="heading-text">
                <h1 class="pb-2 head s-head"> Partner success stories</h1>
            </div>
            <div class="row">
                <!--show image-->
                <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                    <div class="image-cont">
                        <img src="../../../../assets/success-pic.png" alt="success-image" class="img-fluid h-100 w-100">
                    </div>
                </div>
                <!--show logo and nav-buttons-->
                <div class="col-md-6 col-lg-7 col-sm-12 col-xs-12">
                    <div class="slide-text h-100" *ngIf="currentElement;">
                        <div class="top-content d-block">
                            <div class="partner-logo float-left h-100"><img src="{{currentElement.link}}"
                                    class="img-fluid img-thumbnail" alt="">

                            </div>
                            <div class="buttons-nav float-right h-100">
                                <button class="btn rounded-lg" (click)="prevCont();"><i
                                        class="fas fa-angle-left"></i></button>
                                <button class="btn rounded-lg ml-2" (click)="nextCont();"><i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                        <!--show text quote and partner name-->
                        <div class="bottom-content d-block">
                            <h3 class="text-head d-block mb-2 pl-2">{{currentElement.name}}</h3>
                            <p class="success-para d-block pl-2">
                                {{currentElement.text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--success carousel-->
    <div class="success-carousel">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><i
                            class="fas fa-circle mx-auto "></i>
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"><i class="fas fa-circle mx-auto"></i>
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"><i class="fas fa-circle mx-auto"></i>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../../assets/success-car-1.png" class="d-block w-100" alt="image1">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../../assets/success-car-2.png" class="d-block w-100" alt="image2">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../../assets/success-car-1.png" class="d-block w-100" alt="image3">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>