<mat-dialog-content class="mat-typography">
    <div class="form-group">
        <label for="prodBrand">Enter Size</label>
        <input id="prodBrand" class="form-control form-control-md" type="text" [(ngModel)]="colorName"/>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="submit_btn" mat-button [mat-dialog-close]="colorName" cdkFocusInitial [disabled]="colorName == ''">Add Color</button>
    <button class="cancel" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>