<section class="page-heading-holder">
    <h2 class="page-heading d-inline-block">Ticket List</h2>
    <div class="sort-btn d-inline-block">
        <button mat-raised-button class="ticket-btn" (click)="openTicket();">New Ticket</button>
        <select class="form-control form-control-lg">
            <option>Filter by Status</option>
            <!-- <option>Paid</option>
            <option>Unpaid</option> -->
        </select>
    </div>
</section>
<section class="card mb-5">
    <table mat-table [dataSource]="supportIssues " class="mat-elevation-z8">
        <!-- REPORT ID Column -->
        <ng-container matColumnDef="Report ID">
            <th mat-header-cell *matHeaderCellDef>Report ID</th>
            <td mat-cell *matCellDef="let element">#{{element.issue_code }}</td>
        </ng-container>
        <!-- Subject Column -->
        <ng-container matColumnDef="Subject">
            <th mat-header-cell *matHeaderCellDef> Subject</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <!-- Status Column -->
     <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.status == 1">Running</span>
                <span *ngIf="element.status == 2">Solved</span>
                <span *ngIf="element.status == 0">-</span>
               
            </td>
        </ng-container>

        <!-- VIEW Column -->
        <ng-container matColumnDef="View">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button class="edit-product-btn" mat-button (click)="ticketView()">View</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColoumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColoumns"></tr>
    </table>
    <div class="no-data" *ngIf="supportIssues == undefined">
        No data available
    </div>
</section>