/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* .table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.table thead th {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  border-top: none;
  color: #2b2b2b;
}
.table tbody tr {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}
.table tbody tr:hover {
  outline-style: solid;
  outline-color: #1f4f9e;
  border: 2px solid #1f4f9e;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}
.table td {
  border-top: none;
}
.table td,
.table th {
  vertical-align: middle !important;
} */
*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mat-table {
  background-color: transparent !important;
  padding: 0 20px;
  font-family: Jost !important;
}

.card-body {
  padding: 40px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 60px;
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
          box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

tr.mat-row:hover,
tr.mat-footer-row:hover {
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
          box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px !important;
}

table tr:last-child td {
  border-bottom: 0 solid;
}

th {
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}

td {
  font-weight: normal;
  font-size: 18px;
  color: #2b2b2b;
}
.btn-primary {
  color: rgb(0, 0, 0);
  background-color: inherit;
  border-style: none !important;
  font-family: Jost !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1f4f9e;
  border-color: #1f4f9e;
}
.edit-product-btn{
  font-family: Jost;
}
.modal {
  background: rgba(0, 0, 0, 0.9);
}

.modal-content {
  border: none;
  padding: 30px;
}

.modal-body {
  padding: 0 1rem;
}

.modal-body p {
  font-size: 18px;
}

.modal-body p span {
  font-weight: 500;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: black;
  height: 80px;
  border: none;
}

.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.deny-input {
  margin-top: 40px;
}

.btn-div {
  margin-top: 40px;
}

.btn-div button {
  height: 55px;
  font-size: 18px;
}

.btn-div button:first-child {
  background: #1f4f9e;
  color: #fff;
  margin-right: 15px;
}

.btn-div button:last-child {
  border: 1px solid #1f4f9e;
  background: #fff;
  color: #1f4f9e;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .card-body {
    padding: 0;
    overflow-x: auto;
  }
  ::ng-deep .mat-paginator-range-label {
    margin: 0 0px 0 0px;
  }
  ::ng-deep .mat-paginator-container {
    padding: 0 !important;
  }
  .mat-table {
    padding: 15px;
  }
  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }
  ::ng-deep th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-left: 15px !important;
  }
  th {
    font-size: 16px;
  }

  td {
    font-size: 16px;
  }
  .modal-body p {
    font-size: 16px;
  }
  
  .form-control {
    font-size: 16px;
  }
  
  .form-label {
    font-size: 16px;
  }
  
  .deny-input {
    margin-top: 10px;
  }
  
  .btn-div {
    margin-top: 10px;
  }
  
  .btn-div button {
    height: 50px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  th,td,.edit-product-btn,.btn-primary{
    font-size: 14px;
    line-height: 20px;
  }
  .no-data{
    font-size: 16px;
    line-height: 23px;
  }
}