a {
  text-decoration: none;
  color: inherit;
}
button:focus {
  outline: none;
}
.banner {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  position: relative;
  height: 270px;
  text-align: center;
  background: rgb(247, 65, 135);
  background: url("../../../../assets/images/banner.jpg") no-repeat;
  background-size: 100%;
}
.banner img {
  width: 100%;
  height: 100%;
}

.banner .search-holder {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categories {
  min-height: 120px;
  background-color: #fff;
  padding: 0;
  position: relative;
}

.categories .col-md-2 {
  padding: 0;
}

.single-category {
  padding: 20px 15px;
  background: unset;
  transition: 0.3s;
  background: #fff;
}

.single-category.active {
  background: #FAFAFA;
}

.single-category:hover {
  background: #FAFAFA;
  cursor: pointer;
  transition: 0.3s;
}

.cat-icon-holder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1f4f9e;
  padding: 20px;
  display: inline-block;
  margin-right: 10px;
}

.cat-title {
  display: inline-block;
  width: calc(100% - 100px);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subCategory {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 120px;
  left: 0;
  background: #FAFAFA;
  z-index: 9;
  padding: 40px 0;
  box-shadow: 0 30px 30px rgb(0 0 0 / 10%);
}

.subCatItem,
.children {
  margin-bottom: 35px;
  text-transform: capitalize;
}

.subCatItem span,
.children span {
  margin-left: 15px;
}

.subCatItem span:hover,
.children span:hover {
  cursor: pointer;
  /* border-bottom: 1px solid #f49814; */
  border-bottom: 1px  solid #1f4f9e;
  padding-bottom: 10px;
  /* color: #f49814; */
  color: #1f4f9e;
}

.subCatItem span.active,
.children span.active {
  /* border-bottom: 1px solid #f49814; */
  border-bottom: 1px  solid #1f4f9e;
  padding-bottom: 10px;
  /* color: #f49814; */
  color: #1f4f9e;
}

.product-list-header {
  padding: 120px 0 60px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  color: #2b2b2b;
}

.cat-round-bg {
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  background: #1F4F9E;
  border-radius: 150px;
  text-align: center;
  padding: 50px;
  margin: auto;
  color: #fff;
  transition: 0.3s;
}

.cat-round-bg:hover {
  background: #1F4F9E;
  color: #fff;
  transition: 0.3s;
}

.cat-round-bg img {
  margin: auto;
  color: #fff;
  /* background: #FFFFFF; */
}

.cat-round-bg img:nth-child(1) {
  display: none;
}

.cat-round-bg img:nth-child(2) {
  display: block;
}

.cat-round-bg:hover img:nth-child(1) {
  display: block;
}

.cat-round-bg:hover img:nth-child(2) {
  display: none;
}

.view-more-btn-div {
  text-align: center;
  padding: 60px 0 90px;
}

.view-more-btn-div button {
  /* background: #f49814; */
  background: #1f4f9e;
  color: #fff;
  padding: 22px 35px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
}

.send-suggestion-div {
  padding: 55px 100px;
  background: #ddd;
  color: #2b2b2b;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
}
.send-suggestion-div button {
  background: #2b2b2b;
  color: #fff;
  padding: 17px 55px;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 500;
  vertical-align: bottom;
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
