<section>
    <h2 class="page-heading">Payment for Subscription</h2>
</section>
<section class="subs-plan-holder">
    <div class="apply-coupon-holder">
        <p>Annually <span class="float-right">$48.95</span></p>
        <p>Discount (Coupon Added) <span class="float-right">$48.95</span></p>
        <p>VAT <span class="float-right">$48.95</span></p>
        <hr>
        <p>Total <span class="float-right">$48.95</span></p>
        <button [routerLink]="['/dashboard/payment']" class="d-block mt-5" mat-raised-button>Proceed to pay</button>
    </div>
</section>