*:focus {
  outline: none;
  box-shadow: none;
}

.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  padding: 40px 0;
  margin: 0;
}

.subs-plan-holder {
  padding: 40px;
  background: #fff;
  margin-bottom: 35px;
}

.plan-card {
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 35px;
  border: 2px solid #fff;
  transition: 0.3s;
  position: relative;
}

.plan-card:hover {
  box-shadow: 0px 20px 55px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.plan-card-active {
  border: 2px solid #1f4f9e !important;
}

.plan-title {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #2b2b2b;
}

.plan-price {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: #2b2b2b;
}

.plan-price span {
  font-size: 18px;
}

.plan-check {
  position: absolute;
  top: 20px;
  right: 20px;
  /* display: none; */
}

.plan-card:hover .plan-check {
  display: block;
}

::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #1f4f9e !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1f4f9e;
}

.apply-coupon-holder  {
    max-width: 300px;
}

.apply-coupon-holder input {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 66px;
  border-left: 0;
  margin-right: 15px;
}

.input-group-prepend .input-group-text {
  background: #fff;
  padding: 20px;
}

.apply-coupon-holder button {
  height: 66px;
  vertical-align: top;
  padding: 0 50px;
  font-size: 24px;
  background: #1f4f9e;
  color: #fff;
  font-style: normal;
  font-weight: normal;
}
