<p>A token has been generated in the django server console! please copy the token and enter the token below.</p>
<label for="token">enter the token: </label>
<input #token type="text">
<br>
<label for="password">enter the new password: </label>
<input #password type="password">
<br>
<ul *ngIf="error" style="color: red;">
    <li *ngFor="let err of error">{{err}}</li>
</ul>
<p *ngIf="msg">{{msg}}</p>
<button (click)="resetPassword(token.value, password.value);">submit</button>
&nbsp;
<a [routerLink]="['/buyer/login']">login</a>