<section class="container mt-3">
    <h4 class="pt-3">A token has been sent to your mail. Please enter the token below.</h4>
    <label for="token">enter the token: </label>
    <!-- <input #token type="text"> -->
    <input #token type="text" class="form-control" placeholder="Enter the token" aria-describedby="basic-addon2">
    <br>
    <label for="password">enter the new password: </label>
    <!-- <input #password type="password"> -->
    <input #password type="password" class="form-control" placeholder="Enter your password here" aria-describedby="basic-addon2">
    <br>
    <ul *ngIf="error" style="color: red;">
        <li *ngFor="let err of error">{{err}}</li>
    </ul>
    <p *ngIf="msg">{{msg}}</p>
    <button (click)="resetPassword(token.value, password.value);" mat-raised-button>submit</button>
    &nbsp;
    <!-- <a [routerLink]="['/buyer/login']">login</a> -->
</section>