.header-text {
  font-size: 48px;
  line-height: 69px;
  margin: 60px 0 40px;
  color: #2b2b2b;
}

.sub-text1 {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 43, 43, 0.5);
}

.sub-text2 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: rgba(43, 43, 43, 0.5);
  padding-top: 25px;
}

.sub-text3 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #2b2b2b;
  text-align: right;
  padding-top: 25px;
}

.order-num {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.order-num span {
  font-weight: 500;
}

h5 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #2b2b2b;
}
.download-payment-history{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #2b2b2b;
  margin-top: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  border: 2px dashed #CFCFCF;
  box-sizing: border-box;
  border-radius: 5px;
 text-indent: 10px;
 text-decoration: underline 1px #2b2b2b;
 text-underline-offset: 2px;
 text-align: center !important;
  background-color: transparent !important;

}
.download-payment-history img{
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-bottom:8px;
}
.download-btn {
  background: #1f4f9e;
  border-radius: 5px;
  border: none;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  height: 80px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 15px;
}

.status-btn {
  border-radius: 24px;
  height: 48px;
  margin: auto;
  cursor: default;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 500;
}
.processing{
  background: rgba(244, 152, 20, 0.2);
  color: #F49814;
}
.completed{
  background: rgba(31, 79, 158, 0.2);
  color: #1F4F9E;
}
.placed{
  background: rgba(97, 191, 255, 0.2);
  color: #61BFFF;
}
.confirmed{
  background: rgba(73, 185, 127, 0.2);
  color: #49B97F;
}
img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.card-body {
  background: #fff;
  padding: 60px 40px;
}

.cart-summery p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 40px;
}

.cart-summery p span {
  font-weight: 500;
}

.payment-summery {
  margin-top: 40px;
  margin-bottom: 120px;
}

.payment-summery h4 {
  font-size: 30px;
  line-height: 43px;
  font-family: Jost;
font-style: normal;
font-weight: 500;
  margin-bottom: 30px;
}

.payment-summery .name,.payment-summery .deets {
  font-size: 20px;
  line-height: 29px;
  font-weight: normal;
  margin-bottom: 30px;
}

.payment-summery .name{
  font-weight: 500;
}
/* .payment-summery p span {
  font-weight: 500;
}
 */
.media {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 30px;
}

.media:last-child {
  margin-bottom: 0;
}

.media-body {
  padding: 25px 0 40px 40px;
}

.order-num-div {
  background: #ffffff;
  padding: 25px 20px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  
  .sub-text1 {
    font-size: 16px;
  }

  .sub-text2 {
    font-size: 16px;
    padding-top: 0;
  }

  .sub-text3 {
    font-size: 16px;
    text-align: left;
    padding-top: 0;
  }
  .status-btn {
    height: 40px;
    font-size: 16px;
  }
  .order-num-div {
    padding: 15px;
  }
  .card-body {
    padding: 20px 15px;
  }
  .media-body {
    padding: 0px 0 0px 15px;
  }
  .cart-summery p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .order-items {
    margin-bottom: 15px;
  }
  img {
    margin-bottom: 15px;
  }
  .payment-summery {
    margin-top: 15px;
    margin-bottom: 15px;
  }
 
/*   .payment-summery p {
    font-size: 16px;
    margin-bottom: 15px;
  } */
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prod-name {
    padding-top: 25px;
  }
  .sub-text2 {
    padding-top: 45px;
  }

  .sub-text3 {
    text-align: right;
    padding-top: 45px;
  }
  
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
  img {
    width: 70px;
    height: 70px;
  }
  .header-text {
    margin: 20px 0 20px;
    font-size: 30px;
    line-height: 48px;
  }
  .download-payment-history {
    font-size: 16px;
    line-height: 22px;
    min-height: 50px;
  }
  .download-payment-history img{
    height: 28px;
    width:28px
  }
  .payment-summery h4 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .payment-summery .name,.payment-summery .deets {
    font-size: 15px !important;
    line-height: 20px !important;
    
  }
  .download-btn {
    font-size: 16px;
    height: 45px;
  
  }
  .mobile-center{
    text-align: center;
  }
  
}
 @media only screen and (min-width:576px) and (max-width:991px){
  .header-text {
    margin: 20px 0 20px;
    font-size: 40px;
    line-height: 59px;
  }
  .download-payment-history {
    font-size: 20px;
    line-height: 30px;
    min-height: 50px;
  }
  .download-payment-history img{
    height: 40px;
    width:40px
  }
  .payment-summery h4 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  .payment-summery .name,.payment-summery .deets {
    font-size: 18px !important;
    line-height: 26px !important;
    
  }
  .download-btn {
    font-size: 20px;
    height: 60px;
  }
 }

 .status-txt{
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #F49814;
 }
