<div class="container">
  <div class="row justify-content-between">
    <h3 class="col header-text">{{'Buyer_Order_Details.Title'|translate}}</h3>
    <button
      *ngIf="order_status === 'placed'"
      type="button"
      class="btn status-btn placed"
    >
      {{'Buyer_Order_Details.Order_placed'|translate}}
    </button>
    <button
      *ngIf="order_status === 'confirmed'"
      type="button"
      class="btn status-btn confirmed"
    >
      {{'Buyer_Order_Details.Order_Confirmed'|translate}}
    </button>
    <button
      *ngIf="order_status === 'processing'"
      type="button"
      class="btn status-btn processing"
    >
      {{'Buyer_Order_Details.Order_Processing'|translate}}
    </button>
    <button
      *ngIf="order_status === 'completed'"
      type="button"
      class="btn status-btn completed"
    >
      {{'Buyer_Order_Details.Order_Completed'|translate}}
    </button>
  </div>
  <div class="row mt-30" *ngIf="orders?.length>0">
    <div class="col">
      <div class="order-num-div">
        <p class="order-num mb-0">
          <span>{{'Buyer_Order_History.Order_ID'}}:</span> #{{ orders[0].order.order_code }}
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-between items" style="margin-top: 30px">
    <div class="col-12 col-md-12 col-lg-8 order-items">
      <div class="card-body">
        <ul class="list-unstyled">
          <li class="media" *ngFor="let product of orders; let i = index">
            <img
              class="mr-3"
              src="{{ img_base_url + product.product.image1 }}"
              alt="Generic placeholder image"
            />
            <div class="media-body row">
              <div class="col-md-8 col-lg-6">
                <h5 class="prod-name mt-0 mb-1">
                  {{ product.product.name | titlecase }}
                </h5>
                <p
                  class="sub-text1"
                  *ngIf="product.product.delivery_method === 1"
                >
                  ({{'Seller_Product_Categories.DDP'|translate}})
                </p>
                <p
                  class="sub-text1"
                  *ngIf="product.product.delivery_method === 2"
                >
                  ({{'Seller_Product_Categories.ExWorks'|translate}})
                </p>
                <p class="status-txt">
                  {{ get_product_status(product.product.id) }}
                </p>
              </div>
              <div class="col-md-2 col-lg-3 ml-45">
                <p class="sub-text2">{{ product.quantity }}</p>
              </div>
              <div class="col-md-2 col-lg-3 ml-30">
                <p style="color: #2b2b2b" class="sub-text3">
                  ${{ cal_individual_total(i) | number: "2.2-2" }}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card-body cart-summery">
        <div class="d-flex justify-content-between">
          <div>
            <p>{{'Buyer_Cart.Sub_Total'|translate:trans_totalItems}}</p>
          </div>
          <p>${{ calcTotalPrice() | number: "2.2-2" }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <p>{{'Buyer_Cart.Discount'|translate}}</p>
          </div>
          <p>- ${{ discount | number: "1.2-2" }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <p>{{'Buyer_Cart.VAT'|translate}}</p>
          </div>
          <p>+ {{ vat | number: "2.2-2" }}</p>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <div>
            <p class="mb-0"><span>{{'Seller_Order_History.Total'|translate}}</span></p>
          </div>
          <p class="mb-0">
            <span>${{ orders[0]?.order.total_amount }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex flex-column" *ngIf="orders?.length > 0">
    <!--wire transfer card-->
    <div
      *ngIf="orders[0].order.payment_type == 0"
      class="col-12 col-sm-12 col-md-12 col-lg-8"
    >
      <div class="card-body payment-summery">
        <h4>{{'Buyer_Order_Details.Payment_Details'|translate}}</h4>
        <p>
          <span class="name">{{'Buyer_Order_Details.Payment Method'|translate}}:</span
          ><span class="deets"> {{'Buyer_Order_Details.Wire_Transfer'|translate}}</span>
        </p>
        <p class="deets">
          {{'Buyer_Order_Details.Wire_text'|translate}}
        </p>
        <p>
          <span class="name">{{'Buyer_Order_Details.Account_Number'|translate}} : </span
          ><span class="deets">702 555-0122</span>
        </p>
        <!--upload button-->
        <div class="row">
          <div class="col-md-12">
            <button class="download-payment-history w-100">
              <input type="file" (change)="set_invoice($event)"/>
              <!-- <img src="../../../../assets/upload.svg" alt="" />  -->
              
            </button>
          </div>
        </div>
        <!--proceed button-->
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-12 mobile-center">
            <button [disabled]="!invoice.has('image')" (click)="uploadInvoice()" mat-raised-button class="download-btn">{{'Buyer_Order_Details.Upload_Invoice'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <!--card payment card-->
    <div
      *ngIf="orders[0].order.payment_type == 1"
      class="col-12 col-sm-12 col-md-12 col-lg-8"
    >
      <div class="card-body payment-summery">
        <h4>{{'Buyer_Order_Details.Payment_Details'|translate}}</h4>
        <p>
          <span class="name">{{'Buyer_Order_Details.Payment Method'|translate}}:</span
          ><span class="deets"> Card </span>
        </p>
        <br />
        <!--field for card number as ui,comment out if not needed-->
        <p class="name">**** **** **** 1234</p>
        <p>
          <span class="name">{{'Buyer_Order_History.Payment_Date'|translate}}: </span
          ><span class="deets">{{
            formatDate(orders[0].order.order_datetime)
          }}</span>
        </p>
        <!--download button-->
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-12 mobile-center">
            <button
              mat-raised-button
              class="download-btn"
              *ngIf="dataLoaded"
              (click)="createPdf()"
            >
              {{'Buyer_Order_Details.Download_Invoice'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
