<!-- <div>
    <input #old_password type='password' placeholder='old password'>
    <input #new_password type='password' placeholder='new password'>
    <button (click)="changePass(old_password.value, new_password.value)">update</button>
    <p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p>
    <p *ngIf="msg">{{msg.message}}</p>
</div> -->

<form>
    <div class="form-group">
        <label class="form-label">Current Password</label>
        <input #old_password class="form-control" type="password"/>
    </div>
    <div class="form-group">
        <label class="form-label">New Password</label>
        <input #new_password class="form-control" type="password"/>
    </div>
    <div class="form-group">
        <label class="form-label">Confirm Password</label>
        <input class="form-control" type="password"/>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button (click)="changePass(old_password.value, new_password.value)" class="btn btn-primary btn-md btn-block login_btn">Update</button>
        </div>
    </div>
    <p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p>
    <p *ngIf="msg">{{msg.message}}</p>
</form>