/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

a {
  text-decoration: none;
  color: inherit;
}
img {
  height: 220px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-name {
  margin: 0 0 5px !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #2b2b2b;
  text-transform: capitalize;
}

.product-price {
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 29px;
}

.price-ext-text{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;

color: rgba(43, 43, 43, 0.5);
}

.store-name {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #cfcfcf;
}

mat-card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02) !important;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02) !important;
  cursor: pointer;
  overflow: hidden;
  padding: 0px;
}

mat-card:hover .prod-img-div img {
  /* filter: grayscale(100%); */
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

mat-card-content {
  padding: 15px 10px;
}

.wish-icon {
  height: unset;
}

.mat-fab .mat-button-wrapper {
  padding: 13px 0 !important;
  line-height: 23px !important;
}

button {
  position: absolute;
  top: -68px;
  right: -68px;
  background-color: #fff !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

mat-card:hover button {
  top: 20px;
  right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.prod-img-div {
  background: #1f4f9e;
}

.mat-card-image:first-child {
  margin-top: 0px;
  object-fit: cover;
}

.mat-card-image {
  margin: 0;
  width: 100%;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 575px) {
  mat-card-content {
    padding: 0 16px 16px;
  }
  .product-name {
    margin: 0 0 5px !important;
    font-size: 12px;
  }
  .product-price {
    font-size: 16px;
  }
  .store-name {
    font-size: 12px;
  }
  mat-card button {
    top: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
  }
  mat-card button img {
    height: 15px;
  }
  ::ng-deep .mat-fab .mat-button-wrapper {
    padding: 4px 0 !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  img {
    height: 100px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 575px) {
  img {
    height: 150px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  img {
    height: 110px;
  }
  mat-card-content {
    padding: 0 16px 16px;
  }
  .product-name {
    margin: 0 0 5px !important;
    font-size: 12px;
  }
  .product-price {
    font-size: 16px;
  }
  .store-name {
    font-size: 12px;
  }
  mat-card button {
    top: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
  }
  mat-card button img {
    height: 15px;
  }
  ::ng-deep .mat-fab .mat-button-wrapper {
    padding: 4px 0 !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  img {
    height: 150px;
  }
  .product-name{
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
  }
  .product-price{
    font-family: Jost;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;
  }
  .price-ext-text,.store-name{
    font-size: 14px;
line-height: 20px;
  }
  mat-card button {

    height: 35px;
    width: 35px;
  }
  mat-card button img {
    height: 15px;
  }
  ::ng-deep .mat-fab .mat-button-wrapper {
    padding: 4px 0 !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  img {
    height: 120px;
  }
}

@media only screen and (min-width: 1400px) {
  img {
    height: 170px;
  }
}