a {
  text-decoration: none;
  color: inherit;
}
img {
  height: 220px;
  transition: 0.3s;
}

.product-name {
  margin: 15px 0 5px !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #2b2b2b;
  text-transform: capitalize;
}

.product-price {
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.store-name {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #cfcfcf;
}

mat-card {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02) !important;
  cursor: pointer;
  overflow: hidden;
  padding: 0px;
}

mat-card:hover .prod-img-div img {
  /* filter: grayscale(100%); */
  opacity: 0.5;
  transition: 0.3s;
}

mat-card-content {
  padding: 16px;
}

.wish-icon {
  height: unset;
}

.mat-fab .mat-button-wrapper {
  padding: 13px 0 !important;
  line-height: 23px !important;
}

button {
  position: absolute;
  top: -68px;
  right: -68px;
  background-color: #fff !important;
  transition: 0.3s;
}

mat-card:hover button {
  top: 20px;
  right: 20px;
  transition: 0.3s;
}

.prod-img-div {
  background: #1f4f9e;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.mat-card-image {
  margin: 0 -16px -1px -16px;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 575px) {
  mat-card-content {
    padding: 0 16px 16px;
  }
  .product-name {
    margin: 10px 0 5px !important;
    font-size: 12px;
  }
  .product-price {
    font-size: 16px;
  }
  .store-name {
    font-size: 12px;
  }
  mat-card button {
    top: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
  }
  mat-card button img {
    height: 15px;
  }
  ::ng-deep .mat-fab .mat-button-wrapper {
    padding: 4px 0 !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  img {
    height: 120px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 575px) {
  img {
    height: 170px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  img {
    height: 120px;
  }
  mat-card-content {
    padding: 0 16px 16px;
  }
  .product-name {
    margin: 10px 0 5px !important;
    font-size: 12px;
  }
  .product-price {
    font-size: 16px;
  }
  .store-name {
    font-size: 12px;
  }
  mat-card button {
    top: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
  }
  mat-card button img {
    height: 15px;
  }
  ::ng-deep .mat-fab .mat-button-wrapper {
    padding: 4px 0 !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  img {
    height: 150px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  img {
    height: 150px;
  }
}