<mat-card class="example-card h-100" *ngIf="product">
    <a [routerLink]="['/product/details/', product.id]">
        <div>
            <div class="prod-img-div">
                <img *ngIf="product.image1 != null" mat-card-image [lazyLoad]="base_url.substring(0,base_url.length-1)+slice_image_url(product.image1)" [defaultImage]="defaultImage" alt="product image" />
            </div>
            <mat-card-content>
                <p class="product-name">
                    {{product.name | slice:0:20}}{{product.name?.length>20?'...':''}}
                </p>
                <p class="product-price">SAR {{ get_unit_price(product.commission,product.unit_price) |  number:'1.0-0' }} <span class="price-ext-text">/ each</span></p>
                <p class="store-name">{{product.seller.full_name | titlecase}} {{product.delivery_method==1?'(DDP)':'(Ex-Works)'}}</p>
            </mat-card-content>
        </div>
    </a>
    <div class="example-button-container">
        <button *ngIf="product.wishListStatus == 0" (click)="addToWishlist(product.id)" mat-fab aria-label="Example icon button with a heart icon">
            <img class="wish-icon" src="../../../assets/wish.svg" alt="" />
            <!-- <i class="far fa-heart"></i>
            <i class="fas fa-heart"></i> -->
        </button>
        <button *ngIf="product.wishListStatus == 1" (click)="removeFromWishlist(product.id)" mat-fab aria-label="Example icon button with a heart icon">
            <img class="wish-icon" src="../../../assets/wish_filledup.svg" alt="" />
           
            <!-- <i class="far fa-heart"></i>
            <i class="fas fa-heart"></i> -->
        </button>

      <!--   <button *ngIf="product.wishListStatus == 1 && directoryString == 'Wishlist'" (click)="removeFromWishlist(product.id)" mat-fab aria-label="Example icon button with a heart icon">
            <img class="wish-icon" src="../../../../assets/icons/close.svg" alt="">
        </button> -->
    </div>
</mat-card>