<div style="text-align:center">
    <h1>
      Signup
    </h1>
  </div>
  
  <input #full_name type='text' placeholder='fullname'>
  <br>
  <input #email type='text' placeholder='email'>
  <br>
  <input #phone type='phone' placeholder='phone'>
  <br>
  <input #password type='password' placeholder='password'>
  <br>
  <button (click)="signup(full_name.value, email.value, phone.value, password.value)">signup</button>
  <p>{{ error?.message }}</p>
  <p *ngIf="error">{{ error?.error | json }}</p>
  <p>{{msg}}</p>
