<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12 col-12 forget">
            <div class="card pass-card">
                <div class="card-header">
                    Forgot your password?<br/>
                    <p class="secondary-header-text">Lost your password? Please enter your email address.<br/>You will receive a link to create a new password via email.</p>
                </div>
                <div class="card-body">
                    <div class="form-group row justify-content-center">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><img src="../../../../assets/Message.svg" alt=""></div>
                                </div>
                                <input #email id="email" name="email" class="form-control form-control-md" type="email" placeholder="Enter your email"/>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-sm-12 col-12 btn-row">
                          
                                <button class="btn btn-primary login_btn" mat-raised-button type="button" (click)="submit_reset_password(email.value)">Reset Password</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--banner-->
        <div class="col-md-12 col-lg-5 col-sm-12 col-12 socially">
            <div class="card text-white login-page-social">
                <div class="card-img-overlay">
                  <div class="row justify-content-center">
                    <img src="../../../assets/logo-white.svg" alt="align-self-center" class="img-fluid logo-img" />
                  </div>
                  <div class="row justify-content-center">
                    <h3 class="slogan text-center">YOUR SLOGAN HERE</h3>
                  </div>
                  <div class="row justify-content-center">
                    <h5 class="slogan-description text-center">
                      Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry. Lorem Ipsum has been the industry's standard dummy text
                      ever since the 1500s
                    </h5>
                  </div>
                  <div class="row justify-content-center">
                    <div class="social-media text-center">
                    
                      <button mat-raised-button class="mt-1">
                          <i class="fab fa-twitter"></i></button>
                      <button mat-raised-button class="mt-1">
                        <i class="fab fa-instagram"></i></button>
                      <button mat-raised-button class="mt-1">
                        <i class="fab fa-youtube"></i></button>
                      <button mat-raised-button class="mt-1">
                        <i class="fab fa-pinterest-p"></i></button>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <span class="footer-text">6391 Elgin St. Celina, Delaware (907) 555-0101
                      emdad@example.com</span>
                  </div>
                </div>
              </div>
        </div>

    </div>
</div>