@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");
*:focus{
  outline: none;
}
.container-fluid{
padding-top: 60px;
padding-bottom: 60px;
  font-family: Jost;
}
.card {
    border: none;
    width: 100%;
    background-color: transparent;
    /* top: 20px; */
  }

  .pass-card{
   
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* padding-right: 25px; */
  }
  .card-header {
    background-color: #f8f9fa00;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
color: #4D4D4D;
margin-top: 15px;

  }
  .vertical-center {
    display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px;
  border: 3px solid green; */
  }

  .secondary-header-text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-top: 30px;
    color: #2B2B2B;
  }
  .input-group-text {
    border: 0 !important;
    background: #efefef;
    padding: 0 22px;
    font-size: 17px;
  }
  .input-group{
    background: #efefef;
    border-radius: 5px;
  }
  .form-control:focus {
    box-shadow: none;
    background: #efefef;
  }
  .form-control {
    background: #efefef;
    border-radius: 5px;
    border: none;
    height: 80px;
    font-family: Jost;
  }
  .login_btn {
    background: #1f4f9e;
    border-radius: 5px;
    height: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    
  }
/*banner text*/
.slogan {
  color: #ffffff;
  margin: 30px 0 35px;
  font-weight: unset;
  font-size: 30px;
  
}

.slogan-description {
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 35px;

text-align: center;
color: #ffffff;
}

.card-footer {
  border-color: #ffffff !important;
}

.footer-text {
  color: #ffffff;
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
text-align: center;
text-transform: uppercase;

}

.social-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.login-page-social {
  background: url("../../../../assets/images/login-page-bg.png") center 100%
    no-repeat;
  width: 100%;
  height: 100%;
  min-height: 750px;
  border-radius: 20px;
}

.card-img-overlay {
  padding: 105px 65px;
}

.social-media{
  margin-bottom: 50px;
}

.social-media button {
  color: #1f4f9e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: none;
  
}
.social-media button:not(:last-child){
  margin-right: 15px;
}


.alert-danger{
  background: transparent;
  border: none;
  color: #ff5f92;
}
.join-text{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
}
.join{
  color: #1F4F9E;
  text-decoration-line: underline;
text-decoration-color: #1f4f9e; 
font-weight: 500;
}
/*responsive -_- :/ */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
@media all and (min-width:290px) and (max-width:992px){
  .pass-card{
    position: unset;
    top:none;
    -ms-transform: none;
    transform: none;
  }
  .login_btn{
    margin: 0 auto;
    justify-self: center;
    align-self: center;
  }

}
@media only screen and (min-width:290px) and (max-width:575px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 80px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 600px;
  }
  
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height:80px;
  }
  .slogan-description{
    padding-left: 8px;
    padding-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .card-img-overlay {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
 }
 .card-img-overlay .mb-4{
  margin-bottom: 0;
 }
.card-footer{
  margin-bottom: 50px;
}
.card-header {
  font-size: 32px;
  line-height: 46px;
}
.socially{
  display: none;
}
.btn-row{
  text-align: center !important;
}
.secondary-header-text{
  font-size: 18px;
  line-height: 25px;
  margin-top: 8px;
}
label,.form-check-label,.join-text{
  font-size: 16px;
  line-height: 22px;
}
.login_btn{
  height: 50px;
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  display: block;
  padding: 5px 22px;

}
.lang-btn{
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
}
.container-fluid{
padding: 10px;

}

.slogan{
  font-size: 22px;
 
}
.slogan-description{
  font-size:16px;
  line-height: 25px;
}
.footer-text{
  font-size: 14px;
  line-height: 18px;
}
.social-media button{
  height: 30px;
  width: 30px;
}

}

@media only screen and (min-width:575px) and (max-width:768px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 80px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 600px;
  }
  
  .login-form-holder{
    padding: 5px;
  }
  .socially{
    display: none;
  }
  .logo-img{
    height:80px;
  }
  .btn-row{
    text-align: center !important;
  }
  .slogan-description{
    padding-left: 8px;
    padding-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .card-img-overlay {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
 }
 .card-img-overlay .mb-4{
  margin-bottom: 0;
 }
.card-footer{
  margin-bottom: 50px;
}
.card-header {
  font-size: 40px;
  line-height: 50px;
}
.secondary-header-text{
  font-size: 20px;
  line-height: 30px;
  margin-top: 8px;
}
label,.form-check-label,.join-text{
  font-size: 18px;
  line-height: 25px;
}
.login_btn{
  height: 60px;
  font-size: 22px;
  line-height: 30px;
  margin-top: 15px;
  display: block !important;
  padding: 5px 22px;

}
.lang-btn{
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
}
.container-fluid{
padding: 10px;

}

.slogan{
  font-size: 22px;
 
}
.slogan-description{
  font-size:16px;
  line-height: 25px;
}
.footer-text{
  font-size: 14px;
  line-height: 20px;
}

}

@media all and (min-width:768px) and (max-width:992px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png") center 100%
     no-repeat;
     min-height: 500px;
  }
  .container-fluid{
    padding: 30px;
  }
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height: 100px;
  }
  .socially{
    display: none;
  }
 
  .card-img-overlay {
   padding: 30px 20px;
 }
 .card-img-overlay >.mb-4{
  margin-bottom: 0;
 }
 .card-header{
   font-size: 40px;
   line-height: 50px;
 }
 .secondary-header-text{
   font-size: 20px;
   line-height: 30px;
 }
 .btn-row{
   text-align: center !important;
   justify-content: center !important;
   margin-left: 0 !important;
 }
 label,.form-check-label,.join-text{
   font-size: 18px;
   line-height: 25px;
 }
 .login_btn{
   height: 60px;
   font-size: 22px;
   line-height: 30px;
  margin: 12px;
   padding: 10px 40px;
   /* width: 100%; */
  /*  display: block !important; */
 

 }
 
 .lang-btn{
   height: 50px;
   padding: 0 20px;
   font-size: 16px;
 }
 
 
 .slogan{
   font-size: 25px;
  
 }
 .slogan-description{
   font-size:20px;
   line-height: 30px;
   padding-left: 10px;
   padding-right: 10px;
 }
 .footer-text{
   font-size: 16px;
   line-height: 24px;
 }
 .input-group-text{
  font-size: 15px;
  padding: 0 16px;
}
 }

 @media all and (min-width:992px) and (max-width:1199px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png") center 100%
     no-repeat;
    min-height: 650px;
  }
  .container-fluid{
    padding: 10px;
  }
  .card-body{
    padding-right: 15px;
  }
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height: 100px;
  }
  .card-img-overlay {
   padding: 30px 20px;
 }
 .card-img-overlay >.mb-4{
  margin-bottom: 0;
 }
 .card-header{
  font-size: 40px;
  line-height: 50px;
}
.secondary-header-text{
  font-size: 20px;
  line-height: 30px;
}
label,.form-check-label,.join-text{
  font-size: 18px;
  line-height: 25px;
}
.login_btn{
  height: 80px;
  font-size: 22px;
  line-height: 30px;
  
  padding: 10px 30px;

}
.lang-btn{
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
}


.slogan{
  font-size: 25px;
 
}
.slogan-description{
  font-size:20px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-text{
  font-size: 16px;
  line-height: 24px;
}
.input-group-text{
  font-size: 15px;
  padding: 0 16px;
}
.pass-card{
padding-right: 25px;
}
}