<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    Forgot your password?<br/>
                    <p class="secondary-header-text">Lost your password? Please enter your email address.<br/>You will receive a link to create a new password via email.</p>
                </div>
                <div class="card-body">
                    <div class="form-group row justify-content-center m-2">
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="far fa-envelope"></i></div>
                                </div>
                                <input #email id="email" name="email" class="form-control form-control-md" type="email" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row justify-content-center">
                                <button class="btn btn-block" type="button" (click)="submit_reset_password(email.value)">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>