.card {
    border: none;
    top: 20px;
  }
  .btn {
    border: none;
    background: #1F4F9E;
    border-radius: 5px;
    color: white;
  }
  .card-header {
    background-color: #f8f9fa00;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 69px;
    text-align: center;

    color: #4D4D4D;
  }
  .vertical-center {
    display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px;
  border: 3px solid green; */
  }

  .secondary-header-text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    
    color: #2B2B2B;
  }
