<!--20 th march 2021-->
<section class="rfq" *ngIf="productData">
  <app-breadcrumbs [directoryString]="'RFQ'" [style]="'NA'"></app-breadcrumbs>
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-md-5 col-lg-4 col-sm-6 col-xs-12 col-12">
          <img src="{{ image }}" alt="..." class="img-fluid p-3 w-100 m-0" />
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 col-12">
          <div class="card-body" *ngIf="productData">
            <h4 class="card-title">{{ productData.name }}</h4>
            <h5 class="sub-title">SAR {{ calc_unit_price() }} {{'Buyer_Quotation_History.Unit_Price'|translate}}</h5>
            <p class="card-text">
              {{ productData.description }}
            </p>
            <p class="card-point">
              <span class="mr-1 left-point">{{'Buyer_Product_Details.Seller_Name'|translate}}</span>
              <span style="cursor: pointer;" (click)="go_to_seller_wise_product_list()" class="store-value">{{ productData.seller.store_name }}</span>
            </p>
            <p class="card-point" >
              <span class="mr-1 left-point">{{'Seller_Upload_Product.Manufacturer_Name'|translate}}:</span>
              <span class="stock-value" *ngIf="productData.brand != null">{{ productData.brand.name | titlecase}}</span>
              <span class="stock-value" *ngIf="productData.brand == null">{{'No_data-msg.Not_Available'|translate}}</span>
            </p>
            <p class="card-point">
              <span class="mr-1 left-point">{{'Buyer_Product_Details.Stock'|translate}}:</span>
              <span class="stock-value">{{ productData.stock_quantity>0 ? productData.stock_quantity:'0'}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--form for rfq-->
    <div class="card form-card">
      <div class="card-body">
        <form [formGroup]="rfqForm" (ngSubmit)="onSubmit(rfqForm.value)">
          <div class="row">
            <!--Email-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="email">{{'Buyer_Profile_Form.Email'|translate}}</label>
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="email@example.com"
                    formControlName="email" required />
                  
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched )">
                  <div *ngIf="email.errors?.required"  class="error-div">
                    <app-form-input-alert [alertMsg]="'Email is required.'"></app-form-input-alert>
                  </div>
                  <div *ngIf="email.errors?.pattern"  class="error-div">
                    <app-form-input-alert [alertMsg]="'Enter a valid email address.'"></app-form-input-alert>
                  </div>
                </div>
              </div>
            </div>
            <!--Mobile Number-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="phone">{{'Buyer_Profile_Form.Mobile_Number'|translate}}</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="(***) ***-****" minlength="8" maxlength="15"
                    formControlName="phone" required/>
              
                </div>
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                  <div *ngIf="phone.errors?.required" class="error-div">
                    <app-form-input-alert [alertMsg]="'Phone is required.'"></app-form-input-alert>
                  </div>
                  <div *ngIf="phone.errors?.minlength" class="error-div">
                    <app-form-input-alert [alertMsg]="'Phone must be minimum 8 digits.'"></app-form-input-alert>
                  </div>
                  <div *ngIf="phone.errors?.maxlength" class="error-div">
                    <app-form-input-alert [alertMsg]="'Phone can\'t be more than 15 digits'"></app-form-input-alert>
                  </div>
                  <div *ngIf="phone.errors.pattern" class="error-div">
                    <app-form-input-alert [alertMsg]="'Phone must be numbers,maximum 15 digits.'"></app-form-input-alert>
                  </div>
                </div>
              </div>
            </div>
            <!--address-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="address">{{'Buyer_Profile_Form.Address'|translate}}</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="street, city"
                    formControlName="address" />
                </div>
                <div *ngIf="address.invalid && (address.dirty || address.touched )">
                  <div *ngIf="address.errors?.required"  class="error-div">
                    <app-form-input-alert [alertMsg]="'Address is required.'"></app-form-input-alert>
                  </div>
                  </div>
              </div>
            </div>
            <!--quantity-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="quantity">{{'Seller_RFQ.Quantity'|translate}} <small>({{'No_data-msg.Upper_amount'|translate}})</small></label>
                <div class="input-group">
                  <input *ngIf="productData" type="number" class="form-control" required formControlName="quantity" min="{{productData.stock_quantity + 1}}"/>
                  <!-- <div *ngIf="rfqForm.get('quantity').errors">
                    <app-form-input-alert [alertMsg]="'Quantity is required'"></app-form-input-alert>
                  </div> -->
                </div>
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
                  <div *ngIf="quantity.errors?.invalid_qty">
                    <app-form-input-alert [alertMsg]="'Quantity must be greater than stock'"></app-form-input-alert>
                  </div>
                  <div *ngIf="quantity.errors?.required"  class="error-div">
                    <app-form-input-alert [alertMsg]="'Quantity is required.'"></app-form-input-alert>
                  </div>
                </div>
              </div>
            </div>
            <!-- message -->
            <div class="col-md-12">
              <div class="form-group">
                <label for="message">{{'Buyer_Quotation_History.Message'|translate}}</label>
                <div class="input-group">
                  <textarea type="text" class="form-control"
                    placeholder="Enter your message here..."
                    rows="10" cols="auto" formControlName="message"></textarea>
                </div>
                <div *ngIf="message.invalid && (message.dirty || message.touched )">
                  <div *ngIf="message.errors?.required"  class="error-div">
                    <app-form-input-alert [alertMsg]="'Message is required.'"></app-form-input-alert>
                  </div>
                  </div>
              </div>
            </div>
            <!--submit button-->
            <div class="col-md-12">
              <div class="form-group">
                <button type="submit" value="Submit" mat-raised-button class="btn btn-primary btn-md login_btn"
                  [disabled]="rfqForm.invalid">
                  {{'Seller_Tickets.Submit'|translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>