/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.sub-title {
  color: #1F4F9E;
}
.rfq{
  background: #fafafa;
  padding-bottom: 50px;
}
app-form-input-alert {
  color: red;
}
app-breadcrumbs{
  
  background-color: #E5E5E5 !important;
}
.card {
  border: none;
}
.card img{
  height: 300px;
}
.card-title{
font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 69px;
color: #2B2B2B;
text-transform: capitalize;
}
.sub-title{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 52px;
color: #2B2B2B;
}
.card-text{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;
color: #2B2B2B;

}
.left-point{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;

}
.store-value{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #1F4F9E;
text-decoration: 1px solid #1F4F9E underline;
}
.stock-value{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;
}
.form-card{
  margin-top:50px;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
/* FORM STYLES */
label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2B2B2B;
}

.btn {
  border: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 80px;
  border: none;
}

.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 7px;
}

.input-group-text {
  border: 0 !important;
  background: #efefef;
  padding: 0 22px;
  font-size: 17px;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}
.error-div{
  margin-top:5px !important;
}
.alert-danger {
  background: transparent;
  border: none;
  color: #ff5f92;
}
textarea.form-control{
  height: 180px !important;
  border: none;
}
.login_btn {
  background: #1F4F9E;
  border-radius: 5px;
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;
float: left;
padding: 20px 150px;
}

/*responsive*/
@media all and (min-width:290px) and (max-width:600px){
  .login_btn{
    padding: 20px 40px;
  }
  .card-img{
    height: 150px;
  }
  .card-title{
    font-size: 30px;
    line-height: 35px;
  }
  .sub-title{
    font-size:25px ;
    line-height: 35px;
  }
  .card-text{
    font-size: 15px;
    line-height: 24px;
  }
  .store-value,.stock-value,.left-point{
    font-size: 15px;
    line-height: 24px;
  }
  label{
    font-size: 15px;
    line-height: 24px;
  }

}
@media all and (min-width:600px) and (max-width:992px){
  .login_btn{
    padding: 20px 90px;
  }
  .card-img{
    height: 180px;
    width: 100%;
  }
  .card-title{
    font-size: 32px;
    line-height: 48px;
  }
  .sub-title{
    font-size:28px;
    line-height: 46px;
  }
  .card-text{
    font-size: 18px;
    line-height: 28px;
  }
  .store-value,.stock-value,.left-point{
    font-size: 18px;
    line-height: 26px;
  }
  label{
    font-size: 18px;
    line-height: 28px;
  }

}
/* .submit{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;

  text-align: center;

  color: #FFFFFF;
} */
@media all and (min-width:992px) and (max-width:1200px){
  label,.form-control{
    font-size: 14px;
    line-height: 20px;
  }
  .form-control{
    height: 48px;
  }
  .login_btn{
    font-size: 16px;
    line-height: 23px;
    padding: 13px 40px;
    margin-top: 10px;
  }
  .card img{
    height: 220px;
    
  }
.card-title{
  font-size: 24px;
line-height: 35px;
}
.sub-title{
  font-size: 18px;
line-height: 26px;
}
.card-text{
  font-size: 14px;
line-height: 24px;
}
.left-point,.stock-value,.store-value{
  font-size: 14px;
line-height: 20px;
}
}