<!--20 th march 2021-->
<section class="rfq">
  <app-breadcrumbs [directoryString]="'RFQ'"></app-breadcrumbs>
  <div class="container">
    <div class="card">

      <div class="row">
        <div class="col-md-5 col-lg-3 col-sm-6 col-xs-12 col-12">
          <img src="{{ base_url + image }}" alt="..." class="img-fluid p-3 w-100 m-0" />
        </div>
        <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12 col-12">
          <div class="card-body">
            <h4 class="card-title">{{ productData.name }}</h4>
            <h5 class="sub-title">${{ productData.unit_price }} Unit Price</h5>
            <p class="card-text">
              {{ productData.description }}
            </p>
            <p class="card-point">
              <span class="mr-1 left-point">Seller Name:</span>
              <span class="store-value">{{ productData.seller.full_name }}</span>
            </p>
            <p class="card-point">
              <span class="mr-1 left-point">Stock:</span>
              <span class="stock-value">{{ productData.stock_quantity }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--form for rfq-->
    <div class="card form-card">
      <div class="card-body">
        <form [formGroup]="rfqForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <!--Email-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="guyhawkings007@example.com"
                    formControlName="email" required />

                  <div *ngIf="rfqForm.get('email').errors && submitted">
                    <app-form-input-alert [alertMsg]="'Email is required'"></app-form-input-alert>
                  </div>

                </div>
              </div>
            </div>
            <!--Mobile Number-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="phone">Mobile Number</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="(704) 555-0127" required
                    formControlName="phone" />
                  <div *ngIf="rfqForm.get('phone').errors && submitted">
                    <app-form-input-alert [alertMsg]="'Phone number is required'"></app-form-input-alert>
                  </div>
                </div>
              </div>
            </div>
            <!--address-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="address">Address</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="2118 Thornridge Cir. Syracuse, Connecticut 35624"
                    formControlName="address" />
                </div>
              </div>
            </div>
            <!--quantity-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="quantity">Quantity (Must be the upper amount from stock)</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="1290" required formControlName="quantity" />
                  <div *ngIf="rfqForm.get('quantity').errors && submitted">
                    <app-form-input-alert [alertMsg]="'Quantity is required'"></app-form-input-alert>
                  </div>
                </div>
              </div>
            </div>
            <!-- message -->
            <div class="col-md-12">
              <div class="form-group" formArrayName="quotation" formGroupName="0">
                <label for="message">Message</label>
                <div class="input-group">
                  <textarea type="text" class="form-control"
                    placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur.eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur."
                    rows="10" cols="auto" formControlName="message"></textarea>
                </div>
              </div>
            </div>
            <!--submit button-->
            <div class="col-md-12">
              <div class="form-group">
                <button type="submit" value="Submit" mat-raised-button class="btn btn-primary btn-md login_btn"
                  [disabled]="clicked === true">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>