<section class="dialogue-holder">
    <mat-dialog-content class="mat-typography">
        <mat-dialog-actions align="end" class="p-0 m-0">
            <button mat-dialog-close><i class="fas fa-times mt-0 p-0"></i></button>
        </mat-dialog-actions>
        <div class="order-data">
            <p><b>Invoice ID: </b><span>#{{details?.invoice_code}}</span></p>
            <p><b>Payment Date:</b><span> {{details?.payment_date==='Pending'?'Pending':formatDate(data.invoice.payment_date)}}</span></p>
            <!-- <p><b>Total Price: $25,800</b></p> -->
        </div>
        <table mat-table [dataSource]="details?.ordered_product" class="mat-elevation-z8 mb-4">
            <!-- Position Column -->
            <ng-container matColumnDef="Order ID">
                <th mat-header-cell *matHeaderCellDef>Order ID</th>
                <td mat-cell *matCellDef="let element">#{{ element.order }}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element">SR{{ get_price(element.unit_price,element.quantity,element.commission,element.vat_amount) }}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div class="total-order-price">
            Total: SR{{get_total_price()}}
        </div>
    </mat-dialog-content>
</section>