<!--01st april 2021-->
<section class="payment-history container">
    <div class="page-heading-holder">
      <h2 class="page-heading">Manage Quotations</h2>
      <div class="sort-btn d-inline-block big-view">
       
        <span ngbDropdown class="dropping">
          <button mat-stroked-button class="filter-btn" id="filter" ngbDropdownToggle>Filter by Status <mat-icon>
              expand_more</mat-icon></button>
            
        <!--dropdown-->
        <div id="lang-drop-down" ngbDropdownMenu aria-labelledby="filter">
          <div ngbDropdownItem>
            <span class="lan-title">Initiated</span>
          </div>
          <div style="padding: 0 15px">
            <mat-divider></mat-divider>
          </div>
          <div ngbDropdownItem>
            <span class="lan-title">Sent</span>
          </div>
          <div style="padding: 0 15px">
            <mat-divider></mat-divider>
          </div>
          <div ngbDropdownItem>
            <span class="lan-title">Completed</span>
          </div>
        <!--   <div style="padding: 0 15px">
            <mat-divider></mat-divider>
          </div> -->
          <!-- <div ngbDropdownItem>
            <span class="lan-title">Closed</span>
          </div> -->
        </div>
      </span>
      </div>
    </div>
    <div class="mobile-button">
     
      <span ngbDropdown>
        <button mat-stroked-button class="filter-btn" id="filter" ngbDropdownToggle>Filter by Status <mat-icon>expand_more
          </mat-icon></button>
      <!--dropdown-->
      <div id="lang-drop-down" ngbDropdownMenu aria-labelledby="filter">
        <div ngbDropdownItem>
            <span class="lan-title">Initiated</span>
          </div>
          <div style="padding: 0 15px">
            <mat-divider></mat-divider>
          </div>
          <div ngbDropdownItem>
            <span class="lan-title">Sent</span>
          </div>
          <div style="padding: 0 15px">
            <mat-divider></mat-divider>
          </div>
          <div ngbDropdownItem>
            <span class="lan-title">Completed</span>
          </div>
          <!-- <div style="padding: 0 15px">
            <mat-divider></mat-divider>
          </div> -->
         <!--  <div ngbDropdownItem>
            <span class="lan-title">Closed</span>
          </div> -->
      </div>
    </span>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-12 card-header">
          <div class="row">
            <div class="col-md-2 name">
                Quotation ID
            </div>
            <div class="col-md-2 name">
                Date
            </div>
            <div class="col-md-2 name">
                RFQ ID
            </div>
  
            <div class="col-md-2 name">
                Status
            </div>
            <div class="col-md-2 name">
                Buyer Name
            </div>
            <div class="col-md-2 name">
  
            </div>
          </div>
        </div>
  
        <mat-divider></mat-divider>
  
        <!--cards if valid data-->
        <div class="col-md-12 cards" *ngIf="filtered_data">
          <div class="show-values" *ngFor="let item of filtered_data | slice: lowValue:highValue;">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-6 col-12 value">
                <span> #{{item.quotation_code}}</span>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-12 value">
                <span><span class="mobile-name">Date:</span> {{item.created_at | date :'mediumDate'}}</span>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-12 value">
                <span><span class="mobile-name">RFQ ID :</span> {{item.rfq[0].id }}</span>
              </div>
              
              <div class="col-lg-2 col-md-3 col-sm-6 col-12 value">
                <span *ngIf="item.status == 1">Initiated</span>
                <span *ngIf="item.status == 2">Sent</span>
                <span *ngIf="item.status == 3"> Completed</span>
                <span *ngIf="item.status == null"> - </span>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-12 value">
                <span><span class="mobile-name">Buyer :</span> {{item.buyer.full_name}}</span>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 col-12 value mobile-btn">
                <span class="big-view"><button class="edit-product-btn" mat-button
                    (click)="openDialog(item);">View</button></span>
                <span class="mobile-name"><button class="edit-product-btn mob" mat-raised-button
                    (click)="openDialog(item);">View</button></span>
              </div>
            </div>
          </div>
        </div>
        <!--cards if no data-->
        <div class="col-md-12" *ngIf="filtered_data">
          <div class="no-data mt-2"
            *ngIf="filtered_data == null || filtered_data == undefined || filtered_data?.length == 0">
            No data available
          </div>
        </div>

        <!--pagination-->
        <div class="col-md-12 col-12 mt-2 pagination-show" *ngIf="filtered_data">
          <mat-paginator *ngIf="filtered_data?.length >10" [length]="filtered_data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 15,20]" (page)="getPaginatorData($event)">
          </mat-paginator>
        </div>

  
      </div>
    </div>
  </section>