@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");
.page-heading-holder .sort-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-weight: normal;
  font-size: 20px;
  z-index: 9999 !important;
  
}
.payment-history{
  padding-bottom: 60px;
}
.mobile-button{
  z-index: 9999 !important;
}
.filter-btn{
  width: 230px;
height: 60px;
border: 2px solid #1F4F9E;
color: #1F4F9E;
box-sizing: border-box;
border-radius: 5px;
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
}

*:focus {
  outline: none;
  box-shadow: none;
}

.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  padding: 40px 0;
  margin: 0;
  line-height: 69px;
}

.card {
  padding: 30px;
  border: none;
  border-radius: 0;
}

.name{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;


}
.value{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;
/* word-wrap: break-word; */
white-space: pre-line;

}
.card-header{
  background-color: #ffff;
}
.show-values{
background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
border-radius: 5px;
padding: 20px;
margin-top: 15px;
cursor: pointer;
}
.end-date{
  color: #FF4B55 !important;
}
.mobile-name,.mobile-button{
  display: none !important;
}
.pagination-show,::ng-deep .mat-paginator{
  background-color: transparent !important;
}
.no-data {
  padding: 15px;
  background: #fff;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
  margin-bottom: 30px;
  color: #2b2b2b;
  font-size: 18px;
  line-height: 32px;
}
.total-order-price {
  text-align: right;
  color: #1f4f9e;
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
}
.edit-product-btn{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: right;
color: #2B2B2B;
}
.edit-product-btn:focus,.edit-product-btn:active{
  background-color: transparent;
}
.page-heading-holder {
  position: relative;
}

.page-heading-holder .form-control {
  display: inline-block !important;
  width: fit-content !important;
}

.page-heading-holder .sort-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-weight: normal;
  font-size: 20px;
}


.mobile-name>.mat-stroked-button{
  display: none !important;
}
.ticket-btn {
  
  background: #1f4f9e;
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  width: 230px;
  height: 60px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  }
.dropdown-menu{
    top: 90px;
  left: unset;
  right: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
  cursor: pointer;
 
  }
  .dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    
  }
  .dropdown-toggle::after {
    display: none;
  }
  .lan-title {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
  }
  .no-show{
    text-align: center !important;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .view-more-btn-div{
    text-align: center;
  }
  .view-more-btn-div button {
    /* background: #f49814; */
    background: #1f4f9e;
    color: #fff;
    padding: 15px 25px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
  }
  /*responsive -_- :/ */
@media only screen and (min-width:1200px){
  .container {
    max-width: 1600px !important;
  }
}
@media all and (min-width:290px) and (max-width:992px){
.card-header{
  display: none !important;
}
.mobile-name{
  display: inline-block !important;
}
.card{
  background-color: transparent !important;
  
}
.no-show{
  font-size: 14px;
  line-height: 20px;
}
.total-order-price{
  font-size:16px;
line-height: 23px;
}
/* .filter-btn >.mat-icon{
  font-size: 6px ;
} */
/* .container{
  padding: 15px;
} */
.value{
font-size: 16px;
line-height: 23px;
}
.show-values{
background: #FFFFFF;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.04);
border-radius: 10px;
margin-top: 10px;
}
.edit-product-btn{
  font-size: 14px;
  line-height: 20px;
 
  color: #1F4F9E;
}
.lan-title {
font-size:14px;
line-height: 20px;
}
::ng-deep.mat-button{
background: #FFFFFF !important;
}

.page-heading-holder>.sort-btn>.mat-stroked-button>.mat-icon{
  font-size: 8px !important;
}
.big-view{
  display: none;
}

.mob{
padding: 8px 12px;
text-align: center !important;
/* margin-top: 14px; */
vertical-align: center !important;
}
}
@media all and (min-width:290px) and (max-width:576px){
  .page-heading{
    padding:15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .card{
    padding: 8px;
  }
  .view-more-btn-div button{
    height: 45px;
    font-size: 14px;
    line-height: 20px;
  }
  .view-more-btn-div img{
    height: 10px;
    width: 10px;
  
  }
}
@media all and (min-width:290px) and (max-width:360px){
  .big-view{
    display: none !important;
  }
  .mobile-button{
    display: flex !important;
    z-index: 9999 !important;
  
  }
 .mobile-button > span > .filter-btn{
    width: 170px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    height: 40px !important;
    border: 2px solid #1f4f9e !important;
  }
  .mobile-button>.mat-raised-button{
    width: 105px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    height: 40px !important;
    margin-right: 3px !important;
    text-align: center !important;
  }
  .mob{
    margin-top: 14px;
  }
  .view-more-btn-div button{
    height: 45px;
    font-size: 14px;
    line-height: 20px;
  }
  .view-more-btn-div img{
    height: 10px;
    width: 10px;
  
  }
}

@media all and (min-width:360px) and (max-width:576px){
  .big-view >.ticket-btn,.big-view > span >.filter-btn{
    width: 170px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    height: 40px !important;
  }
  .page-heading-holder .sort-btn{
    position: static;
    display: block;
    justify-content: right;
    align-items: flex-end;
    text-align: right !important;
    margin-top: 17px;
   
}
 .page-heading-holder{
   z-index: 9999 !important;
 } 
  .big-view>.ticket-btn{
    margin-right: 8px;
  }
  .mob{
    margin-top: 14px;
  }
  .view-more-btn-div button{
    height: 45px;
    font-size: 14px;
    line-height: 20px;
  }
  .view-more-btn-div img{
    height: 10px;
    width: 10px;
  
  }
}
@media all and (min-width:576px) and (max-width:768px){
  .page-heading{
    padding:15px 0;
    font-size: 30px;
  line-height: 40px;
  }
  .card{
    padding: 8px;
  }
  .page-heading-holder{
    z-index: 9999 !important;
  } 
  .big-view >.ticket-btn,.big-view > span >.filter-btn{
    width: 150px !important;
    font-size: 16px !important;
    line-height: 23px !important;
    height: 45px !important;
  }
  .page-heading-holder .sort-btn{
    position: static;
    display: block;
    justify-content: right;
    align-items: flex-end;
    text-align: right !important;
    margin-top: 17px;
  }
  .big-view>.ticket-btn{
    margin-right: 8px;
  }
  .mob{
    margin-top: 14px;
  }
  .view-more-btn-div button{
    height: 60px;
    font-size: 14px;
    line-height: 20px;
  }
  .view-more-btn-div img{
    height: 13px;
    width: 13px;

  }
}
@media all and (min-width:768px) and (max-width:992px){
  .page-heading{
    padding:15px 0;
    font-size: 35px;
  line-height: 55px;
  }
  .big-view >.ticket-btn,.big-view > span >.filter-btn{
    width: 180px !important;
    font-size: 18px !important;
    line-height: 26px !important;
    height: 45px !important;
  }
  .page-heading-holder{
    z-index: 9999 !important;
  } 
  .page-heading-holder .sort-btn{
    position: static;
    display: block;
    justify-content: right;
    align-items: flex-end;
    text-align: right !important;
    margin-top: 17px;
  }
  .big-view>.ticket-btn{
    margin-right: 8px;
  }
  .card{
    padding: 10px !important;
  }
  .view-more-btn-div button{
    height: 60px;
    font-size: 14px;
    line-height: 20px;
  }
  .view-more-btn-div img{
    height: 13px;
    width: 13px;

  }
  
}
@media all and (min-width:992px){
  .show-values:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }
  .page-heading-holder{
    z-index: 9999 !important;
  } 
}
@media all and (min-width:992px) and (max-width:1200px){
  .big-view >.ticket-btn,.big-view > span>.filter-btn{
    width: 180px !important;
    font-size: 18px !important;
    line-height: 26px !important;
    height: 45px !important;
    
  }
  .page-heading-holder .sort-btn{
    position: static;
    display: block;
    justify-content: right;
    align-items: flex-end;
    text-align: right !important;
    margin-top: 14px;
  
 }
 
  .big-view>.ticket-btn{
    margin-right: 8px;
  }
  .page-heading{
    font-size:38px;
    line-height: 55px;
  }
  .name,.value{
    font-size: 18px;
    line-height: 26px;
  }
  /* .container{
    padding: 20px !important;
  } */
}