*:focus {
  box-shadow: none;
}

.container-fluid {
  padding: 0px;
}

.card {
  border: none;
}

.forget-password-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
}

.fp-header {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
  max-width: 100%;
  color: #2b2b2b;
}

.fp-para {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin: 0%;
  color: #2b2b2b;
}

.email-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
}
.btn {
  background: #454f63;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
}
.frgt-btn {
  background: #1f4f9e;
  border-radius: 5px;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  height: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  border: none;
  color: black;
}

.input-group:not(.has-validation) > .form-control:not(:last-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-group > .input-group-append > .btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
