<div class="container-fluid">
  <div class="row d-flex justify-content-center forget-password-page">
    <div class="card col-md-6 text-align-center">
      <h3 class="fp-header">{{'Forgot_Password.Forget_Pass'|translate}}</h3>
      <p class="fp-para">{{'Forgot_Password.Sub_Text'|translate}}</p>
      <p class="fp-para">
        {{'Forgot_Password.Sub_Text2'|translate}}
      </p>
      <div class="email-box text-center row">
        <div class=" col-md-8"><input #email type="email" class="form-control"
            placeholder="{{'Forgot_Password.Placeholder'|translate}}" /></div>
        <div class=" col-md-4">
          <button (click)="sendMail(email.value)" (keydown.enter)="sendMail(email.value)"
            class="btn btn-outline-secondary frgt-btn" type="button">
            {{'Forgot_Password.Button_Text'|translate}}
          </button>
        </div>
        <div class="col-md-12 error-div">
          <p *ngIf="error" class="error-msg pt-2">{{ error }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>