<div class="container-fluid">
  <div class="row d-flex justify-content-center forget-password-page">
    <div class="card col-md-6 text-align-center">
      <h3 class="fp-header">Forgot your password?</h3>
      <p class="fp-para">Lost Password? Please enter your email address</p>
      <p class="fp-para">
        You will recieve a link to create a new password via email.
      </p>
      <div class="email-box text-center">
            <input #email type="email" class="form-control" placeholder="Enter your email here" />
          <button (click)="sendMail(email.value)" class="btn btn-outline-secondary frgt-btn" type="button">
            Reset Password
          </button>
      </div>
      <p *ngIf="error">{{ error }}</p>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>