<section class="dialogue-holder">
    <mat-dialog-content class="mat-typography">
        <!-- ORIGINAL ISSUE POST DISPLAY-->
        <div class="order-data">
            <p><b>Report ID: </b><span>#12589</span></p>
            <p><b>Date:</b><span> Nov 25, 2020</span></p>
            <p><b>Subject: </b><span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</span></p>
            <p><b>Details: </b><span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span></p>
            <p><b>Status: Running</b></p>
        </div>
        <!-- FOLLOW UP RESPONSES BY ADMIN DISPLAY-->
        <div class="admin-response">
            <p><b>Admin Response</b> <span class="ml-3">Dec 3, 2020</span></p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse totam excepturi perspiciatis accusamus ut explicabo.</p>
        </div>
        <div class="admin-response">
            <p><b>Admin Response</b> <span class="ml-3">Dec 3, 2020</span></p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse totam excepturi perspiciatis accusamus ut explicabo.</p>
        </div>
    </mat-dialog-content>
</section>