@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");
.dialogue-holder{
  font-family: Jost !important;
}
.order-data {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

::ng-deep .mat-dialog-container {
  padding: 30px;
  width: 900px;
  border-radius: 0;
}

.total-order-price {
  text-align: right;
  color: #2b2b2b;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.admin-response {
  padding: 0 0 20px 0px;
  font-family: Jost !important;

}

/* .admin-response:last-child {
  padding: 30px 0 0;
} */
button.close-btn{
  background-color: white !important;
    background: white !important;
    color: #FF4B55;
 float: right;
  /*  margin-top: -35px; */
   padding: 0;
   font-size: 16px;
   font-weight: normal !important;
   outline: none !important;
   border: 0px transparent !important;
}
.time{
  font-size: 14px !important;
line-height: 20px !important; 
}
.admin-header{
  font-weight: 500;
font-size: 18px;
line-height: 26px;
}
.message{
  font-size: 18px;
line-height: 34px;
color: #2B2B2B;

}
.resp-para{
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}
.short-head{
  font-family: Jost;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;
}
.large-head{
  font-family: Jost;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;
color: #2B2B2B;
word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;
}
.short-head .name,.large-head .name{
  font-weight: 500;
}

@media all and (min-width:290px) and (max-width:992px){
  button.close-btn{
    font-size: 14px;
  }
  .short-head,.admin-header{
    font-size: 14px;
    line-height: 20px;
  }
  .large-head,.message{
    font-size: 15px;
    line-height: 22px;
  }
  .time{
    font-size: 13px;
    line-height: 18px;
  }
}