<section class="dialogue-holder">
    <mat-dialog-actions align="end" class="p-0 m-0">
        <button mat-dialog-close class="close-btn"><i class="fas fa-times mt-0 p-0"></i></button>
    </mat-dialog-actions>
    <mat-dialog-content class="mat-typography">
       
        <!-- ORIGINAL ISSUE POST DISPLAY-->
        <div class="order-data" *ngIf="issueData">
            <p class="short-head">#<span class="name">{{'Seller_Tickets.Report_ID'|translate}}: </span><span class="name">{{issueData.issue_code}}</span></p>
            <p class="short-head"><span class="name">{{'Seller_Tickets.Date'|translate}}:</span><span> {{issueData.issue_date | date}}</span></p>
            <p class="large-head"><span class="name">{{'Seller_Tickets.Subject'|translate}}: </span><span>{{issueData.title}}</span></p>
            <p class="large-head"><span class="name">{{'Seller_Tickets.Details'|translate}}: </span><span> {{issueData.description}}</span></p>
            <p class="short-head"><span class="name">{{'Seller_Dashboard.status'|translate}}:  
                <span *ngIf="issueData.status == 0">{{'Seller_Tickets.Initiative'|translate}}</span>
                <span *ngIf="issueData.status == 2">{{'Seller_Tickets.Solved'|translate}}</span>
                <span *ngIf="issueData.status == 1">{{'Seller_Tickets.Running'|translate}}</span></span></p>
        </div>
        <!-- FOLLOW UP RESPONSES BY ADMIN DISPLAY-->
       <div *ngIf="adminResponse != null || adminResponse != undefined">
        <div class="admin-response" *ngFor="let response of adminResponse;">
            <p *ngIf="response.message != null" class="resp-para"><span class="admin-header">{{'Seller_Tickets.Admin_Response'|translate}}</span> <span class="ml-3 time">{{response.created_at | date}}</span></p>
            <p class="message" *ngIf="response.message != null">{{response.message}}</p>
        </div>
    </div>
    </mat-dialog-content>
</section>