/* Chrome, Safari, Edge, Opera */
#quantityInput input::-webkit-outer-spin-button,
#quantityInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#quantityInput input[type=number] {
  -moz-appearance: textfield;
}

.quan-box{
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 5px;
}
.proceed-btn{
  background: #F49814;
  border-radius: 5px;
}