/* Chrome, Safari, Edge, Opera */
#quantityInput input::-webkit-outer-spin-button,
#quantityInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#quantityInput input[type="number"] {
  -moz-appearance: textfield;
}

.quan-box {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  height: 40px;
}
.proceed-btn {
  background: #f49814;
  border-radius: 5px;
}

.product-img {
  width: 120px;
  height: 120px;
  margin-left: 10px !important;
}

.custom-btn {
  cursor: pointer;
}


@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
