<section class="payment-history container">
  <h2 class="page-heading">{{'Seller_Menu.Payment_History'|translate}}</h2>
  <div class="card">
    <div class="row">
      <div class="col-md-12 card-header">
        <div class="row">
          <div class="col-md-4 name">
            {{'Seller_Dashboard.Payment_Date'|translate}}
          </div>
          <div class="col-md-4 name">
            {{'Seller_Subscription.Plan_Name'|translate}}
          </div>
          <div class="col-md-4 name">
            {{'Seller_Subscription.Expired_Date'|translate}}
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>

      <!--cards if valid data-->
      <div class="col-md-12 cards" *ngIf="subscriptionHistory">
        <div class="show-values" *ngFor="let item of subscriptionHistory ">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 value">
              <span> <span class="mobile-name">{{'Seller_Dashboard.Payment_Date'|translate}} : </span> {{item.start_date | date:'mediumDate'}}</span>
            </div>
            <div class="col-lg-4 col-md-6 col-12 value">
              <span><span class="mobile-name">{{'Seller_Subscription.Plan_Name'|translate}} : </span> {{ item.subscription_plan.title |
                titlecase }}</span>
            </div>
            <div class="col-lg-4 col-md-6 col-12 value end-date">
              <span><span class="mobile-name">{{'Seller_Subscription.Expired_Date'|translate}} : </span> {{item.end_date | date:'mediumDate'}}</span>
            </div>
          </div>
        </div>
      </div>
      <!--pagination-->
      <!-- <div class="col-md-12 col-12 mt-2 pagination-show" *ngIf="subscriptionHistory">
        <mat-paginator 
          [length]="subscriptionHistory.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15,20]"
          (page)="getPaginatorData($event)">
        </mat-paginator>
      </div> -->
      <!--cards if no data-->
      <div class="col-md-12" *ngIf="subscriptionHistory == null || subscriptionHistory==undefined">
        <div class="no-data">
          {{'Seller_Dashboard.No_Data'|translate}}
        </div>
      </div>
    </div>
  </div>
</section>