@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

::ng-deep .mat-dialog-container {
    padding: 30px;
    width: 900px;
    border-radius: 0;
}

.open-ticket-modal-header {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #2b2b2b;
  margin-bottom: 40px;
}

*:focus {
  outline: none;
  box-shadow: none;
}

.login_btn {
  background: #1F4F9E;
  border-radius: 5px;
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height */

text-align: center;
float: left;
width: 230px;
height: 60px;
}

label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.btn {
  border: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 80px;
}

.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 7px;
}

.input-group-text {
  border: 0 !important;
  background: #efefef;
  padding: 0 22px;
  font-size: 17px;
}

.form-control:focus {
  box-shadow: none;
}

.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}

.alert-danger {
  background: transparent;
  border: none;
  color: #ff5f92;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 80px;
  height: 80px;
  background-image: url("../../../../../assets/upload.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
  border-radius: 5px;
  border: 3px dashed #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.attached-file {
  display: inline-flex;
  vertical-align: top;
}
.attached-file li{
 padding-right: 15px !important;
}
.attached-file {
  list-style: none !important;
  font-size: 18px;
}

.attached-file button {
 /*  border-radius: 50%;*/
/*   width: 20px;
  height: 20px;  */
  background: #ff4b55;
  border: none;
  color: #fff;
  font-size: 16px;
 position: absolute;
 top:10px;
margin-left: -5px;
}
.mat-mini-fab{
  width:30px;
  height: 30px;
}
.mat-icon{
  font-size: 14px;
}

textarea {
  height: 150px !important;
  padding: 15px;
}
.attached-file img{
  height: 80px;
  width: 80px;
  border-radius: 5px;
}
button.close-btn{
  background-color: white !important;
    background: white !important;
    color: #FF4B55;
 float: right;
  /*  margin-top: -35px; */
   padding: 0;
   font-size: 16px;
   font-weight: normal !important;
   outline: none !important;
   border: 0px transparent !important;
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
