@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

*:focus {
  outline: none;
}
.side-cat-menu {
  position: relative;
  width: 25%;
  float: left;
  bottom: 0;
  background: #ffffff;

  margin-left: -15px !important;
}
.side-nav-bar {
  background: #ddd;
  margin-top: 2px;
  padding: 15px 30px;
  min-height: 100vh;
  background: #ffffff;
  /* min-height: calc(100vh - 120px) !important; */
  overflow-y: auto;
}
.cat-menu-toggle-btn {
  display: none;
}
.cat-menu-close-btn {
  display: none;
}

/*accordion code*/
.side-nav-bar mat-expansion-panel {
  background: none;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.side-nav-bar .mat-expansion-panel-header {
  padding: 10px 10px 10px 0;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  height: auto;
  color: #2b2b2b;
}

.side-nav-bar .mat-expansion-panel-header.mat-expanded {
  height: auto;
}

.side-nav-bar .expanded-div .mat-expansion-panel-header {
  border-bottom: none;
}

.side-nav-bar ::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 16px 24px !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  color: rgba(43, 43, 43, 0.5);
}
.med-child {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 43, 43, 0.5);
}

.side-nav-bar .expanded-div ::ng-deep .mat-expansion-indicator::after {
  display: none !important;
}

.plus,
.minus {
  font-size: 24px;
}

.side-nav-bar .expanded-div .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.side-nav-bar .mat-expansion-panel-header-title,
.side-nav-bar .mat-expansion-panel-header-description {
  margin-right: 0px !important;
}
a:hover {
  cursor: pointer;
}

/* a {
  color: inherit;
} */
a:active {
  color: #1f4f9e !important;
}
/*acordion code ends*/
.product-list-content {
  width: 75%;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding: 35px 0 0 15px; */
}
/**page heading section **/
.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 69px;
  font-family: Jost;
  padding: 40px 0;
  margin: 0;
}
/* file dropzone code*/

.card {
  padding: 50px;
  border: none;
  border-radius: 0;
}
ngx-dropzone {
  border: 2px dashed #cfcfcf !important;
}
ngx-dropzone-preview {
  margin: 40px auto !important;
  background-image: url("../../../../assets/directory-icon.png");
}

ngx-dropzone-preview:hover {
  background-image: url("../../../../assets/directory-icon.png");
}

ngx-dropzone-preview ngx-dropzone-label {
  position: absolute;
  bottom: -40px;
}

.disclaimer {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  background-color: transparent !important;
  background: transparent !important;
  text-align: center;

  /* #2B2B2B */

  color: #2b2b2b;
  margin-top: 40px;
}
p.file-warn {
  margin-top: 30px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #1f4f9e;
  text-align: center !important;
}
.file-warn > a > span {
  text-decoration: underline !important;
  text-decoration-color: #1f4f9e !important ;
  color: #1f4f9e !important;
}
.file-warn > a :focus,
.file-warn > a:hover {
  color: #1f4f9e !important;
}
.file-warn > a > img {
  height: 20px;
  width: 23px;
  margin-right: 3px;
}

.progress-bar {
  text-align: center;
  width: 474px;
  display: flex;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.mat-progress-bar {
  height: 40px;
}
.show-prog-value {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #1f4f9e;
}
::ng-deep .mat-progress-bar-buffer {
  background: #1f4f9e;
}

.next-button {
  background-color: transparent !important;
}
.next-button > button {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #1f4f9e;
  border: 2px solid #1f4f9e;
  box-sizing: border-box;
  border-radius: 5px;
  width: 300px;
  height: 80px;
}
.up-instruction,
.up-success {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  /* #2B2B2B */

  color: #2b2b2b;
}
.patience {
  color: #454f63 !important;
}
.mobile-buttons > button {
  background-color: transparent !important;
  border: 0 !important;
  outline: none !important;
  height: 50px;
  width: 50px;
}

.img-preview-div {
  position: relative;
  vertical-align: top;
  display: inline-block;
}

.img-preview-div button {
  background: #ff4b55;
  border-radius: 50%;
  width: 20px;
  padding: 0;
  height: 20px;
  position: absolute;
  min-width: 20px;
  top: 10px;
  right: 25px;
}

.img-preview-div button img {
  width: 20px;
  height: 20px;
  vertical-align: top;
}
/**RESPONSIVE***/
@media all and (min-width: 1201px) {
  .mobile-view {
    display: none !important;
  }
  .desktop-view {
    display: block !important;
  }
  .container {
    max-width: 1600px !important;
  }
  .side-cat-menu {
    position: relative;
    width: 25%;
    float: left;
    bottom: 0;
    background: #ffffff;
  
    margin-left: -30px !important;
  }
  .product-list-content{
    width: 75% !important;
  }
}
@media all and (min-width: 290px) and (max-width: 991px) {
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none !important;
  }
  .product-list-content {
    width: 100%;
  }
  .disclaimer,
  .up-instruction,
  p.file-warn {
    font-size: 16px;
    line-break: 23px;
  }
  ngx-dropzone-label .xl-img {
    height: 100px;
  }
}

@media all and (min-width: 991px) and (max-width: 1200px) {
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none !important;
  }
  .cat-menu-close-btn.active {
    position: absolute;
    left: 230px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 55px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn img {
    width: 30px;
  }
  .product-list-content {
    width: 100%;
    /* padding: 0; */
  }

  .side-cat-menu {
    position: absolute;
    width: 250px;
    left: -350px;
    top: 0;
    /*  height: 100vh !important; */
    z-index: 99999;
    z-index: 9;
    overflow-y: hidden;
    scroll-behavior: unset;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    /* height: 100vh !important; */
    z-index: 99999999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .mobile-buttons {
    margin-top: 40px;
  }
}
@media all and (min-width: 290px) and (max-width: 320px) {
  .side-cat-menu {
    position: fixed;
    width: 250px !important;
    left: -254px;
    top: 0;
    height: 100vh;
    z-index: 99999;
    z-index: 9;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .page-heading {
    padding: 15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .product-list-content {
    width: 100%;
    /* padding: 0; */
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-header {
    position: relative;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn.active {
    position: fixed;
    left: 235px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 35px;
    max-width: 40px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn img {
    width: 20px;
  }
}
@media all and (min-width: 290px) and (max-width: 576px) {
  .page-heading {
    padding: 15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .side-nav-bar > .mat-expansion-panel-header-title {
    font-size: 16px !important;
    line-height: 23px !important;
  }
  .side-nav-bar .mat-expansion-panel-body,
  .med-child {
    font-size: 14px;
    line-height: 20px;
  }
  .next-button button {
    height: 45px;
    width: 180px;
    font-size: 18px;
    line-height: 29px;
  }
  .card {
    padding: 15px;
  }
  .progress-bar {
    width: 180px !important;
  }
  .state-holder img {
    height: 60px;
  }
}
@media all and (min-width: 576px) and (max-width: 991px) {
  .page-heading {
    font-size: 30px;
    line-height: 40px;
    padding: 10px 0;
  }
  .side-nav-bar mat-expansion-panel-header {
    font-size: 16px;
    line-height: 23px;
  }
  .side-nav-bar ::ng-deep mat-expansion-panel-body {
    font-size: 14px;
    line-height: 20px;
  }
  .next-button button {
    height: 60px;
    width: 230px;
    font-size: 22px;
    line-height: 30px;
  }
  .card {
    padding: 30px;
  }
  .progress-bar {
    width: 250px !important;
  }
}
@media only screen and (min-width: 321px) and (max-width: 991px) {
  .side-cat-menu {
    position: fixed;
    width: 300px;
    left: -300px;
    top: 0;
    height: 100vh;
    z-index: 99999;
    z-index: 9;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-header {
    position: relative;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn.active {
    position: fixed;
    left: 260px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 55px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn img {
    width: 30px;
  }
}
