<section class="upload-area">
  <div class="container">
    <h2 class="page-heading">Bulk Upload Product</h2>
    <app-seller-breadcrumbs></app-seller-breadcrumbs>
    <!--stepper-->
    <div class="stepper-container slider-one-active">
      <div class="steps">
        <div class="step step-one">
          <div class="liner"></div>

        </div>
        <div class="step step-two">
          <div class="liner"></div>

        </div>

      </div>
      <div class="line">
        <div class="dot-move"></div>
        <div class="dot zero"></div>
        <!-- <div class="dot center"></div> -->
        <div class="dot full"></div>
      </div>
      <div class="slider-ctr">
        <div class="slider">
          <div class="slider-form slider-one">
            <form class="file-form" [formGroup]="prodXlUpform" (ngSubmit)="onSubmit(prodXlUpform.value)">
              <label for="attachments" class="custom-file-upload ">
                <!-- Attachments -->
                <input id="attachments" class="form-control form-control-md" type="file"
                  accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                  formControlName="attachments" (change)="handleFileSelect($event);" />
              </label>
              <div>
                <div class="form-subtitle">Drop to attach file or choose from finder
                  Must be in (xls) format.</div>
              </div>
              <!--div after the files has been attached and waiting to get uploaded-->
              <div class="custom-file-upload border-none"></div>
              <div class="form-subtitle size-color">Please be patient until the product
                uploaded successfully.</div>
              <!--div after file has been uploaded successfully,progress bar will be 100 %-->
              <div class="attached-file">
                <div class="show-file">
                  <img src="../../../../assets/xls-icon.png" class="img-fluid mx-auto" height="120" width="120"
                    alt="file">
                  <button mat-mini-fab (click)="removeFile();">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div class="form-subtitle">File uploaded successfully.</div>
              </div>
              <!--progress bar-->
              <div class="progress-bar mx-auto mt-5 ">
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                <div style="position: absolute; padding: 10px; color: white;" class="show-prog-value"> 70% </div>
              </div>

            </form>
            <div class="disclaimer">
              <p>(You must select a child category before uploading products in bulk. Here's a sample file that shows
                how
                to upload in bulk!)</p>
              <p class="file-warn"><a href="https://education.github.com/git-cheat-sheet-education.pdf" target="_blank"
                  download><img src="../../../../assets/Documentdoc-icon.png" alt="icon"><span>Download Sample
                    File</span></a></p>

            </div>
            <!--button to go to the next step after file upload completes-->
            <div class="next-button">
              <button mat-stroked-button>Next</button>
            </div>
          </div>
          <!--directory upload form-->
          <div class="slider-form slider-two">


            <form class="file-form" [formGroup]="prodDirectoryUpform"
              (ngSubmit)="onSubmitProd(prodDirectoryUpform.value)">
              <label for="directories" class="custom-directory-upload">
                <!-- Attachments -->
                <input id="directories" class="form-control form-control-md" type="file" formControlName="attachments"
                  (change)="handleFileSelect($event);" />
              </label>
              <div>
                <div class="form-subtitle">Please upload a file directory for all of your products</div>
              </div>
              <!--div after the files has been attached and waiting to get uploaded-->
              <div class="custom-directory-upload border-none"></div>
              <div class="form-subtitle size-color">Please be patient until the directory
                uploaded successfully.</div>
              <!--div after file has been uploaded successfully,progress bar will be 100 %-->
              <div class="attached-file">
                <div class="show-file">
                  <img src="../../../../assets/directory-icon.png" class="img-fluid mx-auto" height="120" width="120"
                    alt="file">
                  <button mat-mini-fab (click)="removeDirectory();">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div class="form-subtitle">Directory uploaded successfully.</div>
              </div>
              <!--progress bar-->
              <div class="progress-bar mx-auto mt-5 ">
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                <div style="position: absolute; padding: 10px; color: white;" class="show-prog-value"> 70% </div>
              </div>
              <!--success text-->
              <div class="success">
                <img src="../../../../assets/happy-face.png" alt="happy" class="mx-auto img-fluid" height="120"
                  width="120">
                <p class="form-subtitle">100 Products uploaded successfully!</p>
              </div>

            </form>

            <!--button to go to the next step after file upload completes-->
            <div class="next-button mt-3">
              <button mat-stroked-button>Submit</button>
            </div>


          </div>
        </div>


      </div>
    </div>
  </div>
</section>