@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("http://fontawesome.io/assets/font-awesome/css/font-awesome.css");
*:focus {
  outline: none;
}
a:hover {
  cursor: pointer;
}

a {
  color: inherit;
}

.example-container /deep/ .mat-drawer-inner-container {
  overflow: unset !important;
}

.mat-drawer-content {
  background: #f9f9f9;
}

mat-sidenav {
  width: 300px;
  padding: 40px;
}

.toggle-slide-menu-btn {
  background: #1f4f9e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px 9px;
  color: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 70%);
}

.toggle-slide-menu-btn.mat-button {
  min-width: unset !important;
  line-height: unset !important;
  left: 0px;
  position: absolute;
  top: 100px;
}

mat-sidenav-container {
  margin-left: -15px;
  margin-right: -15px;
}

.mat-expansion-panel {
  background: none;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  padding: 10px 2px 10px 0;
}

.mat-expansion-panel-header.mat-expanded {
  height: auto;
}

.expanded-div .mat-expansion-panel-header {
  border-bottom: none;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 16px 24px !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.expanded-div ::ng-deep .mat-expansion-indicator::after {
  display: none !important;
}

.plus,
.minus {
  font-size: 24px;
}

.expanded-div .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  margin-right: 0px !important;
}

.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  padding: 40px 0;
  margin: 0;
}

.card {
  padding: 40px;
  border: none;
  border-radius: 0;
}

ngx-dropzone-preview {
  margin: 40px auto !important;
  background-image: url("../../../../assets/directory-icon.png");
}

ngx-dropzone-preview:hover {
  background-image: url("../../../../assets/directory-icon.png");
}

ngx-dropzone-preview ngx-dropzone-label {
  position: absolute;
  bottom: -40px;
}

.disclaimer {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  background-color: transparent !important;
  background: transparent !important;
  text-align: center;

  /* #2B2B2B */

  color: #2b2b2b;
  margin-top: 40px;
}
p.file-warn {
  margin-top: 30px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #1f4f9e;
  text-align: center !important;
}
.file-warn > a > span {
  text-decoration: underline !important;
  text-decoration-color: #1f4f9e !important ;
  color: #1f4f9e !important;
}
.file-warn > a :focus,
.file-warn > a:hover {
  color: #1f4f9e !important;
}
.file-warn > a > img {
  height: 20px;
  width: 23px;
  margin-right: 3px;
}

.progress-bar {
  text-align: center;
  width: 474px;
  display: flex;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.mat-progress-bar {
  height: 40px;
}
.show-prog-value {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #1f4f9e;
}
::ng-deep .mat-progress-bar-buffer {
  background: #1f4f9e;
}

.next-button {
  background-color: transparent !important;
}

.next-button > button {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #1f4f9e;
  border: 2px solid #1f4f9e;
  box-sizing: border-box;
  border-radius: 5px;
  width: 300px;
  height: 80px;
}
