<section class="container text-center pt-5 pb-5">
    <h2>Privacy</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus voluptatem saepe. Asperiores qui
        accusamus architecto ullam hic! Nam officia quos beatae dolorem
        perferendis rem! Assumenda praesentium quisquam atque exercitationem ex commodi, cumque illo ducimus, sequi
        delectus hic ipsa nesciunt pariatur ea minus architecto, reiciendis
        aut fuga tenetur quis numquam provident nemo minima consequatur. Praesentium aut magnam ex ea eaque debitis, a
        reiciendis quasi sint placeat minus natus culpa! Adipisci
        assumenda mollitia cum animi dolore eaque molestias nisi blanditiis. Nesciunt, provident quisquam earum sed
        possimus, libero pariatur quo eligendi deleniti, inventore
        repudiandae quas enim. Laudantium sapiente nulla culpa nostrum nihil, ut illum quo voluptatem. Nobis iste quas
        pariatur tenetur culpa qui quam rerum temporibus esse doloribus
        ad, nam illo hic! Dolores nobis architecto, consequuntur sit molestias, accusamus
        fugit velit reprehenderit dolorum magni quis. Quis incidunt facilis hic atque autem qui impedit maiores,
        assumenda veritatis vero nemo voluptatem cum repudiandae. Nesciunt.</p>
    <hr>
    <h2>Policy</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas dolore deleniti, odio expedita itaque nesciunt
        nulla alias nostrum omnis at unde quisquam non earum
        rem. Eos debitis, tenetur blanditiis incidunt minus obcaecati id. Inventore corporis excepturi laborum mollitia
        suscipit, omnis dolorum soluta voluptas corrupti,
        veniam ex iure animi quisquam facilis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consectetur, aut id perspiciatis voluptate in nemo
        quas maiores temporibus exercitationem ut
        expedita ratione, alias fugit explicabo! Voluptatibus unde beatae vitae laboriosam consequatur, eum accusantium
        earum doloremque ex ad totam animi debitis magnam
        illum, dolores rem nobis exercitationem temporibus provident dignissimos nostrum illo? Quibusdam iusto ullam
        saepe distinctio voluptatem quas dignissimos laborum
        cum hic amet repellendus id officiis autem quidem doloremque velit, eveniet, animi consequatur placeat itaque
        illo consequuntur dolore molestias. Cupiditate,
        dolore quidem enim in aliquid nobis nam ex voluptate. Distinctio eum deleniti pariatur, nulla harum voluptatem
        corporis recusandae assumenda maiores excepturi
        veritatis laboriosam sequi autem natus asperiores adipisci cum. Ullam natus debitis voluptatum at voluptatibus
        delectus nisi? Sed, recusandae.</p>
</section>