.head{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 69px;
color: #2B2B2B;
}
.card {
  padding: 30px;
  border: none;
  border-radius: 0;
  margin-top: 50px !important;
}

.mat-table {
  background-color: transparent !important;
  padding: 0 20px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 60px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 5px;
  transition: 0.3s;
}

tr.mat-row:hover,
tr.mat-footer-row:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  transition: 0.3s;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px !important;
}

table tr:last-child td {
  border-bottom: 0 solid;
}

th {
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}

td {
  font-weight: normal;
  font-size: 18px;
  color: #2b2b2b;
}

/* .page-heading-holder {
  position: relative;
} */

.form-control {
  display: inline-block !important;
  width: fit-content !important;
}
.mobile-row{
  display: none;
}

/* .sort-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-weight: normal;
  font-size: 20px;
} */

.page-heading-holder select {
  height: 70px !important;
  border: 2px solid #1f4f9e;
  color: #1f4f9e;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgb(0 0 0 / 30%);
}

.page-heading-holder select:focus {
  border: 2px solid #454f63;
  box-shadow: 0px 2px 1px rgb(0 0 0 / 30%);
}

.total-order-price {
  text-align: right;
  color: #1f4f9e;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.ticket-btn {
/* height: 70px; */
background: #1f4f9e;
color: #fff;
border-radius: 5px;
margin-right: 20px;
padding: 20px 120px;
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
text-align: center !important;
box-sizing: border-box;
}

.mat-button{
  font-family: Jost;
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;
align-self: right;
padding: 4px;
}
.no-data {
  padding: 15px;
  background: #fff;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 30px;
  color: #2b2b2b;
}
.filterBtn{
  padding: 20px 80px;
  border: 2px solid #2b2b2b;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 20px;
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
color: #2b2b2b;
text-align: center !important;
}
/**responsive**/
@media only screen and (min-width: 1200px) {
  .container {
    /* max-width: 1600px !important; */
  }
}
@media all and (min-width:290px) and (max-width:335px){
.filterBtn{
  margin-top: 10px;
}
}
@media all and (min-width:400px) and (max-width:600px){
  .filterBtn,.ticket-btn{
    padding-left: 12px;
    padding-right: 12px;
   max-height: 60px;
    font-size: 18px;
    line-height: 22px;
  }
  .head{
    font-size: 30px;
    line-height: 38px;
  }
  .mobile-row{
    display: block;
  }
  .normal{
    display: none !important;
  }
}
@media all and (min-width:290px) and (max-width:400px){
  .filterBtn,.ticket-btn{
    padding-left: 12px;
    padding-right: 12px;
   max-height: 60px;
    font-size: 15px;
    line-height: 22px;
  }
  .head{
    font-size: 30px;
    line-height: 38px;
  }
  .mobile-row{
    display: block;
  }
  .normal{
    display: none !important;
  }
  mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
}
@media all and (min-width:600px) and (max-width:992px){
 /*  .filterBtn{
    padding: 30px;
  }
  .ticket-btn{
    padding: 30px;
  } */
  .filterBtn,.ticket-btn{
    /* padding: 20px; */
    font-size: 18px;
    line-height: 22px;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .head{
    font-size: 32px;
    line-height:42px;
  }
  .mobile-row{
    display: block;
  }
  .normal{
    display: none !important;
  }
}
@media all and (min-width:993px) and (max-width:1199px){
  .filterBtn,.ticket-btn{
    padding-left:20px !important;
    padding-right: 20px !important;
    height: 70px !important;
  }
  .filterBtn,.ticket-btn{
    /* padding: 20px; */
    font-size: 18px;
    line-height: 22px;
  }
}
@media all and (min-width:290px) and (max-width:768px){
.justify-content-end{
  display:block !important;
  clear:both !important;

}
.sort-btn{
  text-align: left !important;
  float: left;
}

.ticket-btn,.filterBtn{
  word-wrap: break-word;
}
}
@media all and (min-width:768px) and (max-width:992px){
  .justify-content-end{
    display:block !important;
    clear:both !important;
  
  }
  .sort-btn{
    text-align: left !important;
    float: left;
  }
}
@media all and (min-width:1200px) and (max-width:1299px){
  .filterBtn,.ticket-btn{
    padding-left:20px !important;
    padding-right: 20px !important;
    height: 90px !important;
  }
}