.modal-title{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    color: #2B2B2B;
}
.modal-content{
    max-width: 700px;
    max-height: 765px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}
.modal{
    background-color: #000000c7;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #2B2B2B;
}

.comment-textarea{
    background: #EFEFEF;
    border-radius: 5px;
    margin-top:10px ;
}