<!--5th April @ 2021-->
<mat-dialog-content class="mat-typography" *ngIf="details">
    <app-rfq-modal-product-description [rfqDetailData]="details"></app-rfq-modal-product-description>
    <!--message relay-->
    <mat-accordion *ngFor="let quote of details.quotation;let i=index">
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p><span class="prod-head">{{'Buyer_Quotation_History.Date'|translate}}: </span> <span class="prod-desc"> {{formatDate(quote.message_date)}}
                            | {{'Seller_RFQ.Time'|translate}}: {{formatTime(quote.message_date)}}</span></p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><span class="prod-head">{{'Seller_RFQ.Product_Quantity'|translate}}: </span><span class="prod-desc">{{quote.quantity}}</span></p>
            <p><span class="prod-head">{{'Seller_RFQ.Unit_Price'|translate}}: </span><span class="prod-desc">{{quote.unit_price}}</span></p>
            <p><span class="prod-head">{{'Buyer_Quotation_History.Total_Price'|translate}}: </span><span class="prod-desc">{{quote.total_price}}</span></p>
            <p><span class="prod-head">{{'Buyer_Quotation_History.Message'|translate}}: </span><span class="prod-desc">{{quote.message}}</span></p>
        </mat-expansion-panel>
    </mat-accordion>

    <!--form for quotation-->
    <div class="quote-form container" >
        <form [formGroup]="quoteData" (ngSubmit)="onClickSubmit(quoteData.value)" class="mt-4">
            <div class="row h-100">
                <!--INPUT FOR PRODUCT QUANTITY-->
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="form-label height-label" for="prodQuantity">{{'Seller_RFQ.Product_Quantity'|translate}}</label>
                        <input (change)="calc_total_price()" formControlName="quantity" id="prodQuantity" class="form-control form-control-md"
                            type="number" required />
                        <!--ERROR CHECK-->
                        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="align-left">
                            <div *ngIf="quantity.errors?.required" class="align-left">
                                <app-form-input-alert [alertMsg]="'Product quantity is required (digits only).'">
                                </app-form-input-alert>
                            </div>
                        </div>
                    </div>
                </div>
                <!--INPUT FOR UNIT PRICE-->
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="unitPrice" class="form-label height-label">{{'Seller_RFQ.Unit_Price'|translate}} {{'Seller_Upload_Product.VatEx'|translate}}</label>
                        <input id="unitPrice" (change)="calc_unit_price($event.target.value)" formControlName="unit_price" class="form-control form-control-md"
                            type="number" required />
                        <p class="text-warning">{{commission}}% {{'Seller_RFQ.Commission'|translate}}</p>
                        <!--ERROR CHECK-->
                        <div *ngIf="unit_price.invalid && (unit_price.dirty || unit_price.touched)" class="align-left">
                            <div *ngIf="unit_price.errors?.required">
                                <app-form-input-alert [alertMsg]="'Unit Price is required (digits only).'">
                                </app-form-input-alert>
                            </div>
                        </div>
                    </div>
                </div>
                <!--INPUT FOR TOTAL PRICE-->
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="totalPrice" class="form-label height-label">{{'Buyer_Quotation_History.Total_Price'|translate}} {{'Seller_Upload_Product.VatEx'|translate}}</label>
                        <input formControlName="total_price" id="totalPrice" class="form-control form-control-md"
                            type="number" required />
                        <!-- ERROR CHECK -->
                        <div *ngIf="total_price.invalid && (total_price.dirty || total_price.touched)"
                            class="align-left">
                            <div *ngIf="total_price.errors?.required">
                                <app-form-input-alert [alertMsg]="'Total Price is required (digits only).'">
                                </app-form-input-alert>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                        <label for="message" class="form-label height-label">{{'Buyer_Quotation_History.Message'|translate}}</label>
                        <textarea formControlName="message" id="message" class="form-control form-control-md"></textarea>
                        <!-- ERROR CHECK -->
                        <!-- <div *ngIf="message.invalid && (message.dirty || message.touched)"
                            class="align-left">
                            <div *ngIf="message.errors?.required">
                                <app-form-input-alert [alertMsg]="'Total Price is required (digits only).'">
                                </app-form-input-alert>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!--ATTACHMENTS-->
                <div class="col-md-12">
                    <!--label show and warning message show-->
                    <div class="form-group">
                        <div class="file-warn">
                            <label class="file-label d-block">{{'Seller_RFQ.Quotation_Attachments'|translate}}:</label>
                            <app-form-input-alert [alertMsg]="'You can attach maximum two files'"
                                class="align-left">
                            </app-form-input-alert>
                        </div>
                        <!--FILE UPLOAD-->
                        <label *ngIf="attachment_list.length<2" for="attachments" class="custom-file-upload float-left mr-2">
                            <input  id="attachments" class="form-control" type="file" formControlName="attachments"
                                (change)="handleFileSelect($event);" />
                        </label>
                        <!--Attached file show-->
                        <ul class="attached-file">
                            <li *ngFor="let file of attachment_list; let i = index;">
                                <span>{{get_file_name(file)}}</span>
                                <button mat-mini-fab (click)="removeFile(i);">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- SUBMIT BUTTON-->
                <div class="col-md-12">
                    <div class="form-group mobile-show mt-3">
                        <button type="submit" mat-raised-button class="btn btn-primary btn-md login_btn"
                            mat-dialog-close [disabled]="quoteData.invalid">
                            {{'Seller_Quotes.ReSubmit' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</mat-dialog-content>

<ngx-spinner></ngx-spinner>