<div class="input-group search-input" (focusout)="focusOutFunction()">
    <input (focus)="update_suggestions()"   (input)="update_suggestions()" type="text" class="form-control" placeholder="Search by products..." [(ngModel)]="searchInput" (keydown.enter)="search()">
    <div class="input-group-append">
        <button (click)="search()" mat-raised-button>
            <span class="input-group-text" id="basic-addon2"><img src="../assets/search.svg" alt=""></span>
        </button>
    </div>
</div>
<div *ngIf="show_suggestion" class="suggestion-box mt-2">
    <div class="d-flex flex-column">
        <div class="p-2 flex-start" *ngFor="let product of products;let i=index" (click)="setItem(product.name)">
            <p class="prod-name pt-2" >{{product.name}}</p>
            <mat-divider *ngIf="i!=products.length-1"></mat-divider>
        </div>
    </div>
</div>