<div class="input-group search-input">
    <input #searchInputDiv (focus)="update_suggestions()" (focusout)="focusOutFunction()"  (input)="update_suggestions()" type="text" class="form-control" placeholder="Search by products..." [(ngModel)]="searchInput" (keydown.enter)="search()">
    <div class="input-group-append">
        <button (click)="search()" mat-raised-button>
            <span class="input-group-text"><img src="../assets/search.svg" alt=""></span>
        </button>
    </div>
</div>
<div *ngIf="show_suggestion" class="suggestion-box mt-2" [ngStyle]="{'width.px': searchInputDiv.offsetWidth + 98}">
    <div class="d-flex flex-column">
        <div class="flex-start" *ngFor="let product of products;let i=index">
            <p class="prod-name" (mousedown)="setItem(product.name)">{{product.name}}</p>
            <mat-divider *ngIf="i!=products.length-1"></mat-divider>
        </div>
    </div>
</div>