/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*:focus {
  outline: none;
}

/* .search-input input {
  height: 70px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  background: #eaeaea;
  font-style: normal;
  font-weight: normal;
  padding: 5px 25px;
  font-size: 24px;
}

.search-input .input-group-text {
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: transparent;
} */

::ng-deep .ng-autocomplete .autocomplete-container {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 72px;
}

::ng-deep .ng-autocomplete .autocomplete-container .input-container input {
  height: 72px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  font-size: 20px;
  padding: 0 30px;
}

::ng-deep .ng-autocomplete .autocomplete-container .not-found {
  border: none;
}

input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button {
  background: #1f4f9e;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0 30px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 72px;
  vertical-align: bottom;
}

button img {
  width: 27px;
}

::ng-deep .ng-autocomplete .autocomplete-container .suggestions-container {
  width: calc(100% + 136px);
  top: calc(100% + 15px);
  border-radius: 10px;
  /* padding: 15px 30px; */
}

::ng-deep .ng-autocomplete .autocomplete-container .suggestions-container ul li {
  border-bottom: 1px solid #efefef;
}

::ng-deep .ng-autocomplete .autocomplete-container .suggestions-container ul li a {
  font-weight: 500;
  text-align: left;
  padding: 30px;
  font-size: 18px;
}

/* .suggestion-box {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2b2b2b;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
} */

/* .prod-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2b2b2b;
  text-align: start;
  text-shadow: none;
  margin: 0;
    padding: 15px;
}

.prod-name:hover {
  cursor: pointer;
  background: #efefef;
} */

@media only screen and (max-width: 992px) {
  /* .suggestion-box {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #2b2b2b;
    max-height: 115px;
  }
  .prod-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
      padding: 5px 15px;
  }
  .search-input input {
    height: 40px !important;
    font-size: 18px;
  } */
  button img {
    height: 18px;
  }
  ::ng-deep .ng-autocomplete .autocomplete-container .suggestions-container ul li a {
    padding: 15px !important;
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* .search-input input {
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
  } */
  button {
    height: 50px !important;
   /*  margin-top: 10px; */
    padding: 0 35px !important;
    vertical-align:top;
  }
  button img {
    height: 20px;
  }
  ::ng-deep .ng-autocomplete .autocomplete-container{
    height: 50px !important;
  }
  ::ng-deep .ng-autocomplete .autocomplete-container .input-container input{
    height: 50px !important;
    font-size: 18px;
    line-height: 26px;
  }
  ::ng-deep .ng-autocomplete .autocomplete-container .suggestions-container ul li a{
    font-size: 16px;
    padding: 20px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1499px) {
  /* .search-input input {
    width: 270px;
  } */
}