*:focus {
  outline: none;
}

.search-input input {
  height: 70px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  background: #eaeaea;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
  font-style: normal;
  font-weight: normal;
  padding: 5px 25px;
  font-size: 24px;
}

.search-input .input-group-text {
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: transparent;
}

input:focus {
  box-shadow: none !important;
}

button {
  background: #1f4f9e;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0 25px;
}

.suggestion-box {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */
  color: #2b2b2b;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.prod-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */
  color: #2b2b2b;
  text-align: start;
  text-shadow: none;
  margin: 0;
    padding: 15px;
}

.prod-name:hover {
  cursor: pointer;
  background: #efefef;
}

@media only screen and (max-width: 991px) {
  .suggestion-box {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #2b2b2b;
    max-height: 115px;
  }
  .prod-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
      padding: 5px 15px;
  }
  .search-input input {
    height: 40px !important;
    font-size: 18px;
  }
  button img {
    height: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .search-input input {
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
  }
  button {
    height: 50px;
    margin-top: 10px;
  }
  button img {
    height: 25px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1499px) {
  .search-input input {
    width: 270px;
  }
}
