/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.mat-dialog-actions>button{
    background-color: white !important;
    background: white !important;
    color: #2b2b2b;
 float: right;
   margin-top: -35px;
   padding: 0;
   font-size: 16px;
   font-weight: normal !important;
   outline: none !important;
   border: 0px transparent !important;
  
}
::ng-deep .cdk-overlay-container{
  z-index: 1300;
}
.mat-dialog-container{
  z-index: 999999999;
}
.name,.deets{
font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
color: #2B2B2B;
}
.name{
    text-transform: capitalize !important;
}
.deet-light{
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #2B2B2B; 
    word-break: break-all;
    overflow-wrap: break-word;
    /* overflow-wrap: break-word;
    word-wrap: break-word; */
    hyphens: auto;
}
a,a.active{
    
    font-family: Jost;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 23px !important;
  color: #F49814 !important;
}
.admin-response {
   
    padding: 0 0 20px 0px;
    font-family: Jost !important;
  
  }
  .resp-para{
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
  }
 /*  .admin-response:last-child {
    padding: 30px 0 0;
  } */
  .time{
    font-size: 14px !important;
  line-height: 20px !important; 
  }
  .admin-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }
  .message{
    font-size: 16px;
  line-height: 28px;
  color: #2B2B2B;
  word-break: break-all;
  overflow-wrap: break-word;
  
  }
@media all and (min-width:992px){
    mat-dialog-content{
        max-width: 800px;
      
    }
/*    ::ng-deep .mat-dialog-container{
        margin-top: 180px !important;
    } */
  
}
@media all and (min-width:290px) and (max-width:575px){
    .name,.deet-light,.deets,a,a.active,.admin-header{
        font-size:14px !important;
        line-height: 20px !important;
    }
    a img{
        height: 18px;
    }
}
@media all and (min-width:290px) and (max-width:992px){
    .short-head,.admin-header{
        font-size: 14px;
        line-height: 20px;
      }
      .large-head,.message{
        font-size: 14px;
        line-height: 22px;
      }
      .time{
        font-size: 13px;
        line-height: 18px;
      }
}
@media all and (min-width:992px) and (max-width:1200px){
  .name,.deet-light,.deets,a,a.active,.admin-header{
    font-size: 14px !important;
line-height: 20px !important;
  }
  .message{
    font-size: 14px;
    line-height: 25px;
  }
  .time{
    font-size: 12px;
    line-height: 18px;
  }
  .a-download img{
height: 20px;
  }
  
}