<mat-dialog-content class="mat-typography" *ngIf="details">
    <mat-dialog-actions align="end" class="p-0 m-0">
        <button mat-dialog-close><i class="fas fa-times mt-0 p-0"></i></button>
    </mat-dialog-actions>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="id-div"><span class="name mr-2"># {{'Buyer_Support_Ticket.Ticket_ID'|translate}} :</span><span class="deets">
                        {{details.issue_code}}</span></div>
            </div>
            <br><br>
            <div class="col-md-12">
                <div class="date-div"><span class="name mr-2">{{'Seller_Tickets.Date'|translate}} :</span><span class="deet-light">{{details.issue_date | date :'mediumDate'}}</span></div>
            </div>
            <br><br>
            <div class="col-md-12">
                <div class="date-div"><span class="name mr-2">{{'Buyer_Support_Ticket.Subject'|translate}} :</span><span class="deet-light">{{details.title}}</span></div>
            </div>
            <br><br>
            <div class="col-md-12">
                <div class="date-div"><span class="name mr-2">{{'Buyer_Support_Ticket.Description'|translate}}:</span><span class="deet-light">{{details.description}}</span></div>
            </div>
            <br><br>
            <div class="col-md-12" *ngIf="details.image != null">
                <br>
                <div> <a class="a-download" href="javascript:void(0);" (click)="download(details.image)"><img
                    src="../../../../../assets/file-up-yellow.png" class="mr-2"><span class="file-name">{{get_image_name(details.image)}}</span></a></div>
            
                    <br>   
                 </div>
            <br>
            <div class="col-md-12">
                <div class="id-div"><span class="name mr-2">{{'Seller_Dashboard.status'|translate}} :</span> 
                    <span *ngIf="details.status == 0" class="deets">{{'Seller_Tickets.Initiated'|translate}}</span>
                    <span *ngIf="details.status == 1" class="deets">{{'Seller_Tickets.Running'|translate}}</span>
                    <span *ngIf="details.status == 2" class="deets">{{'Seller_Tickets.Solved'|translate}}</span>
                </div>
            </div>
            <!--admin response-->
            
            <div class="col-md-12" *ngIf="adminResponse != null || adminResponse != undefined ">
               <br>
                <div class="admin-response" *ngFor="let response of adminResponse;">
                 
                    <p *ngIf="response.message != null" class="resp-para"><span class="admin-header">{{'Seller_Tickets.Admin_Response'|translate}}</span> <span class="ml-3 time">{{response.created_at | date}}</span></p>
                    <p class="message" *ngIf="response.message != null">{{response.message}}</p>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>