.banner {
  position: relative;
  height: 500px;
  text-align: center;
  background: rgb(247, 65, 135);
  background: url('../../../../assets/images/banner.jpg') no-repeat;
  background-size: 100%;
}
.banner img {
  width: 100%;
  height: 100%;
}

.side-nav-bar {
  background: #ddd;
  margin-top: 2px;
  padding: 30px;
  min-height: calc(100vh - 215px);
  background: #FFFFFF;
}

.cat-head {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}
.cat-header{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  padding-left: 5px;
  background: #89A1C8;
  /* white */
  color: #FFFFFF;
}
.cat-title{
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  background: #89A1C8;
}

.cat-head {
  font-size: 18px;
}
.expanded-div{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #2B2B2B;
  margin-left: 10px !important;
}

.mat-expansion-panel {
  background: none;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  padding: 0 10px;
  border-bottom: 1px solid #aaa;
}

.expanded-div .mat-expansion-panel-header {
  border-bottom: none;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 0px 0px !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.color-check-box{
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #2B2B2B;
  margin:  10px 0px 0px 0px !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #F49814;
}
/* mat slider css */
::ng-deep .mat-slider-horizontal{
  width: 100% !important;
}
::ng-deep .mat-accent .mat-slider-thumb{
  background: #F49814 !important;
  border-radius: 10px !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #F49814;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #F49814;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #F49814;
} 

.expanded-div ::ng-deep .mat-expansion-indicator::after {
  display: none !important;
}

.plus,
.minus {
  font-size: 24px;
}

.expanded-div .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  margin-right: 0px !important;
}

h4.store-name-header {
  padding: 40px 0;
  text-align: center;
}

nav {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.view-more-btn-div {
  text-align: center;
  padding: 60px 0 90px;
}

.view-more-btn-div button{
  background: #1F4F9E;
  color: #fff;
  padding: 22px 35px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
.example-margin {
  margin: 8px;
}
.child-cat{
  margin-left: 10px;
  cursor: pointer;
  color: black;
}
.ative-child-cat{
  margin-left: 10px;
  cursor: pointer;
  color: #F49814;
}


/* search page styles */


