<app-breadcrumbs *ngIf="products[0]" [directoryString]="'Categories / '+products[0].category.name" [searchLength]="products.length" (view_style)="set_style($event)"></app-breadcrumbs>
<section class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex">
                <div class="p-3 cat-header w-100" style="padding-left: 5px;">
                    Categories
                </div>
            </div>
            <div class="side-nav-bar">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head mt-2">
                                    {{category.name | titlecase}}
                                </div>
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                <span class="plus" *ngIf="!subCat.expanded">+</span>
                                <span class="minus" *ngIf="subCat.expanded">-</span>
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <div class="expanded-div">
                            <div *ngIf="category.children.length == 0">
                                No item to show
                            </div>
                            <!-- level two -->
                            <mat-accordion *ngFor="let subcategory of category.children">
                                <mat-expansion-panel [expanded]="expandedSubCat == subcategory.id" #childCat>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="cat-head">
                                                {{subcategory.name | titlecase}}
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <span class="plus" *ngIf="!childCat.expanded">+</span>
                                            <span class="minus" *ngIf="childCat.expanded">-</span>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="expanded-div">
                                        <div *ngIf="subcategory.children.length == 0">
                                            No item to show
                                        </div>
                                        <!-- level three -->
                                        <div *ngFor="let child of subcategory.children">
                                            <!-- [routerLink]="['/products/category/', child.id]" -->
                                            <p [ngClass]="categoryId == child.id ? 'active_cat child-cat' : 'child-cat'" (click)="getProdOnFilter(child.id, subcategory.id, category.id,child.name);">
                                                {{child.name | titlecase}}
                                            </p>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Colors
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="expanded-div">
                            <mat-panel-title *ngFor="let color of colors">
                                <mat-checkbox (change)="$event.checked?setColor(color.name):setColor('')" class="example-margin">{{color.name | titlecase}}</mat-checkbox>
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Price
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-slider thumbLabel></mat-slider>
                        <div class="expanded-div">
                            <mat-panel-title *ngFor="let range of prices">
                                <mat-checkbox (change)="$event.checked?setPrice(range.value):setPrice('')" class="example-margin">{{range.name}}</mat-checkbox>
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <!-- <div *ngFor="let child of cat.children">
            <a [routerLink]="['/products/category/', child.id]" (click)="getProdOnFilter();">
                {{child.name}}
            </a>
        </div>
        <div *ngIf="cat.children.length == 0">
            No item to show
        </div> -->
        <div class="col-md-9">
            <app-product-list [products]="products" [prodEnd]="prodEnd" [prodInRow6]="prodInRow6" [view_style]="style"></app-product-list>
            <p *ngIf="prodEnd || products.length == 0" class="text-center mt-5"><b>No more products to show</b></p>
            <div class="view-more-btn-div" *ngIf="products.length != 0">
                <button *ngIf="!prodEnd" (click)="getNextBatchproduct()" mat-raised-button class="m-auto">View More <img
                    src="../../../assets/down-carrot-light.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>
