<section *ngIf="isSeller && sellerProPic != '' && sellerProPic != null" class="banner">
    <img src="{{sellerProPic}}" alt="banner image" class="img-fluid">
</section>
<section *ngIf="isSeller" style="background: #fff">
    <h4 class="container store-name-header mb-0">{{store_name |uppercase}}</h4>
</section>
<section *ngIf="isSeller" class="seller-cat-menu">
    <div class="small-menu">
        <nav style="background: #F49814 !important;"
            class="navbar navbar-expand-lg navbar-light bg-light secondary-menu">
            <div class="container">
                <span class="navbar-brand" *ngIf="sellerLogo != '' && sellerLogo != null"><img class="rounded-circle" src="{{sellerLogo}}"
                    alt="seller logo" /></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <div>
                        <ul class="navbar-nav ml-auto">
                            <li *ngFor="let child of filteredCatArray" class="nav-item active"
                                style="margin-right: 17px">
                                <a *ngIf="child" class="nav-link" [routerLink]="['/products/category/', child.id]">
                                    {{ child.name | titlecase }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="large-menu">
        <div class="container">
            <div class="media">
                <img class="mr-3 rounded-circle logo-img" *ngIf="sellerLogo != '' && sellerLogo != null" src="{{sellerLogo}}" alt="Generic placeholder image">
                <p class="mr-4 store-name store-name-lg">{{products[0].seller.store_name|uppercase }}</p>
                <div class="media-body">
                    <span *ngFor="let child of filteredCatArray | slice:0:6" style="margin-right: 17px">
                        <a *ngIf="child" class="" [routerLink]="['/products/category/', child.id]">
                            {{ child.name | titlecase }}
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-breadcrumbs *ngIf="products?.length>0 && !isSeller"
    [directoryString]="isCategories?'Categories': isSeller?'Categories':'Categories / ' + products[0].category.name"
    [searchLength]="products.length" [style]="style" (view_style)="set_style($event)"></app-breadcrumbs>
<section class="container clearfix seller-deets" [ngClass]="isSeller?'':'container clearfix'">
    <button *ngIf="!catMenuToggle" mat-button class="cat-menu-toggle-btn" (click)="showCatMenu()">
        <img src="../../../../assets/cat-filter.svg" alt="" />
    </button>
    <button mat-button class="cat-menu-close-btn" [ngClass]="{ active: catMenuToggle, '': !catMenuToggle }"
        (click)="closeCatMenu()">
        <img src="../../../../assets/close.svg" alt="" />
    </button>
    <div class="side-cat-menu" [ngClass]="{ active: catMenuToggle, '': !catMenuToggle }">
        <div class="d-flex">
            <div class="p-3 cat-header w-100">{{'Nav.Categories'|translate}}</div>
        </div>
        <div class="side-nav-bar">
            <div *ngIf="isSeller || isCategories">
                <mat-accordion *ngFor="let category of categories;let i=index">
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head mt-2">
                                    {{ category.name | titlecase }}
                                </div>
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                                <span class="plus" *ngIf="!subCat.expanded">+</span>
                                <span class="minus" *ngIf="subCat.expanded">-</span>
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <div class="expanded-div">
                            <div *ngIf="category.children?.length == 0">{{'Nav.No_item'|translate}}</div>
                            <!-- level two -->
                            <mat-accordion *ngFor="let subcategory of category.children">
                                <mat-expansion-panel [expanded]="expandedSubCat == subcategory.id" #childCat>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="cat-head">
                                                {{ subcategory.name | titlecase }}
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <span class="plus" *ngIf="!childCat.expanded">+</span>
                                            <span class="minus" *ngIf="childCat.expanded">-</span>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="expanded-div">
                                        <div *ngIf="subcategory.children.length == 0">
                                            {{'Home.No_Item'|translate}}
                                        </div>
                                        <!-- level three -->
                                        <div *ngFor="let child of subcategory.children" style="padding-left: 15px;">
                                            <!-- [routerLink]="['/products/category/', child.id]" -->
                                            <!-- <a style="margin-left: 10px;"
                                                (click)="getProdOnFilter(child.id, subcategory.id, category.id,child.name);">
                                                {{child.name | titlecase}}
                                            </a> -->
                                            <p [ngClass]="
                                                selected_child_category == child.id
                                                ? 'active-child-cat'
                                                : 'child-cat'
                                            " (click)="
                                                getProdOnFilter(
                                                child.id,
                                                subcategory.id,
                                                category.id,
                                                child.name
                                                )
                                            ">
                                                {{ child.name | titlecase }}
                                            </p>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <mat-accordion *ngIf="!isSeller && !isCategories">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cat-head mt-2">
                                {{ category.name | titlecase }}
                            </div>
                        </mat-panel-title>
                        <!-- <mat-panel-description>
                            <span class="plus" *ngIf="!subCat.expanded">+</span>
                            <span class="minus" *ngIf="subCat.expanded">-</span>
                        </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <div class="expanded-div">
                        <div *ngIf="category?.children.length == 0">{{'Nav.No_item'|translate}}</div>
                        <!-- level two -->
                        <mat-accordion *ngFor="let subcategory of category.children">
                            <mat-expansion-panel [expanded]="expandedSubCat == subcategory.id" #childCat>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="cat-head">
                                            {{ subcategory.name | titlecase }}
                                        </div>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="plus" *ngIf="!childCat.expanded">+</span>
                                        <span class="minus" *ngIf="childCat.expanded">-</span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="expanded-div">
                                    <div *ngIf="subcategory.children.length == 0">
                                        {{'Nav.No_item'|translate}}
                                    </div>
                                    <!-- level three -->
                                    <div *ngFor="let child of subcategory.children" style="padding-left: 15px;">
                                        <!-- [routerLink]="['/products/category/', child.id]" -->
                                        <!-- <a style="margin-left: 10px;"
                                            (click)="getProdOnFilter(child.id, subcategory.id, category.id,child.name);">
                                            {{child.name | titlecase}}
                                        </a> -->
                                        <p [ngClass]="
                                            selected_child_category == child.id
                                            ? 'active-child-cat'
                                            : 'child-cat'
                                        " (click)="
                                            getProdOnFilter(
                                            child.id,
                                            subcategory.id,
                                            category.id,
                                            child.name
                                            )
                                        ">
                                            {{ child.name | titlecase }}
                                        </p>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- <mat-divider inset></mat-divider> -->
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cat-head">{{'Home.Brands' | translate}}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="brands" class="expanded-div">
                        <mat-panel-title *ngFor="let brand of brands">
                            <mat-checkbox (change)="setBrand(brand.name,$event.checked)" class="color-check-box">{{
                                brand.name | titlecase }}</mat-checkbox>
                        </mat-panel-title>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cat-head">{{'Seller_Upload_Product.Size' | translate}}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="expanded-div">
                        <mat-panel-title *ngFor="let size of sizes">
                            <mat-checkbox (change)="setColor(size,$event.checked)" class="color-check-box">{{
                                size | titlecase }}</mat-checkbox>
                        </mat-panel-title>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="prices?.length>0">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cat-head">{{'Home.Price' | translate}}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-slider (change)="onPriceSliderChange($event)" [max]="max_price+1" [min]="min_price - 1"
                        thumbLabel>
                    </mat-slider>
                    <div class="expanded-div">
                        <mat-panel-title *ngFor="let range of prices">
                            <mat-checkbox (change)="setPrice(range.value,$event.checked)" class="example-margin">{{
                                range.name }}</mat-checkbox>
                        </mat-panel-title>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="product-list-content">
        <app-product-list [products]="products" [prodEnd]="prodEnd" [prodInRow6]="prodInRow6" [view_style]="style">
        </app-product-list>
        <p *ngIf="prodEnd || products.length == 0" class="text-center no-prod mt-5">
            <b>{{'Home.No_Product' | translate}}</b>
        </p>
        <div class="view-more-btn-div" *ngIf="nextBatchProdLink != null">
            <button *ngIf="!prodEnd" (click)="getNextBatchproduct()" mat-raised-button class="m-auto">
                {{'Home.View_More' | translate}} <img src="../../../assets/down-carrot-light.svg" alt="" />
            </button>
        </div>
    </div>
</section>