<section *ngIf="isSeller" class="banner">
    <!-- <img src="" alt=""> banner image-->
</section>
<section *ngIf="isSeller" style="background: #fff;">
    <h4 class="container store-name-header mb-0">CEVENNESFE OFFICIAL STORE</h4>
</section>
<section *ngIf="isSeller" class="seller-cat-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light secondary-menu">
        <div class="container">
            <span class="navbar-brand"><img class="rounded" src="../../../assets/images/avatar.svg" alt="seller logo"></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
                aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active" style="margin-right: 17px;" *ngFor="let cat of sellerCat">
                            <a class="nav-link" [routerLink]="['/']">
                                {{cat.cat_name | titlecase}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>
<app-breadcrumbs *ngIf="products[0]" [directoryString]="'Categories / '+products[0].category.name" [searchLength]="products.length"></app-breadcrumbs>
<section class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="side-nav-bar">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Categories
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="expanded-div">
                            <!-- level one -->
                            <mat-accordion *ngFor="let cat of categories">
                                <mat-expansion-panel [expanded]="expandedCat == cat.id" #subCat>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="cat-head">
                                                {{cat.name | titlecase}}
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <span class="plus" *ngIf="!subCat.expanded">+</span>
                                            <span class="minus" *ngIf="subCat.expanded">-</span>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="expanded-div">
                                        <div *ngIf="cat.children.length == 0">
                                            No item to show
                                        </div>
                                        <!-- level two -->
                                        <mat-accordion *ngFor="let subcategory of cat.children">
                                            <mat-expansion-panel [expanded]="expandedSubCat == subcategory.id" #childCat>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <div class="cat-head">
                                                            {{subcategory.name | titlecase}}
                                                        </div>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        <span class="plus" *ngIf="!childCat.expanded">+</span>
                                                        <span class="minus" *ngIf="childCat.expanded">-</span>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div class="expanded-div">
                                                    <div *ngIf="subcategory.children.length == 0">
                                                        No item to show
                                                    </div>
                                                    <!-- level three -->
                                                    <div *ngFor="let child of subcategory.children">
                                                        <!-- [routerLink]="['/products/category/', child.id]" -->
                                                        <a (click)="getProdOnFilter(child.id, subcategory.id, cat.id);">
                                                            {{child.name | titlecase}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <!-- <div *ngFor="let child of cat.children">
            <a [routerLink]="['/products/category/', child.id]" (click)="getProdOnFilter();">
                {{child.name}}
            </a>
        </div>
        <div *ngIf="cat.children.length == 0">
            No item to show
        </div> -->
        <div class="col-md-9">
            <app-product-list [products]="products" [prodEnd]="prodEnd" [prodInRow6]="prodInRow6"></app-product-list>
            <p *ngIf="prodEnd || products.length == 0" class="text-center mt-5"><b>No more products to show</b></p>
            <div class="view-more-btn-div" *ngIf="products.length != 0">
                <button *ngIf="!prodEnd" (click)="getNextBatchproduct()" mat-raised-button class="m-auto">View More <img
                    src="../../../assets/down-carrot-light.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>