<div class="row p-4">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">{{'Seller_Dashboard.Payment_Date'|translate}}</th>
            <th scope="col">{{'Seller_Subscription.Plan_Name'|translate}}</th>
            <th scope="col">{{'Seller_Subscription.Expired_Date'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subscription of subscriptionList; let i = index" class="highlighted">
            <th scope="row">{{ subscription.start_date|date}}</th>
            <td>
                <!-- {{
                quotation.quotation[0] !== undefined
                    ? quotation.quotation[0].message_date
                    : ("" | date)
                }} -->
                {{ get_subscription_name(subscription.subscription_plan) }}
            </td>
            <td>{{ subscription.end_date !== undefined ? subscription.end_date : "" | date }}</td>
            
            </tr>
            <!-- <tr class="spacer">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Blah Blah</td>
                <td>
                    <button class="btn btn-primary" type="button">view</button>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>
  
  