<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img src="../assets/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="panel.menu" class="link-btn" #matMenuButton="matMenuTrigger" 
          (mouseenter)="matMenuButton.openMenu()" (mouseenter)="matMenuButton.openMenu()">Category</button>
          <app-category-menu #panel [items]="items"></app-category-menu>
        </li>
      </ul>
      <div class="float-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">Cart</a>
          </li>
          <li class="nav-item" *ngIf="loggedInUser">
            <a class="nav-link text-uppercase" [routerLink]="['/profile/', uId]">{{userName}}</a>
          </li>
          <li class="nav-item" *ngIf="!loggedInUser">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="!loggedInUser">
            <a class="nav-link" [routerLink]="['/signup']">Signup</a>
          </li>
          <li class="nav-item" *ngIf="loggedInUser">
            <a class="nav-link" (click)=logout(); type="button">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <!-- <div class="row">
    <div class="col-md-3 col-lg-3"> -->
  <router-outlet></router-outlet>
  <!-- </div>
    <div class="col-md-9 col-lg-9">
      product list goes here!
    </div>
  </div> -->
</div>
