<table class="table">
    <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Payment Date</th>
          <th scope="col">Delivery Date</th>
          <th scope="col">Amount</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <th scope="row">#{{order.order_code}}</th>
          <td>{{order.payment_date}}</td>
          <td>{{order.delivery_date}}</td>
          <td>{{order.total_amount}}</td>
          <td>
            <button class="btn btn-primary" type="button" [routerLink]="['order/details/',order.id]">view</button>
          </td>
        </tr>
      </tbody>
</table>
