<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 text-center">
        <div class="footer-logo">
          <img src="../assets/footer-logo.svg" alt="" />
        </div>
        <div class="slogan">Your Slogan Here</div>
        <div class="social-links">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-group-item">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-group-item">
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <!-- <li class="list-group-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li class="list-group-item"><a href="#"><i class="fab fa-pinterest-p"></i></a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 footer-link-div">
        <ul class="list-group">
          <li class="list-group-item pt-0 link-head">COMPANY</li>
          <li class="list-group-item"><a href="#">ABOUT US</a></li>
          <li class="list-group-item"><a href="#">SELL ON EMDAD</a></li>
          <li class="list-group-item"><a href="#">PARTNERS</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 footer-link-div">
        <ul class="list-group">
          <li class="list-group-item pt-0 link-head">HELP</li>
          <li class="list-group-item"><a href="#">RAISE A SUPPORT TICKETS</a></li>
          <li class="list-group-item"><a href="#">PRIVACY POLICY</a></li>
          <li class="list-group-item"><a href="#">TERMS AND CONDITIONS</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 footer-link-div">
        <ul class="list-group">
          <li class="list-group-item pt-0 link-head">CONTACT</li>
          <li class="list-group-item">
            <a href="#">6391 Elgin St. Celina, Delaware</a>
          </li>
          <li class="list-group-item"><a href="#">(907) 555-0101</a></li>
          <li class="list-group-item"><a href="#">emdad@example.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2021 EMDAD | ALL RIGHTS RESERVED
  </div>
</footer>

