<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center">
        <div class="footer-logo">
          <img src="../assets/footer-logo.svg" alt="" />
        </div>
        <div class="slogan">{{'Footer.Slogan' | translate}}</div>
        <div class="social-links pb-3">
          <ul class="list-group list-group-horizontal row">
            <li class="icon-holder">
              <button mat-fab>
                <i class="fab fa-facebook-f"></i>
              </button>
            </li>
            <li class="icon-holder">
              <button mat-fab>
                <i class="fab fa-twitter"></i>
              </button>
            </li>
            <li class="icon-holder">
              <button mat-fab>
                <i class="fab fa-linkedin-in"></i>
              </button>
            </li>

            <li class="icon-holder">
              <button mat-fab>
                <i class="fab fa-instagram"></i>
              </button>
            </li>

            <li class="icon-holder">

              <button mat-fab>
                <i class="fab fa-youtube"></i>
              </button>
            </li>

            <!-- <li class="list-group-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li class="list-group-item"><a href="#"><i class="fab fa-pinterest-p"></i></a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 footer-link-div">
        <ul class="list-group">
          <li class="list-group-item pt-0 link-head">{{'Footer.Company' | translate}}</li>
          <li class="list-group-item"><a [routerLink]="['about-us']">{{'Footer.About_Us' | translate}}</a></li>
          <li class="list-group-item"><a [routerLink]="['sell-on-emdad']">{{'Footer.Sell_On_Emdad' | translate}}</a></li>
          <li class="list-group-item"><a [routerLink]="['our-partners']">{{'Footer.Our_Partners' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 footer-link-div">
        <ul class="list-group">
          <li class="list-group-item pt-0 link-head">{{'Footer.Help' | translate}}</li>
          <li class="list-group-item"><a [routerLink]="['support-ticket']">{{'Header_DropDowns.Raise_a_support' | translate}}</a></li>
          <li class="list-group-item"><a [routerLink]="['privacy-policy']">{{'Footer.Privacy_Policy' | translate}}</a></li>
          <li class="list-group-item"><a [routerLink]="['terms-conditions']">{{'Footer.Terms' | translate}}</a></li>
          <li class="list-group-item"><a href="mailto:someone@example.com">{{'Footer.Send_Suggestion' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 footer-link-div" id="footer">
        <ul class="list-group">
          <li class="list-group-item pt-0 link-head">{{'Footer.Contact' | translate}}</li>
          <li class="list-group-item">
            <a class="no-hyper">6391 Elgin St. Celina, Delaware</a>
          </li>
          <li class="list-group-item" ><a  class="no-hyper">(907) 555-0101</a></li>
          <li class="list-group-item"><a href="mailto:someone@example.com">emdad@example.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; 2021 EMDAD | ALL RIGHTS RESERVED
  </div>
</footer>