a:hover {
  cursor: pointer;
}

a {
  color: inherit;
}
button:focus {
  outline: none;
}

footer {
  padding: 60px 0 0;
  background: #f4f4f4;
}

.slogan {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0 13px;
}

footer .list-group-horizontal {
  display: inline-flex;
}

footer .list-group-item {
  padding: 30px 17px;
  border: none;
}

footer .social-links .list-group-item a {
  color: #2b2b2b;
  padding: 18px 24px;
  border-radius: 50%;
  background: #fff;
  font-size: 20px;
  transition: 0.3s;
}

footer .social-links .list-group-item a:hover {
  color: #fff;
  background: #1f4f9e;
  transition: 0.3s;
}

.footer-link-div ul li {
  border: none;
  font-size: 20px;
  text-transform: uppercase;
}

.list-group-item {
  background-color: inherit;
  /* color: lawngreen; */
}

.list-group-item a:hover {
  color: #1f4f9e;
}

footer .footer-link-div .list-group-item {
  padding: 20px 17px;
}

.link-head {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

@media only screen and (min-width: 1200px) {
  .container {
    /* max-width: 1600px !important; */
  }
}

.copyright {
  height: 146px;
  line-height: 146px;
  background: inherit;
  text-align: center;
  background: #e9e9e9;
}

@media only screen and (max-width: 991px) {
  footer {
    padding: 30px 0 0;
  }
  .footer-logo {
    text-align: left !important;
  }
  .footer-logo img {
    height: 60px;
  }
  .slogan {
    font-size: 14px;
    text-align: left !important;
    margin: 20px 0 10px;
  }
  .social-links {
    text-align: left !important;
  }
  footer .list-group-item {
    padding-top: 0;
  }
  footer .list-group-item:first-child {
    padding-left: 0;
  }
  footer .social-links .list-group-item a {
    padding: 5px 9px;
    font-size: 15px;
    height: 30px;
    width: 30px;
    display: inline-block;
  }
  .footer-link-div ul {
    margin-bottom: 25px;
  }
  .footer-link-div ul .list-group-item {
    padding: 5px 0;
  }
  .footer-link-div ul li {
    font-size: 18px;
  }
  .copyright {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer {
    padding: 30px 0 0;
  }
  .footer-logo {
    text-align: left !important;
  }
  .footer-logo img {
    height: 70px;
  }
  .slogan {
    font-size: 14px;
    text-align: left !important;
    margin: 20px 0 10px;
  }
  .social-links {
    text-align: left !important;
  }
  footer .list-group-item {
    padding-top: 0;
  }
  footer .list-group-item:first-child {
    padding-left: 0;
  }
  footer .social-links .list-group-item a {
    padding: 5px 9px;
    font-size: 15px;
    height: 30px;
    width: 30px;
    display: inline-block;
  }
  .footer-link-div ul {
    margin-bottom: 25px;
  }
  .footer-link-div ul .list-group-item {
    padding: 5px 0;
  }
  .footer-link-div ul li {
    font-size: 18px;
  }
  .copyright {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
}
