<div class="modal animated fadeIn" id="buyerLogin" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg rounded-0">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="staticBackdropLabel">{{'Buyer_Sign_In.Sign'|translate}}</h5>
        <button (click)="hide_buyer_login()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="../../../../assets/close-black.svg" alt="" /></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 pl-0 pr-0">
              <div class="card" style="border: none">
                <div class="card-body">
                  <form [formGroup]="signInForm" (ngSubmit)="signin()">
                    <div class="form-group">
                      <label class="form-label" for="email">{{'Buyer_Sign_In.Email'|translate}}</label>
                      <small for="emailError" *ngIf="signInForm.get('email').errors && submitted"
                        class="errors ml-1">*{{'Buyer_Sign_In.require'|translate}}</small>
                      <input class="form-control" type="email" id="email" name="email" formControlName="email"
                        autofocus />
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="password">{{'Buyer_Sign_In.Password'|translate}}</label>
                      <small for="passwordError" *ngIf="signInForm.get('password').errors && submitted"
                        class="errors ml-1">*{{'Buyer_Sign_In.require'|translate}}</small>
                      <input class="form-control" type="password" id="password" name="password"
                        formControlName="password" (keydown.enter)="signin()" />
                    </div>
                    <div class="form-group row justify-content-between">
                      <div class="col-12 col-sm-12 col-md-6">
                        <div class="form-check sm-2">
                          <input class="form-check-input rem-check" style="margin-top: 7px" type="checkbox"
                            id="autoSizingCheck" [checked]="rememberMe" (change)="rememberMe = !rememberMe" />
                          <label class="form-check-label forget-pass" for="autoSizingCheck">{{'Buyer_Sign_In.Remember'|translate}}</label>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6">
                        <a (click)="show_forget_password()" class="forget-pass"><label class="float-right">{{'Buyer_Sign_In.Forgot'|translate}}?</label></a>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary btn-md btn-block login_btn" type="submit" (click)="signin()">
                        {{'Buyer_Sign_In.Sign'|translate}}
                      </button>
                    </div>
                  </form>
                  <div class="form-group row footer">
                    <div class="col-sm-auto">
                      <label>{{'Buyer_Sign_In.No_Account'|translate}}
                        <a class="create-accnt" (click)="show_buyer_registration_modal_form()">{{'Buyer_Sign_In.Create_Account'|translate}}</a></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>