*:focus {
  box-shadow: none;
}

.errors {
  color: red;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(47, 47, 47, 0.05);
}

.rem-check {
  margin-top: 7px;
}

.forget-pass {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  text-align: right;
  color: #2b2b2b;
  width: 124px;
  height: 29px;
}

.modal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 49px;
  text-align: center;
  /* #2B2B2B */
  color: #2b2b2b;
}

.modal-content {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  height: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  border: none;
  color: black;
}

.col-4 {
  font-size: 12px;
}

.btn {
  background: #454f63;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.footer {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #000000c7;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  color: #2b2b2b;
}

.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  height: 80px;
  margin-top: 44px;
}

.col-sm-auto {
  margin-left: auto;
  margin-right: auto;
}

.create-accnt {
  color: #1f4f9e;
  text-decoration: underline;
}

.form-check-input {
  position: absolute;
  margin-top: 0.2rem;
}

.modal-body {
  padding: 26px 26px 34px;
}

.modal-header .close {
  position: absolute;
  top: 27px;
  right: 35px;
}
