<div class="modal animated fadeIn" id="buyerLogin" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-0">
            <div style="border: none;margin-top: 20px;" class="modal-header text-center">
                <h5 class="modal-title w-100" id="staticBackdropLabel">Sign in</h5>
                <button (click)=hide_buyer_login(); type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="border: none;">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-control" type="email" id="email" name="email" #username>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" type="password" id="password" name="password" #password (keydown.enter)="signin(username.value,password.value)">
                                    </div>
                                    <div class="form-group row justify-content-between">
                                        <div class="col-4">
                                            <div class="form-check sm-2">
                                                <input class="form-check-input rem-check" style="margin-top: 7px;" type="checkbox" id="autoSizingCheck">
                                                <label class="form-check-label forget-pass" for="autoSizingCheck">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <a (click)=show_forget_password(); class="forget-pass"><label class="float-right">Forgot password?</label></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-md btn-block login_btn" type="button" (click)="signin(username.value,password.value)">Sign In</button>
                                    </div>
                                    <div class="form-group row footer">
                                        <div class="col-sm-auto">
                                        <label>No account yet? <a class="create-accnt" (click)=show_buyer_registration_modal_form();>Create an account</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>