.modal-title{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    /* #2B2B2B */
    color: #2B2B2B;
}
.modal-content{
    max-width: 700px;
    max-height: 765px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}
.form-control{
    background: #EFEFEF;
    border-radius: 5px;
}
.col-4{
    font-size: 12px;
}
.btn{
    background: #454F63;
    border-radius: 5px;
}
.footer{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 29px;
/* identical to box height */
    text-align: center;
    color: #2B2B2B;
}
.modal{
    background-color: #000000c7;
}
.form-label{
    font-size: 12px;
}
.login_btn{
    background: #1F4F9E;
    border-radius: 5px;
}
.col-sm-auto{
    margin-left: auto;
    margin-right: auto;
}
.create-accnt{
    color: #1F4F9E;
    text-decoration: underline;
}

.form-check-input{
    position: absolute;
    margin-top: 0.2rem;
}