*:focus {
  outline: none;
  box-shadow: none;
}

.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  padding: 40px 0;
  margin: 0;
  line-height: 69px;
}
.subs-plan-holder{
  padding: 30px;
}
.subs-card{
  background: #fff;
  padding: 40px;
 margin-bottom: 35px;
}

.plan-card {
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 35px;
  border: 2px solid #fff;
  transition: 0.3s;
  position: relative;
  border: 2px solid #fff !important;
  cursor: pointer;
  margin-top: 15px;
}

.plan-card:hover {
  box-shadow: 0px 20px 55px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.plan-card.active {
  border: 2px solid #1f4f9e !important;
}

.plan-title {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #2b2b2b;
  line-height: 35px;
}

.plan-price {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: #2b2b2b;
}

.plan-price span {
  font-size: 18px;
}

.plan-check {
  position: absolute;
  top: 20px;
  right: 20px;
  /* display: none; */
}

.plan-card:hover .plan-check {
  display: block;
}

::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #1f4f9e !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1f4f9e;
}

.apply-coupon-holder {
  margin: 85px 0 0;
}

.apply-coupon-holder input {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 66px;
  border-left: 0;
  margin-right: 15px;
}

.input-group-prepend .input-group-text {
  background: #fff;
  padding: 20px;
}

.login-btn {
  height: 66px;
  vertical-align: top;
  
  font-size: 24px;
  background: #1f4f9e;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-family: Jost;
}
.apply-btn{
  padding: 0 50px;
}
.proceed-btn{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
padding: 15px 100px;
}

/*responsive -_- :/ */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
@media only screen and (min-width:290px) and (max-width:992px){
  .second-row{
    margin-top: 12px !important;
  }
}
@media all and (min-width:290px) and (max-width:575px){
  .login-btn{
    height: 45px;
    font-size: 18px;
    line-height: 25px;
 
  }
  .apply-btn{
    padding: 0 20px;
    margin-top: 2px !important;
  }
  .proceed-btn{
    padding: 10px 40px;
    margin-top: 20px !important;
  }
  .page-heading {
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0;
  }
  .plan-title{
    font-size: 18px;
    line-height: 25px;
  }
  .plan-price{
    font-size: 22px;
    line-height: 35px;
  }
  .plan-price>span{
    font-size: 14px;
    line-height: 22px;
  }
.apply-coupon-holder{
  margin: 40px 0;
}
.input-group-prepend .input-group-text {
  background: #fff;
  padding: 8px;
}
.apply-coupon-holder input{
margin-right: 0px;
}
.subs-plan-holder{
  padding: 10px;
}
}
 @media all and (min-width:575px) and (max-width:768px){
  .login-btn{
    height: 45px;
    font-size: 18px;
    line-height: 25px;
 
  }
  .apply-btn{
    padding: 0 20px;
    margin-top: 2px !important;
  }
  .proceed-btn{
    padding: 10px 40px;
    margin-top: 20px !important;
  }
  .page-heading {
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0;
  }
  .plan-title{
    font-size: 18px;
    line-height: 25px;
  }
  .plan-price{
    font-size: 22px;
    line-height: 35px;
  }
  .plan-price>span{
    font-size: 14px;
    line-height: 22px;
  }
.apply-coupon-holder{
  margin: 40px 0;
}
.input-group-prepend .input-group-text {
  background: #fff;
  padding: 8px;
}
.apply-coupon-holder input{
margin-right: 0px;
}
.subs-plan-holder{
  padding: 10px;
}
 }
 @media all and (min-width:768px) and (max-width:992px){
  .login-btn{
    height: 60px;
    font-size: 22px;
    line-height: 30px;
 
  }
  .apply-btn{
    padding: 0 35px;
    margin-top: 2px !important;
  }
  .proceed-btn{
    padding: 12px 50px;
    margin-top: 20px !important;
  }
  .page-heading {
    font-size: 40px;
    line-height: 50px;
    padding: 30px 0;
  }
  .plan-title{
    font-size: 22px;
    line-height: 30px;
  }
  .plan-price{
    font-size: 30px;
    line-height: 43px;
  }
  .plan-price>span{
    font-size: 16px;
    line-height: 25px;
  }
.apply-coupon-holder{
  margin: 50px 0;
}
.input-group-prepend .input-group-text {
  background: #fff;
  padding: 10px;
}
.apply-coupon-holder input{
margin-right: 0px;
}
.subs-plan-holder{
  padding: 20px;
}
 }