@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

*:focus {
  outline: none;
  box-shadow: none;
}

.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  padding: 40px 0;
  margin: 0;
  line-height:69px;
}

.card {
  padding: 40px;
  border: none;
  border-radius: 0;
}

a {
  color: inherit;
}

.container {
  padding: 60px;
}

*:focus {
  outline: none;
}

.login-form-holder {
  padding: 0 60px;
}

.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  height: 80px;
  font-weight: 500;
  font-size: 24px;
  width: 300px;
}

.login-header {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #2b2b2b;
  margin-top: 70px;
  margin-bottom: 10px;
}

.login-sub-header {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 8px;
}

label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
}



.btn {
  border: none;
}

.card-header {
  background-color: #f8f9fa00;
  border: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 80px;
}
.form-control:focus{
  background-color: #efefef !important;
}
.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 7px;
}

.input-group-text {
  border: 0 !important;
  background: #efefef;
  padding: 0 22px;
  font-size: 17px;
}

.form-control:focus {
  box-shadow: none;
}


.alert-danger {
  background: transparent;
  border: none;
  color: #ff5f92;
}

.card-body {
  padding: 0;
}




@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
@media all and (min-width:290px) and (max-width:576px){
  .page-heading{
    font-size: 32px;
    line-height: 46px;
  }
  .container{
    padding: 20px;
  }
  label,.form-check-label,.join-text,input,textarea{
    font-size: 16px;
    line-height: 23px;
  }
  .login_btn{
    height: 50px;
    font-size: 18px;
    line-height: 25px;
    width: 180px;
  
  }
  .submit-btn{
    text-align: center !important;
    justify-content: center;
  }
  .input-group-text{
    font-size: 14px;
    padding: 0 8px;
  }
  .input-group-text img{
    height: 20px;
    width: 20px;
  }
  .card {
    padding: 14px;
  }
  .form-control{
    height: 60px;
  }
}
@media all and (min-width:576px) and (max-width:768px){
  .container{
    padding: 10px !important;
  }
  .page-heading{
    font-size: 32px;
    line-height: 46px;
  }
  label,.form-check-label,.join-text,input,textarea{
    font-size: 16px;
    line-height: 23px;
  }
  .login_btn{
    height: 50px;
    font-size: 18px;
    line-height: 25px;
    width: 230px;
  
  }
  .submit-btn{
    text-align: center !important;
    justify-content: center;
  }
  .input-group-text{
    font-size: 14px;
    padding: 0 8px;
  }
  .input-group-text img{
    height: 20px;
    width: 20px;
  }
  .card {
    padding: 14px;
  }
  .form-control{
    height: 60px;
  }
}
@media all and (min-width:768px) and (max-width:992px){
  label,.form-check-label,.join-text,input,textarea{
    font-size: 18px;
    line-height: 25px;
  }
  .container{
    padding: 10px !important;
  }
  .page-heading{
    font-size: 40px;
    line-height: 62px;
  }
  .input-group-text{
    font-size: 16px;
    padding: 0 10px;
  }
  .input-group-text img{
    height: 24px;
    width: 24px;
  }
  .login_btn{
    height: 60px;
    font-size: 18px;
    line-height: 25px;
   
  
  }
  .submit-btn{
    text-align: center !important;
  }
  .card {
    padding: 16px;
  }
  
  .form-control{
    height: 60px;
  }
}