.header{
    font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
/* identical to box height */


/* #2B2B2B */

color: #2B2B2B;
}

.mat-dialog-actions>button{
    background-color: white !important;
    background: white !important;
    color: #2b2b2b;
 float: right;
   margin-top: -35px;
   padding: 0;
   font-size: 16px;
   font-weight: normal !important;
   outline: none !important;
   border: 0px transparent !important;
  
}
mat-expansion-panel {
    background: none;
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  
  .mat-expansion-panel-header {
    padding: 10px 10px 10px 0;
    font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2B2B2B;
  }
  
  .mat-expansion-panel-header.mat-expanded {
    height: auto;
  }
  
  .expanded-div .mat-expansion-panel-header {
    border-bottom: none;
  }
  
  ::ng-deep .mat-expansion-panel-body{
    padding: 0 0px 16px 24px !important;
    font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */
  
  
  color: rgba(43, 43, 43, 0.5);
  
  }
  .med-child{
    font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 43, 43, 0.5);
  }
  
  .expanded-div ::ng-deep .mat-expansion-indicator::after {
    display: none !important;
  }
  
  .plus,
  .minus {
    font-size: 24px;
  }
  
  .expanded-div .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }
  
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    margin-right: 0px !important;
  }
  a:hover {
    cursor: pointer;
  }
  
  /* a {
    color: inherit;
  } */
  a:active{
    color: #1F4F9E !important;
  }
  /*acordion code*/

  @media all and (min-width:290px) and (max-width:768px){
      .mat-expansion-panel-header,.mat-expansion-panel-body{
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 14px !important;
        line-height: 20px !important;
      }
  }