<app-breadcrumbs [directoryString]="'Search Result'" [searchLength]="products.length"></app-breadcrumbs>
<section class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex">
                <div class="p-3" style="padding-left: 5px;">
                    Filter By
                </div>
            </div>
            <div class="side-nav-bar">
                <!-- <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Categories
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="expanded-div">
                            level one
                            <mat-accordion *ngFor="let cat of categories">
                                <mat-expansion-panel [expanded]="expandedCat == cat.id" #subCat>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="cat-head">
                                                {{cat.name | titlecase}}
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <span class="plus" *ngIf="!subCat.expanded">+</span>
                                            <span class="minus" *ngIf="subCat.expanded">-</span>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="expanded-div">
                                        <div *ngIf="cat.children.length == 0">
                                            No item to show
                                        </div>
                                        level two
                                        <mat-accordion *ngFor="let subcategory of cat.children">
                                            <mat-expansion-panel [expanded]="expandedSubCat == subcategory.id" #childCat>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <div class="cat-head">
                                                            {{subcategory.name | titlecase}}
                                                        </div>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        <span class="plus" *ngIf="!childCat.expanded">+</span>
                                                        <span class="minus" *ngIf="childCat.expanded">-</span>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div class="expanded-div">
                                                    <div *ngIf="subcategory.children.length == 0">
                                                        No item to show
                                                    </div>
                                                    
                                                    <div *ngFor="let child of subcategory.children">
                                                        <a (click)="getProdOnFilter(child.id, subcategory.id, cat.id);">
                                                            {{child.name | titlecase}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion> -->
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Brands
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="expanded-div mt-2">
                            <mat-panel-title *ngFor="let brand of brands">
                                <div class="p-2">
                                    <mat-checkbox (change)="$event.checked?setBrand(brand.name):setBrand('')" class="example-margin">{{brand.name | titlecase}}</mat-checkbox>
                                </div>
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Colors
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="expanded-div mt-2">
                            <mat-panel-title *ngFor="let color of colors">
                                <div class="p-2">
                                    <mat-checkbox (change)="$event.checked?setColor(color.name):setColor('')" class="example-margin">{{color.name | titlecase}}</mat-checkbox>
                                </div>
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Price
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="expanded-div mt-2">
                            <mat-slider class="w-100 ml-0" ></mat-slider>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <!-- <div *ngFor="let child of cat.children">
            <a [routerLink]="['/products/category/', child.id]" (click)="getProdOnFilter();">
                {{child.name}}
            </a>
        </div>
        <div *ngIf="cat.children.length == 0">
            No item to show
        </div> -->
        <div class="col-md-9">
            <p *ngIf="products.length == 0" class="mt-5 text-center"><b>No Results Found!!!</b></p>
            <app-product-list [products]="products" [prodEnd]="null" [prodInRow6]="prodInRow6"></app-product-list>
        </div>
    </div>
</section>