<app-breadcrumbs (clear_selections)="reset_selections($event)" [directoryString]="'Search Result'" [searchLength]="products.length" (view_style)="set_style($event)">
</app-breadcrumbs>
<section class="container clearfix">
    <button *ngIf="!catMenuToggle" mat-button class="cat-menu-toggle-btn" (click)="showCatMenu()">
        <img src="../../../../assets/cat-filter.svg" alt="" />
    </button>
    <button mat-button class="cat-menu-close-btn" [ngClass]="{ active: catMenuToggle, '': !catMenuToggle }"
        (click)="closeCatMenu()">
        <img src="../../../../assets/close.svg" alt="" />
    </button>
    <div class="side-cat-menu" [ngClass]="{ active: catMenuToggle, '': !catMenuToggle }">
        <div class="d-flex">
            <div class="p-3 cat-header w-100">Filter By</div>
        </div>
        <div class="side-nav-bar">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cat-head">
                                {{'Home.Brands' | translate}}
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="brands" class="expanded-div mt-2">
                        <mat-panel-title *ngFor="let brand of brands">
                            <mat-checkbox (change)="setBrand(brand.name,$event.checked)" class="example-margin">
                                {{brand.name | titlecase}}</mat-checkbox>
                        </mat-panel-title>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cat-head">
                                {{'Seller_Upload_Product.Size' | translate}}
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="expanded-div mt-2">
                        <mat-panel-title *ngFor="let size of sizes">
                            <mat-checkbox (change)="setColor(size,$event.checked)" class="example-margin">
                                {{size | titlecase}}</mat-checkbox>
                        </mat-panel-title>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="prices?.length>0">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cat-head">
                                {{'Home.Price' | translate}}
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-slider *ngIf="prices?.length>0" (change)="onPriceSliderChange($event)" thumbLabel
                        [(ngModel)]="price_slider_value" [max]="max_price" [min]="min_price"></mat-slider>
                    <div *ngIf="prices?.length>0" class="expanded-div mt-2">
                        <mat-panel-title *ngFor="let range of prices">
                            <mat-checkbox (change)="setPrice(range.value,$event.checked)" class="example-margin">
                                {{range.name}}</mat-checkbox>
                        </mat-panel-title>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="product-list-content">
        <app-product-list [products]="products" [prodEnd]="prodEnd" [prodInRow6]="prodInRow6" [view_style]="style">
        </app-product-list>
        <p *ngIf="prodEnd || products.length == 0" class="text-center mt-5 no-prod">
            <b>{{'Home.No_Product' | translate}}</b>
        </p>
        <div class="view-more-btn-div" *ngIf="nextBatchProdLink != null">
            <button *ngIf="!prodEnd" (click)="getNextBatchproduct()" mat-raised-button class="m-auto">
                {{'Home.View_More' | translate}} <img src="../../../assets/down-carrot-light.svg" alt="" />
            </button>
        </div>
    </div>
</section>