.side-nav-bar {
    background: #FFFFFF;
    
    padding: 30px;
    min-height: calc(100vh - 215px);
  }
  
  .cat-head {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }
  
  .expanded-div .cat-head {
    font-size: 18px;
  }
  
  .mat-expansion-panel {
    background: none;
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  
  .mat-expansion-panel-header {
    padding: 0 10px;
    border-bottom: 1px solid #aaa;
  }
  
  .expanded-div .mat-expansion-panel-header {
    border-bottom: none;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0px 0px 0px !important;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #F49814!important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #F49814;
    }
  /* mat slider css */
  ::ng-deep .mat-slider-horizontal{
    width: 100% !important;
  }
  ::ng-deep .mat-accent .mat-slider-thumb{
    background: #F49814 !important;
    border-radius: 10px !important;
  }
  
  ::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #F49814;
  } 
  ::ng-deep .mat-accent .mat-slider-thumb-label {
      background-color: #F49814;
  } 
  ::ng-deep .mat-accent .mat-slider-track-fill {
      background-color: #F49814;
  } 
  /* mat slider css */
  .expanded-div ::ng-deep .mat-expansion-indicator::after {
    display: none !important;
  }
  
  .plus,
  .minus {
    font-size: 24px;
  }
  
  .expanded-div .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }
  
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    margin-right: 0px !important;
  }
  
  h4.store-name-header {
    padding: 40px 0;
    text-align: center;
  }
  
  nav {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
  }
  .d-flex{
    background: #1F4F9E;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
  }
  
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1600px !important;
    }
  }

  .example-h2 {
    margin: 0 8px 16px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 8px;
  }
  
  .mat-slider-horizontal {
    width: 300px;
  }
  
  .mat-slider-vertical {
    height: 300px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }