<app-breadcrumbs [directoryString]="'Search Result'" [searchLength]="products.length" (view_style)="set_style($event)">
</app-breadcrumbs>
<section class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex">
                <div class="p-3" style="padding-left: 5px;">
                    Filter By
                </div>
            </div>
            <div class="side-nav-bar">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Brands
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="brands" class="expanded-div mt-2">
                            <mat-panel-title *ngFor="let brand of brands">
                                <mat-checkbox (change)="$event.checked?setBrand(brand.name):setBrand('')"
                                    class="example-margin">{{brand.name | titlecase}}</mat-checkbox>
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Colors
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="expanded-div mt-2">
                            <mat-panel-title *ngFor="let color of colors">
                                <mat-checkbox (change)="$event.checked?setColor(color.name):setColor('')"
                                    class="example-margin">{{color.name | titlecase}}</mat-checkbox>
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="cat-head">
                                    Price
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-slider *ngIf="prices?.length>0" (input)="onPriceSliderChange($event)" thumbLabel [(ngModel)]="price_slider_value"
                            [max]="max_price" [min]="min_price"></mat-slider>
                        <div *ngIf="prices?.length>0" class="expanded-div mt-2">
                            <mat-panel-title *ngFor="let range of prices">
                                <mat-checkbox (change)="$event.checked?setPrice(range.value):setPrice('')"
                                    class="example-margin">{{range.name}}</mat-checkbox>
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <!-- <div *ngFor="let child of cat.children">
            <a [routerLink]="['/products/category/', child.id]" (click)="getProdOnFilter();">
                {{child.name}}
            </a>
        </div>
        <div *ngIf="cat.children.length == 0">
            No item to show
        </div> -->
        <div class="col-md-9">
            <p *ngIf="products.length == 0" class="mt-5 text-center"><b>No Results Found!!!</b></p>
            <app-product-list [products]="products" [prodEnd]="null" [prodInRow6]="prodInRow6" [view_style]="style">
            </app-product-list>
        </div>
    </div>
</section>