@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

*:focus {
  outline: none;
}

.example-container /deep/ .mat-sidenav-inner-container {
  overflow: unset !important;
  -webkit-overflow:unset !important;
  overflow-y: hidden !important;
  -webkit-overflow-y:hidden !important;
  -moz-overflow-y:hidden !important
}

.mat-sidenav-content {
  background: #f9f9f9;
}

/* mat-sidenav {
  width: 400px;
 
} */

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding-left: 0;
}

.toggle-slide-menu-btn {
  background: #1f4f9e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px 9px;
  color: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 70%);
}

.toggle-slide-menu-btn.mat-button {
  min-width: unset !important;
  line-height: unset !important;
}

.nav-item a.nav-link {
  padding-top: 20px !important;
}

a.active {
  color: #1f4f9e;
}

a:hover {
  cursor: pointer;
}
/* .parent-container{
  background: #f9f9f9;
} */

a {
  color: inherit;
}

.nav-fluid {
  width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

nav .dropdown-menu {
  top: 88px;
  left: unset;
  right: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0px 20px 30px rgba(158, 43, 43, 0.06);
}

nav .dropdown-item {
  padding: 20px 30px;
}

.user-img-holder {
  /*  margin: 5px 0 0; */
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background: #ddd;
}

.user-name:hover {
  cursor: pointer;
}

.user-img-holder img {
  position: absolute;
  width: inherit;
  height: auto;
  background: #eee;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

nav .dropdown-toggle::after {
  display: none;
}

.lan-radio-btn {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.lan-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
}

.checkmark::after {
  content: "";
  display: none;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  background-image: url("../../assets/checkmark.svg");
}

.lan-radio-btn input:checked ~ .checkmark::after {
  display: block;
}

.lan-title {
  margin-left: 10px;
  margin-right: 37px;
}

nav .notification-list {
  max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden !important;
  overflow-wrap: break-word !important;
  white-space: normal;
  min-width: 400px;
  max-width: 400px;
}

nav .profile-list img {
  margin-right: 10px;
}

button:focus {
  outline: none;
}

.navbar-nav {
  flex-direction: row;
  margin-left: auto;
}
.desktop-sidenav {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.side-menu-holder {
  padding-left: 20px;
  padding-top: 30px;
  /*  padding: 40px 0; */
}

.desktop-sidenav .side-menu-holder ul {
  list-style: none;
  padding-left: 0;
  font-family: Jost;
}

.desktop-sidenav .side-menu-holder ul li {
  margin: 0;
  font-size: 20px;
  line-height: 29px;
  font-weight: normal;
}

.desktop-sidenav .side-menu-holder ul li img {
  vertical-align: middle;
  margin-right: 15px;
}

.desktop-sidenav .side-menu-holder ul a {
  padding: 5px 0;
  display: block;
  text-decoration: none;
  text-align: left;
  margin: 25px 0;
  font-family: Jost !important;
  font-size: 20px;
  line-height: 29px;
}

.mat-expansion-panel-header {
  padding: 0 15px 0 0;
}
.mat-expansion-panel-header {
  height: 48px !important;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  font-size: 20px !important;
  font-weight: normal !important;
  line-height: 29px;
  font-family: Jost !important;
}
.mat-accordion>.mat-expansion-panel-spacing:last-child {
  border-radius: 0;
}
.mat-expansion-panel-header.mat-expanded:active,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded,
.side-menu-holder a.active {
  border-right: 6px solid #1f4f9e;
  border-radius: 0;
}
/* .accordion-menu-item /deep/ .mat-expansion-panel-body ul li.active::after .mat-expansion-panel.mat-expanded .mat-expansion-panel-header{
  border-right: 5px solid #1F4F9E;
  border-radius: 2px !important;
} */
.mat-expansion-panel-header.mat-expanded::after.side-menu-holder a.active {
  border-right: none !important;
}
mat-panel-title img {
  margin-right: 20px !important;
}

.accordion-menu-item {
  margin: 25px 0 !important;
}
/* .accordion-menu-item .active{
  border-right: 5px solid #1F4F9E;
  border-radius: 2px !important;
} */
.accordion-menu-item /deep/ .mat-expansion-panel-body {
  padding: 0 0 0 14px;
}

.accordion-menu-item /deep/ .mat-expansion-panel-body ul li {
  border-left: 2px solid #eaeaea;
  padding: 15px 0 15px 30px;
  position: relative;
}

.accordion-menu-item /deep/ .mat-expansion-panel-body ul li.active {
  color: #1f4f9e;
}

.accordion-menu-item /deep/ .mat-expansion-panel-body ul li img {
  position: absolute;
  left: 0%;
  top: 50%;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
}

.accordion-menu-item /deep/ .mat-expansion-panel-body ul a {
  margin: 0 !important;
  padding: 0 !important;
}
.notification-header {
  padding: 20px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0;
  background: #1f4f9e;
}
.drop-item {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #2b2b2b;
  overflow-wrap: break-word !important;
  white-space: pre-wrap;
}

/*responsive -_- :/ */

@media all and (min-width: 290px) and (max-width: 399px) {
  .mat-sidenav {
    width: 250px !important;
    max-width: 250px !important;
    background-color: #ffffff;
  }
  .mob-img-holder,
  .name-show {
    display: block !important;
    /*   text-align: center !important;
    justify-content: center;
    align-items: center !important; */
    margin-left: 12px !important;
  }
  .mob-img-holder {
    width: 30px !important;
    height: 30px !important;
  }
  .navbar-brand img {
    height: 40px !important;
  }
  .menu-btn img {
    height: 18px;
    width: 20px;
  }
  img.btn-icon {
    height: 15px;
    width: 15px;
  }
  img.drop-icon {
    height: 5px;
    width: 8px;
  }
  nav .notification-list {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden !important;
    overflow-wrap: break-word !important;
    white-space: normal;
    min-width: 220px;
    max-width: 220px;
  }
  .notification-header {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .drop-item {
    font-size: 14px;
    line-height: 20px;
  }
  .drop-item img {
    height: 18px;
    width: 18px;
  }
  .lang-btn{
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media all and (min-width: 400px) and (max-width: 992px) {
  .mat-sidenav {
    width: 320px;
    max-width: 320px;
    background-color: #ffffff;
  }
  .mob-img-holder {
    display: inline-block;
    height: 45px;
    width: 45px;
  }
  nav.mobile-nav {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  img.btn-icon {
    height: 20px;
    width: 20px;
  }
  .notification-header {
    padding: 15px;
    font-size: 16px;
    line-height: 23px;
  }
  .drop-item {
    font-size: 16px;
    line-height: 23px;
  }
  .drop-item img {
    height: 22px;
    width: 22px;
  }
  .lang-btn{
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 20px;
  }
  nav .notification-list {
    max-height: 250px !important;
    min-width: 240px;
    max-width: 240px;
  }
}
@media all and (min-width: 290px) and (max-width: 992px) {
  .desktop-sidenav {
    display: none !important;
  }
  .desktop-nav {
    display: none !important;
  }
  nav.mobile-nav {
    height: 80px;
    background: #f4f4f4 !important;
    padding: 0;
z-index: 99999;
    justify-content: center !important;
  }
  .lang-btn {
    background: #f49814;
    font-style: normal;
    color: #ffffff;
    border-radius: 30px;
    margin-left: auto;
    font-weight: normal;
   
    border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-family: Jost !important;
  margin-top: 12px;
   display: inline-block !important;
  }
img.logo {
    height: 60px !important;
 justify-self: center;
 align-self: center;
  }
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .mobile-sidenav {
    display: block;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 14px;
  }
  .menu-btn {
    border: none !important;
    outline: none !important;
    background-color: transparent;
  }
  .mob-img-holder {
    /*  margin: 5px 0 0; */
    position: relative;

    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    background: #ddd;
  }
  .mob-img-holder img {
    position: absolute;
    width: inherit;
    height: auto;
    background: #eee;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .mobile-user-name > .name-show {
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #2b2b2b;
    margin-left: 8px;
    overflow-wrap: break-word;
  }

  .close-nav,
  .close-nav:focus,
  .close-nav:hover,
  .close-nav:active {
    background-color: #ffffff !important;
    border: none !important;
    outline: 0 !important;
    color: #2b2b2b;
  }
  .mob-sidemenu-holder {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-username-holder {
    justify-content: center;
    align-items: center;
  }
  .close-btn {
    text-align: right !important;
  }
  .mobile-sidenav .mob-sidemenu-holder ul {
    list-style: none;
    padding-left: 0;
    font-family: Jost;
  }

  .mobile-sidenav .mob-sidemenu-holder ul li {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    /* font-weight:500; */
  }

  .mobile-sidenav .mob-sidemenu-holder ul li img {
    vertical-align: middle;
    margin-right: 10px;
    height: 20px !important;
    width: 20px !important;
  }
  .mobile-sidenav .mob-sidemenu-holder ul a {
    padding: 5px 0;
    display: block;
    text-decoration: none;
    text-align: left;
    margin: 12px 0;
    font-family: Jost !important;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400 !important;
  }
  .mobile-sidenav .mat-expansion-panel-header,.mat-panel-title {
    padding: 0 10px 0 0;
    height: auto !important;
    font-size: 16px !important;
    line-height: 23px !important;
    font-weight: 400 !important;
  }

  .mobile-sidenav .logout {
    color: #ff4b55;
    padding: 35px 0;
    margin-top: 40px 0;
    font-weight: normal !important;
  }
  .mobile-sidenav.mob-sidemenu-holder ul li img .dot {
    height: 20px !important;
    width: 20px !important;
  }
  .mat-expansion-panel-header-title,
  .mat-panel-title {
    font-family: Jost;
    font-size: 16px !important;
    line-height: 23px !important;
    font-weight: 400 !important;
  }
  .mobile-sidenav.mat-expansion-panel-header-description {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    font-family: Jost !important;
  }
  .mat-expansion-panel-header,
  .mat-panel-title {
    font-size: 16px !important;
    line-height: 23px !important;
    font-weight: 400 !important;
    font-family: Jost;
  }
  .mat-expansion-panel-header.mat-expanded {
    border-right: none !important;
  }
  mat-panel-title img {
    margin-right: 12px !important;
  }

  .accordion-menu-item {
    margin: 13px 0 !important;
  }
  .accordion-menu-item /deep/ .mat-expansion-panel-body ul li {
    border-left: 2px solid #eaeaea;
    padding: 16px 0 14px 20px;
    position: relative;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    font-family: Jost !important;
  }
  .accordion-menu-item /deep/ .mat-expansion-panel-body ul li img {
    position: absolute;
    left: 0%;
    top: 50%;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
  }
  .mob-options {
    list-style-type: none !important;
    list-style: none;
    padding-inline-start: 20px !important;
  }
  .mob-options .nav-item {
    display: inline-block;
  }
  .nav-item a.nav-link {
    padding-top: 14px !important;
  }

  a.active {
    color: #1f4f9e;
  }

  a:hover {
    cursor: pointer;
  }
  nav .dropdown-menu {
    top: 80px;
    left: unset;
    right: 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
  }
  nav .dropdown-item {
    padding: 5px 12px;
  }
  .lan-title {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .lan-radio-btn img {
    height: 16px;
    width: 16px;
  }
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px !important;
    width: 18px !important;
  }

  .checkmark::after {
    content: "";
    display: none;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/checkmark.svg");
  }
  .parent-container {
    margin-top: 80px;
    min-height: calc(100vh - 90px);
  }
  mobile-nav .navbar-brand{
    text-align: center !important;
    justify-content: center;
    align-items: center;
    
  }
  .cart-length-mobile{
    position: absolute;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 4px;
    right: 5px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 1.8;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
 
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 1600px !important;
  }
  .mat-sidenav {
    width: 350px;
    max-width: 350px;
    background-color: #ffffff;
    /* padding: 30px; */
    font-family: Jost;
  }
  .desktop-sidenav{
    display: block !important;
  }
  nav.navbar {
    height: 120px;
    background: #fff !important;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
    width: calc(100% - 350px);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    display: flex !important;
  }
  nav.navbar.not-approved {
    width: 100%;
  }
  .mobile-sidenav {
    display: none;
  }
  .parent-container {
    margin-top: 120px;
    min-height: calc(100vh - 120px);
  }
  .desktop-nav{
    display: flex !important;
  }
  
}
@media only screen and (min-width:992px) and (max-width:1199px){
  .mat-expansion-panel-header-title, .mat-expansion-panel-header,
  .mat-panel-title
 {
  font-size: 18px !important;
  font-weight: normal !important;
  line-height: 26px;
  font-family: Jost !important;
}
.desktop-sidenav .side-menu-holder ul li{
  font-size: 18px !important;
  line-height: 26px !important;
}
}
@media all and (min-width:290px) and (max-width:310px){
  .show-in-med{
    display: none !important;
  }
}

.cart-length {
  position: absolute;
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 20px;
  right: 5px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 1.8;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}