@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

*:focus {
  outline: none;
}

.example-container /deep/ .mat-drawer-inner-container {
  overflow: unset !important;
}

.mat-drawer-content {
  background: #f9f9f9;
}

mat-sidenav {
  width: 400px;
  padding: 30px 60px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding-left: 0;
}

.toggle-slide-menu-btn {
  background: #1f4f9e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px 9px;
  color: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 70%);
}

.toggle-slide-menu-btn.mat-button {
  min-width: unset !important;
  line-height: unset !important;
}

.nav-item a.nav-link {
  padding-top: 20px !important;
}

a.active {
  color: #1F4F9E;
}

a:hover {
  cursor: pointer;
}

a {
  color: inherit;
}

nav {
  height: 120px;
  background: #fff !important;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  width: calc(100% - 400px);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.nav-fluid {
  width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

nav .dropdown-menu {
  top: 90px;
  left: unset;
  right: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
}

nav .dropdown-item {
  padding: 20px 30px;
}

.user-name {
  margin: 5px 0 0;
}

.user-name:hover {
  cursor: pointer;
}


.user-name img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eee;
  padding: 10px 2px 10px 5px;
  margin-right: 15px;
}

nav .dropdown-toggle::after {
  display: none;
}

.lan-radio-btn {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.lan-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
}

.checkmark::after {
  content: "";
  display: none;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  background-image: url("../../assets/checkmark.svg");
}

.lan-radio-btn input:checked ~ .checkmark::after {
  display: block;
}

.lan-title {
  margin-left: 10px;
  margin-right: 37px;
}

nav .notification-list {
  max-height: 320px;
  overflow-y: scroll;
}

nav .profile-list img {
  margin-right: 10px;
}

button:focus {
  outline: none;
}

.navbar-nav {
  flex-direction: row;
  margin-left: auto;
}

.side-menu-holder {
  padding: 40px 0;
}

.side-menu-holder ul {
  list-style: none;
  padding-left: 0;
}

.side-menu-holder ul li {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.side-menu-holder ul li img {
  vertical-align: middle;
  margin-right: 15px;
}

.side-menu-holder ul a {
  padding: 5px 0;
  display: block;
  text-decoration: none;
  text-align: left;
  margin: 25px 0;
}

.mat-expansion-panel-header {
  padding: 0 15px 0 0;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  font-size: 20px !important;
  font-weight: normal !important;
  line-height: 30px;
}

mat-panel-title img {
  margin-right: 20px !important;
}

.accordion-menu-item {
  margin: 25px 0 !important;
}

.accordion-menu-item /deep/ .mat-expansion-panel-body {
  padding: 0 0 0 14px;
}

.accordion-menu-item /deep/ .mat-expansion-panel-body ul li {
  border-left: 2px solid #eaeaea;
  padding: 15px 0 15px 30px;
  position: relative;
}

.accordion-menu-item /deep/ .mat-expansion-panel-body ul li.active{
    color: #1f4f9e;
}


.accordion-menu-item /deep/ .mat-expansion-panel-body ul li img {
  position: absolute;
  left: 0%;
  top: 50%;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
}

.accordion-menu-item /deep/ .mat-expansion-panel-body ul a {
    margin: 0 !important;
    padding: 0 !important;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
