<mat-sidenav-container class="example-container">
  <mat-sidenav *ngIf="loggedInUser" #sidenav mode="side" opened [fixedInViewport]="true" [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <img src="../../assets/logo.svg" alt="">
    <!-- side menu -->
    <section class="side-menu-holder">
      <ul>
        <a mat-button [routerLink]="['/dashboard']"
          [ngClass]="activeRoute[1] == 'dashboard' &&  activeRoute.length == 2 ? 'active' : ''">
          <li><img src="../../assets/dashboard.svg" alt=""> Dashboard</li>
        </a>
        <li class="accordion-menu-item">
          <!-- Manage Profile -->
          <mat-accordion >
            <mat-expansion-panel [expanded]="activeRoute[2] == 'profile' || activeRoute[2] == 'bank-info' || activeRoute[2] == 'change-password'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <img src="../../assets/seller-Profile.svg" alt="">
                  Manage Profile
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="child-item">
                <a [routerLink]="['/dashboard/profile']">
                  <li [ngClass]="activeRoute[2] == 'profile' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'profile'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'profile'" src="../../assets/dot-light.svg" alt=""> Company Profile
                  </li>
                </a>
                <!-- <a [routerLink]="['/dashboard/bank-info']">
                  <li [ngClass]="activeRoute[2] == 'bank-info' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'bank-info'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'bank-info'" src="../../assets/dot-light.svg" alt="">Bank Account
                    Information
                  </li>
                </a> -->
                <a [routerLink]="['/dashboard/change-password']">
                  <li [ngClass]="activeRoute[2] == 'change-password' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'change-password'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'change-password'" src="../../assets/dot-light.svg" alt="">Change
                    Password
                  </li>
                </a>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </li>
        <li class="accordion-menu-item">
          <!-- Manage Subscription -->
          <mat-accordion>
            <mat-expansion-panel [expanded]="activeRoute[2] == 'subscription-plan' || activeRoute[2] == 'payment-history'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <img src="../../assets/Wallet.svg" alt="">
                  Manage Subscription
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="child-item">
                <a [routerLink]="['/dashboard/subscription-plan']">
                  <li [ngClass]="activeRoute[2] == 'subscription-plan' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'subscription-plan'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'subscription-plan'" src="../../assets/dot-light.svg" alt="">
                    Subscription Plan
                  </li>
                </a>
                <a [routerLink]="['/dashboard/payment-history']">
                  <li [ngClass]="activeRoute[2] == 'payment-history' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'payment-history'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'payment-history'" src="../../assets/dot-light.svg" alt="">Payment
                    History
                  </li>
                </a>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </li>
        <li class="accordion-menu-item">
          <!-- Manage Products -->
          <mat-accordion>
            <mat-expansion-panel [expanded]="activeRoute[2] == 'products' || activeRoute[2] == 'bulk-products-upload' || activeRoute[2] == 'upload-products'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <img src="../../assets/Chart.svg" alt="">
                  Manage Products
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="child-item">
                <a [routerLink]="['/dashboard/products']">
                  <li [ngClass]="activeRoute[2] == 'products' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'products'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'products'" src="../../assets/dot-light.svg" alt=""> Product Categories</li>
                </a>
                <a [routerLink]="['/dashboard/bulk-products-upload']">
                  <li [ngClass]="activeRoute[2] == 'bulk-products-upload' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'bulk-products-upload'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'bulk-products-upload'" src="../../assets/dot-light.svg" alt=""> Bulk Products Import</li>
                </a>
                <a [routerLink]="['/dashboard/upload-products']">
                  <li [ngClass]="activeRoute[2] == 'upload-products' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'upload-products'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'upload-products'" src="../../assets/dot-light.svg" alt=""> Upload Products</li>
                </a>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </li>
        <a mat-button [routerLink]="['/dashboard/manage-rfqs']" [ngClass]="activeRoute[2] == 'manage-rfqs' ? 'active' : ''">
          <li><img src="../../assets/seller-Document.svg" alt=""> Manage RFQs</li>
        </a>
        <a mat-button [routerLink]="['/dashboard/manage-quotations']" [ngClass]="activeRoute[2] == 'manage-quotations' ? 'active' : ''">
          <li><img src="../../assets/seller-Document.svg" alt=""> Manage Quotations</li>
        </a>
        <li class="accordion-menu-item">
          <!-- Manage Order -->
          <mat-accordion>
            <mat-expansion-panel [expanded]="activeRoute[2] == 'current-orders' || activeRoute[2] == 'order-history' || activeRoute[2] == 'invoices'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <img src="../../assets/Buy.svg" alt="">
                  Manage Order
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="child-item">
                <a [routerLink]="['/dashboard/current-orders']">
                  <li [ngClass]="activeRoute[2] == 'current-orders' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'current-orders'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'current-orders'" src="../../assets/dot-light.svg" alt=""> Current Order</li>
                </a>
                <a [routerLink]="['/dashboard/order-history']">
                  <li [ngClass]="activeRoute[2] == 'order-history' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'order-history'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'order-history'" src="../../assets/dot-light.svg" alt=""> Order History</li>
                </a>
                <a [routerLink]="['/dashboard/invoices']">
                  <li [ngClass]="activeRoute[2] == 'invoices' ? 'active' : ''">
                    <img *ngIf="activeRoute[2] == 'invoices'" src="../../assets/dot.svg" alt="">
                    <img *ngIf="activeRoute[2] != 'invoices'" src="../../assets/dot-light.svg" alt=""> Invoices</li>
                </a>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </li>
        <a mat-button [routerLink]="['/dashboard/support']" [ngClass]="activeRoute[2] == 'support' ? 'active' : ''">
          <li><img src="../../assets/Chat.svg" alt=""> Support</li>
        </a>
      </ul>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav *ngIf="loggedInUser" class="navbar navbar-expand-lg navbar-light bg-light"
      [ngClass]="sideMenuCollapsed ? 'nav-fluid':''">
      <button *ngIf="sideMenuCollapsed" class="toggle-slide-menu-btn" mat-button (click)="toggleSidenav()"
        (click)="setSideMenuCollapseVar()">
        <i class="fas fa-arrow-circle-right"></i>
      </button>
      <button *ngIf="!sideMenuCollapsed" class="toggle-slide-menu-btn" mat-button (click)="toggleSidenav()"
        (click)="setSideMenuCollapseVar()">
        <i class="fas fa-arrow-circle-left"></i>
      </button>
      <div class="container">
        <!-- top navbar -->
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-right: 30px" ngbDropdown>
            <div class="user-name" ngbDropdownToggle>
              <img *ngIf="loggedInUser" src="../assets/Profile.svg" alt="" />
              <span *ngIf="loggedInUser">{{userName}}</span>
            </div>
            <div ngbDropdownMenu>
              <div ngbDropdownItem (click)="logout();">
                <label class="">
                  <img src="../assets/seller-logout.svg" alt="" />
                  <span class="lan-title">Log out</span>
                </label>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <a class="nav-link" id="en-btn" ngbDropdownToggle>
                <img src="../assets/en-lan.svg" alt="" style="margin-right: 7.5px" />
                <img src="../assets/down-carrot.svg" alt="" />
              </a>
              <div id="lang-drop-down" ngbDropdownMenu aria-labelledby="en-btn">
                <div ngbDropdownItem>
                  <label class="lan-radio-btn">
                    <img src="../assets/en-lan.svg" alt="" />
                    <span class="lan-title">English</span>
                    <input type="radio" name="language" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <div ngbDropdownItem>
                  <label class="lan-radio-btn">
                    <img src="../assets/ar-lan.svg" alt="" />
                    <span class="lan-title">Arabic</span>
                    <input type="radio" name="language" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <a class="nav-link" id="notification-btn" ngbDropdownToggle>
                <img src="../assets/notification.svg" alt="" />
              </a>
              <div id="noti-panel" ngbDropdownMenu aria-labelledby="notification-btn" class="notification-list">
                <button ngbDropdownItem>
                  Your order #3342 has been confirmed!
                </button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>Your order #3342 is on the way!</button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>
                  #5463 order has been placed successfully.
                </button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>Your order #3342 is on the way!</button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>
                  #5463 order has been placed successfully.
                </button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>
                  #5463 order has been placed successfully.
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container" style="margin-top: 120px; background: #f9f9f9; min-height: calc(100vh - 120px);">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner></ngx-spinner>