<section>
    <h2 class="page-heading">{{'Seller_Bank_Info.title'|translate}}</h2>
</section>
<section class="card mb-5">
    <form [formGroup]="bankInfoForm" (ngSubmit)="onSubmit(bankInfoForm.value)">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="bankAcNumber">{{'Seller_Bank_Info.Number'|translate}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="../../../../assets/icons/card-small.svg" alt=""></div>
                </div>
                <!-- bankAcNumber -->
                <input id="bankAcNumber" class="form-control form-control-md" type="text" formControlName="bankAcNumber"
                  />
              </div>
              <div *ngIf="bankAcNumber.invalid && (bankAcNumber.dirty || bankAcNumber.touched)">
                <div *ngIf="bankAcNumber.errors?.required">
                  <app-form-input-alert [alertMsg]="'Account number is required.'"></app-form-input-alert>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label class="d-block">{{'Seller_Bank_Info.Account_Letter'|translate}}</label>
              <span  class="show-info" *ngIf="isInfo">{{'Seller_Bank_Info.isInfo'| translate}}</span>
              <label for="attachments" class="custom-file-upload" *ngIf="isShown">
                <!-- Attachments -->
                <input id="attachments" class="form-control form-control-md" type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf"
                  formControlName="attachments" (change)="handleFileSelect($event);" />
              </label>
              <ul class="attached-file">
                <li *ngFor="let file of existingFile; let i = index;">
                  {{file.name}}
                  <button type="button" mat-raised-button (click)="deleteFile(i);"><img src="../../../../assets/close.svg"
                    alt="" type="button"></button>
                </li>
                <li *ngFor="let file of selectedFile; let i = index;">
                  {{file.name}}
                  <button type="button" mat-raised-button (click)="removeFile(i);">
                    <img src="../../../../assets/close.svg" alt=""/>
                  </button>
                </li>
              </ul>
             <!--  <ul class="attached-file">
                
              </ul> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="bankName">{{'Seller_Bank_Info.Bank_Name'|translate}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="../../../../assets/icons/bank.svg" alt=""></div>
                </div>
                <!-- bankName -->
                <input id="bankName" class="form-control form-control-md" type="text" formControlName="bankName"
                  />
              </div>
              <div *ngIf="bankName.invalid && (bankName.dirty || bankName.touched)">
                <div *ngIf="bankName.errors?.required">
                  <app-form-input-alert [alertMsg]="'Bank name is required.'"></app-form-input-alert>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="swiftCode">{{'Seller_Bank_Info.Swift_Code'|translate}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="../../../../assets/icons/info-square.svg" alt=""></div>
                </div>
                <!-- swiftCode -->
                <input id="swiftCode" class="form-control form-control-md" type="text" formControlName="swiftCode"
                  />
              </div>
              <!-- <div *ngIf="swiftCode.invalid && (swiftCode.dirty || swiftCode.touched)">
                <div *ngIf="swiftCode.errors?.required">
                  <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="accountName">{{'Seller_Bank_Info.Account_Name'|translate}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="../../../../assets/Profile.svg" alt=""></div>
                </div>
                <!-- accountName -->
                <input id="accountName" class="form-control form-control-md" type="text" formControlName="accountName"
                  />
              </div>
              <div *ngIf="accountName.invalid && (accountName.dirty || accountName.touched)">
                <div *ngIf="accountName.errors?.required">
                  <app-form-input-alert [alertMsg]="'Account name is required.'"></app-form-input-alert>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="bankAddress">{{'Seller_Bank_Info.Bank_Address'|translate}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
                </div>
                <!-- company Address -->
                <input id="bankAddress" class="form-control form-control-md" type="text" formControlName="bankAddress"
                  />
              </div>
              <div *ngIf="bankAddress.invalid && (bankAddress.dirty || bankAddress.touched)">
                <div *ngIf="bankAddress.errors?.required">
                  <app-form-input-alert [alertMsg]="'Bank address is required.'"></app-form-input-alert>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group submit-btn">
              <button type="submit" mat-raised-button class="btn btn-primary btn-md btn-block login_btn" [disabled]="bankInfoForm.invalid || passMatched">
                {{'Buttons.Save'|translate}}
              </button>
            </div>
          </div>
        </div>
      </form>
</section>