.proceed-btn{
    background-color: #1F4F9E;
    color: white;
    font-style: normal;
    width: 320px;
    /* identical to box height */
    text-align: center;
}
.form-control{
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #2B2B2B;
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
}
label{
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    color: #2B2B2B;
}