*:focus {
  box-shadow: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  height: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px; /*  */
  line-height: 29px;
  border: none;
  color: black;
}

.btn {
  background: #454f63;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  height: 80px;
  margin-top: 0px;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  color: #2b2b2b;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .form-control {
    height: 50px;
    font-size: 16px;
  }
  .btn {
    font-weight: 500;
    height: 50px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .form-control {
    height: 60px;
    font-size: 18px;
  }
  .btn {
    font-weight: 500;
    height: 60px;
    font-size: 18px;
  }
}
