*:focus {
  box-shadow: none;
}
.card-body h4{
  font-size: 20px;
  line-height: 29px;
font-family: Jost;

}
.form-control {
  background: #efefef;
  border-radius: 5px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
line-height: 26px !important;
  border: none;
  color: black;
}
.error-div ul li{
  display: block !important;
}
.btn {
  background: #454f63;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  padding: 16px 40px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
font-family: Jost;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
line-height: 26px;
  /* identical to box height */
  color: #2b2b2b;
}
.error-msg{
  font-size: 16px;
  line-height: 23px;
  font-family: Jost;
  font-weight: normal;
  color: red;
}
@media only screen and (min-width: 300px) and (max-width: 991px) {
  .form-control {
    height: 50px;
    font-size: 16px;
  }
  .login_btn {
    font-weight: 500;
    height: 50px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .form-control {
    height: 48px;
    font-size: 14px;
    line-height: 20px;
    font-size: 14px;
line-height: 20px;
  }
  .login_btn {
    
    height: auto;
    width: auto;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 23px;
  }
  .card-body h4{
    font-size: 18px;
line-height: 26px;
  
  }
  .form-label{
    font-size: 14px;
line-height: 20px;
  }
  .error-msg{
    font-size: 14px;
    line-height: 20px;

  }

}
