<section class="container pt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card-body">
                <h4 class="pt-3">{{'No_data-msg.Token_msg'|translate}}</h4>
                <div class="form">
                    <div class="form-group">
                        <label class="form-label" for="token">{{'No_data-msg.Enter_token'|translate}} </label>
                        <input #token type="text" class="form-control" placeholder="Enter the token"
                            aria-describedby="basic-addon2">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">{{'No_data-msg.Enter_new_pass'|translate}} </label>
                        <input #password type="password" class="form-control" placeholder="Enter your password here" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="row justify-content-center pt-3">
                    <div *ngIf="error" class="error-div" class="col-12 col-md-12">
                    <ul  style="color: red;" class="error-msg">
                        <li *ngFor="let err of error">{{err}}</li>
                        <br>
                    </ul>
                </div>
                    <div *ngIf="msg" class="error-msg col-md-12">{{msg}}</div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-md btn-block login_btn" (click)="resetPassword(token.value, password.value);" mat-raised-button>{{'Seller_Tickets.Submit'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner></ngx-spinner>