<section class="container">
    <h2 class="page-heading">{{'Seller_Dashboard.Quick_View'|translate}}</h2>
    <div class="row">
        <!--rfq table data-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3  rfq" [routerLink]="['/dashboard/manage-rfqs']">
            <div class="table-view h-100">
                <div class="header-show">
                    <h3 class="header">{{'Seller_Menu.Manage_RFQs'|translate}}</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="rfqTableData?.length != 0">
                        <div class="row">
                            <div class="col-md-4 name">
                                {{'Seller_Dashboard.rfq_id'|translate}}
                            </div>
                            <div class="col-md-4 name">
                                {{'Seller_Dashboard.date' | translate}}
                            </div>
                            <div class="col-md-4 name">
                                {{'Seller_Dashboard.status' | translate}}
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="rfqTableData != null || rfqTableData != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of rfqTableData | slice:0:5;">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4 value">
                                    # {{item.rfq[0].id}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-4 value">
                                    {{item.created_at | date:'mediumDate'}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-4 value">
                                    <span *ngIf="item.rfq[0].comments == 'replied'">{{'Buyer_Quotation_History.Sent'|translate}}</span>
                                    <span *ngIf="item.rfq[0].comments == 'completed'">{{'Buyer_Quotation_History.Completed'|translate}}</span>
                                    <span *ngIf="item.rfq[0].comments == 'initiated'"> - </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="rfqTableData == null || rfqTableData == undefined || rfqTableData?.length == 0">
                        <div class="no-data">
                            {{'Buyer_Order_History.No_Data'|translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--quotation table data-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3" [routerLink]="['/dashboard/manage-quotations']">
            <div class="table-view h-100">
                <div class="header-show">
                    <h3 class="header">{{'Seller_Dashboard.Quotations_List'|translate}}</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="quotationTableData?.length != 0">
                        <div class="row">
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.Quotation_ID' | translate}}
                            </div>
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.date' | translate}}
                            </div>
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.rfq_id' | translate}}
                            </div>
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.status' | translate}}
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="quotationTableData != null || quotationTableData != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of quotationTableData | slice:0:5;">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                    # {{item.quotation_code}}
                                </div>
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                    {{item.created_at | date:'mediumDate'}}
                                </div>
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                    # {{item.rfq[0].id}}
                                </div>
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                <span *ngIf="item.status == 1">{{'Seller_Dashboard.Sent' | translate}}</span>
                                <span *ngIf="item.status == 2">{{'Seller_Dashboard.Waiting' | translate}}</span>
                                <span *ngIf="item.status == 3">{{'Seller_Dashboard.Completed' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="quotationTableData == null || quotationTableData == undefined || quotationTableData?.length == 0">
                        <div class="no-data">
                            {{'Buyer_Order_History.No_Data'|translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--order history-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3" [routerLink]="['/dashboard/order-history']">
            <div class="table-view h-100" >
                <div class="header-show">
                    <h3 class="header">{{'Seller_Menu.Order_History' | translate}}</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="orderHistory?.length != 0">
                        <div class="row">
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.Order_ID'|translate}}
                            </div>
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.Payment_Date' |translate}}
                            </div>
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.Delivery_Date'|translate}}
                            </div>
                            <div class="col-md-3 name">
                                {{'Seller_Dashboard.Amount'|translate}}
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="orderHistory != null || orderHistory != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of orderHistory | slice:0:5;">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                   <p> # {{item.order.order_code}}</p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                    <p> {{item.order.order_payment?.length>0 ? formatDate(item.order.order_payment[0].created_at) : '-'}}</p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                <p> {{formatDate(item.delivery_date)}}</p> 
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                  <p>  ${{item.order.total_amount}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="orderHistory == null || orderHistory == undefined || orderHistory?.length == 0">
                        <div class="no-data">
                            {{'Buyer_Order_History.No_Data'|translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--current orders-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3" [routerLink]="['/dashboard/current-orders']">
            <div class="table-view h-100" >
                <div class="header-show">
                    <h3 class="header">{{'Seller_Menu.Current_Orders'|translate}}</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="currentOrders?.length != 0">
                        <div class="row">
                            <div class="col-md-2 col-lg-2 name">
                                {{'Seller_Dashboard.Order_ID'|translate}}
                            </div>
                            <div class="col-md-2 col-lg-2 name">
                                {{'Seller_Dashboard.Payment_Date'|translate}}
                            </div>
                            <div class="col-md-2 col-lg-2 name">
                                {{'Seller_Dashboard.Delivery_Date'|translate}}
                            </div>
                            <div class="col-md-3 col-lg-3 name">
                                {{'Seller_Dashboard.status'|translate}}
                            </div>
                            <div class="col-md-3 col-lg-3 name">
                                {{'Seller_Dashboard.Amount'|translate}}
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="currentOrders != null || currentOrders != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of currentOrders | slice:0:5;">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-6 value">
                                    # {{item.order.order_code}}
                                </div>
                                <div class="col-xl-2 col-lg-2 col-6 value">
                                    {{item.order.order_payment?.length>0 ? formatDate(item.order.order_payment[0].created_at) : '-'}}
                                </div>
                                <div class="col-xl-2 col-lg-2 col-6 value">
                                    {{formatDate(item.delivery_date)}} 
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                    <p *ngIf="decide_status(item) == 1">{{'Seller_Dashboard.Recieved' | translate}}</p>
                                <p *ngIf="decide_status(item) == 2">{{'Seller_Dashboard.Recieved'|translate}}</p>
                                <p *ngIf="decide_status(item) == 3">{{'Seller_Dashboard.Processing' |translate}}</p>
                                <p *ngIf="decide_status(item) == 4">{{'Seller_Dashboard.Delivered' |translate}}</p>

                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                   $ {{item.order.total_amount}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="currentOrders == null || currentOrders == undefined || currentOrders?.length == 0">
                        <div class="no-data">
                            {{'Buyer_Order_History.No_Data'|translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>