<section>
    <h2 class="page-heading">Quick View</h2>
</section>
<section>
    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/dashboard/manage-rfqs']">
                <h3>Manage RFQs</h3>
                <div *ngIf="rfqTableData.length != 0">
                    <table mat-table [dataSource]="rfqTableData | slice:0:5" class="mat-elevation-z8 mb-5">
                        <!-- RFQ ID Column -->
                        <ng-container matColumnDef="RFQ ID">
                            <th mat-header-cell *matHeaderCellDef> RFQ ID </th>
                            <td mat-cell *matCellDef="let element"> #{{element.quotation_code}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.rfq[0].status == true">Sent</span>
                                <span *ngIf="element.rfq[0].status == false">Closed</span>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div class="no-data" *ngIf="rfqTableData.length == 0">
                    No data available
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a [routerLink]="['/dashboard/manage-quotations']">
                <h3>Quotations List</h3>
                <div *ngIf="rfqTableData.length != 0">
                    <table mat-table [dataSource]="rfqTableData | slice:0:5" class="mat-elevation-z8 mb-5">
                        <!-- RFQ ID Column -->
                        <ng-container matColumnDef="Quotation ID">
                            <th mat-header-cell *matHeaderCellDef> Quotation ID </th>
                            <td mat-cell *matCellDef="let element"> #{{element.quotation_code}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
                        </ng-container>

                        <!-- RFQ ID Column -->
                        <ng-container matColumnDef="RFQ ID">
                            <th mat-header-cell *matHeaderCellDef> RFQ ID </th>
                            <td mat-cell *matCellDef="let element"> #{{element.quotation_code}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.status == 1">Sent</span>
                                <span *ngIf="element.status == 2">Waiting</span>
                                <span *ngIf="element.status == 3">Completed</span>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </div>
                <div class="no-data" *ngIf="rfqTableData.length == 0">
                    No data available
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a [routerLink]="['/dashboard/order-history']">
                <h3>Order History</h3>
                <div *ngIf="OrderTableData.length != 0">
                    <table mat-table [dataSource]="OrderTableData | slice:0:5" class="mat-elevation-z8 mb-5">
                        <!-- RFQ ID Column -->
                        <ng-container matColumnDef="Order ID">
                            <th mat-header-cell *matHeaderCellDef> Order ID </th>
                            <td mat-cell *matCellDef="let element"> #{{element.order.order_code}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="Payment Date">
                            <th mat-header-cell *matHeaderCellDef> Payment Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.order.order_payment[0]?.created_at |
                                date}}
                            </td>
                        </ng-container>

                        <!-- Delivery Date Column -->
                        <ng-container matColumnDef="Delivery Date">
                            <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.delivery_date | date}} </td>
                        </ng-container>

                        <!-- Amount Column -->
                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                            <td mat-cell *matCellDef="let element"> {{element.order.total_amount}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>
                    </table>
                </div>
                <div class="no-data" *ngIf="OrderTableData.length == 0">
                    No data available
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a [routerLink]="['/dashboard/current-orders']">
                <h3>Current Order</h3>
                <div *ngIf="OrderTableData.length != 0">
                    <table mat-table [dataSource]="OrderTableData | slice:0:5" class="mat-elevation-z8 mb-5">
                        <!-- RFQ ID Column -->
                        <ng-container matColumnDef="Order ID">
                            <th mat-header-cell *matHeaderCellDef> Order ID </th>
                            <td mat-cell *matCellDef="let element"> #{{element.order.order_code}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="Payment Date">
                            <th mat-header-cell *matHeaderCellDef> Payment Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.order.order_payment[0]?.created_at |
                                date}}
                            </td>
                        </ng-container>

                        <!-- Delivery Date Column -->
                        <ng-container matColumnDef="Delivery Date">
                            <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.delivery_date | date}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.status == 1">Created</span>
                                <span *ngIf="element.status == 2">Confirmed</span>
                                <span *ngIf="element.status == 3">Processing</span>
                                <span *ngIf="element.status == 3">Delivered</span>
                                <span *ngIf="element.status == 3">Completed</span>
                            </td>
                        </ng-container>

                        <!-- Amount Column -->
                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                            <td mat-cell *matCellDef="let element"> {{element.order.total_amount}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedOrderColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedOrderColumns2;"></tr>
                    </table>
                </div>
                <div class="no-data" *ngIf="OrderTableData.length == 0">
                    No data available
                </div>
            </a>
        </div>
    </div>
</section>