<section class="container">
    <h2 class="page-heading">Quick View</h2>
    <div class="row">
        <!--rfq table data-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3  rfq" [routerLink]="['/dashboard/manage-rfqs']">
            <div class="table-view h-100">
                <div class="header-show">
                    <h3 class="header">Manage RFQs</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="rfqTableData?.length != 0">
                        <div class="row">
                            <div class="col-md-4 name">
                                RFQ ID
                            </div>
                            <div class="col-md-4 name">
                                Date
                            </div>
                            <div class="col-md-4 name">
                                Status
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="rfqTableData != null || rfqTableData != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of rfqTableData | slice:0:5;">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4 value">
                                    # {{item.quotation_code}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-4 value">
                                    {{item.created_at | date:'mediumDate'}}
                                </div>
                                <div class="col-lg-4 col-md-4 col-4 value">
                                    <span *ngIf="item.rfq[0].status == true">Sent</span>
                                    <span *ngIf="item.rfq[0].status == false">Closed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="rfqTableData == null || rfqTableData == undefined || rfqTableData?.length == 0">
                        <div class="no-data">
                            No data available
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--quotation table data-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3" [routerLink]="['/dashboard/manage-quotations']">
            <div class="table-view h-100">
                <div class="header-show">
                    <h3 class="header">Quotations List</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="rfqTableData?.length != 0">
                        <div class="row">
                            <div class="col-md-3 name">
                                Quotation ID
                            </div>
                            <div class="col-md-3 name">
                                Date
                            </div>
                            <div class="col-md-3 name">
                                RFQ ID
                            </div>
                            <div class="col-md-3 name">
                                Status
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="rfqTableData != null || rfqTableData != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of rfqTableData | slice:0:5;">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                    # {{item.quotation_code}}
                                </div>
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                    {{item.created_at | date:'mediumDate'}}
                                </div>
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                    # {{item.quotation_code}}
                                </div>
                                <div class="col-lg-3 col-xl-3 col-6 value">
                                    <span *ngIf="item.status == 1">Sent</span>
                                <span *ngIf="item.status == 2">Waiting</span>
                                <span *ngIf="item.status == 3">Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="rfqTableData == null || rfqTableData == undefined || rfqTableData?.length == 0">
                        <div class="no-data">
                            No data available
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--order history-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3" [routerLink]="['/dashboard/order-history']">
            <div class="table-view h-100" >
                <div class="header-show">
                    <h3 class="header">Order History</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="OrderTableData?.length != 0">
                        <div class="row">
                            <div class="col-md-3 name">
                                Order ID
                            </div>
                            <div class="col-md-3 name">
                                Payment Date
                            </div>
                            <div class="col-md-3 name">
                                Delivery Date
                            </div>
                            <div class="col-md-3 name">
                                Amount
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="OrderTableData != null || OrderTableData != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of OrderTableData | slice:0:5;">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                   <p> # {{item.order.order_code}}</p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                    <p> {{item.order.order_payment[0]?.created_at | date:'mediumDate'}}</p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                <p> {{item.delivery_date | date :'mediumDate'}}</p> 
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                  <p>  ${{item.order.total_amount}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="OrderTableData == null || OrderTableData == undefined || OrderTableData?.length == 0">
                        <div class="no-data">
                            No data available
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--current orders-->
        <div class="col-lg-12 col-xl-6 col-md-12 mt-3" [routerLink]="['/dashboard/current-orders']">
            <div class="table-view h-100" >
                <div class="header-show">
                    <h3 class="header">Current Order</h3>
                </div>
                <div class="row p-3">


                    <div class="col-md-12 card-header" *ngIf="OrderTableData?.length != 0">
                        <div class="row">
                            <div class="col-md-2 col-lg-2 name">
                                Order ID
                            </div>
                            <div class="col-md-2 col-lg-2 name">
                                Payment Date
                            </div>
                            <div class="col-md-2 col-lg-2 name">
                                Delivery Date
                            </div>
                            <div class="col-md-3 col-lg-3 name">
                                Status
                            </div>
                            <div class="col-md-3 col-lg-3 name">
                                Amount
                            </div>
                        </div>
                    </div>
                    <!--cards with valid data-->
                    <div class="col-12 cards" *ngIf="OrderTableData != null || OrderTableData != undefined">
                        <div class="show-values no-shadow" *ngFor="let item of OrderTableData | slice:0:5;">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-6 value">
                                    # {{item.order.order_code}}
                                </div>
                                <div class="col-xl-2 col-lg-2 col-6 value">
                                    {{item.order.order_payment[0]?.created_at | date:'mediumDate'}}
                                </div>
                                <div class="col-xl-2 col-lg-2 col-6 value">
                                    {{item.delivery_date | date :'mediumDate'}} 
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                    <p *ngIf="item.status == 1">Recieved</p>
                                <p *ngIf="item.status == 2">Recived</p>
                                <p *ngIf="item.status == 3">Processing</p>
                                <p *ngIf="item.status == 4">Delivered</p>

                                </div>
                                <div class="col-xl-3 col-lg-3 col-6 value">
                                   $ {{item.order.total_amount}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cards with no data-->
                    <div class="col-12" *ngIf="OrderTableData == null || OrderTableData == undefined || OrderTableData?.length == 0">
                        <div class="no-data">
                            No data available
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>