<!--17th and 20th march 2021-->
<section class="about-us">
    <!-- First row content -->
    <div class="first-row mt-0 ml-0">
        <div class="img-div-top m-0 p-0 h-100">

            <img src="../../../../assets/about-us-top.png" alt="about-us" class="img-fluid m-0 p-0 h-100">
        </div>
        <div class="text-div">
            <h1 class="pb-2">Who We Are</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.
                <br><br>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable.
            </p>
        </div>
    </div>
    <!-- 2nd row vision row -->
    <div class="vision-row">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
                    <!--text row -->
                    <div class="vision-text">
                        <h1 class="head pb-2">Vision</h1>
                        <ul class="vision-list">
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum
                                has been the industry's standard dummy text.</li>
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </li>
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </li>
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>

                        </ul>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
                    <!--image row-->
                    <div class="image-div">

                        <img src="../../../../assets/vision.png" alt="vision" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--3rd row mission row-->
    <div class="mission-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 col-12">
                    <!--image row-->
                    <div class="mission-div">

                        <img src="../../../../assets/mission.png" alt="mission" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 col-12">
                    <!--text row -->
                    <div class="mission-text">
                        <h1 class="head pb-2">Mission</h1>
                        <ul class="vision-list">
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum
                                has been the industry's standard dummy text.</li>
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </li>
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </li>
                            <li class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4th row values row-->

    <div class="value-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-12">
                    <div class="values-text">
                        <h1 class="head pb-2">Values</h1>
                        <p class="value-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged. It is a long
                            established fact
                            that a reader will be distracted.</p>
                    </div>
                    <div class="values-img">
                        <img src="../../../../assets/values.png" alt="values" class="img-fluid mt-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>