/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.mat-table {
  background-color: transparent !important;
  padding: 0 20px;
  font-family: Jost !important;
}

.card-body {
  padding: 40px;
}
.edit-product-btn{
  font-family: Jost;
}
tr.mat-row,
tr.mat-footer-row {
  height: 60px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
/*   -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
 /*  border-bottom: 2px solid #1F4F9E !important; */
}


tr.mat-row:hover,
tr.mat-footer-row:hover{

  /* border-bottom: 2px solid #1F4F9E !important; */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 20%);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 20%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
} 

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px !important;
}

table tr:last-child td {
  border-bottom: 0 solid;
}

th {
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}

td {
  font-weight: normal;
  font-size: 18px;
  color: #2b2b2b;
}
.btn-primary {
  color: rgb(0, 0, 0);
  background-color: inherit;
  border-style: none !important;
  font-family: Jost !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1f4f9e;
  border-color: #1f4f9e;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .card-body {
    padding: 0;
    overflow-x: auto;
  }
  .order-table-div {
    padding: 0;
  }
  ::ng-deep .mat-paginator-range-label {
    margin: 0 0px 0 0px;
  }
  ::ng-deep .mat-paginator-container {
    padding: 0 !important;
  }
  .mat-table {
    padding: 15px;
  }
  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }
  ::ng-deep th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-left: 15px !important;
  }
  th {
    font-size: 16px;
  }

  td {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  th,td,.edit-product-btn,.btn-primary{
    font-size: 14px;
    line-height: 20px;
  }
  .no-data{
    font-size: 16px;
    line-height: 23px;
  }
}