<section>
  <div class="card-body">
    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Payment Date</th>
          <th scope="col">Delivery Date</th>
          <th scope="col">Amount</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td scope="row">#{{order.order_code}}</td>
          <td>{{order.order_payment[0]!==undefined?order.order_payment[0].created_at:"" | date}}</td>
          <td>{{order.tracking_order[0]!==undefined?order.tracking_order[0].delivery_date:"" | date}}</td>
          <td>{{order.total_amount}}</td>
          <td>
            <button class="btn btn-primary" type="button" [routerLink]="['/order/details/',order.id]">view</button>
          </td>
        </tr>
      </tbody>
    </table> -->
    <table mat-table [dataSource]="orderData | slice: lowValue:highValue">
      <!-- quotation id Column -->
      <ng-container matColumnDef="Order ID">
        <th mat-header-cell *matHeaderCellDef>{{'Buyer_Order_History.Order_ID' | translate}}</th>
        <td mat-cell *matCellDef="let element">#{{ element.order_code }}</td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="Payment Date">
        <th mat-header-cell *matHeaderCellDef>{{'Buyer_Order_History.Payment_Date' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.order_payment?.length > 0
              ? (element.order_payment[0].created_at | date)
              : ("" | date)
          }}
        </td>
      </ng-container>

      <!--rfq id Column -->
      <ng-container matColumnDef="Delivery Date">
        <th mat-header-cell *matHeaderCellDef>{{'Buyer_Order_History.Delivery_Date' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.tracking_order?.length>0
              ? (element.tracking_order[0].delivery_date | date)
              : ("" | date)
          }}
        </td>
      </ng-container>
      <!-- buyer name Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef>{{'Buyer_Order_History.Amount' | translate}}</th>
        <td mat-cell *matCellDef="let element">SAR {{ element.total_amount }}</td>
      </ng-container>
      <!--view coloumn-->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            class="edit-product-btn"
            mat-button
            [routerLink]="['/order/details/', element.id]"
            align="right"
          >
          {{'Buyer_Order_History.View' | translate}}
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="5"
      [length]="orderData.length"
      showFirstLastButtons
      (page)="getPaginatorData($event)"
      *ngIf="orderData?.length>5"
    ></mat-paginator>
    <div class="no-data" *ngIf="orderData == undefined || orderData == null">
      {{'Buyer_Order_History.No_Data' | translate}}
    </div>
  </div>
</section>
