<section>
  <div class="card-body">
    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Payment Date</th>
          <th scope="col">Delivery Date</th>
          <th scope="col">Amount</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td scope="row">#{{order.order_code}}</td>
          <td>{{order.order_payment[0]!==undefined?order.order_payment[0].created_at:"" | date}}</td>
          <td>{{order.tracking_order[0]!==undefined?order.tracking_order[0].delivery_date:"" | date}}</td>
          <td>{{order.total_amount}}</td>
          <td>
            <button class="btn btn-primary" type="button" [routerLink]="['/order/details/',order.id]">view</button>
          </td>
        </tr>
      </tbody>
    </table> -->
    <table mat-table [dataSource]="orderData">
      <!-- quotation id Column -->
      <ng-container matColumnDef="Order ID">
        <th mat-header-cell *matHeaderCellDef>Order ID</th>
        <td mat-cell *matCellDef="let element">#{{ element.order_code }}</td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="Payment Date">
        <th mat-header-cell *matHeaderCellDef>Payment Date</th>
        <td mat-cell *matCellDef="let element">{{
          element.order_payment[0]!==undefined?element.order_payment[0].created_at:"" | date }}</td>
      </ng-container>

      <!--rfq id Column -->
      <ng-container matColumnDef="Delivery Date">
        <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
        <td mat-cell *matCellDef="let element">{{
          element.tracking_order[0]!==undefined?element.tracking_order[0].delivery_date:"" | date }}</td>
      </ng-container>
      <!-- buyer name Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{element.total_amount}} </td>
      </ng-container>
      <!--view coloumn-->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="edit-product-btn" mat-button [routerLink]="['/order/details/',element.id]"
            align="right">View</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="orderData.length" showFirstLastButtons
      *ngIf="orderData != undefined || orderData != null"></mat-paginator>
    <div class="no-data" *ngIf="orderData == undefined || orderData == null">
      No data available
    </div>
  </div>
</section>