@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

a:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  height: 120px;
  background: #F4F4F4 !important;
}

.navbar-brand img {
  height: 80px;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-light #navbarSupportedContent1 .navbar-nav .nav-link {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #2b2b2b;
  margin-top: 13px;
}

.navbar-light #navbarSupportedContent2 .navbar-nav .nav-link {
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #2b2b2b;
  margin-top: 13px;
}

.nav-link.active {
  color: #1f4f9e !important;
}

nav .dropdown-menu {
  top: 90px;
  left: unset;
  right: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
}

nav .dropdown-item {
  padding: 20px 30px;
}

.all-products-list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 120px;
  background: #fff;
  padding: 40px 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.02);
  font-size: 18px;
  text-transform: capitalize;
}

.all-products-list .row {
  width: 100%;
}

.all-products-list .row .col-md-2 {
  padding-bottom: 35px;
  border-right: 1px solid rgba(43, 43, 43, 0.2);
}

.all-products-list .row .col-md-2:nth-child(6n) {
  border-right: none;
}

.user-name {
  margin: 5px 0 0;
}

.user-name img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eee;
  padding: 10px 2px 10px 5px;
  margin-right: 15px;
}

/* hide default bootstrap down carrot */

nav .dropdown-toggle::after {
  display: none;
}

.lan-radio-btn {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.lan-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
}

.checkmark::after {
  content: "";
  display: none;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  background-image: url("../../../../assets/checkmark.svg");
}

.lan-radio-btn input:checked ~ .checkmark::after {
  display: block;
}

.lan-title {
  margin-left: 10px;
  margin-right: 37px;
}

nav .notification-list {
  max-height: 320px;
  overflow-y: scroll;
}

nav .profile-list img {
  margin-right: 10px;
}

.secondary-menu {
  height: 80px;
  background: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.05);
  margin-top: 120px;
  z-index: 9;
}

.secondary-menu .nav-link {
  margin-top: 0px !important;
  position: relative;
}

.secondary-menu .emdad-sell {
  margin-top: 100px !important;
  background-color: violet;
  position: relative;
}

.secondary-menu .nav-link:hover {
  color: #1f4f9e !important;
  transition: ease-in 0.3s;
}

.secondary-menu .nav-link:hover .menu-underline {
  width: 60%;
  transition: ease-in 0.3s;
}

.secondary-menu .nav-link .menu-underline.active {
  width: 60%;
  transition: ease-in 0.3s;
}

.menu-underline {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 0%;
  border-bottom: 2px solid #1f4f9e;
  transition: ease-in 0.3s;
}

button:focus {
  outline: none;
}

.sell-emdad {
  background: #1f4f9e;
  border-radius: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.sell-emdad-link {
  -webkit-tap-highlight-color: transparent;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: Jost, Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  color: inherit;
  margin-top: 0px !important;
  position: relative;
}

.suggestion-box {
  width: inherit;
}

.sell-on-emdad-button {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: Jost, Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  color: inherit;
  margin-top: 0px !important;
  position: relative;
}

#accnt-drop-down button.active {
  color: #1f4f9e;
  font-weight: 600;
  background: #e8e8e8;
}

.user-name-holder {
  margin: 0 42px;
}

.user-name-holder .sign-text {
  display: inline-block;
}
.user-name-holder .sign-icon {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}

@media only screen and (max-width: 991px) {
  .d-sx-none {
    display: none;
  }
  nav {
    height: 60px;
  }
  .navbar-brand {
    margin: auto;
  }
  .navbar-brand img {
    height: 38px !important;
  }
  .menu-btn {
    position: absolute;
    left: 0px;
    border-radius: 50%;
    min-width: 64px;
    height: 64px;
  }
  .side-menu-holder {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    left: -100%;
    top: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .side-menu-div {
    position: absolute;
    width: 300px;
    height: 100vh;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    left: -300px;
    top: 0;
    transition: 0.5s;
  }
  .side-menu-holder-active {
    left: 0;
    opacity: 1;
    transition: 0.5s;
  }
  .side-menu-div-active {
    left: 0;
    transition: 0.5s;
  }
  .side-menu {
    position: relative;
    padding: 40px 30px;
  }
  .side-menu .close-btn {
    position: absolute;
    top: 21px;
    right: 1px;
    border-radius: 50%;
    min-width: 64px;
    height: 64px;
  }
  .menu-list {
    list-style: none;
    padding: 0;
  }
  .menu-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .menu-list li img {
    width: 20px;
    height: 20px;
    vertical-align: sub;
  }
  .menu-list li span {
    padding-left: 15px;
  }
  .menu-list li.active span {
    color: #1f4f9e;
    font-weight: 600;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand img {
    height: 50px;
  }
  .user-name-holder {
    margin: 0 15px;
  }
  .user-name-holder .sign-text {
    display: none;
  }
  .user-name-holder .sign-icon {
    display: inline-block;
    height: 30px;
  }
  .user-name span {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .navbar-brand img {
    height: 50px;
  }
  .user-name-holder {
    margin: 0 15px;
  }
  .user-name-holder .sign-text {
    display: inline-block;
  }
  .user-name-holder .sign-icon {
    display: none;
  }
  .user-name span {
    display: none;
  }
}
