<app-buyer-login-modal-form></app-buyer-login-modal-form>
<app-buyer-registration-modal-form></app-buyer-registration-modal-form>
<section class="d-md-block d-lg-none">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button mat-button class="menu-btn" (click)="showMenu();"><img src="../assets/Filter.svg" alt="" /></button>
    <a class="navbar-brand" [routerLink]="['/']"><img src="../assets/logo.svg" alt="logo" /></a>
    <div class="side-menu-holder" [ngClass]="{'side-menu-holder-active':showSideMenu}">
      <div class="side-menu-div" [ngClass]="{'side-menu-div-active':showSideMenu}">
        <div class="side-menu">
          <button mat-button class="close-btn" (click)="closeMenu();"><img src="../assets/close-dark.svg"
              alt="" /></button>
          <ul class="menu-list">
            <li [ngClass]="activeRoute[1] == 'home' ? 'active' : ''"><a [routerLink]="['/home']"
                (click)="closeMenu();"><img src="../../../../assets/Home-small.svg" alt="">
                <span>{{'Nav.Home' | translate}}</span></a></li>
            <li><a [routerLink]="['about-us']" (click)="closeMenu();"><img src="../../../../assets/Paper.svg" alt="">
                <span>{{'Nav.About_Us' | translate}}</span></a></li>
            <li><a [routerLink]="['products/categories']" (click)="closeMenu();"><img
                  src="../../../../assets/Category-small.svg" alt="">
                <span>{{'Nav.Categories' | translate}}</span></a></li>
            <li><a [routerLink]="['our-partners']" (click)="closeMenu();"><img src="../../../../assets/2-User.svg"
                  alt="">
                <span>{{'Nav.Our_Partners' | translate}}</span></a></li>
            <li><a  (click)="closeMenu();gotoView();"><img src="../../../../assets/Call-small.svg" alt="">
                <span>{{'Nav.Contact_Us' | translate}}</span></a></li>
            <li class="sell-emdad">
              <a class="sell-emdad-link" [routerLink]="['sell-on-emdad']" (click)="closeMenu();">
                {{'Nav.Sell_On_Emdad' | translate}}
              </a>
            </li>
            <hr>
            <li *ngIf="!loggedInUser"><span class="pl-0" (click)="closeMenu();" (click)="show_buyer_login()">
              <img src="../../../../assets/Login.svg" alt="">
                <span>{{'Nav.Sign_In' | translate}} / {{'Nav.Sign_Up' | translate}}</span></span></li>
            <div *ngIf="loggedInUser">
              <li [ngClass]="activeRoute[1] == 'profile' ? 'active' : ''" class="my-profile-menu">
                <!-- <a [routerLink]="['profile/', uId]" (click)="closeMenu();">
                  <img src="../../../../assets/Profile-small.svg" alt="">
                  <span>My Profile</span>
                </a> -->
                <mat-accordion>
                  <mat-expansion-panel [expanded]="false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="cat-head">
                          <img src="../../../../assets/Profile-small.svg" alt="">
                          <span>{{'Header_DropDowns.My_Profile'|translate}}</span>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="expanded-div">
                      <ul class="" style="list-style: none; padding: 0 0 0 11px;">
                        <li [routerLink]="['profile']" [queryParams]="{ activeItem: 1 }" (click)="closeMenu();">{{'Nav.Profile_Settings' | translate}}</li>
                        <li [routerLink]="['profile']" [queryParams]="{ activeItem: 2 }" (click)="closeMenu();">{{'Nav.Change_Password'|translate}}</li>
                        <li [routerLink]="['profile']" [queryParams]="{ activeItem: 3 }" (click)="closeMenu();">{{'Nav.Order_History'|translate}}</li>
                       <!--  <li [routerLink]="['profile']" [queryParams]="{ activeItem: 4 }" (click)="closeMenu();" class="mb-0">{{'Header_DropDowns.Quotations'|translate}}</li> -->
                      </ul>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
              <li [ngClass]="activeRoute[1] == 'track-orders' ? 'active' : ''"><a [routerLink]="['track-orders']"
                  (click)="closeMenu();"><img src="../../../../assets/Location-small.svg" alt=""> <span>{{'Header_DropDowns.Track_Orders' | translate}}
                  </span></a></li>
              <li [ngClass]="activeRoute[1] == 'wishlist' ? 'active' : ''"><a [routerLink]="['wishlist']"
                  (click)="closeMenu();"><img src="../../../../assets/Heart.svg" alt="">
                  <span>{{'Header_DropDowns.My_Wishlist' | translate}}</span></a></li>
                  <li [ngClass]="activeRoute[1] == 'profile?activeItem=4' ? 'active' : ''"><a 
                    (click)="closeMenu();go_to_quotation();"><img src="../assets/Document.svg" alt="" />
                    <span>{{'Header_DropDowns.Quotations' | translate}}</span></a></li>
              <li [ngClass]="activeRoute[1] == 'support-ticket' ? 'active' : ''"><a [routerLink]="['support-ticket']"
                  (click)="closeMenu();"><img src="../../../../assets/Danger.svg" alt="">
                  <span>{{'Header_DropDowns.Raise_a_support' | translate}}</span></a></li>
              <hr>
            </div>
            <li><a (click)="toggle_language()" [routerLink]="['/']" (click)="closeMenu();"><img src="../../../../assets/Swap.svg" alt="">
                <span>{{'Nav.Change_Language' | translate}} </span></a></li>
            <li  [ngClass]="activeRoute[1] == 'cart' ? 'active' : ''"><a [routerLink]="['cart']" 
                (click)="closeMenu();"><img src="../../../../assets/bag.svg" alt=""> <span>{{'Nav.Cart' | translate}}
                </span><span *ngIf="cartLength != null" style="color: red;">({{cartLength}})</span></a></li>
            <li [ngClass]="activeRoute[1] == 'cart' ? 'active' : ''" class="my-profile-menu">
              <a [routerLink]="['/']" (click)="closeMenu();" ><img src="../../../../assets/notification.svg" alt="">
                <span>{{'Nav.Notifications' | translate}} </span><span *ngIf="unread_notification_length>0" style="color: red;">({{unread_notification_length}})</span>
              </a>
              <!-- <mat-accordion>
                <mat-expansion-panel [expanded]="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="cat-head">
                        <img src="../../../../assets/notification.svg" alt="">
                        <span>{{'Nav.Notifications' | translate}}</span><span *ngIf="unread_notification_length>0" style="color: red;">({{unread_notification_length}})</span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="expanded-div">
                    <ul class="" style="list-style: none; padding: 0 0 0 11px;">
                      <li *ngFor="let notification of notification_messages;let i=index">{{notification}}</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-accordion> -->
            </li>
            <div *ngIf="loggedInUser">
              <hr>
              <li><a (click)="closeMenu();" (click)="logout()"><img src="../../../../assets/logout.svg" alt="">
                  <span style="color: #FF4B55">{{'Header_DropDowns.Log_Out' | translate}} </span></a></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>
<section class=" d-sx-none d-sm-none d-md-none d-lg-block">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']"><img src="../assets/logo.svg" alt="logo" /></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <div class="">
          <ul class="navbar-nav">
            <li *ngIf="showOnScroll" class="nav-item" style="margin-right: 17px">
              <div class="d-inline-block" ngbDropdown>
                <a class="nav-link" ngbDropdownToggle>
                  <!-- (click)="showAllProdlist()" -->
                  <span class="all-cat">{{'Banner.All_Cat' | translate}} </span>
                  <img src="../assets/down-carrot.svg" alt="" />
                </a>
                <!-- *ngIf="showAllProdDiv" -->
                <div class="all-products-list" ngbDropdownMenu>
                  <!-- all-products-list -->
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3 col-xl-2" *ngFor="let category of categories">
                        <a [routerLink]="['/products/category/', category.id]" ngbDropdownItem>{{
                          category.name | titlecase
                          }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li [ngClass]="{'d-none':!showOnScroll, 'd-block':showOnScroll}" class="nav-item search-prod">
              <app-search-for></app-search-for>
            </li>
            <li class="nav-item user-name-holder">
              <a (click)="show_buyer_login()" class="nav-link" *ngIf="!loggedInUser">
                <span class="sign-text">{{'Nav.Sign_In' | translate}} / {{'Nav.Sign_Up' | translate}}</span>
                <img class="sign-icon" src="../../../../assets/Login.svg" alt="">
              </a>
              <div class="user-name" *ngIf="loggedInUser">
                <a [routerLink]="['profile']">
                  <div class="d-inline-block user-img-holder">
                    <img class="img-fluid img-thumbnail" *ngIf="loggedInUser && loggedInUserImg == ''"
                      src="../../../../assets/Profile.svg" alt="" />
                    <img *ngIf="loggedInUserImg != ''" src="{{loggedInUserImg}}" alt="" />
                  </div>
                  <span *ngIf="loggedInUser && fullName == ''" style="margin-left: 15px;">{{userName}}</span>
                  <span *ngIf=" loggedInUser && fullName != ''" style="margin-left: 15px;">{{fullName}}</span>
                </a>
                
              </div>
            </li>
            <li class="nav-item">
              <div ngbDropdown class="d-inline-block">
                <a class="nav-link" id="en-btn" ngbDropdownToggle>
                  <img *ngIf="currentLang==='en'" src="../assets/en-lan.svg" alt="" style="margin-right: 7.5px" />
                  <img src="../assets/ar-lan.svg" *ngIf="currentLang==='ar'" alt="" style="margin-right: 7.5px" />
                  <img src="../assets/down-carrot.svg" alt="" />
                </a>
                <div id="lang-drop-down" ngbDropdownMenu aria-labelledby="en-btn">
                  <div ngbDropdownItem (click)="changeLang('en')">
                    <label class="lan-radio-btn">
                      <img src="../assets/en-lan.svg" alt="" />
                      <span class="lan-title">English</span>
                      <input type="radio" name="language" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div style="padding: 0 30px">
                    <mat-divider></mat-divider>
                  </div>
                  <div ngbDropdownItem (click)="changeLang('ar')">
                    <label class="lan-radio-btn">
                      <img src="../assets/ar-lan.svg" alt="" />
                      <span class="lan-title">Arabic</span>
                      <input type="radio" name="language" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- <a class="nav-link" id="ar-btn">
                <img src="../assets/ar-lan.svg" alt="" style="margin-right: 7.5px;">
                <img src="../assets/down-carrot.svg" alt="">
              </a> -->
            </li>
            <li class="nav-item" style="position: relative;">
              <a class="nav-link" [routerLink]="['/cart']">
                <img src="../assets/bag.svg" alt="" />
                <span *ngIf="cartLength != null" class="cart-length">{{cartLength}}</span>
              </a>
            </li>
            <li class="nav-item">
              <!-- (click)="handle_notification_drop()" -->
              <div ngbDropdown class="d-inline-block">
                <a (click)="markAllNotificationAsRead()" class="nav-link notification" id="notification-btn" ngbDropdownToggle>
                  <img src="../assets/notification.svg" alt="" />
                  <span *ngIf="unread_notification_length > 0" class="badge">{{unread_notification_length}}</span>
                </a>
                <div id="noti-panel" ngbDropdownMenu aria-labelledby="notification-btn" class="notification-list">
                  <div *ngFor="let notification of notifications;let i=index">
                    <button type="button" ngbDropdownItem (click)="notification_action(i)">
                      {{notification.notification}}
                    </button>
                    <div *ngIf="i!=notifications?.length-1" style="padding: 0 30px">
                      <mat-divider></mat-divider>
                    </div>
                  </div>
                  
                </div>
              </div>
            </li>
            <li class="nav-item">
              <!-- (click)="handle_accnt_drop_down();" -->
              <div ngbDropdown class="d-inline-block">
                <a class="nav-link" ngbDropdownToggle>
                  <img src="../assets/hamburger.svg" alt="" />
                </a>
                <div id="accnt-drop-down" ngbDropdownMenu class="profile-list">
                  <button ngbDropdownItem [ngClass]="activeRoute[1] == 'profile' ? 'active' : ''"
                    [routerLink]="['profile']">
                    <img src="../assets/Profile.svg" alt="" />{{'Header_DropDowns.My_Profile' | translate}}
                  </button>
                  <button ngbDropdownItem [ngClass]="activeRoute[1] == 'track-orders' ? 'active' : ''"
                    [routerLink]="['track-orders']">
                    <img src="../assets/Location.svg" alt="" />{{'Header_DropDowns.Track_Orders' | translate}}
                  </button>
                  <button ngbDropdownItem [ngClass]="activeRoute[1] == 'wishlist' ? 'active' : ''"
                    [routerLink]="['wishlist']">
                    <img src="../assets/Heart.svg" alt="" />{{'Header_DropDowns.My_Wishlist' | translate}}
                  </button>
                  <button ngbDropdownItem [ngClass]="activeRoute[1] == 'profile?activeItem=4' ? 'active' : ''" (click)="go_to_quotation()">
                    <img src="../assets/Document.svg" alt="" />{{'Header_DropDowns.Quotations'|translate}}
                  </button>
                  <button ngbDropdownItem [ngClass]="activeRoute[1] == 'support-ticket' ? 'active' : ''"
                    [routerLink]="['/support-ticket']">
                    <img src="../assets/Danger.svg" alt="" />{{'Header_DropDowns.Raise_a_support' | translate}}
                  </button>
                  <button *ngIf="loggedInUser" (click)="logout()" ngbDropdownItem style="color: #FF4B55;">
                    <img alt="" src="../assets/logout.svg" />{{'Header_DropDowns.Log_Out'|translate}}
                  </button>
                </div>
              </div>
            </li>
            <!-- <li class="nav-item" *ngIf="uGroup == 'seller'">
              <a class="nav-link" [routerLink]="['/add']">Add Product</a>
            </li>
            <li class="nav-item" *ngIf="uGroup == 'seller'">
              <a class="nav-link" [routerLink]="['/orders']">Orders</a>
            </li>
            <li class="nav-item" *ngIf="uGroup == 'seller'">
              <a class="nav-link" [routerLink]="['/subscription/plans']">Plans</a>
            </li>
            <li class="nav-item" *ngIf="loggedInUser">
              <a class="nav-link text-uppercase" [routerLink]="['/profile/', uId]">{{userName}}</a>
            </li>
            <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" [routerLink]="['buyer/login']">Login</a>
            </li>
            <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" [routerLink]="['/signup']">Signup</a>
            </li>
            <li class="nav-item" *ngIf="loggedInUser">
              <a class="nav-link" (click)=logout(); type="button">Logout</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>
<section class=" d-sx-none d-sm-none d-md-none d-lg-block">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light secondary-menu">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
        aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row justify-content-between" id="navbarSupportedContent2">
        <div class="float-left">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-right: 17px">
              <a class="nav-link" [routerLink]="['/home']" [ngClass]="activeRoute[1] == 'home' ? 'active' : ''">
                {{'Nav.Home' | translate}}
                <span class="menu-underline" [ngClass]="activeRoute[1] == 'home' ? 'active' : ''"></span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 17px">
              <a class="nav-link" [routerLink]="['about-us']" [ngClass]="activeRoute[1] == 'about-us' ? 'active' : ''">
                {{'Nav.About_Us' | translate}}
                <span class="menu-underline" [ngClass]="activeRoute[1] == 'about-us' ? 'active' : ''"></span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 17px">
              <a class="nav-link" [routerLink]="['products/categories']">
                {{'Nav.Categories' | translate}}
                <span class="menu-underline"></span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 17px">
              <a class="nav-link" [routerLink]="['our-partners']">
                {{'Nav.Our_Partners' | translate}}
                <span class="menu-underline"></span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 17px">
              <a class="nav-link" (click)="gotoView();">
                {{'Nav.Contact_Us' | translate}}
                <span class="menu-underline"></span>
              </a>
            </li>
            <!-- <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" data-toggle="modal" (click)="show_buyer_login()" type="button">Buyer login</a>
            </li>
            <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" data-toggle="modal" (click)="show_buyer_registration()" type="button">Buyer
                Registration</a>
            </li> -->
          </ul>
        </div>
        <div class="nav-item sell-emdad">
          <a class="sell-emdad-link" [routerLink]="['sell-on-emdad']">
            {{'Nav.Sell_On_Emdad' | translate}}
          </a>
        </div>
      </div>
    </div>
  </nav>
</section>