<app-buyer-login-modal-form></app-buyer-login-modal-form>
<app-buyer-registration-modal-form></app-buyer-registration-modal-form>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img src="../assets/logo.svg" alt="logo" /></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <div class="">
        <ul class="navbar-nav">
          <li *ngIf="showOnScroll" class="nav-item active" style="margin-right: 17px">
            <a class="nav-link" (click)="showAllProdlist()">
              <span>All Products </span>
              <img src="../assets/down-carrot.svg" alt="" />
            </a>
            <div *ngIf="showAllProdDiv" class="all-products-list">
              <div class="container">
                <div class="row">
                  <div class="col-md-2" *ngFor="let category of categories">
                    <a [routerLink]="['/products/category/', category.id]">{{
                      category.name
                      }}</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li [ngClass]="{'d-none':!showOnScroll, 'd-block':showOnScroll}" class="nav-item search-prod">
            <app-search-for></app-search-for>
          </li>
          <li class="nav-item" style="margin-left: 42px">
            <a (click)="show_buyer_login()" class="nav-link" *ngIf="!loggedInUser">Sign in / Sign up</a>
            <div class="user-name">
              <img *ngIf="loggedInUser" src="../assets/Profile.svg" alt="" />
              <span *ngIf="loggedInUser">{{ userName }}</span>
            </div>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block" (click)="show_lang_drop()">
              <a class="nav-link" id="en-btn" ngbDropdownToggle>
                <img src="../assets/en-lan.svg" alt="" style="margin-right: 7.5px" />
                <img src="../assets/down-carrot.svg" alt="" />
              </a>
              <div id="lang-drop-down" ngbDropdownMenu aria-labelledby="en-btn">
                <div ngbDropdownItem>
                  <label class="lan-radio-btn">
                    <img src="../assets/en-lan.svg" alt="" />
                    <span class="lan-title">English</span>
                    <input type="radio" name="language" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <div ngbDropdownItem>
                  <label class="lan-radio-btn">
                    <img src="../assets/ar-lan.svg" alt="" />
                    <span class="lan-title">Arabic</span>
                    <input type="radio" name="language" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <!-- <a class="nav-link" id="ar-btn">
                <img src="../assets/ar-lan.svg" alt="" style="margin-right: 7.5px;">
                <img src="../assets/down-carrot.svg" alt="">
              </a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">
              <img src="../assets/bag.svg" alt="" />
            </a>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block" (click)="handle_notification_drop()">
              <a class="nav-link" id="notification-btn" ngbDropdownToggle>
                <img src="../assets/notification.svg" alt="" />
              </a>
              <div id="noti-panel" ngbDropdownMenu aria-labelledby="notification-btn" class="notification-list">
                <button ngbDropdownItem>
                  Your order #3342 has been confirmed!
                </button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>Your order #3342 is on the way!</button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>
                  #5463 order has been placed successfully.
                </button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>Your order #3342 is on the way!</button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>
                  #5463 order has been placed successfully.
                </button>
                <div style="padding: 0 30px">
                  <mat-divider></mat-divider>
                </div>
                <button ngbDropdownItem>
                  #5463 order has been placed successfully.
                </button>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block" (click)="handle_accnt_drop_down();">
              <a class="nav-link" ngbDropdownToggle>
                <img src="../assets/hamburger.svg" alt="" />
              </a>
              <div id="accnt-drop-down" ngbDropdownMenu class="profile-list">
                <button ngbDropdownItem [routerLink]="['profile/', uId]">
                  <img src="../assets/Profile.svg" alt="" />My Profile
                </button>
                <button ngbDropdownItem [routerLink]="['track-orders']">
                  <img src="../assets/Location.svg" alt="" />Track Order
                </button>
                <button ngbDropdownItem [routerLink]="['wishlist']">
                  <img src="../assets/Heart.svg" alt="" />My Wishlist
                </button>
                <!-- <button ngbDropdownItem>
                    <img src="../assets/Document.svg" alt="" />Quotations
                  </button> -->
                <button ngbDropdownItem [routerLink]="['/support-ticket']">
                  <img src="../assets/Danger.svg" alt="" />Raise a support
                  ticket
                </button>
                <button *ngIf="loggedInUser" (click)="logout()" ngbDropdownItem style="color: #FF4B55;">
                  <img alt="" src="../assets/Logout.svg" />Logout
                </button>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item" *ngIf="uGroup == 'seller'">
              <a class="nav-link" [routerLink]="['/add']">Add Product</a>
            </li>
            <li class="nav-item" *ngIf="uGroup == 'seller'">
              <a class="nav-link" [routerLink]="['/orders']">Orders</a>
            </li>
            <li class="nav-item" *ngIf="uGroup == 'seller'">
              <a class="nav-link" [routerLink]="['/subscription/plans']">Plans</a>
            </li>
            <li class="nav-item" *ngIf="loggedInUser">
              <a class="nav-link text-uppercase" [routerLink]="['/profile/', uId]">{{userName}}</a>
            </li>
            <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" [routerLink]="['buyer/login']">Login</a>
            </li>
            <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" [routerLink]="['/signup']">Signup</a>
            </li>
            <li class="nav-item" *ngIf="loggedInUser">
              <a class="nav-link" (click)=logout(); type="button">Logout</a>
            </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light secondary-menu">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row justify-content-between" id="navbarSupportedContent2">
      <div class="float-left">
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-right: 17px">
            <a class="nav-link active" [routerLink]="['/']">
              Home
              <span class="menu-underline active"></span>
            </a>
          </li>
          <li class="nav-item" style="margin-right: 17px">
            <a class="nav-link">
              About Us
              <span class="menu-underline"></span>
            </a>
          </li>
          <!-- <li class="nav-item" style="margin-right: 17px">
              <a class="nav-link">
                Categories
                <span class="menu-underline"></span>
              </a>
            </li> -->
          <li class="nav-item" style="margin-right: 17px">
            <a class="nav-link">
              Our Partners
              <span class="menu-underline"></span>
            </a>
          </li>
          <li class="nav-item" style="margin-right: 17px">
            <a class="nav-link">
              Constact Us
              <span class="menu-underline"></span>
            </a>
          </li>
          <!-- <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" data-toggle="modal" (click)="show_buyer_login()" type="button">Buyer login</a>
            </li>
            <li class="nav-item" *ngIf="!loggedInUser">
              <a class="nav-link" data-toggle="modal" (click)="show_buyer_registration()" type="button">Buyer
                Registration</a>
            </li> -->
        </ul>
      </div>
      <div class="nav-item sell-emdad">
        <a class="sell-emdad-link" [routerLink]="['sell-on-emdad']">
          Sell on Emdad
        </a>
      </div>
    </div>
  </div>
</nav>