<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <div class="col d-flex justify-content-right">
          <button class="lang-btn">
            <i class="fas fa-language"></i>
            Arabic
          </button>
        </div>
      </div>
      <div class="card login-card">
        <div class="card-header">
          <h1 class="login-header">Login in</h1>
          <h4 class="login-sub-header text-center">Hi, Let’s get started !</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input id="email" name="email" class="form-control form-control-md" type="email" />
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input id="password" name="password" type="password" class="form-control form-control-md" />
              </div>
            </div>
            <div class="form-group row justify-content-between">
              <div class="col-4">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="autoSizingCheck" />
                  <label class="form-check-label" for="autoSizingCheck">Remember me</label>
                </div>
              </div>
              <div class="col-4">
                <a [routerLink]="['/forget-password']"><label>Forgot password?</label></a>
              </div>
            </div>
            <div class="form-group">
              <button (click)="login(username.value, password.value)" class="btn btn-primary btn-md btn-block login_btn"
                type="button">
                Sign In
              </button>
            </div>
            <div class="form-group">
              <div class="text-center">
                <label>No account yet?<a [routerLink]="['/seller/signup']" class="ml-1">Create an account</a></label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="card bg-dark text-white">
        <img src="../../../assets/login_page_image.svg" alt="align-self-center" class="card-img" />
        <div class="card-img-overlay p-5">
          <div class="row d-flex justify-content-center mb-2">
            <img src="../../../assets/emdad_logo.svg" alt="align-self-center" />
          </div>
          <div class="row d-flex justify-content-center mb-4">
            <h3 class="slogan">Your Slogan Here...</h3>
          </div>
          <div class="row d-flex justify-content-center mb-5">
            <h5 class="slogan-description" align="center">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </h5>
          </div>
          <div class="row d-flex justify-content-center mb-2">
            <div class="social-media">
              <a href="www.twitter.com">
                <img src="../../../assets/twitter.svg" class="social-icon" alt="align-self-center" /></a>
              <a href="www.instagram.com">
                <img src="../../../assets/instagram.svg" alt="align-self-center" class="social-icon" /></a>
              <a href="www.youtube.com">
                <img src="../../../assets/youtube.svg" class="social-icon" alt="align-self-center" /></a>
              <a href="www.pinterest.com">
                <img src="../../../assets/pinterest.svg" class="social-icon" alt="align-self-center" /></a>
            </div>
          </div>
          <div class="card-footer text-center">
            <span class="footer-text">6391 Elgin St. Celina, Delaware (907) 555-0101
              emdad@example.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div style="text-align:center">
  <h1>
    Login
  </h1>
</div>

<input #username type='text' placeholder='username'>
<input #password type='password' placeholder='password'>
<button (click)="login(username.value, password.value)">login</button>
<a [routerLink]="['/forget-password']">forgot password?</a>
<br>
<br>
<a [routerLink]="['/seller/login']">Seller Login</a> -->