@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

a {
  color: inherit;
}
.container{
  padding:20px;
  /* background: #e5e5e5; */
}


*:focus {
  outline: none;
}

.login-form-holder {
  padding: 0 60px;
}
/* #second,.login-page-social{
  padding-top: 20px;
  padding-bottom: 20px;
} */
.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  height: 80px;
  font-weight: 500;
  font-size: 24px;
}

.login-header {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #4D4D4D;
  margin-top: 70px;
  margin-bottom: 10px;
}

.login-sub-header {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 8px;
}

label {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

.card {
  border: none;
  width: 100%;
  background-color: transparent;
}

.btn {
  border: none;
}

.card-header {
  background-color: #f8f9fa00;
  border: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 80px;
  font-family: Jost;
}

.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 7px;
}

.input-group-text {
  border: 0 !important;
  background: #efefef;
  padding: 0 22px;
  font-size: 17px;
}
.input-group{
  background: #efefef;
  border-radius: 5px;
}
.form-control:focus {
  box-shadow: none;
  background: #efefef;
}

.lang-btn {
  background: #f49814;
  font-style: normal;
  color: #ffffff;
  border-radius: 30px;
  margin-left: auto;
  font-weight: normal;
  font-size: 20px;
  height: 50px;
  border: none;
  padding: 0 20px;
}

.lang {
  font-size: 12px;
  color: #ffffff;
}

.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}

.slogan {
  color: #ffffff;
  margin: 30px 0 20px;
  font-weight: unset;
  font-size: 30px;
  text-transform: uppercase;
  
}

.slogan-description {
font-family: Jost !important;
font-weight: 300 !important;
font-size: 22px;
line-height: 35px;

text-align: center;
color: #ffffff;
}

.card-footer {
  border-color: #ffffff !important;
}

.footer-text {
  color: #ffffff;
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
text-align: center;
text-transform: uppercase;

}

.social-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.login-page-social {
  background: url("../../../../assets/images/login-page-bg.png") center 100%
    no-repeat;
  width: 100%;
  height: 100%;
  min-height: 750px;
  border-radius: 20px;
}

.card-img-overlay {
  padding-left: 65px;
  padding-right: 65px;
}

.social-media{
  margin-bottom: 20px;
}

.social-media button {
  color: #1f4f9e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: none;
  
}
.social-media button:not(:last-child){
  margin-right: 15px;
}


.alert-danger{
  background: transparent;
  border: none;
  color: #ff5f92;
}
.join-text{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
}
.join{
  color: #1F4F9E;
  text-decoration-line: underline;
text-decoration-color: #1f4f9e; 
font-weight: 500;
}
/*RESPONSIVE -_-*/
/* @media only screen and (max-width:992px){
  #second{
    order: 2 !important;
  }
  #first{
    order: 1 !important;
  }
} */
@media only screen and (min-width:290px) and (max-width:575px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 80px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 600px;
  }
  .socially{
    display: none !important;
  }
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height:80px;
  }
  .lang-float{
    display: none !important;
  }
  .slogan-description{
    padding-left: 8px;
    padding-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .card-img-overlay {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
 }
 .card-img-overlay .mb-4{
  margin-bottom: 0;
 }
.card-footer{
  margin-bottom: 50px;
}
.login-header{
  font-size: 32px;
  line-height: 46px;
}
.login-sub-header{
  font-size: 18px;
  line-height: 25px;
}
.form-label,.form-check-label,.join-text{
  font-size: 16px;
  line-height: 22px;
}
.login_btn{
  height: 45px;
  font-size: 18px;
  line-height: 25px;
}
.lang-btn{
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
}
.container{
padding-bottom: 10px;

}

.slogan{
  font-size: 22px;
 
}
.slogan-description{
  font-size:16px;
  line-height: 25px;
}
.footer-text{
  font-size: 14px;
  line-height: 18px;
}
.social-media button{
  height: 30px;
  width: 30px;
}
 }
 
@media only screen and (min-width:576px) and (max-width:768px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 80px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 650px;
  }
  .lang-float{
    display: none !important;
  }
  .login-form-holder{
    padding: 5px;
  }
  .socially{
    display:none !important;
  }
  .logo-img{
    height: 100px;
  }
  .card-img-overlay {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
 }
 .card-img-overlay .mb-4{
  margin-bottom: 0;
 }
.card-footer{
  margin-bottom: 50px;
}
.login-header{
  font-size: 32px;
  line-height: 46px;
}
.login-sub-header{
  font-size: 20px;
  line-height: 30px;
}
.form-label,.form-check-label,.join-text{
  font-size: 18px;
  line-height: 25px;
}
.login_btn{
  height: 60px;
  font-size: 22px;
  line-height: 30px;
}
.lang-btn{
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
}
.container{
padding-bottom: 10px;

}

.slogan{
  font-size: 22px;
 
}
.slogan-description{
  font-size:16px;
  line-height: 25px;
}
.footer-text{
  font-size: 14px;
  line-height: 20px;
}
 }
 @media all and (min-width:768px) and (max-width:992px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png") center 100%
     no-repeat;
     min-height: 500px;
  }
  .lang-float{
    display: none !important;
  }
  .container{
    padding: 10px;
  }
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height: 100px;
  }
  .card-img-overlay {
   padding: 30px 20px;
 }
 .card-img-overlay >.mb-4{
  margin-bottom: 0;
 }
 .login-header{
   font-size: 40px;
   line-height: 62px;
 }
 .login-sub-header{
   font-size: 20px;
   line-height: 30px;
 }
 .form-label,.form-check-label,.join-text{
   font-size: 18px;
   line-height: 25px;
 }
 .login_btn{
   height: 60px;
   font-size: 22px;
   line-height: 30px;
 }
 .lang-btn{
   height: 40px;
   padding: 0 20px;
   font-size: 16px;
 }
 .socially{
   display: none !important;
 }
 
 .slogan{
   font-size: 25px;
  
 }
 .slogan-description{
   font-size:20px;
   line-height: 30px;
   padding-left: 10px;
   padding-right: 10px;
 }
 .footer-text{
   font-size: 16px;
   line-height: 24px;
 }
 }



@media all and (min-width:992px) and (max-width:1200px){
  .login-header{
    font-size: 32px;
line-height: 46px;
  }
  .login-sub-header{
    font-size: 16px;
line-height: 23px;
  }
  .lang-btn{
    height: 32px;
    font-size: 14px;
line-height: 20px;
padding: 4px 10px;
  }
  .form-label{
    font-size: 14px;
line-height: 20px;
  }
  .form-control{
    height: 48px;
    font-size: 14px;
    line-height: 20px;
  }
  .input-group-text img{
    height: 12px;
  }
  .form-check-label{
    font-size: 14px;
line-height: 20px;
  }
  .login_btn{
    height: 48px;
    font-size: 16px;
line-height: 23px;
  }
  .join-text,.join{
    font-size: 13px;
line-height: 19px;
  }
  /*social*/
  .logo-img{
 height: 100px;
  }
  .slogan{
    font-size: 20px;
line-height: 29px;
  }
  .card-img-overlay{
    padding-top: 30px;
    padding-bottom: 20px;
    max-height: 450px !important;
  }
  .slogan-description{
    font-size: 14px;
line-height: 20px;
  }
  .social-media{
    margin-bottom: 15px !important;
  }
  .social-media button{
    width: 40px;
height: 40px;
font-size: 15px;
  }
  .footer-text{
    font-size: 14px;
line-height: 20px;
  }
  .login-page-social{
    min-height: 412px;
    max-height: 450px !important;
    margin-top: 75px;
  }
 
}