<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 login-form-holder col-12 col-lg-6">
      <div class="float-right lang-float">
        <button mat-raised-button class="lang-btn" (click)="toggle_language()" type="button">
         <img src="../../../../assets/icons/Group 102arabic-icon.png" alt="">
         {{currentLang=='en'?'Arabic':'English'}}
        </button>
      </div>
      <div class="card">
        <div class="card-header">
          <h1 class="login-header">{{'Nav.Sign_In'|translate}}</h1>
          <h4 class="login-sub-header text-center">{{'Seller_Sign_In.text1'|translate}}</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="sellerLoginForm" (ngSubmit)="onSubmit(sellerLoginForm.value)">
            <div class="form-group">
              <label for="email" class="form-label">{{'Seller_Profile.Company_Email'|translate}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="../../../../assets/Message.svg" alt=""></div>
                </div>
                <!-- email -->
                <input id="email" class="form-control form-control-md" type="email" formControlName="email" required />
              </div>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.required">
                  <app-form-input-alert [alertMsg]="'Email is required.'"></app-form-input-alert>
                </div>
                <div *ngIf="email.errors?.pattern">
                  <app-form-input-alert [alertMsg]="'Enter a valid email address.'"></app-form-input-alert>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="form-label">{{'Seller_Sign_Up.Password'|translate}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="../../../../assets/icons/Lock.svg" alt=""></div>
                </div>
                <!-- password -->
                <input id="password" [type]="showPassState ? 'text' : 'password'" class="form-control form-control-md" formControlName="password"
                  required />
                <div class="input-group-prepend" *ngIf="!showPassState" (click)="showPass();">
                  <div class="input-group-text">
                    <img src="../../../../assets/icons/Show.svg" alt="">
                  </div>
                </div>
                <div class="input-group-prepend" *ngIf="showPassState" (click)="hidePass();">
                  <div class="input-group-text">
                    <i class="fas fa-eye-slash"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.required">
                  <app-form-input-alert [alertMsg]="'Password is required.'"></app-form-input-alert>
                </div>
                <div *ngIf="password.errors?.minLength">
                  <app-form-input-alert [alertMsg]="'password length is minimum 8 characters.'"></app-form-input-alert>
                </div>
              </div>
            </div>
            <div class="form-group row justify-content-between">
              <div class="col-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="autoSizingCheck" />
                  <label class="form-check-label" for="autoSizingCheck">{{'Seller_Sign_In.Remember_me'|translate}}</label>
                </div>
              </div>
              <div class="col-6 text-right">
                <a [routerLink]="['/dashboard/forgot-password']"><label class="form-label">{{'Seller_Sign_In.Forgot_Password'|translate}}</label></a>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" mat-raised-button class="btn btn-primary btn-md btn-block login_btn">
                {{'Nav.Sign_In'|translate}}
              </button>
            </div>
            <div class="form-group">
              <div class="text-center">
                <label class="join-text">{{'Seller_Sign_In.Not_Seller'|translate}} <a [routerLink]="['/dashboard/signup']" class="ml-1 join">{{'Seller_Sign_Up.Join_Us'|translate}}</a></label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-12 col-lg-6 socially">
      <div class="card text-white login-page-social">
        <div class="card-img-overlay">
          <div class="row justify-content-center">
            <img src="../../../assets/logo-white.svg" alt="align-self-center" class="img-fluid logo-img" />
          </div>
          <div class="row justify-content-center">
            <h3 class="slogan text-center">{{'Footer.Slogan'|translate}}</h3>
          </div>
          <div class="row justify-content-center">
            <p class="slogan-description text-center">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
          </div>
          <div class="row justify-content-center">
            <div class="social-media text-center">
            
              <button mat-raised-button class="mt-1">
                  <i class="fab fa-twitter"></i></button>
              <button mat-raised-button class="mt-1">
                <i class="fab fa-instagram"></i></button>
              <button mat-raised-button class="mt-1">
                <i class="fab fa-youtube"></i></button>
              <button mat-raised-button class="mt-1">
                <i class="fab fa-pinterest-p"></i></button>
            </div>
          </div>
          <div class="card-footer text-center">
            <span class="footer-text">6391 Elgin St. Celina, Delaware  <br>
              (907) 555-0101 <br>
              emdad@example.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ngx-spinner></ngx-spinner> -->