.login_btn {
  background: #f49814;
  border-radius: 5px;
  margin-top: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.edit-button {
  cursor: pointer;
}
.page-header {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 69px;

  /* #2B2B2B */

  color: #2b2b2b;
}
.rounded-circle {
  display: inline-block;
  width: 100px;
  background: #efefef;
  height: 100px;
  position: relative;
  text-align: center;
}
.plus-icon {
  /* position: absolute; */
  position: relative;
  margin-top: 70px;
  padding-right: 200px;
  /* bottom: 0px; */
  /* right: 10px; */
}
.pro-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.form-control {
  background: #efefef;
  border-radius: 5px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  color: black;
}
.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}
.container-custom {
  border-radius: 50%;
}

#profile_pic {
  opacity: 0;
}

.imageUploadButton {
  position: relative;
}
