<div class="container" style="padding-top: 65px;">
    <div class="d-flex justify-content-between">
        <h3>Track Order</h3>
        <div class="d-inline-block">
          <select class="form-control form-control-lg border border-dark" style="background: inherit;">
              <option>Filter By Status</option>
              <option>Large select 2</option>
              <option>Large select 3</option>
              <option>Large select 4</option>
          </select>
        </div> 
        <!-- <div class="dropdown show" style="margin-left: auto;">
            <a class="btn btn-secondary dropdown-toggle a-filter" (click)="handle_dropdown()" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Status
            </a>
            <div id="filterByStatusDiv" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" *ngFor="let status of statuses">{{status}}</a>
            </div>
        </div> -->
    </div>
    <div class="d-flex" style="margin-top:46px; background: #FFFFFF;">
        <div class="col pl-3">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Order ID</th>
                      <th scope="col">Payment Date</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Status</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders">
                      <th scope="row">{{order.order_id}}</th>
                      <td>{{order.payment_date}}</td>
                      <td>{{order.delivery_date}}</td>
                      <td>{{order.amount}}</td>
                      <td>
                        <button class="btn btn-primary" type="button">view</button>
                      </td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>

