<div class="container">
  <div class="d-flex justify-content-between">
    <h3 class="header-text">Track Order</h3>
    <div class="d-inline-block filter-btn-div">
      <select (change)="change_filter_value($event.target.value)"
        class="form-control" style="background: inherit;">
        <option value="-1">Filter by Status</option>
        <option value="1">Created</option>
        <option value="2">Confirmed</option>
        <option value="3">Processing</option>
        <option value="4">Delivered</option>
        <option value="5">Completed</option>
      </select>
    </div>
    <!-- <div class="dropdown show" style="margin-left: auto;">
            <a class="btn btn-secondary dropdown-toggle a-filter" (click)="handle_dropdown()" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Status
            </a>
            <div id="filterByStatusDiv" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" *ngFor="let status of statuses">{{status}}</a>
            </div>
        </div> -->
  </div>
  <!-- <div class="d-flex" style="margin-top:46px; background: #FFFFFF;">
    <div class="col pl-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Payment Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="filtered_orders">
          <tr *ngFor="let order of filtered_orders">
            <th scope="row">{{order.order_code}}</th>
            <td>{{order.payment_date}}</td>
            <td>{{order.total_amount}}</td>
            <td>{{get_status(order.tracking_order[0].status)}}</td>
            <td>
              <button class="btn btn-primary" type="button">view</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <div class="card-body">
    <table mat-table [dataSource]="filtered_orders">
      <!-- quotation id Column -->
      <ng-container matColumnDef="Order ID">
        <th mat-header-cell *matHeaderCellDef>Order ID</th>
        <td mat-cell *matCellDef="let element">#{{ element.order_code }}</td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="Payment Date">
        <th mat-header-cell *matHeaderCellDef>Payment Date</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.order_payment?.length > 0
              ? (element.order_payment[0].created_at | date)
              : ("" | date)
          }}
        </td>
      </ng-container>

      <!--rfq id Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">SAR {{
          element.total_amount | number
        }}</td>
      </ng-container>
      <!--view coloumn-->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="status_master(element) ==1 ">Created</span>
          <span *ngIf="status_master(element) == 2">Confirmed</span>
          <span *ngIf="status_master(element) == 3"> Processing</span>
          <span *ngIf="status_master(element) == 4"> Delivered</span>
          <span *ngIf="status_master(element) == 5"> Completed</span>
          <span *ngIf="status_master(element) == null"> -</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="edit-product-btn" mat-button [routerLink]="['/order/details/', element.id]" align="right">View</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="filtered_orders.length" showFirstLastButtons
      *ngIf="filtered_orders?.length>5"></mat-paginator>
    <div class="no-data" *ngIf="filtered_orders == undefined || filtered_orders == null || !filtered_orders">
      No data available
    </div>
  </div>
</div>