/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header-text {
  font-size: 48px;
  margin: 60px 0 40px;
}
.mat-table {
  background-color: transparent !important;
  padding: 0;
}

.card-body {
  padding: 40px;
  background: #fff;
  margin-bottom: 120px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 60px;
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
          box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

tr.mat-row:hover,
tr.mat-footer-row:hover {
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
          box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px !important;
}

table tr:last-child td {
  border-bottom: 0 solid;
}

th {
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}

td {
  font-weight: normal;
  font-size: 18px;
  color: #2b2b2b;
}
.btn-primary {
  color: rgb(0, 0, 0);
  background-color: inherit;
  border-style: none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1f4f9e;
  border-color: #1f4f9e;
}

.filter-btn-div {
  margin-top: 60px;
}

.filter-btn-div select {
  cursor: pointer;
  height: 80px;
  padding: 0 45px;
  font-size: 24px;
  border: 2px solid #2b2b2b !important;
  color: #2b2b2b;
}

.a-filter {
  border: 2px solid #2b2b2b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 239px;
  height: 80px;
  text-align: center;
  background: none !important;
  color: black !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  background: inherit;
  height: 80px;
  padding: 0 45px;
  font-size: 24px;
  border: 2px solid #2b2b2b !important;
  color: #2b2b2b;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  ::ng-deep .mat-paginator-range-label {
    margin: 0 0px 0 0px;
  }
  ::ng-deep .mat-paginator-container {
    padding: 0 !important;
  }
  .mat-table {
    padding: 15px;
  }
  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }
  ::ng-deep th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-left: 15px !important;
  }
  th {
    font-size: 16px;
  }

  td {
    font-size: 16px;
  }
  .col-xs-none {
    display: none;
  }
  .header-text {
    margin: 20px 0 20px;
    font-size: 20px;
  }
  .profile-page-content {
    margin-bottom: 20px;
  }
  .card-body {
    padding: 0;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  .filter-btn-div {
    margin-top: 7px;
  }
  .filter-btn-div select {
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
  .filter-btn-div {
    margin-top: 13px;
  }
  .filter-btn-div select {
    height: 35px;
    padding: 0 0px;
  }
}