@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

*:focus {
  outline: none;
  box-shadow: none;
}

.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  padding: 40px 0;
  margin: 0;
  line-height: 69px;
}

.card {
  padding: 40px;
  border: none;
  border-radius: 0;
}

.profile-banner-holder {
  position: relative;
 
}

.profile-banner-holder img {
  width: 100%;
  height: 300px;
  object-fit: cover;
 }

.banner-img-up-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  /* background: rgba(255, 255, 255, 0.5); */
  background: #F49814;
  border-radius: 50%;
  width: 48px;
  min-width: 48px;
  height: 48px !important;
  padding: 0;
  cursor: pointer;
}

.banner-img-up-btn::after {
  position: absolute;
  content: "";
  background-image: url("../../../../assets/banner-img-up-icon.svg");
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.banner-img-up-btn img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seller-pro-pic-holder {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #fff;
  /* background: #fff; */
}

.seller-profile-pic-div {
  position: relative;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.seller-profile-pic-div img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pro-img-up-btn {
  position: absolute;
  background: #f49814;
  color: #fff;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  min-width: 45px;
  padding: 0;
  cursor: pointer;
}

.pro-img-up-btn::after {
  position: absolute;
  content: "";
  background-image: url("../../../../assets/Plus-light.svg");
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.pro-img-up-btn img {
  width: 18px;
  height: 18px;
}

.profile-form-holder {
  margin-top: 110px;
}

a {
  color: inherit;
}

.container {
  padding: 60px;
}

.login-form-holder {
  padding: 0 60px;
}

.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  height: 80px;
  font-weight: 500;
  font-size: 24px;
  width: 300px;
  font-family: Jost;
}

.login-header {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #2b2b2b;
  margin-top: 70px;
  margin-bottom: 10px;
  line-height: 69px;
}

.login-sub-header {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 8px;
}

label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 29px;
}

.card {
  border: none;
  width: 100%;
}

.btn {
  border: none;
}

.card-header {
  background-color: #f8f9fa00;
  border: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 80px;
}

.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 7px;
}

.input-group-text {
  border: 0 !important;
  background: #efefef;
  padding: 0 22px;
  font-size: 17px;
}

.form-control:focus {
  box-shadow: none;
}

.lang-btn {
  background: #f49814;
  font-style: normal;
  color: #ffffff;
  border-radius: 30px;
  margin-left: auto;
  font-weight: normal;
  font-size: 20px;
  height: 50px;
  border: none;
  padding: 0 20px;
}

.lang {
  font-size: 12px;
  color: #ffffff;
}

.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}

.slogan {
  color: #ffffff;
  margin: 30px 0 35px;
  font-weight: unset;
  font-size: 30px;
}

.slogan-description {
  color: #ffffff;
}

.card-footer {
  border-color: #ffffff !important;
}

.footer-text {
  color: #ffffff;
}

.social-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.login-page-social {
  background: url("../../../../assets/images/login-page-bg.png") center 100%
    no-repeat;
  width: 100%;
  height: 760px;
  border-radius: 20px;
}

.card-img-overlay {
  padding: 105px 65px;
}

.social-media {
  margin-bottom: 50px;
}

.social-media button {
  color: #1f4f9e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: none;
  margin-right: 15px;
}

.alert-danger {
  background: transparent;
  border: none;
  color: #ff5f92;
}

.card-body {
  padding: 0;
}

.seller-description .form-control {
  height: 150px !important;
}

.seller-description .input-group-text {
  display: unset;
  padding-top: 6px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 80px;
  height: 80px;
  background-image: url("../../../../assets/icons/Uploadupload-grey.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
  border-radius: 5px;
  border: 2px dashed #CFCFCF;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.attached-file {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.attached-file {
  list-style: none !important;
  font-size: 20px;
  line-height: 29px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.attached-file button {
  border-radius: 50%;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: #ff4b55;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 0;
   vertical-align: middle !important;
}
.attached-file button img{
  vertical-align: middle !important;
}
.already-added-file {
  list-style: none;
  padding-left: 10px;
}

.already-added-file li span:hover {
  cursor: pointer;
}

.already-added-file button {
  box-shadow: none;
  color: #ff4b55;
  vertical-align: middle !important;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
@media only screen and (min-width:290px) and (max-width:575px){
  .container{
    padding: 10px;
  }
  .seller-profile-pic-div{
    height: 80px;
    width: 80px;
  }
.seller-profile-pic-div img{
  width: 80px;
}
.pro-img-up-btn{
  height: 25px;
  width:25px;
  min-width: 25px;
}
.page-heading{
  font-size: 32px;
  line-height: 46px;
}
label,.form-check-label,.join-text,input,textarea{
  font-size: 16px;
  line-height: 23px;
}
.login_btn{
  height: 50px;
  font-size: 18px;
  line-height: 25px;
  width: 180px;

}
.submit-btn{
  text-align: center !important;
}
.input-group-text{
  font-size: 14px;
  padding: 0 8px;
}
.input-group-text img{
  height: 20px;
  width: 20px;
}
.custom-file-upload{
  /* background-size: 5%; */
  height: 60px;
  width: 60px;
}
.card {
  padding: 14px;
}
.attached-file{
  font-size: 14px !important;
  line-height: 20px !important;
}
.banner-img-up-btn{
height: 30px !important;
width: 30px !important;
min-width: 30px !important;
top: 10px;
}
.banner-img-up-btn::after{
  width: 14px;
  height: 14px;
}
.form-control{
  height: 60px;
}
.profile-banner-holder img{
height: 250px;
}
}
 @media all and (min-width:575px) and (max-width:768px){
  .container{
    padding: 10px !important;
  }
  .seller-profile-pic-div{
    height: 80px;
    width: 80px;
  }
.seller-profile-pic-div img{
  width: 80px;
}
.pro-img-up-btn{
  height: 25px;
  width:25px;
  min-width: 25px;
}
.attached-file{
  font-size: 14px !important;
  line-height: 20px !important;
}
.page-heading{
  font-size: 32px;
  line-height: 46px;
}
label,.form-check-label,.join-text,input,textarea{
  font-size: 16px;
  line-height: 23px;
}
.login_btn{
  height: 50px;
  font-size: 18px;
  line-height: 25px;
  width: 230px;

}
.submit-btn{
  text-align: center !important;
}
.input-group-text{
  font-size: 14px;
  padding: 0 8px;
}
.input-group-text img{
  height: 20px;
  width: 20px;
}
.custom-file-upload{
  /* background-size: 5%; */
  height: 60px;
  width: 60px;
}
.card {
  padding: 14px;
}
.banner-img-up-btn{
height: 30px !important;
width: 30px !important;
min-width: 30px !important;
top: 10px;
}
.banner-img-up-btn::after{
  width: 14px;
  height: 14px;
}
.form-control{
  height: 60px;
}
 }
 @media only screen and (min-width:768px) and (max-width:992px){
  label,.form-check-label,.join-text,input,textarea{
    font-size: 18px;
    line-height: 25px;
  }
  .container{
    padding: 15px !important;
  }
  .seller-profile-pic-div{
    height: 100px;
    width: 100px;
  }
.seller-profile-pic-div img{
  width: 100px;
}
.pro-img-up-btn{
  height: 25px;
  width:25px;
  min-width: 25px;
}
.page-heading{
  font-size: 40px;
  line-height: 62px;
}
.input-group-text{
  font-size: 16px;
  padding: 0 10px;
}
.input-group-text img{
  height: 24px;
  width: 24px;
}
.custom-file-upload{
  /* background-size: 5%; */
  height: 60px;
  width: 60px;
}
.login_btn{
  height: 60px;
  font-size: 18px;
  line-height: 25px;
 

}
.submit-btn{
  text-align: center !important;
}
.card {
  padding: 16px;
}

.form-control{
  height: 60px;
}
 }