<section>
  <h2 class="page-heading">Company Profile</h2>
</section>
<section class="card mb-5">
  <div class="profile-banner-holder">
    <img src="../../../../assets/images/profile-banner.png" alt="">
    <button mat-raised-button class="banner-img-up-btn"><img src="../../../../assets/banner-img-up-icon.svg"
        alt=""></button>
    <div class="seller-pro-pic-holder">
      <img src="../../../../assets/images/seller-pro-pic.png" alt="">
      <button mat-raised-button class="pro-img-up-btn"><img src="../../../../assets/Plus-light.svg" alt=""></button>
    </div>
  </div>
  <div class="profile-form-holder">
    <form [formGroup]="sellerProfileForm" (ngSubmit)="onSubmit(sellerProfileForm.value)">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="comName">Company Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Home.svg" alt=""></div>
              </div>
              <!-- comName -->
              <input id="comName" class="form-control form-control-md" type="text" formControlName="comName" required />
            </div>
            <div *ngIf="comName.invalid && (comName.dirty || comName.touched)">
              <div *ngIf="comName.errors?.required">
                <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Company email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Message.svg" alt=""></div>
              </div>
              <!-- email -->
              <input id="email" class="form-control form-control-md" type="email" formControlName="email" disabled/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="comPhone">Company Phone</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Call.svg" alt=""></div>
              </div>
              <!-- phone -->
              <input id="comPhone" class="form-control form-control-md" type="phone" formControlName="comPhone"
                required />
            </div>
            <div *ngIf="comPhone.invalid && (comPhone.dirty || comPhone.touched)">
              <div *ngIf="comPhone.errors?.required">
                <app-form-input-alert [alertMsg]="'Company Phone is required.'"></app-form-input-alert>
              </div>
              <div *ngIf="comPhone.errors?.pattern">
                <app-form-input-alert [alertMsg]="'Enter a valid Phone number.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="comAddress">Company Address</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
              </div>
              <!-- company Address -->
              <input id="comAddress" class="form-control form-control-md" type="text" formControlName="comAddress"
                required />
            </div>
            <div *ngIf="comAddress.invalid && (comAddress.dirty || comAddress.touched)">
              <div *ngIf="comAddress.errors?.required">
                <app-form-input-alert [alertMsg]="'Company address is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="comRegistration">Commercial Registration</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-file-alt"></i></div>
              </div>
              <input id="comRegistration" class="form-control form-control-md" type="text"
                formControlName="comRegistration" />
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="expDate">Expiary Date</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-calendar-check"></i></div>
              </div>
              <input id="expDate" class="form-control form-control-md" type="date" formControlName="expDate" />
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="country">Country</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
              </div>
              <!-- company country -->
              <select id="country" class="form-control form-control-md" type="text" formControlName="country"
                (change)="getciTyList($event.target.value)">
                <option value="" disabled>Select Country</option>
                <option *ngFor="let country of countryList" value="{{country.id}}">{{country.name}}</option>
              </select>
            </div>
            <div *ngIf="country.invalid && (country.dirty || country.touched)">
              <div *ngIf="country.errors?.required">
                <app-form-input-alert [alertMsg]="'country is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="city">City</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
              </div>
              <!-- company city -->
              <select id="city" class="form-control form-control-md" type="text" formControlName="city">
                <option value="" disabled>Select City</option>
                <option *ngFor="let city of cityList" value="{{city.id}}">{{city.name}}</option>
              </select>
            </div>
            <div *ngIf="city.invalid && (city.dirty || city.touched)">
              <div *ngIf="city.errors?.required">
                <app-form-input-alert [alertMsg]="'City is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="area">Area</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
              </div>
              <!-- area -->
              <input id="area" class="form-control form-control-md" type="text" formControlName="area" />
            </div>
            <!-- <div *ngIf="area.invalid && (area.dirty || area.touched)">
                    <div *ngIf="area.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="zipCode">Zip code</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
              </div>
              <!-- zipCode -->
              <input id="zipCode" class="form-control form-control-md" type="text" formControlName="zipCode" />
            </div>
            <!-- <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
                    <div *ngIf="zipCode.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
          </div>
        </div>
        <div class="col-md-12 seller-description">
          <div class="form-group">
            <label for="sellerDescription">Seller Description</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Edit-light.svg" alt=""></div>
              </div>
              <!-- sellerDescription -->
              <textarea id="sellerDescription" class="form-control form-control-md" type="text" formControlName="sellerDescription" rows="10"></textarea>
            </div>
            <!-- <div *ngIf="sellerDescription.invalid && (sellerDescription.dirty || sellerDescription.touched)">
                    <div *ngIf="sellerDescription.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="d-block">Attachments <small>(max. two attachments allowed)</small></label>
            <ul class="already-added-file d-block">
              <li *ngIf="userData?.seller_attachment1">
                <span (click)="download(userData.seller_attachment1)" >{{splitFileName(userData.seller_attachment1)}}</span>&nbsp;
                <button mat-button type="button" *ngIf="userData.seller_attachment1 != undefined" (click)="deleteExistingFile('seller_attachment1');"><i class="fas fa-trash-alt"></i></button>
              </li>
              <li *ngIf="userData?.seller_attachment2">
                <span (click)="download(userData.seller_attachment2)" >{{splitFileName(userData.seller_attachment2)}}</span>&nbsp;
                <button mat-button type="button" *ngIf="userData.seller_attachment2 != undefined" (click)="deleteExistingFile('seller_attachment2');"><i class="fas fa-trash-alt"></i></button>
              </li>
            </ul>
            <label for="attachments" class="custom-file-upload" *ngIf="selectedImage.length + existingFiles < 2">
              <!-- Attachments -->
              <input id="attachments" class="form-control form-control-md" type="file" formControlName="attachments"
                (change)="handleFileSelect($event);"/>
            </label>
            <span *ngIf="selectedImage.length + existingFiles < 2">&nbsp;</span>
            <ul class="attached-file">
              <li *ngFor="let file of selectedImage; let i = index;">
                {{file.name}}
                <button mat-raised-button (click)="removeFile(i);"><img src="../../../../assets/close.svg" style="margin-bottom: 14px;"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <button type="submit" mat-raised-button class="btn btn-primary btn-md btn-block login_btn"
              [disabled]="sellerProfileForm.invalid || passMatched">
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>