<section>
  <h2 class="page-heading">{{'Seller_Profile.Company_Profile'|translate}}</h2>
</section>
<section class="card mb-5">
  <div class="profile-banner-holder">
    <img *ngIf="banner_pic != undefined" src="{{banner_pic}}" alt="">
    <img *ngIf="banner_pic == undefined" src="../../../../assets/banner-default.jpg" alt="" class="img-fluid">
    <label for="banner" class="banner-img-up-btn mb-0">
      <!-- banner -->
      <input id="banner" class="form-control form-control-md" type="file" (change)="uploadBannerPic($event);" />
    </label>
    <!-- <button mat-raised-button class="banner-img-up-btn"><img src="../../../../assets/banner-img-up-icon.svg"
        alt=""></button> -->
    <div class="seller-pro-pic-holder">
      <div class="seller-profile-pic-div">
        <img *ngIf="profile_pic != undefined" src="{{profile_pic}}" alt="">
        <img *ngIf="profile_pic == undefined" src="../../../../assets/Profile.svg" style="background: #eee;">
        <!-- <img src="../../../../assets/images/seller-pro-pic.png" alt=""> -->
      </div>
      <label for="propic" class="pro-img-up-btn mb-0">
        <!-- propic -->
        <input id="propic" class="form-control form-control-md" type="file" (change)="uploadProPic($event);" />
      </label>
      <!-- <button mat-raised-button class="pro-img-up-btn" type="file"><img src="../../../../assets/Plus-light.svg" alt=""></button> -->
    </div>
  </div>
  <div class="profile-form-holder">
    <form [formGroup]="sellerProfileForm" (ngSubmit)="onSubmit(sellerProfileForm.value)">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="comName">{{'Seller_Profile.Company_Name'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Home.svg" alt="" class="img-fluid"></div>
              </div>
              <!-- comName -->
              <input id="comName" class="form-control form-control-md" type="text" formControlName="comName"
                placeholder="Guy Hawkins" required />
            </div>
            <div *ngIf="comName.invalid && (comName.dirty || comName.touched)">
              <div *ngIf="comName.errors?.required">
                <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">{{'Seller_Profile.Company_Email'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Message.svg" class="img-fluid" alt=""></div>
              </div>
              <!-- email -->
              <input id="email" placeholder="guyhawkins257@example.com" class="form-control form-control-md"
                type="email" formControlName="email" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="comPhone">{{'Seller_Profile.Company_Mobile_Number'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Call.svg" class="img-fluid" alt=""></div>
              </div>
              <!-- phone -->
              <input id="comPhone" class="form-control form-control-md" placeholder="(704) 555-0127" type="phone"
                formControlName="comPhone" required />
            </div>
            <div *ngIf="comPhone.invalid && (comPhone.dirty || comPhone.touched)">
              <div *ngIf="comPhone.errors?.required">
                <app-form-input-alert [alertMsg]="'Company Phone is required.'"></app-form-input-alert>
              </div>
              <div *ngIf="comPhone.errors?.pattern">
                <app-form-input-alert [alertMsg]="'Enter a valid Phone number.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="comAddress">{{'Seller_Profile.Company_Address'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt="" class="img-fluid"></div>
              </div>
              <!-- company Address -->
              <input id="comAddress" placeholder="3517 W. Gray St. Utica, Pennsylvania 57867"
                class="form-control form-control-md" type="text" formControlName="comAddress" required />
            </div>
            <div *ngIf="comAddress.invalid && (comAddress.dirty || comAddress.touched)">
              <div *ngIf="comAddress.errors?.required">
                <app-form-input-alert [alertMsg]="'Company address is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="comRegistration">Commercial Registration</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-file-alt"></i></div>
              </div>
              <input id="comRegistration" class="form-control form-control-md" type="text"
                formControlName="comRegistration" />
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="expDate">Expiary Date</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-calendar-check"></i></div>
              </div>
              <input id="expDate" class="form-control form-control-md" type="date" formControlName="expDate" />
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="country">{{'Seller_Profile.Country'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt="" class="img-fluid"></div>
              </div>
              <!-- company country -->
              <select id="country" class="form-control form-control-md" type="text" formControlName="country"
                (change)="getciTyList($event.target.value)">
                <option value="" disabled>{{'Seller_Profile.Select_Country'|translate}}</option>
                <option *ngFor="let country of countryList" value="{{country.id}}">{{country.name}}</option>
              </select>
            </div>
            <div *ngIf="country.invalid && (country.dirty || country.touched)">
              <div *ngIf="country.errors?.required">
                <app-form-input-alert [alertMsg]="'country is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="city">{{'Seller_Profile.City'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt="" class="img-fluid"></div>
              </div>
              <!-- company city -->
              <select id="city" class="form-control form-control-md" type="text" formControlName="city">
                <option value="" disabled>{{'Seller_Profile.Select_City'|translate}}</option>
                <option *ngFor="let city of cityList" value="{{city.id}}">{{city.name}}</option>
              </select>
            </div>
            <div *ngIf="city.invalid && (city.dirty || city.touched)">
              <div *ngIf="city.errors?.required">
                <app-form-input-alert [alertMsg]="'City is required.'"></app-form-input-alert>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="area">{{'Seller_Profile.Area'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt="" class="img-fluid"></div>
              </div>
              <!-- area -->
              <input id="area" class="form-control form-control-md" type="text" placeholder="Pennsylvania"
                formControlName="area" />
            </div>
            <!-- <div *ngIf="area.invalid && (area.dirty || area.touched)">
                    <div *ngIf="area.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="zipCode">{{'Seller_Profile.Zip_Code'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Location.svg" alt="" class="img-fluid"></div>
              </div>
              <!-- zipCode -->
              <input id="zipCode" class="form-control form-control-md" placeholder="57867" type="text"
                formControlName="zipCode" />
            </div>
            <!-- <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
                    <div *ngIf="zipCode.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
          </div>
        </div>
        <div class="col-md-12 seller-description">
          <div class="form-group">
            <label for="sellerDescription">{{'Seller_Profile.Seller_Description'|translate}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><img src="../../../../assets/Edit-light.svg" alt="" class="img-fluid">
                </div>
              </div>
              <!-- sellerDescription -->
              <textarea id="sellerDescription" placeholder="Seller Description" class="form-control form-control-md"
                type="text" formControlName="sellerDescription" rows="10"></textarea>
            </div>
            <!-- <div *ngIf="sellerDescription.invalid && (sellerDescription.dirty || sellerDescription.touched)">
                    <div *ngIf="sellerDescription.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="d-block">{{'Seller_Profile.Attachments'|translate}} <small>{{'Seller_Profile.Max_Two'|translate}}</small></label>
            <ul class="already-added-file d-block">
              <li *ngIf="userData?.seller_attachment1">
                <span
                  (click)="download(userData.seller_attachment1)">{{splitFileName(userData.seller_attachment1)}}</span>&nbsp;
                <button mat-button type="button" *ngIf="userData.seller_attachment1 != undefined"
                  (click)="deleteExistingFile('seller_attachment1');"><i class="fas fa-trash-alt"></i></button>
              </li>
              <li *ngIf="userData?.seller_attachment2">
                <span
                  (click)="download(userData.seller_attachment2)">{{splitFileName(userData.seller_attachment2)}}</span>&nbsp;
                <button mat-button type="button" *ngIf="userData.seller_attachment2 != undefined"
                  (click)="deleteExistingFile('seller_attachment2');"><i class="fas fa-trash-alt"></i></button>
              </li>
            </ul>
            <label for="attachments" class="custom-file-upload" *ngIf="selectedImage.length + existingFiles < 2">
              <!-- Attachments -->
              <input id="attachments" class="form-control form-control-md" type="file" formControlName="attachments" accept="image/x-png,image/gif,image/jpeg,application/pdf"
                (change)="handleFileSelect($event);" />
            </label>
            <span *ngIf="selectedImage.length + existingFiles < 2">&nbsp;</span>
            <ul class="attached-file">
              <li *ngFor="let file of selectedImage; let i = index;">
                {{file.name}}
                <button mat-raised-button (click)="removeFile(i);" class="close-button"><img src="../../../../assets/close.svg"
                    style="margin-bottom: 14px;"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group submit-btn">
            <button type="submit" mat-raised-button class="btn btn-primary btn-block btn-md login_btn"
              [disabled]="sellerProfileForm.invalid || passMatched">
              {{'Buttons.Save'|translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>