<section class="page-not-found">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6 left-side">
        <h1 class="oops">
          Oops!
        </h1>
        <h4>
          We can't seem to find your page you are looking for.
        </h4>
        <p>
          <strong>Error Code: 404</strong>
        </p>
      </div>
      <div class="col-lg-6 col-sm-6 col-md-6 right-side">
        <img
          src="../../../assets/404-error-background.jpg"
          class="img-responsive img-fluid">
      </div>
    </div>
  </div>
</section>
