/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.modal-title {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 55px;
  text-align: left !important;
  color: #2B2B2B;
}
.modal-content {
  max-width: 700px;
  max-height: 765px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 180px;
  font-size: 18px;
line-height: 26px;
}

.login_btn {
  width: auto;
  background: #1f4f9e;
  border-radius: 5px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  float: left;
  width: 225px;
  height: 60px;
  margin-top: 15px;
}
.col-4 {
  font-size: 12px;
}
.footer {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #2b2b2b;
}
.modal {
  background-color: #000000c7;
}
.form-label {
  font-size: 12px;
}
@media all and (min-width:290px) and (max-width:768px){
  .modal-title{
    font-size:28px;
    line-height: 36px;
  }
  .login_btn{
    height: 60px;
    width: 140px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media all and (min-width:992px) and (max-width:1200px){
 .modal-title{
  font-size: 32px;
  line-height: 46px;
 }
 .form-control{
  font-size: 14px;
   line-height: 20px;
 }
 .modal-content{
   padding-left: 20px;
   padding-right: 20px;
 }
.login_btn{
  font-size: 16px;
line-height: 23px;
width: 180px;
height: 48px;
}
}
/* 
@media all and (min-width:1200px){
  .modal-content{
    min-width: 900px;
    max-width: 1000px;
  }
} */