/* .signup_btn {
  background: #454f63;
  border-radius: 5px;
}
.signup-card {
  top: 20px;
}
.signup-header {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #2b2b2b;
}
.card {
  border: none;
}
.btn {
  border: none;
}
.card-header {
  background-color: #f8f9fa00;
  border: none;
}
.form-control {
  background: #efefef;
  border-radius: 5px;
}
.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}
.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;

  text-align: center;

  color: #2b2b2b;
}
.lang-btn {
  background: #454f63;
  border-radius: 30px;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  color: #ffffff;
}
.lang {
  font-size: 12px;
  color: #ffffff;
}
.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}
.login-image {
  max-height: 238px;
  vertical-align: middle;
}

.imageUploadButton {
  position: relative;
  border: 2px dashed grey;
  width: 70px !important;
  height: 40px;
  cursor: pointer;
  border-radius: 10%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

#images {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
} */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

a {
  color: inherit;
}

.container {
  padding: 20px;
  
}
/* input#expDate{
  min-height: 1px !important;
} */
/* .signup-page{
  background: #e5e5e5;
} */
input[type="date"]
{
    
  
    /* Solution 1 */
     -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em; 
  
    /* Solution 2 */
    /* min-width: 96%; */
}
*:focus {
  outline: none;
}

.login-form-holder {
  padding: 0 60px;
}

.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  height: 80px;
  font-weight: 500;
  font-size: 24px;
}

.login-header {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #4D4D4D;
  margin-top: 70px;
  margin-bottom: 10px;
}

.login-sub-header {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 8px;
}

label {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
  text-transform: capitalize;
}

.card {
  border: none;
  width: 100%;
}
.sell-card{
  background-color: transparent !important;
}

.btn {
  border: none;
}

.card-header {
  background-color: #f8f9fa00;
  border: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  border: none;
  height: 80px;
}

.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
}

.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 7px;
}

.input-group-text {
  border: 0 !important;
  background: #efefef;
  padding: 0 22px;
  font-size: 17px;
  font-family: Jost;
}

.form-control:focus {
  box-shadow: none;
}

.lang-btn {
  background: #f49814;
  font-style: normal;
  color: #ffffff;
  border-radius: 30px;
  margin-left: auto;
  font-weight: normal;
  font-size: 20px;
  height: 50px;
  border: none;
  padding: 0 20px;
}

.lang {
  font-size: 12px;
  color: #ffffff;
}

.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}

.slogan {
  color: #ffffff;
  margin: 30px 0 35px;
  font-weight: unset;
  font-size: 30px;
}

.slogan-description {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.card-footer {
  border-color: #ffffff !important;
}

.footer-text {
  color: #ffffff;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.social-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.login-page-social {
  background: url("../../../../assets/images/login-page-bg.png") center 100%
    no-repeat;
  width: 100%;
  min-height: 800px;
  border-radius: 20px;
}

.card-img-overlay {
  padding: 105px 65px;
}

.social-media {
  margin-bottom: 50px;
}

.social-media button {
  color: #1f4f9e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: none;
  
}
.social-media button:not(:last-child){
  margin-right: 15px;
}

.alert-danger {
  background: transparent;
  border: none;
  color: #ff5f92;
}

.card-body {
  padding: 0;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
 width: 100%;
 height: 80px;
  background-image: url("../../../../assets/upload.svg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center center;
  border-radius: 5px;
  border: 3px dashed #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}



.attached-file {
  display: inline-block;
  vertical-align: top;
  list-style: none !important;
  font-size: 20px;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-all;
  
}
.attached-file li{
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  
}
.file-up{
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  
}
.attached-file button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #ff4b55;
  border: none;
  color: #fff;
  font-size: 16px;
}
.attached-file button img{
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}
.join-text{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
}
.join{
  color: #1F4F9E;
  text-decoration-line: underline;
text-decoration-color: #1f4f9e; 
font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}

@media only screen and (min-width:290px) and (max-width:575px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 80px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 600px;
  }
  
  .login-form-holder{
    padding: 5px;
  }
  .socially{
    display: none !important;
  }
  .logo-img{
    height:80px;
  }
  .slogan-description{
    padding-left: 8px;
    padding-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .card-img-overlay {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
 }
 .card-img-overlay .mb-4{
  margin-bottom: 0;
 }
.card-footer{
  margin-bottom: 50px;
}
.login-header{
  font-size: 32px;
  line-height: 46px;
}
.login-sub-header{
  font-size: 18px;
  line-height: 25px;
}
label,.form-check-label,.join-text{
  font-size: 16px;
  line-height: 22px;
}
.lang-float{
  display: none !important;
}
.login_btn{
  height: 45px;
  font-size: 18px;
  line-height: 25px;
}
.lang-btn{
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
}
.container{
padding-bottom: 10px;

}

.slogan{
  font-size: 22px;
 
}
.slogan-description{
  font-size:16px;
  line-height: 25px;
}
.footer-text{
  font-size: 14px;
  line-height: 18px;
}
.input-group-text{
  font-size: 14px;
  padding: 0 10px;
}
.custom-file-upload{
  background-size: 5%;
}
.social-media button{
  height: 30px;
  width: 30px;
}
.attached-file{
  font-size: 14px;
  line-height: 20px;
}
}
@media only screen and (min-width:576px) and (max-width:768px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 80px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 650px;
  }
  .lang-float{
    display: none !important;
  }
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height: 100px;
  }
  .socially{
    display: none !important;
  }
  .card-img-overlay {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
 }
 .card-img-overlay .mb-4{
  margin-bottom: 0;
 }
.card-footer{
  margin-bottom: 50px;
}
.login-header{
  font-size: 40px;
  line-height: 50px;
}
.login-sub-header{
  font-size: 20px;
  line-height: 30px;
}
label,.form-check-label,.join-text{
  font-size: 18px;
  line-height: 25px;
}
.login_btn{
  height: 60px;
  font-size: 22px;
  line-height: 30px;
}
.lang-btn{
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
}
.container{
padding: 20px;

}

.slogan{
  font-size: 22px;
 
}
.slogan-description{
  font-size:16px;
  line-height: 25px;
}
.footer-text{
  font-size: 14px;
  line-height: 20px;
}
/* .input-group-text{
  font-size: 15px;
  padding: 0 18px;
} */
.custom-file-upload{
  background-size: 5%;
}
}
@media only screen and (min-width:768px) and (max-width:992px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png") center 100%
     no-repeat;
     min-height: 500px;
  }
  .container{
    padding: 30px;
  }
  .socially{
    display: none !important;
  }
  .lang-float{
    display: none !important;
  }
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height: 100px;
  }
  .card-img-overlay {
   padding: 30px 20px;
 }
 .card-img-overlay >.mb-4{
  margin-bottom: 0;
 }
 .login-header{
   font-size: 40px;
   line-height: 62px;
 }
 .login-sub-header{
   font-size: 20px;
   line-height: 30px;
 }
 label,.form-check-label,.join-text{
   font-size: 18px;
   line-height: 25px;
 }
 .login_btn{
   height: 60px;
   font-size: 22px;
   line-height: 30px;
 }
 .lang-btn{
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
}
 
 
 .slogan{
   font-size: 25px;
  
 }
 .slogan-description{
   font-size:20px;
   line-height: 30px;
   padding-left: 10px;
   padding-right: 10px;
 }
 .footer-text{
   font-size: 16px;
   line-height: 24px;
 }
 .input-group-text{
  font-size: 15px;
  padding: 0 15px;
}
}
@media all and (min-width:992px) and (max-width:1199px){
  .login-page-social{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background: url("../../../../assets/images/login-page-bg.png") center 100%
     no-repeat;
    min-height: 650px;
  }
  .container{
    padding: 30px;
  }
  .login-form-holder{
    padding: 5px;
  }
  .logo-img{
    height: 100px;
  }
  .card-img-overlay {
   padding: 30px 20px;
 }
 .card-img-overlay >.mb-4{
  margin-bottom: 0;
 }
 .login-header{
   font-size: 40px;
   line-height: 62px;
 }
 .login-sub-header{
   font-size: 20px;
   line-height: 30px;
 }
 label,.form-check-label,.join-text{
   font-size: 18px;
   line-height: 25px;
 }
 .login_btn{
   height: 60px;
   font-size: 22px;
   line-height: 30px;
 }
 .lang-btn{
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
}
 
 .slogan{
   font-size: 25px;
  
 }
 .slogan-description{
   font-size:20px;
   line-height: 30px;
   padding-left: 10px;
   padding-right: 10px;
 }
 .footer-text{
   font-size: 16px;
   line-height: 24px;
 }
 .input-group-text{
  font-size: 16px;
  padding: 0 14px;
}
}