<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <div class="col d-flex justify-content-right">
          <button class="lang-btn">
            <i class="fas fa-language"></i>
            Arabic
          </button>
        </div>
      </div>
      <div class="card signup-card">
        <div class="card-header">
          <h1 class="signup-header">Join Us</h1>
          <h4 class="login-sub-header text-center">
            Let’s begin the journey !
          </h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="companyName">Company Name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input id="companyName" name="companyName" type="text" class="form-control form-control-md" />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="companyEmail">Company Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input id="companyEmail" name="companyEmail" type="email" class="form-control form-control-md" />
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="companyPhone">Company Phone Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input id="companyPhone" name="companyPhone" type="text" class="form-control form-control-md" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input id="password" name="password" type="password" class="form-control form-control-md" />
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="passwordConfirm">Confirm Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input id="confirmPassword" name="confirmPassword" type="password"
                    class="form-control form-control-md" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="companyAddress">Company Address</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input id="companyAddress" name="companyAddress" class="form-control form-control-md" type="text" />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="commercialRegstration">Commercial Registration</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input id="commercialRegistration" name="commercialRegistration" type="text"
                      class="form-control form-control-md" />
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="expiryDate">Expiry Date</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input id="expiryDate" name="expiryDate" type="date" class="form-control form-control-md" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="city">City</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input id="city" name="city" type="text" class="form-control form-control-md" />
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="country">Country</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input id="country" name="country" type="text" class="form-control form-control-md" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="area">Area</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input id="area" name="area" type="text" class="form-control form-control-md" />
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="zipcode">Zip Code</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input id="zipcode" name="zipcode" type="text" class="form-control form-control-md" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="uploadImage"> Attachments</label>
              <div class="form-group imageUploadButton">
                <i class="fa fa-upload"></i>
                <input type="file" name="images" id="images" (change)="handleFileSelect($event)" />
              </div>
            </div>

            <div class="form-group">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck" />
                <label class="form-check-label" for="autoSizingCheck">I agree to EMDAD Terms and Condtions, Privacy
                  Policy &
                  Provided Correctness of information</label>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block signup_btn" type="button">
                Register
              </button>
            </div>
            <div class="form-group">
              <div class="text-center">
                <label>Already have an account?<a class="ml-2" [routerLink]="['/seller/login']">Sign In</a></label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark text-white">
        <img src="../../../assets/login_page_image.svg" alt="align-self-center" class="card-img" />
        <div class="card-img-overlay p-5">
          <div class="row d-flex justify-content-center mb-2">
            <img src="../../../assets/emdad_logo.svg" alt="align-self-center" />
          </div>
          <div class="row d-flex justify-content-center mb-4">
            <h3 class="slogan">{{Your Slogan Here}}...</h3>
          </div>
          <div class="row d-flex justify-content-center mb-5">
            <h5 class="slogan-description" align="center">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </h5>
          </div>
          <div class="row d-flex justify-content-center mb-2">
            <div class="social-media">
              <a href="www.twitter.com">
                <img src="../../../assets/twitter.svg" class="social-icon" alt="align-self-center" /></a>
              <a href="www.instagram.com">
                <img src="../../../assets/instagram.svg" alt="align-self-center" class="social-icon" /></a>
              <a href="www.youtube.com">
                <img src="../../../assets/youtube.svg" class="social-icon" alt="align-self-center" /></a>
              <a href="www.pinterest.com">
                <img src="../../../assets/pinterest.svg" class="social-icon" alt="align-self-center" /></a>
            </div>
          </div>
          <div class="card-footer text-center">
            <span class="footer-text">6391 Elgin St. Celina, Delaware (907) 555-0101
              emdad@example.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div style="text-align:center">
  <h1>
    Login
  </h1>
</div>

<input #username type='text' placeholder='username'>
<input #password type='password' placeholder='password'>
<button (click)="login(username.value, password.value)">login</button>
<a [routerLink]="['/forget-password']">forgot password?</a>
<br>
<br>
<a [routerLink]="['/seller/login']">Seller Login</a> -->
<section class="signup-page">
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-6 login-form-holder">
      <div class="float-right lang-float">
        <button mat-raised-button class="lang-btn" (click)="toggle_language()" type="button">
          <img src="../../../../assets/icons/Group 102arabic-icon.png" alt="">
          {{currentLang=='en'?'Arabic':'English'}}
        </button>
      </div>
      <div class="card sell-card">
        <div class="card-header">
          <h1 class="login-header">{{'Seller_Sign_Up.Join_Us'|translate}}</h1>
          <h4 class="login-sub-header text-center">{{'Seller_Sign_Up.text1'|translate}}</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="sellerRegForm" (ngSubmit)="onSubmit(sellerRegForm.value)">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="comName">{{'Seller_Profile.Company_Name'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Home.svg" alt="">
                      </div>
                    </div>
                    <!-- comName -->
                    <input id="comName" class="form-control form-control-md" type="text" formControlName="comName"
                      required placeholder="Raihan Zilani Ltd." />
                  </div>
                  <div *ngIf="comName.invalid && (comName.dirty || comName.touched)">
                    <div *ngIf="comName.errors?.required">
                      <app-form-input-alert [alertMsg]="'Company name is required.'"></app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">{{'Seller_Profile.Company_Email'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Message.svg" alt=""></div>
                    </div>
                    <!-- email -->
                    <input id="email" class="form-control form-control-md" type="email" formControlName="email"
                      required placeholder="raihan009@example.com" />
                  </div>
                  <div *ngIf="email.invalid && (email.dirty || email.touched )">
                    <div *ngIf="email.errors?.required">
                      <app-form-input-alert [alertMsg]="'Email is required.'"></app-form-input-alert>
                    </div>
                    <div *ngIf="email.errors?.pattern">
                      <app-form-input-alert [alertMsg]="'Enter a valid email address.'"></app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="comPhone">{{'Seller_Profile.Company_Mobile_Number'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Call.svg" alt=""></div>
                    </div>
                    <!-- phone -->
                    <input id="comPhone" class="form-control form-control-md" type="tel" formControlName="comPhone"
                      required placeholder="(480) 555-0103" maxlength="15" />
                  </div>
                  <div *ngIf="comPhone.invalid && (comPhone.dirty || comPhone.touched)">
                    <div *ngIf="comPhone.errors?.required">
                      <app-form-input-alert [alertMsg]="'Company Phone is required.'"></app-form-input-alert>
                    </div>
                    <div *ngIf="comPhone.errors?.minlength">
                      <app-form-input-alert [alertMsg]="'Company Phone must be minimum 8 digits.'"></app-form-input-alert>
                    </div>
                    <div *ngIf="comPhone.errors?.maxlength">
                      <app-form-input-alert [alertMsg]="'Company Phone can\'t be more than 15 digits'"></app-form-input-alert>
                    </div>
                    <div *ngIf="comPhone.errors.pattern">
                      <app-form-input-alert [alertMsg]="'Company Phone must be numbers,maximum 15 digits.'"></app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">{{'Seller_Sign_Up.Password'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/icons/Lock.svg" alt=""></div>
                    </div>
                    <!-- password -->
                    <input id="password" [type]="showPassState ? 'text' : 'password'" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                      class="form-control form-control-md" formControlName="password" required
                      (keyup)="matchBothPassord(password.value, confPassword.value)" />
                    <div class="input-group-prepend" *ngIf="!showPassState" (click)="showPass();">
                      <div class="input-group-text">
                        <img src="../../../../assets/icons/Show.svg" alt="">
                      </div>
                    </div>
                    <div class="input-group-prepend" *ngIf="showPassState" (click)="hidePass();">
                      <div class="input-group-text">
                        <i class="fas fa-eye-slash"></i>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.required">
                      <app-form-input-alert [alertMsg]="'Password is required.'"></app-form-input-alert>
                    </div>
                    <div *ngIf="password.errors?.minlength">
                      <app-form-input-alert [alertMsg]="'Must be 8 characters at least'"></app-form-input-alert>
                    </div>
                   
                    <!-- <div *ngIf="password.errors?.minLength">
                      <app-form-input-alert [alertMsg]="'password length is minimum 8 characters.'">
                      </app-form-input-alert>
                    </div> -->
                  </div>
                  <div *ngIf="passMatched && confPassword.value != ''">
                    <app-form-input-alert [alertMsg]="'Both password should match!'"></app-form-input-alert>
                  </div>
                  <div *ngIf="password.errors?.pattern">
                    <app-form-input-alert [alertMsg]="'Must contain at least one number,one uppercase letter and one lowercase letter.Length must be at least 8 or more characters.No special characters are allowed!'"></app-form-input-alert>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="confPassword">{{'Buyer_Change_Password_Form.Confirm_Password'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/icons/Lock.svg" alt=""></div>
                    </div>
                    <!-- confirm password -->
                    <input id="confPassword" [type]="confShowPassState ? 'text' : 'password'" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                      class="form-control form-control-md" formControlName="confPassword" required
                      (keyup)="matchBothPassord(password.value, confPassword.value)" />
                    <div class="input-group-prepend" *ngIf="!confShowPassState" (click)="confShowPass();">
                      <div class="input-group-text">
                        <img src="../../../../assets/icons/Show.svg" alt="">
                      </div>
                    </div>
                    <div class="input-group-prepend" *ngIf="confShowPassState" (click)="confHidePass();">
                      <div class="input-group-text">
                        <i class="fas fa-eye-slash"></i>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="confPassword.invalid && (confPassword.dirty || confPassword.touched)">
                    <div *ngIf="confPassword.errors?.required">
                      <app-form-input-alert [alertMsg]="'Confirm password.'"></app-form-input-alert>
                    </div>
                    <!-- <div *ngIf="confPassword.errors?.minLength">
                      <app-form-input-alert [alertMsg]="'password length is minimum 8 characters.'">
                      </app-form-input-alert>
                    </div> -->
                  </div>
                </div>
              </div>
              <!--company address-->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="comAddress">{{'Seller_Profile.Company_Address'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
                    </div>
                    <!-- company Address -->
                    <input id="comAddress" class="form-control form-control-md" type="text" formControlName="comAddress"
                      required placeholder="3517 W. Gray St. Utica, Pennsylvania 57867"/>
                  </div>
                  <div *ngIf="comAddress.invalid && (comAddress.dirty || comAddress.touched)">
                    <div *ngIf="comAddress.errors?.required">
                      <app-form-input-alert [alertMsg]="'Company address is required.'"></app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
              <!--commercial registration-->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="comRegistration">{{'Seller_Sign_Up.Commercial_Registration'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Paper.svg" alt=""></div>
                    </div>
                    <!-- Commercial Registration -->
                    <input id="comRegistration" class="form-control form-control-md" type="text"
                      formControlName="comRegistration" placeholder="Commercial Registration" required/>
                  </div>
                  <div *ngIf="comRegistration.invalid && (comRegistration.dirty || comRegistration.touched)">
                    <div *ngIf="comRegistration.errors?.required">
                      <app-form-input-alert [alertMsg]="'Commercial Registration is required.'">
                      </app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="expDate">{{'Seller_Sign_Up.Expiry_Date'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/icons/Calendar.svg" alt=""></div>
                    </div>
                    <!-- Commercial Registration -->
                    <input id="expDate" placeholder="dd-mm-yyyy" value="thisDate" class="form-control form-control-md" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" type="date"  name="calender" formControlName="expDate" required />
                  </div>
                  <div *ngIf="expDate.invalid && (expDate.dirty || expDate.touched)">
                    <div *ngIf="expDate.errors?.invalidDate">
                      <app-form-input-alert [alertMsg]="'Registration expiration date is invalid,can\'t be a past date.'">
                      </app-form-input-alert>
                    </div>
                    <div *ngIf="expDate.errors?.required">
                      <app-form-input-alert [alertMsg]="'Registration expiration date is required.'">
                      </app-form-input-alert>
                    </div>
                    <div *ngIf="expDate.errors?.pattern">
                      <app-form-input-alert [alertMsg]="'Date pattern must be DD-MM-YYYY.For Safari,use YYYY-MM-DD.ex:2021-07-08'">
                      </app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
              <!--country-->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="country">{{'Buyer_Profile_Form.Country'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
                    </div>
                    <!-- company country -->
                    <select id="country" class="form-control form-control-md" type="text" formControlName="country"
                      (change)="getciTyList($event.target.value)">
                      <option value="" disabled>USA</option>
                      <option *ngFor="let country of countryList" value="{{country.id}}">{{country.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="country.invalid && (country.dirty || country.touched )">
                    <div *ngIf="country.errors?.required">
                      <app-form-input-alert [alertMsg]="'Country is required.'"></app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
               <!-- company city -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">{{'Buyer_Profile_Form.City'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
                    </div>
                   
                    <select id="city" class="form-control form-control-md" type="text" formControlName="city">
                      <option value="" disabled>Gray St. Utica</option>
                      <option *ngFor="let city of cityList" value="{{city.id}}">{{city.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="city.invalid && (city.dirty || city.touched)">
                    <div *ngIf="city.errors?.required">
                      <app-form-input-alert [alertMsg]="'City is required.'"></app-form-input-alert>
                    </div>
                  </div>
                </div>
              </div>
           <!--area-->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="area">{{'Buyer_Profile_Form.Area'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/Location.svg" alt=""></div>
                    </div>
                    <!-- area -->
                    <input id="area" class="form-control form-control-md" type="text" formControlName="area" placeholder="Pennsylvania" />
                  </div>
                  <!-- <div *ngIf="area.invalid && (area.dirty || area.touched)">
                    <div *ngIf="area.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
                </div>
              </div>
              <!--zip code-->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="zipCode">{{'Buyer_Profile_Form.Zip_Code'|translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="../../../../assets/icons/More Square.svg" alt=""></div>
                    </div>
                    <!-- zipCode -->
                    <input id="zipCode" class="form-control form-control-md" type="text" formControlName="zipCode" placeholder="57867" />
                  </div>
                  <!-- <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
                    <div *ngIf="zipCode.errors?.required">
                      <app-form-input-alert [alertMsg]="'company name is required.'"></app-form-input-alert>
                    </div>
                  </div> -->
                </div>
              </div>
              <!--commercial registration-->
              <div class="col-md-6 col-sm-12 col-12 col-lg-6 file-up">
                <div class="form-group">
                  <label class="d-block">{{'Seller_Sign_Up.Commercial_Registration'|translate}}</label>
                  <label for="commercialRegistrationUpload" class="custom-file-upload" *ngIf="selectedImage?.length == 0">
                    <!-- commercialRegistrationUpload -->
                    <input id="commercialRegistrationUpload" class="form-control form-control-md" type="file"
                      formControlName="commercialRegistrationUpload" (change)="handleFileSelect($event);" accept="image/*,.pdf" />
                     
                  </label>
                  <ul class="attached-file pl-0" *ngIf="selectedImage?.length>0">
                    <li *ngFor="let file of selectedImage; let i = index;">
                      {{file.name}}
                      <button mat-raised-button (click)="removeFile(i);"><img src="../../../../assets/close.svg" alt=""></button>
                    </li>
                  </ul>
                </div>
              </div>
              <!--vat certificate-->
              <div class="col-md-6 col-lg-6 col-12 file-up">
                <div class="form-group">
                  <label class="d-block">{{'Seller_Sign_Up.VAT_Certificate'|translate}} </label>
                  <label for="vatCertificate" class="custom-file-upload" *ngIf="selectedCert?.length == 0">
                    <!-- vatCertificate -->
                    <input id="vatCertificate" class="form-control form-control-md" type="file"
                      formControlName="vatCertificate" (change)="upVatcert($event);" accept="image/*,.pdf" />
                  </label>
                  <ul class="attached-file pl-0" *ngIf="selectedCert?.length>0">
                    <li *ngFor="let file of selectedCert; let i = index;">
                      {{file.name}}
                      <button mat-raised-button (click)="removeVatCert(i);"><img src="../../../../assets/close.svg" alt=""></button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="agrreToPolicy"
                      formControlName="agrreToPolicy" required/>
                    <label class="form-check-label" for="agrreToPolicy">{{'Seller_Sign_Up.Terms'|translate}}</label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <button type="submit" mat-raised-button class="btn btn-primary btn-md btn-block login_btn"
                    [disabled]="sellerRegForm.invalid || passMatched">
                    {{'Seller_Sign_Up.Register'|translate}}
                  </button>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <div class="text-center">
                    <label class="join-text">{{'Seller_Sign_Up.Already_have'|translate}} <a [routerLink]="['/dashboard/login']"
                        class="ml-1 join">{{'Nav.Sign_In'|translate}}</a></label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 socially">
      <div class="card text-white login-page-social">
        <div class="card-img-overlay">
          <div class="row justify-content-center">
            <img src="../../../assets/logo-white.svg" alt="align-self-center" class="img-fluid logo-img" />
          </div>
          <div class="row justify-content-center mb-4">
            <h3 class="slogan">{{'Footer.Slogan'|translate}}</h3>
          </div>
          <div class="row justify-content-center ">
            <h5 class="slogan-description text-center">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </h5>
          </div>
          <div class="row justify-content-center">
            <div class="social-media text-center">
              <button mat-raised-button class="mt-1">
                <i class="fab fa-twitter"></i></button>
              <button mat-raised-button class="mt-1">
                <i class="fab fa-instagram"></i></button>
              <button mat-raised-button class="mt-1">
                <i class="fab fa-youtube"></i></button>
              <button mat-raised-button class="mt-1">
                <i class="fab fa-pinterest-p"></i></button>
            </div>
          </div>
          <div class="card-footer text-center">
            <span class="footer-text">6391 Elgin St. Celina, Delaware (907) 555-0101
              emdad@example.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<ngx-spinner></ngx-spinner>