.signup_btn {
  background: #454f63;
  border-radius: 5px;
}
.signup-card {
  top: 20px;
}
.signup-header {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  /* line-height: 69px; */
  text-align: center;
  /* #2B2B2B */
  color: #2b2b2b;
}
.card {
  border: none;
}
.btn {
  border: none;
}
.card-header {
  background-color: #f8f9fa00;
  border: none;
}
.form-control {
  background: #efefef;
  border-radius: 5px;
}
.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  color: #2b2b2b;
}
.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #2b2b2b;
}
.lang-btn {
  background: #454f63;
  border-radius: 30px;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  color: #ffffff;
}
.lang {
  font-size: 12px;
  color: #ffffff;
}
.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}
.login-image {
  max-height: 238px;
  /* margin-left: 66.98%;
    margin-right: 20.1%;
    margin-top: 393px; */
  vertical-align: middle;
}

.imageUploadButton {
  position: relative;
  border: 2px dashed grey;
  width: 70px !important;
  height: 40px;
  cursor: pointer;
  border-radius: 10%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

#images {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
