<div class="container">
	<div class="row">
		<h3>My Profile</h3>
	</div>
	<div class="row">    
		<div class="col-md-4">
			<div class="card-body" style="background: #FFFFFF;">
				<ul class="list-group list-group-flush">
					<li [ngClass]="(show_profile_form===true)?'list-group-item active':'list-group-item'" (click)=" show_change_pass_form=false;show_profile_form=!show_profile_form">Profile Settings</li>
					<li [ngClass]="(show_change_pass_form===true)?'list-group-item active':'list-group-item'" (click)="show_profile_form=false;show_change_pass_form=!show_change_pass_form;" >Change Password</li>
					<li class="list-group-item">Order History</li>
					<li class="list-group-item">Manage Quotation</li>
					<li class="list-group-item" (click)="logout()">Logout</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8" style="margin-bottom: 120px;">
			<app-change-password-form *ngIf="show_change_pass_form"></app-change-password-form>
			<app-edit-profile-form *ngIf="show_profile_form" [userId]="userId"></app-edit-profile-form>
		</div>
	</div>
</div>