<div *ngIf="userInfo && !changePass && !editProfile">
	<h4>User Profile</h4>
	<a class="edit-button" (click)="editProfile = true">Edit</a>
	<table class="table table-borderless">
		<tbody>
			<tr>
				<td>First Name</td>
				<td>{{ userInfo.user.first_name }}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>{{ userInfo.user.last_name }}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{ userInfo.user.email }}</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>
					<button (click)="changePass = true">change password</button>
				</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>{{ userInfo.phone }}</td>
			</tr>
			<tr>
				<td>Gender</td>
				<td *ngIf="userInfo.gender == 'M'">Male</td>
				<td *ngIf="userInfo.gender == 'F'">Female</td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td>{{ userInfo.dob }}</td>
			</tr>
			<tr *ngIf="userInfo.store_name !== undefined">
				<td>Store Name</td>
				<td>{{ userInfo.store_name }}</td>
			</tr>
			<tr *ngIf="userInfo.store_address !== undefined">
				<td>Store Address</td>
				<td>{{ userInfo.store_address }}</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>{{ userInfo.address }}</td>
			</tr>
			<tr>
				<td>City</td>
				<td *ngIf="userInfo.city && cities.length">
					{{ cities[userInfo.city].name }}
				</td>
			</tr>
			<tr>
				<td>Country</td>
				<td *ngIf="userInfo.country">{{ countries[userInfo.country].name }}</td>
			</tr>
		</tbody>
	</table>
</div>
<p>{{error | json}}</p>
<app-change-password-form *ngIf="changePass"></app-change-password-form>
<app-edit-profile-form
	*ngIf="editProfile"
	[userId]="userId"
	[userInfo]="userInfo"
	[editProfile]="editProfile"
	[countries]="countries"
	[cities]="cities"
	(setEditProfile)="setEditProfile($event)"
	(updateCities)="updateCities($event)"
	(updateEditedUserInfo)="updateEditedUserInfo($event)"
></app-edit-profile-form>
