<div *ngIf="userInfo && !changePass && !editProfile">
	<h4>User Profile</h4>
	<a class="edit-button" (click)="editProfile = true">Edit</a>
	<table class="table table-borderless">
		<tbody>
			<tr>
				<td>First Name</td>
				<td>{{ userInfo.user.first_name }}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>{{ userInfo.user.last_name }}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{ userInfo.user.email }}</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>
					<button (click)="changePass = true">change password</button>
				</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>{{ userInfo.phone }}</td>
			</tr>
			<tr>
				<td>Gender</td>
				<td *ngIf="userInfo.gender == 'm'">Male</td>
				<td *ngIf="userInfo.gender == 'f'">Female</td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td>{{ userInfo.dob }}</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>{{ userInfo.address }}</td>
			</tr>
			<tr>
				<td>City</td>
				<td>{{ userInfo.city }}</td>
			</tr>
			<tr>
				<td>Country</td>
				<td>{{ userInfo.country }}</td>
			</tr>
		</tbody>
	</table>
</div>
<app-change-password-form *ngIf="changePass"></app-change-password-form>
<app-edit-profile-form
	*ngIf="editProfile"
	[userId]="userId"
	[userInfo]="userInfo"
	[editProfile]="editProfile"
	(setEditProfile)="setEditProfile($event)"
></app-edit-profile-form>
