<div style="text-align:center">
  <h1>
    Login
  </h1>
</div>

<input #username type='text' placeholder='username'>
<input #password type='password' placeholder='password'>
<button (click)="login(username.value, password.value)">login</button>
<a [routerLink]="['/forget-password']">forgot password?</a>
<!-- <p *ngIf="error?.message != undefined">{{ error?.error.message }}</p> -->
<!-- <p *ngIf="error" style="color: red;">{{ error?.error.global}}</p> -->
<br>
<br>
<a [routerLink]="['/seller/login']">Seller Login</a>
