.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
}
.login-card {
  top: 20px;
}
.login-header {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  /* line-height: 69px; */
  text-align: center;
  /* #2B2B2B */
  color: #2b2b2b;
}
.card {
  border: none;
}
.btn {
  border: none;
}
.card-header {
  background-color: #f8f9fa00;
  border: none;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
}
.form-label {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  color: #2b2b2b;
}
.bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #2b2b2b;
}

.input-group-text {
  border-right: 0 !important;
}

.lang-btn {
  background: #f49814;
  font-style: normal;
  color: #ffffff;
  border-radius: 30px;
  margin-left: auto;
}
.lang {
  font-size: 12px;
  color: #ffffff;
}
.image-wrapper {
  margin-top: 60px;
  background: #eaeaea;
  border-radius: 20px;
}

.slogan {
  color: #ffffff;
}

.slogan-description {
  color: #ffffff;
}

.card-footer {
  border-color: #ffffff !important;
}

.footer-text {
  color: #ffffff;
}

.social-icon {
  margin-left: 20px;
  margin-right: 20px;
}
