/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

a {
  text-decoration: none;
  color: inherit;
}

button:focus {
  outline: none;
}
img {
  height: 220px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-name {
  margin: 15px 0 5px !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #2b2b2b;
  text-transform: capitalize;
}

.product-price {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

.store-name {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #cfcfcf;
}

mat-card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02) !important;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02) !important;
  cursor: pointer;
  overflow: hidden;
}

mat-card:hover img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.wish-icon {
    height: unset;
}

.mat-fab .mat-button-wrapper {
    padding: 13px 0 !important;
    line-height: 23px !important;
}

button{
    position: absolute;
    top: -68px;
    right: -68px;
    background-color: #fff !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

mat-card:hover button{
    top: 20px;
    right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    margin-bottom: 0px !important;
}

.mt-3 {
    margin-top: 30px !important;
}