/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Jost, Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

a,
a label {
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}
