<div class="container" >
    <div class="row">
        <h3>Checkout</h3>
    </div>
    <div class="row" style="margin-top: 40px; margin-right: 60px;">
        <div class="col-lg-8 p-2 border-outline" style="text-align: left;">
            <h4>Address</h4>
            <div class="row p-4" style="margin-top: 40px;">
                <div class="col-sm-7 address-row">
                    <div class="row ">
                        <!-- <div class="col-sm-2" style="margin-top: 25px;">
                            <img src="../../assets/radio-button-on.svg">
                        </div> -->
                        <div class="col-sm-10 p-4">
                            <div class="row" style="padding-top: 10px;">
                                <p>{{user.full_name}}<br/>{{user.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-4 add-address p-4" style="margin-left: 20px;">
                    <button (click)="show_address_form()" class="btn btn-default btn-block" type="button"><span><i class="fas fa-plus"></i></span>  New Address</button>
                </div> -->
            </div>
            <div *ngIf="new_address" class="row p-4 card-body" style="margin-top: 40px; ">
                <div class="form-group w-100 row">
                    <div class="col-lg-12">
                        <label class="form-label">Address</label>
                        <input class="form-control" type="text" placeholder="Enter Address"/>
                    </div>
                </div>
                <div class="form-group w-100 row">
                    <div class="col-lg-6">
                        <label class="form-label">City</label>
                        <input class="form-control" type="text" placeholder="Enter City name"/>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Country</label>
                        <input class="form-control" type="text" placeholder="Enter Country"/>
                    </div>
                </div>
                <div class="form-group w-100 row">
                    <div class="col-lg-6">
                        <label class="form-label">Area</label>
                        <input class="form-control" placeholder="Enter Area" type="text"/>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">Zip Code</label>
                        <input class="form-control" placeholder="Enter Zip code" type="text"/>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <div class="col-lg-6">
                        <button class="btn btn-block save-btn" type="button">Save</button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 40px;">
                <h4>Choose Payment Method</h4>
                <div class="row" style="margin-top: 40px;">
                    <div class="col-lg-6">
                        <a class="btn btn-block pay-option p-4" (click)="show_card_inputs()">Card</a>
                    </div>
                    <div class="col-lg-6">
                        <a class="btn btn-block pay-option p-4" (click)="show_wired_inputs()">Wire Transfer</a>
                    </div>
                </div>
            </div>
            <div *ngIf="isWired" class="d-flex flex-column" style="margin-top: 40px; align-items: flex-start;">
                <div class="p-2">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum hasook</p>
                    <p><strong>Account Number: 702 555-0122</strong></p>
                </div>
                <div class="p-2">
                    <button *ngIf="show_loader===false" class="btn btn-block save-btn" type="button" (click)="make_order()">Proceed</button>
                    <button *ngIf="show_loader" class="btn btn-block save-btn" type="button" disabled>
                        <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </div>
            <div *ngIf="isCard" class="row card-body" style="margin-top: 40px; ">
                <div class="form-group w-100 row">
                    <!-- <div class="col-lg-12">
                        <label class="form-label">Card Number</label>
                        <input class="form-control" type="text" placeholder="Enter Card Number..."/>
                    </div> -->
                </div>
                <div class="form-group w-100 row">
                    <!-- <div class="col-lg-6">
                        <label class="form-label">Card Holder</label>
                        <input class="form-control" type="text" placeholder="Enter Card Holder name..."/>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label">Expires</label>
                        <input class="form-control" type="text" placeholder="Enter Card Expire date"/>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label">CVV</label>
                        <input class="form-control" type="text" placeholder="Enter CVV number"/>
                    </div> -->
                    <div class="col-lg-6">
                        <button *ngIf="show_loader===false" class="btn btn-block save-btn" type="button" (click)="make_order()">Proceed</button>
                        <button *ngIf="show_loader" class="btn btn-block save-btn" type="button" disabled>
                            <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-between">
                <div>
                    <p>Sub Total</p>
                </div>
                <div>${{cash_details.subtotal}}</div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Discount</p>
                </div>
                <div>${{cash_details.discount}}</div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Vat</p>
                </div>
                <div>${{cash_details.vat}}</div>
            </div>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total</p>
                </div>
                <div>${{cash_details.total}}</div>
            </div>
        </div>
    </div>
</div>