/* Chrome, Safari, Edge, Opera */
#quantityInput input::-webkit-outer-spin-button,
#quantityInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#quantityInput input[type="number"] {
  -moz-appearance: textfield;
}

.quan-box {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  height: 40px;
}
.proceed-btn {
  background: #1F4F9E;
  border-radius: 5px;
  width: 520px;
  height: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
.right-col-div{
  font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;
/* identical to box height */


/* #2B2B2B */

color: #2B2B2B;
}
.vat-text{
  font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;
/* identical to box height */


/* #2B2B2B */

color: #2B2B2B;
}
.product-img {
  width: 120px;
  height: 120px;
  margin-left: 10px !important;
}
.apply-btn{
  width: 160px;
  height: 66px;
  background: #1F4F9E;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
.coupon-input{
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 345px;
  height: 66px;
}
.custom-btn {
  cursor: pointer;
  padding: auto;
}
.sub-text{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */


  color: rgba(43, 43, 43, 0.5);
}
.card{
  border: none;
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1260px !important;
  }
}
