<section class="dialogue-holder">
    <mat-dialog-content class="mat-typography">
        <div class="order-data">
            <p><b>Order ID: </b><span>#12589</span></p>
            <p><b>Order Date:</b><span> Nov 25, 2020</span></p>
            <p><b>Total Price: $25,800</b></p>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="media">
                            <img class="mr-3" src="../../../../../assets/images/default-image-620x600.jpg"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <p><b>Mordern white chair</b></p>
                                <p><span>DDP Manchester (28 days)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 order-data">
                        <a href="">proof.pdf</a>
                    </div>
                    <div class="col-md-2 order-data">
                        Quantity: 5
                    </div>
                    <div class="col-md-2 order-data">
                        $499
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="media">
                            <img class="mr-3" src="../../../../../assets/images/default-image-620x600.jpg"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <p><b>Mordern white chair</b></p>
                                <p><span>DDP Manchester (28 days)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 order-data">
                        <a href="">proof.pdf</a>
                    </div>
                    <div class="col-md-2 order-data">
                        Quantity: 5
                    </div>
                    <div class="col-md-2 order-data">
                        $499
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <!-- <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" class="del-btn">Delete</button>
        <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
    </mat-dialog-actions> -->
</section>