<section class="dialogue-holder">
    <mat-dialog-content class="mat-typography">
        <mat-dialog-actions align="end" class="p-0 m-0">
            <button mat-dialog-close><i class="fas fa-times mt-0 p-0"></i></button>
        </mat-dialog-actions>
        <div class="order-data">
            <p class="top-details">#{{'Seller_Dashboard.Order_ID'|translate}}:<span class="prod">{{data.order.order.order_code}}</span></p>
            <br>
            <p class="top-details">{{'Seller_Order_History.Order_Date'|translate}}:<span class="prod"> {{formatDate(data.order.order.order_datetime)}}</span></p>
            <br>
            <p class="top-details">{{'Buyer_Order_History.Payment_Date'|translate}}:<span class="prod"> {{data.order.order.seller_payment_status=='1' ? formatDate(data.order.order.seller_payment_date):''}}</span></p>
            <br>
            <p class="top-details">{{'Seller_Order_History.Payment_Status'|translate}}:<span class="prod"> {{data.order.order.seller_payment_status=='0'?'Unpaid':'Paid'}}</span></p>
            <br>
            <p class="top-details">{{'Seller_Order_History.Total_Price' | translate}}: <span class="prod">SAR{{data.order.order.total_amount}}</span></p>
        </div>
        <div class="card" *ngFor="let detail of details;let i=index">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12 col-sm-12">
                        <div class="media">
                            <img [src]="img_base_url+detail.product.image1" class="img-fluid"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <p class="name">{{detail.product.name}}</p>
                                <p *ngIf="detail.product.delivery_method===1" class="method"><span>{{'Seller_Product_Categories.DDP'|translate}}</span>({{detail.product.ddp_lead_time}}) days</p>
                                <p *ngIf="detail.product.delivery_method===2" class="method"><span>{{'Seller_Product_Categories.ExWorks'|translate}}</span>({{detail.product.ex_works_lead_time}}) days</p>
                                <p *ngIf="detail.product.delivery_method==2" class="method"><span>{{detail.pickup_address.address}}</span></p>
                                <p *ngIf="detail.product.delivery_method==1" class="method"><span>{{detail.shipping_address.address}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12 order-data proof">
                        <a href="javascript:void(0);" (click)="download(i)">{{detail.order.tracking_order[i].delivery_challan?'proof':''}}</a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12 order-data quantity desktop">
                        {{'Seller_Order_History.Quantity'|translate}}: {{detail.quantity}}
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12 order-data value">
                       SAR{{get_price(detail.unit_price,detail.quantity,detail.commission,detail.vat_amount)}}
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <!-- <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" class="del-btn">Delete</button>
        <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
    </mat-dialog-actions> -->
</section>
