.dialogue-holder img {
  width: 70px;
  height: 70px;
}

.media-body,
.quotation-details,
.order-data {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.order-data {
  margin-bottom: 30px;
}

::ng-deep .mat-dialog-container {
  padding: 30px 30px 0;
  width: 900px;
  border-radius: 0;
}

.card {
  border: none;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 7%);
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 30px;
}

.card-body {
  padding: 15px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 80px;
  height: 80px;
  background-image: url("../../../../../assets/upload.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
  border-radius: 5px;
  border: 3px dashed #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.attached-file {
  display: inline-block;
  vertical-align: top;
}

.attached-file {
  list-style: none !important;
  font-size: 20px;
}

.attached-file button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #ff4b55;
  border: none;
  color: #fff;
  font-size: 16px;
}
