a {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs {
  height: 60px;
  background: #89a1c8;
  border-radius: 8px;
  padding: 15px 40px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
