a {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs {
  height: auto;
  background: #89a1c8;
  border-color: #89a1c8 !important;
  border-radius: 8px;
  padding: 15px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}
 @media all and (min-width:290px) and (max-width:991px){
  .breadcrumbs {
    background: transparent !important;
    border: 0;
    font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
padding: 15px 0;
color: #1F4F9E;
  }
 }