<div>
  <!-- <div class="nav-section mt-5 mb-5">
    <span> <a href="#"> Home </a> / Raise a Support Ticket</span>
  </div> -->
  <app-breadcrumbs></app-breadcrumbs>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4>Raise A Support Ticket</h4>
      </div>
      <div class="col-md-7 d-flex justify-content-end">
        <button
          class="btn btn-warning open-ticket-button"
          [routerLink]="['/open-ticket/']"
        >
          Open a new ticket
        </button>
        <button class="btn btn-outline-secondary" (click)="sortTable()">
          Sort by Status
        </button>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <table class="table">
          <thead>
            <th scope="col">Issue Code</th>
            <th scope="col">Subject</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </thead>
          <tbody>
            <tr *ngFor="let st of supportTicketData; let i = index">
              <td>{{ st.issue_code }}</td>
              <td>{{ st.title }}</td>
              <td>{{ status[st.status] }}</td>
              <td>
                <button class="btn btn-outline-none" (click)="showModal(i)">
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- modal -->
    <div
      class="modal animated fadeIn"
      id="supportTicketModal"
      role="dialog"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-0 p-4">
          <div style="border: none" class="modal-header text-center">
            <button
              (click)="hideModal()"
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <div class="modal-body row">
          <div class="col-md-12">
            <div class="card" style="border: none">
              <div class="card-body">something</div>
            </div>
          </div>
        </div> -->
          <div class="row">
            <div class="col-3"><strong>Ticket ID</strong></div>
            <div class="col">
              <strong>#{{ selectedSupportTicket.issue_code }}</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-3"><strong>Date</strong></div>
            <div class="col">
              {{ formatDate(selectedSupportTicket.issue_date) }}
            </div>
          </div>

          <div class="row">
            <div class="col-3"><strong>Title</strong></div>
            <div class="col">
              {{ selectedSupportTicket.title }}
            </div>
          </div>

          <div class="row">
            <div class="col-3"><strong>Details</strong></div>
            <div class="col">
              {{ selectedSupportTicket.description }}
            </div>
          </div>

          <div class="row">
            <div class="col-3"><strong>Status</strong></div>
            <div class="col">
              {{ status[selectedSupportTicket.status] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
