*:focus {
  outline: none;
}

.breadcrumbs {
  background: #fff;
  height: 110px;
  margin: 260px 0 60px;
  padding: 25px 0;
}

.url {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
}

.serach-result {
  margin-right: 20px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 60px;
}

.clear-btn {
  margin-right: 40px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 60px;
}

button {
  width: 58px;
  height: 58px;
  border: 2px solid #454f63;
  border-radius: 5px;
  line-height: 59px;
  margin-right: 15px;
}
select {
  height: 58px;
  border: 2px solid #454f63;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0px 2px 1px rgb(0 0 0 / 30%);
}
select:focus {
  border: 2px solid #454f63;
  box-shadow: 0px 2px 1px rgb(0 0 0 / 30%);
}
a {
  color: #454f63;
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .col-sx-none {
    display: none;
  }
  .breadcrumbs {
    height: 60px;
    margin: 80px 0 20px;
    padding: 18px 0;
  }
  .url {
    font-size: 16px;
    line-height: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .breadcrumbs {
    height: 70px;
    margin: 220px 0 20px;
    padding: 20px 0;
  }
  .url {
    font-size: 18px;
    line-height: 30px;
  }
  button {
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 22px;
    padding: 0;
  }
}
