<div class="breadcrumbs" [ngClass]="{'breadcrumbs-for-seller':sellerWiseProduct, 'breadcrumbs':!sellerWiseProduct}">
    <div class="container">
        <div class="url d-inline-block">
            <a [routerLink]="['/home']">{{'Nav.Home'|translate}}</a>
            <span style="color: #2b2b2b;"> / </span>
            <span *ngIf="line_parts.length>2 && line_parts[0]!='Search Result' && line_parts[0]!='RFQ' && line_parts[0]!='Open a New Ticket' && line_parts[0]!='Raise A Support Ticket'" [routerLink]="['/products/category/',line_parts[2]]" style="color: rgba(43, 43, 43, 0.3);cursor: pointer;">{{line_parts[0] | titlecase | slice:0:30}}{{line_parts[0].length>30?'...':''}}</span>
            <span *ngIf="line_parts[0].trim()=='Categories' && line_parts[0]!='Search Result' && line_parts[0]!='RFQ' && line_parts[0]!='Open a New Ticket' && line_parts[0]!='Raise A Support Ticket'" [routerLink]="['/products/categories']" style="color: rgba(43, 43, 43, 0.3);cursor: pointer;">{{line_parts[0] | titlecase | slice:0:30}}{{line_parts[0].length>30?'...':''}}</span>
            <span *ngIf="line_parts.length>1 && line_parts[0]!='Search Result' && line_parts[0]!='RFQ' && line_parts[0]!='Open a New Ticket' && line_parts[0]!='Raise A Support Ticket'" style="color: #2b2b2b;"> / </span>
            <span *ngIf="line_parts.length>1 && line_parts[0]!='Search Result'" style="color: rgba(43, 43, 43, 0.3);cursor: pointer;">{{line_parts[1] | titlecase | slice:0:30}}{{line_parts[1].length>30?'...':''}}</span>
            <span *ngIf="line_parts[0]=='Search Result'" style="color: rgba(43, 43, 43, 0.3);cursor: pointer;">{{line_parts[0]}}</span>
            <span *ngIf="line_parts[0]=='RFQ'" style="color: rgba(43, 43, 43, 0.3);cursor: pointer;">{{line_parts[0]}}</span>
            <span *ngIf="line_parts[0]=='Open a New Ticket'" style="color: rgba(43, 43, 43, 0.3);cursor: pointer;">{{line_parts[0]}}</span>
            <span *ngIf="line_parts[0]=='Raise A Support Ticket'" style="color: rgba(43, 43, 43, 0.3);cursor: pointer;">{{line_parts[0]}}</span>        
        </div>
        <div class="d-inline-block float-right">
            <span class="serach-result" *ngIf="directoryString == 'Search Result'">{{'Home.Search_Result'|translate }} - {{searchLength}} {{'Home.Items'|translate}}</span>
            <span class="clear" style="cursor: pointer;" (click)="clear_selects()" *ngIf="directoryString == 'Search Result'">{{'Home.Clear'|translate}}</span>
            <!-- <a class="clear-btn" *ngIf="directoryString == 'Search Result'">Clear All</a> -->
            <button type="button" [ngClass]="style=='grid'? 'active col-sx-none col-sm-none col-md-none col-lg-block':'col-sx-none col-sm-none col-md-none col-lg-block'" id="list_btn" mat-raised-button (click)="emit_style_change('list')" ><i class="fas fa-bars"></i></button>
            <button type="button" [ngClass]="style=='list'? 'active col-sx-none col-sm-none col-md-none col-lg-block':'col-sx-none col-sm-none col-md-none col-lg-block'" id="grid_btn" mat-raised-button (click)="emit_style_change('grid')"><i class="fas fa-th-large"></i></button>
            <!-- <div class="d-inline-block">
                <select class="form-control form-control-lg">
                    <option>Sort by Relevance</option>
                    <option>Large select 2</option>
                    <option>Large select 3</option>
                    <option>Large select 4</option>
                </select>
            </div> -->
        </div>
    </div>
</div>