@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap");

*:focus {
  outline: none;
}
.side-cat-menu {
  position: relative;
  width: 25%;
  float: left;
  bottom: 0;
  background: #ffffff;
  margin-left: -15px !important;

}
.side-nav-bar {
  background: #ddd;
  margin-top: 2px;
  padding: 15px 30px;
  min-height: 100vh;
  background: #ffffff;
  /* min-height: calc(100vh - 120px) !important; */
  overflow-y: auto;
  
}
.cat-menu-toggle-btn {
  display: none;
}
.cat-menu-close-btn {
  display: none;
}

/*accordion code*/
.side-nav-bar mat-expansion-panel {
  background: none;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.side-nav-bar .mat-expansion-panel-header {
  padding: 10px 10px 10px 0;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  height: auto;
  color: #2b2b2b;
}

.side-nav-bar .mat-expansion-panel-header.mat-expanded {
  height: auto;
}

.side-nav-bar .expanded-div .mat-expansion-panel-header {
  border-bottom: none;
}

.side-nav-bar ::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 16px 24px !important;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  color: rgba(43, 43, 43, 0.5);
}
.med-child {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 43, 43, 0.5);
}

.side-nav-bar .expanded-div ::ng-deep .mat-expansion-indicator::after {
  display: none !important;
}

.plus,
.minus {
  font-size: 24px;
}

.side-nav-bar .expanded-div .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.side-nav-bar .mat-expansion-panel-header-title,
.side-nav-bar .mat-expansion-panel-header-description {
  margin-right: 0px !important;
}
a:hover {
  cursor: pointer;
}

/* a {
  color: inherit;
} */
a:active {
  color: #1f4f9e !important;
}
/*acordion code ends*/
.product-list-content {
  width: 75%;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding: 35px 0 0 15px; */
}
/*acordion code*/

/**page heading section **/
.page-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 69px;
  font-family: Jost;
  /* padding: 40px 0; */
  margin: 0;
}
.name{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;
overflow-wrap: break-word;

}
.show-values{
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 15px;
  cursor: pointer;
  }
  .end-date{
    color: #FF4B55 !important;
  }
 .mobile-button{
    display: none !important;
  }
.value{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #2B2B2B;
/* word-wrap: break-word; */
white-space: pre-line;

}
.delete-btn {
 
  background: #ff4b55;
  color: #fff;
  height: 70px;
  width: 170px;
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;

text-align: center !important;

color: #FFFFFF;
}
.delete-btn-normal{
  background-color: transparent !important;
  border: 1px solid #ff4b55;
  color: #FF4B55;
  height: 70px;
  width: 170px;
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;

text-align: center !important;
}
.delete-btn img{
  margin-bottom: 6px;
}
.checkbox-holder{
  height: 40px;
  width: 40px;
  padding: 8px 10px;
  margin-left: -24px;
 
}
 ::ng-deep .mat-checkbox {
  background: #fff;
  height: 10px;
  width: 10px;
  padding: 8px 10px;
 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
  0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
 
 
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #1F4F9E;

 border-radius: 5px;
}

::ng-deep .mat-checkbox label{
  margin-bottom: 0;
}
::ng-deep .mat-checkbox-checked,::ng-deep .mat-checkbox-indeterminate{
  border: 2px solid #1F4F9E;
  border-radius: 5px;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
background-color: #1F4F9E !important;
border-radius: 5px;


}
.edit-product-btn {
  width: 40px;
  min-width: 40px;
  height: 35px;
  padding: 0;
  border-radius: 10px;
  margin-right: 5px;
  margin-top:-6px;
}

/* .page-heading-holder .sort-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-weight: normal;

  
} */
.mobile-buttons > button{
background-color: transparent !important;
border:0 !important;
outline: none !important;
height: 50px;
width: 50px;
}
.breadcrumb{
  margin-top: 15px;
  display: block !important;
  background: #89A1C8;
}
.card-header{
  background-color: transparent;
  border:0 !important;
}
.view-more-btn-div {
  text-align: center;
  padding: 0px 0 90px;
}

.view-more-btn-div button {
  /* background: #f49814; */
  background: #1f4f9e;
  color: #fff;
  padding: 15px 25px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
}
.no-show{
  text-align: center !important;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bread{
  margin-top: 20px;
}


/****RESPONSIVE DESIGN****/
@media all and (min-width: 290px) and (max-width: 339px) {
  .side-cat-menu {
    position: fixed;
    width: 250px !important;
    left: -254px;
    top: 0;
    height: 100vh;
    z-index: 99999;
    z-index: 9;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .page-heading {
    padding: 15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .product-list-content {
    width: 100%;
    /* padding: 0; */
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-header {
    position: relative;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn.active {
    position: fixed;
    left: 235px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 35px;
    max-width: 40px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn img {
    width: 20px;
  }
  .remove-single{
    margin-right: 20px !important;
  }
  .desktop-view,.remove-bulk,.card-header{
    display: none !important;
  }
  .value,.mobile-name,.no-show{
    font-size: 14px;
    line-height: 20px;
  }
  .edit-product-btn{
    margin-top: 15px;
  }
}
/*340 to 575*/
@media only screen and (min-width: 340px) and (max-width: 576px) {
  .side-cat-menu {
    position: fixed;
    width: 300px;
    left: -300px;
    top: 0;
    height: 100vh;
    z-index: 99999;
    z-index: 9;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .product-list-content{
    width: 100%;
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-header {
    position: relative;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn.active {
    position: fixed;
    left: 260px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 55px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn img {
    width: 30px;
  }
  .page-heading {
    padding: 15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .side-nav-bar > .mat-expansion-panel-header-title {
    font-size: 16px !important;
    line-height: 23px !important;
  }
  .side-nav-bar .mat-expansion-panel-body,
  .med-child {
    font-size: 14px;
    line-height: 20px;
  }
  .desktop-view,.card-header,.remove-bulk{
    display:none !important;
  }
  
  .edit-product-btn{
    margin-top: 15px;
  }
  .value,.mobile-name,.no-show{
    font-size: 14px;
    line-height: 20px;
  }
  .remove-single{
    margin-right: 20px !important;
  }
}
/*576 to 767px*/
@media all and (min-width:576px) and (max-width:768px){
  .side-cat-menu {
    position: fixed;
    width: 300px;
    left: -300px;
    top: 0;
    height: 100vh;
    z-index: 99999;
    z-index: 9;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .product-list-content{
    width: 100%;
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-header {
    position: relative;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn.active {
    position: fixed;
    left: 260px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 55px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn img {
    width: 30px;
  }
  .page-heading {
    padding: 15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .side-nav-bar > .mat-expansion-panel-header-title {
    font-size: 16px !important;
    line-height: 23px !important;
  }
  .side-nav-bar .mat-expansion-panel-body,
  .med-child {
    font-size: 14px;
    line-height: 20px;
  }
  .desktop-view,.card-header,.remove-bulk{
    display:none !important;
  }
  
  .edit-product-btn{
    margin-top: 15px;
  }
  .value,.mobile-name,.no-show,.no-data{
    font-size: 14px;
    line-height: 20px;
  }
 
}
@media all and (min-width:769px) and (max-width:991px){
  .side-cat-menu {
    position: fixed;
    width: 300px;
    left: -300px;
    top: 0;
    height: 100vh;
    z-index: 99999;
    z-index: 9;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .product-list-content{
    width: 100%;
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-header {
    position: relative;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn.active {
    position: fixed;
    left: 260px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 55px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn img {
    width: 30px;
  }
  .page-heading {
    padding: 15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .side-nav-bar > .mat-expansion-panel-header-title {
    font-size: 16px !important;
    line-height: 23px !important;
  }
  .side-nav-bar .mat-expansion-panel-body,
  .med-child {
    font-size: 14px;
    line-height: 20px;
  }
  .desktop-view,.card-header,.remove-bulk{
    display:none !important;
  }
  
  .edit-product-btn{
    margin-top: 15px;
  }
  .value,.mobile-name,.no-show,.no-data{
    font-size: 16px;
    line-height: 23px;
  }
 
}
@media all and (min-width:991px) and (max-width:992px){
  .side-cat-menu {
    position: fixed;
    width: 300px;
    left: -300px;
    top: 0;
    height: 100vh;
    z-index: 99999;
    z-index: 9;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .product-list-content{
    width: 100%;
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-header {
    position: relative;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn.active {
    position: fixed;
    left: 260px;
    top: 160px;
    background: #f49814;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 55px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn img {
    width: 30px;
  }
  .page-heading {
    padding: 15px 0;
    font-size: 20px;
    line-height: 29px;
  }
  .side-nav-bar > .mat-expansion-panel-header-title {
    font-size: 16px !important;
    line-height: 23px !important;
  }
  .side-nav-bar .mat-expansion-panel-body,
  .med-child {
    font-size: 14px;
    line-height: 20px;
  }
  .desktop-view,.card-header,.remove-bulk{
    display:none !important;
  }
  
  .edit-product-btn{
    margin-top: 15px;
  }
  .value,.mobile-name,.no-show,.no-data{
    font-size: 16px;
    line-height: 23px;
  }
}
@media only screen and (min-width:992px) and (max-width:1200px){
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none !important;
  }
  .cat-menu-close-btn.active {
    position: absolute !important;
    left: 230px;
    top: 160px;
    background: #f49814 !important;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 55px;
    padding: 5px;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999999;
  }
  .cat-menu-close-btn {
    display: block;
    position: fixed;
    left: -100px;
    z-index: 999999999999;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .cat-menu-close-btn img {
    width: 30px;
  }
  .product-list-content {
    width: 100%;
    /* padding: 0; */
  }

  .side-cat-menu {
    position: absolute;
    width: 250px;
    left: -700px;
    top: 0;
    /*  height: 100vh !important; */
    z-index: 99999;
    z-index: 9;
    overflow-y: hidden;
    scroll-behavior: unset;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .side-cat-menu.active {
    left: 0;
    top: 0;
    /* height: 100vh !important; */
    z-index: 99999999;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  /* .mobile-buttons {
    margin-top: 40px;
  } */
 .desktop-view.page-heading,.desktop-view{
    display: none !important;
  }
  .remove-single,.mobile-name{
    display: none !important;
  }
}
@media all and (min-width:1201px){
  .mobile-view,.mobile-buttons,.mobile-name{
    display: none !important;
  }
  .remove-single{
    display: none !important;
  }
  .container {
    max-width: 1600px !important;
  }
  .desktop-view{
    display: "" !important;
  }
  .side-cat-menu {
    position: relative;
    width: 25%;
    float: left;
    bottom: 0;
    background: #ffffff;
  
    margin-left: -30px !important;
  }
  .product-list-content{
    width: 75% !important;
  }

}

/* @media all and (min-width:1500px){
  .side-cat-menu{
    margin-left:-40px !important;
  }
} */