<section class="page-heading-holder">
    <h2 class="page-heading d-inline-block">Order History</h2>
    <div class="sort-btn d-inline-block">
        <select (change)="filter_orders($event.target.value)" class="form-control form-control-lg">
            <option value="-1">Filter by Status</option>
            <option value="1">Paid</option>
            <option value="0">Unpaid</option>
        </select>
    </div>
</section>
<section class="card mb-5">
    <table mat-table [dataSource]="filtered_orders | slice: lowValue:highValue" class="mat-elevation-z8">
        <!-- Order ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Order ID</th>
            <td mat-cell *matCellDef="let element">#{{ element.order.order_code }}</td>
        </ng-container>

        <!-- Payment Date Column -->
        <ng-container matColumnDef="payment_date">
            <th mat-header-cell *matHeaderCellDef>Payment Date</th>
            <td mat-cell *matCellDef="let element">{{ element.order.order_payment?.length>0 ? formatDate(element.order.order_payment[0].created_at) : '-' }}</td>
        </ng-container>

        <!-- Delivery Date Column -->
        <ng-container matColumnDef="delivery_date">
            <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
            <td mat-cell *matCellDef="let element">{{ formatDate(element.delivery_date) }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.order.payment_type == 1">Paid</span>
                <span *ngIf="element.order.payment_type == 0">Unpaid</span>
            </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">{{ element.order.total_amount }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button class="edit-product-btn" mat-raised-button (click)="openDialog(element)">View</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="5"
      [length]="filtered_orders.length"
      showFirstLastButtons
      (page)="getPaginatorData($event)"
      *ngIf="filtered_orders?.length>5"
    ></mat-paginator>
    <div class="no-data" *ngIf="filtered_orders.length===0">
        No data available
    </div>
</section>
<div class="total-order-price mb-3">
    Total: SAR{{get_total()}}
</div>