<section *ngIf="prodcutDetails">
  <app-breadcrumbs *ngIf="prodcutDetails" [directoryString]="
      prodcutDetails.category.name + ' / ' + prodcutDetails.name + '/' + prodcutDetails.category.id
    " [style]="'NA'">
  </app-breadcrumbs>
  <div style="background: #fff">
    <div class="container">
      <div class="row prodcutDetails" *ngIf="prodcutDetails">
        <div class="col-md-6  col-lg-6 col-xl-7">
          <div class="img-slider-div">
            <pinch-zoom>
              <img class="prod-img img-fluid" [src]="sliderImgArray[currentImg]" alt="prod img" />
            </pinch-zoom>
            <div class="slider-btn-div" *ngIf="imgNavShow">
              <button type="button" mat-raised-button (click)="prevImg()" [disabled]="prevBtnDisabled">
                <img src="../../../assets/left-arrow.svg" alt="" />
              </button>
              <button type="button" mat-raised-button (click)="nextImg()" [disabled]="nextBtnDisabled">
                <img src="../../../assets/right-arrow.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="wishlist-review-div">
            <button type="button" class="mb-3" mat-button *ngIf="addToWishlistStatus == '1'"
              (click)="addToWishlist(prodcutDetails.id)">
              <img src="../../../assets/wish.svg" alt="" />{{'Buyer_Product_Details.Add_Wishlist'|translate}}
            </button>
            <button class="mb-3" type="button" mat-button *ngIf="addToWishlistStatus == '0' && uid != undefined"
              (click)="removeFromWishlist(prodcutDetails.id)">
              <img src="../../../assets/wish_filledup.svg" alt="" />{{'Buyer_Product_Details.Remove_Wishlist'|translate}}
            </button>
            <button type="button" class="mb-3 review-btn" type="button" mat-button (click)="scroll_to_reviews(reviews)">
              <img src="../../../assets/review-icon.svg" alt="" />{{'Buyer_Product_Details.Customer_Review'|translate}} ({{ totalComments }})
             
            </button>
          </div>
          <div class="prod-delivery-info">
            <p *ngIf="prodcutDetails.pickup_address?.length > 0"  class="pick-address">
              <span class="pick-address prob">Product Delivery Method : {{prodcutDetails.delivery_method===1?'DDP':'Ex-Works'}} </span>
              <i data-target="tooltip" class="show-method" title="{{prodcutDetails.delivery_method===1?'The Seller will need X days to complete the order and deliver the order to end customer within ':'The Seller will need X days to complete the order and the buyer is responsible for picking up the product from '}}" class="fas fa-info-circle"></i> {{prodcutDetails.delivery_method===1?'('+prodcutDetails.ddp_lead_time+') days DDP':'('+prodcutDetails.ex_works_lead_time+') days Ex-Works'}}
              <span *ngIf="prodcutDetails.delivery_method===1">({{prodcutDetails.ddp_destination}})</span>
              <span *ngIf="prodcutDetails.delivery_method ==2">(<span *ngFor="let address of prodcutDetails.pickup_address;let i=index">{{address.address}}<span *ngIf="i!=prodcutDetails.pickup_address.length-1">,</span></span>)</span>

            </p>
            <p *ngIf="prodcutDetails.pickup_address?.length > 0 && prodcutDetails.delivery_method!=1" class="pick-address">
              <span class="bold-pick">{{'Buyer_Product_Details.Pickup_Location'|translate}} </span><span *ngFor="let address of prodcutDetails.pickup_address;let i=index">{{address.address }}</span>
              <ng-template *ngIf="
                prodcutDetails.pickup_address?.length > 0;
                else pickAddressNa
              ">{{ prodcutDetails.pickup_address[0].address }}</ng-template>
              <ng-template #pickAddressNa>{{'Buyer_Product_Details.Not_Specified'|translate}}</ng-template>
            </p>
          </div>
          <!-- <div class="quantity-input">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">
                <img src="../../../assets/minus.svg" alt="" />
              </button>
              <input #unit value="1" min="1" max="" />
              <button type="button" class="btn btn-secondary">
                <img src="../../../assets/plus.svg" alt="" />
              </button>
            </div>
          </div> -->
           <!--quantity-->
           <div class="row mb-3">
            <div class="col-12 col-md-12">
              <div class="form-check-inline minus">
                <button class="btn plus-button" type="button" (click)="minus()"><img src="../../../assets/minus.svg"
                  /></button>
              </div>
             
              <div class="form-check-inline minus input-text">
                <input type="number" class="form-control input-number" [(ngModel)]="inputnumber" (input)="check_qty($event.target.value)">
              </div>
              <div class="form-check-inline plus">
                <button type="button" class="btn plus-button" (click)="plus()"><img src="../../../assets/plus.svg"
                  /></button>
              </div>
            </div>
          </div>
          <h5 class="stock">
            <span>{{'Buyer_Product_Details.Stock'|translate}}: </span> {{ get_quantity(prodcutDetails.stock_quantity) }}
          </h5>
          <div class="cart-quote-btn-div">
            <button type="button" [disabled]="
                addToCart=='false' || prodcutDetails.stock_quantity < 1
              " class="add-to-cart-btn" mat-raised-button (click)="add_to_cart()" [ngClass]="addToCart?'add-to-cart-btn':''">
              {{'Buyer_Product_Details.Add_to_Cart'|translate}}
            </button>
            &nbsp;
            <button [disabled]="addToCart=='true'" class="req-for-quote-btn" type="button" mat-raised-button [routerLink]="['/rfq/', prodcutDetails.id]">
              <i class="far fa-file-excel"></i> {{'Buyer_Product_Details.Request_for_Quotation'|translate}}
            </button>
            <span class="tooltiptext" *ngIf="addToCart=='true'">{{'Buyer_Product_Details.Stock-Text'|translate}}</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-5">
          <p class="prod-name">
            {{ prodcutDetails.name | titlecase }}
          </p>
          <p class="prod-price">{{'Buyer_Quotation_History.Unit_Price'|translate}}: SAR {{ get_unit_price(prodcutDetails.commission,prodcutDetails.unit_price) }}</p>
          <p class="seller-name" *ngIf="prodcutDetails">
            <span>{{'Buyer_Product_Details.Seller_Name'|translate}} </span><a (click)="go_to_seller_wise_product_list()"
              style="text-decoration:1px #1f4f9e solid underline; color: #1f4f9e">{{ prodcutDetails.seller.store_name | titlecase }}</a>
          </p>
          <p class="brand-name" *ngIf="prodcutDetails?.brand != null">
            <span>{{'Buyer_Product_Details.Brand_Name'|translate}}: </span>
            {{prodcutDetails.brand.name | titlecase}}
          </p>
          <p class="brand-name" *ngIf="prodcutDetails?.size != null">
            <span>{{'Seller_Upload_Product.Size'|translate}}: </span>
            {{prodcutDetails.size}}
          </p>
          <p class="brand-name" *ngIf="prodcutDetails?.unit.name != null">
            <span>{{'Seller_Product_Categories.Unit_of_measurement'|translate}}: </span>
            {{prodcutDetails.unit.name}}
          </p>
          <p class="prod-details-header" *ngIf="prodcutDetails?.description">
            <span>{{'Buyer_Product_Details.Product_Details'|translate}}: </span>
            <span class="border-bottom-75"></span>
          </p>
          <p *ngIf="prodcutDetails?.description" class="prod-desc">{{ prodcutDetails.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="similar-product-holder">
    <div class="container">
      <div class="similar-prod-header">
        <h4 class="d-inline-block">{{'Buyer_Product_Details.Similar_Products'|translate}}</h4>
        <button mat-raised-button class="d-inline-block float-right" type="button" (click)="nextSlide();"><img
            src="../../../../assets/right-arrow.svg" alt=""/></button>
        <button mat-raised-button class="d-inline-block float-right" type="button" (click)="prevSlide();"><img
            src="../../../../assets/left-arrow.svg" alt=""/></button>
      </div>
      <div class="row">
        <div [ngClass]="sliderClassName" *ngFor="let product of relatedProducts | slice:sliceMinValue:sliceMaxValue">
          <div class="prod-card-holder h-100">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <div class="review-header">
    <div class="container">
    <h4>{{'Buyer_Product_Details.Reviews'|translate}}</h4>
  </div>
  </div>
  <div class="reviews-holder"#reviews>
    <div class="container">
    
      <div *ngIf="commentlist?.length">
        <div class="comment-div" *ngFor="let comment of commentlist">
          <p class="commenter-name mb-0">
            {{ comment.buyer.full_name | titlecase}}
          </p>
          <span><i class="far fa-clock"></i> {{ comment.created_at | date }}</span>
          <p class="commenting">
            {{ comment.comment }}
          </p>
          <hr />
        </div>
      </div>
      <h4 *ngIf="commentlist.length === 0" class="text-center no-dcomment">
        {{'Buyer_Product_Details.No_Comments'|translate}}
      </h4>
      <div class="text-center mt-5">
        <button mat-raised-button *ngIf="nextCommentsLink !== null" type="button" (click)="getNextComments()" class="submit-review-btn mr-3">
          {{'Buyer_Product_Details.More_Comments'|translate}}
        </button>
        <button mat-raised-button (click)="show_review_modal()" type="button" class="submit-review-btn">
          {{'Buyer_Product_Details.Submit_Review'|translate}}
        </button>
        <app-product-review-modal [prodcutDetails]="prodcutDetails">
        </app-product-review-modal>
      </div>
    </div>
  </div>
  <div class="seller-description">
    <div class="container">
      <h4 class="seller-desc-head">{{'Buyer_Product_Details.Seller_Description'|translate}}</h4>
      
      <div class="comment-div">
        <p class="seller-head mb-0" *ngIf="prodcutDetails">
         {{ prodcutDetails.seller.store_name|titlecase }}
        </p>
      <p class="seller-desc" *ngIf="prodcutDetails.seller.seller_description">{{prodcutDetails.seller.seller_description}}</p>
      </div>
     
      <div class="comment-div">
        <p class="seller-head mb-0" *ngIf="prodcutDetails.seller.store_address">{{'Buyer_Profile_Form.Address'|translate}}</p>
 
        <p *ngIf="prodcutDetails.seller.store_address" class="seller-desc"> 
         {{prodcutDetails.seller.store_address }}
        </p>
      </div>
    </div>
  </div>
</section>
<ngx-spinner></ngx-spinner>