/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

a {
  text-decoration: none;
}

*:focus,button:focus,input:focus,input:active,button:active {
  outline:none;
  box-shadow: none;
}
.btn,.form-control{
  outline: 0 !important;
}

.prodcutDetails {
  padding: 60px 0;
}

.img-slider-div {
  position: relative;
}

pinch-zoom /deep/ .pinch-zoom-content {
  background: #efefef;
}

.slider-btn-div {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slider-btn-div button {
  margin-right: 15px;
}

.zoom-btn-div {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.prod-img {
  height: 450px;
}

.prodcutDetails /deep/ .mat-raised-button {
  min-width: 60px !important;
  min-height: 60px !important;
}

.prodcutDetails /deep/ .pz-zoom-button.pz-zoom-control-position-bottom {
  bottom: 20px;
  right: 20px;
  min-width: 60px;
  min-height: 60px;
  left: unset;
}

.wishlist-review-div,
.cart-quote-btn-div {
  padding: 40px 0 0;
}

.wishlist-review-div img {
  margin-right: 15px;
}

.wishlist-review-div button {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.prod-delivery-info {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.quantity-input input {
  border-radius: 0px;
  border: 1px solid #6c757d;
  font-size: 35px;
  border-left: none;
  width: 80px;
}

.quantity-input button {
  min-width: 80px;
  min-height: 80px;
  background: none;
}

.cart-quote-btn-div button.add-to-cart-btn {
  width: 250px;
  height: 80px;
  background: #1f4f9e;
  border-radius: 5px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-align: center !important;
}

.cart-quote-btn-div button.req-for-quote-btn {
  height: 80px;
  border: 1px solid #1f4f9e;
  color: #1f4f9e;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.prod-name {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #2b2b2b;
}
.prod-price {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
}

.seller-name,
.brand-name,
.prod-details-header {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.seller-name span,
.brand-name span,
.prod-details-header span {
  font-weight: 500;
}

.prod-details-header {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  position: relative;
  display: inline-block;
}

.border-bottom-75 {
  position: absolute;
  width: 75%;
  border-bottom: 2px solid #2b2b2b;
  bottom: 0;
  left: 0;
}

.prod-details {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.similar-prod-holder {
  background: #6c757d;
}

.similar-prod-header h4 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  margin: 40px 0 60px;
}
.input-number,.form-control{
  width:80px !important;
  min-width:80px;
  /* max-width: 150px; */
  height:80px;
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
border: 1px solid #CFCFCF;
box-sizing: border-box;
/* identical to box height */
font-family: Jost;
text-align: center;
color: #2B2B2B;
border-radius: 0 !important;
}
.plus-button{
  width:80px !important;
  height:80px !important;
  border: 1px solid #CFCFCF;
box-sizing: border-box;
/* border-radius: 5px 0px 0px 5px; */
font-weight:400 !important;
font-size:24px !important;
line-height: 35px;
font-family: Jost;
border-radius: 0 !important;
}
btn{
  border-radius: 0 !important;
}
.minus{
  margin-right: 0 !important;
}
.plus{
  margin-left: 0 !important;
}
.plus-button img{
  height:30px;
  width:30px;
}
.similar-prod-header button {
  background: #eaeaea;
  border-radius: 10px;
  margin-top: 30px;
  background: #ccc;
  width: 80px;
  height: 80px;
}

.similar-prod-header button:last-child {
  margin-right: 15px;
}
.stock{
  font-family: Jost;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* identical to box height */


/* #2B2B2B */

color: #2B2B2B;
}
.stock>span{
  font-weight: 500 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@-webkit-keyframes example {
  0% {
    /* opacity: 1; */
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  /* 50% {
    opacity: 0.5;
    transform: scale(0.5);
  } */
  100% {
    /* opacity: 0; */
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes example {
  0% {
    /* opacity: 1; */
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  /* 50% {
    opacity: 0.5;
    transform: scale(0.5);
  } */
  100% {
    /* opacity: 0; */
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.prod-card-holder {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

/* ngb-carousel /deep/ .carousel-control-prev {
  background: #eaeaea;
  border-radius: 10px;
  right: 100px;
  left: unset;
  top: -134px;
  background: #ccc;
  width: 80px;
  height: 80px;
}

ngb-carousel /deep/ .carousel-control-next {
  background: #eaeaea;
  border-radius: 10px;
  right: 0;
  top: -134px;
  background: #ccc;
  width: 80px;
  height: 80px;
}

ngb-carousel /deep/ .carousel-control-prev-icon {
  background-image: url("../../../../assets/left-arrow.svg") !important;
}

ngb-carousel /deep/ .carousel-control-next-icon {
  background-image: url("../../../../assets/right-arrow.svg") !important;
} */

.reviews-holder {
  background: #fff;
  padding: 60px 0;
}

.reviews-holder button {
  background: #1f4f9e;
  color: #ddd;
  padding: 23px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.seller-description {
  background: #ddd;
  padding: 100px 0 225px;
}

.module {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .prodcutDetails {
    padding: 15px 0;
  }
  .prod-img {
    height: 200px;
  }
  .prodcutDetails .mat-raised-button {
    min-width: 38px !important;
    min-height: 38px !important;
  }
  .prodcutDetails .mat-raised-button img {
    height: 10px;
  }
  .wishlist-review-div,
  .cart-quote-btn-div {
    padding: 15px 0 0;
  }
  .wishlist-review-div button {
    font-size: 16px;
    background: #efefef;
    margin-right: 15px;
  }
  .wishlist-review-div button img {
    height: 16px;
  }
  .prod-delivery-info {
    font-size: 16px;
  }
  .prod-delivery-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .prod-delivery-info h5 {
    font-size: 16px !important;
  }
  .stock{
    font-size: 14px;
    line-height: 20px;
  }
  .cart-quote-btn-div button.add-to-cart-btn {
    width: 180px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .cart-quote-btn-div button.req-for-quote-btn {
    height: 50px;
    font-size: 16px;
  }
  .prod-name {
    font-size: 18px;
    margin-top: 10px;
  }
  .prod-price,
  .seller-name,
  .brand-name,
  .prod-details-header {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .similar-prod-header h4 {
    font-size: 20px;
    margin: 15px 0 15px;
  }
  .similar-prod-header button {
    margin-top: 10px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 0;
  }
  .similar-prod-header button img {
    height: 15px;
    vertical-align: text-top;
  }
  .reviews-holder {
    padding: 15px 0;
  }
  .reviews-holder h4 {
    font-size: 16px;
  }
  .reviews-holder button {
    padding: 0px 3px;
    color: #fff;
    height: 50px;
    font-size: 16px;
  }
  .modal-title {
    font-size: 20px;
    line-height: 22px;
  }
  .seller-description {
    padding: 15px 0 15px;
  }
.input-text{
  padding-top: 10px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .prodcutDetails {
    padding: 30px 0;
  }
  .prod-img {
    height: 250px;
  }
  .prodcutDetails .mat-raised-button {
    min-width: 38px !important;
    min-height: 38px !important;
  }
  .prodcutDetails .mat-raised-button img {
    height: 10px;
  }
  .input-text{
    padding-top: 10px;
  }
  .wishlist-review-div,
  .cart-quote-btn-div {
    padding: 20px 0 0;
  }
  .wishlist-review-div button {
    font-size: 16px;
    background: #efefef;
    margin-right: 15px;
  }
  .wishlist-review-div button img {
    height: 16px;
  }
  .prod-delivery-info {
    font-size: 16px;
  }
  .prod-delivery-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .prod-delivery-info h5 {
    font-size: 16px !important;
  }
  .cart-quote-btn-div button.add-to-cart-btn {
    width: 180px;
    height: 60px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .cart-quote-btn-div button.req-for-quote-btn {
    height: 60px;
    font-size: 18px;
  }
  .prod-name {
    font-size: 22px;
    margin-top: 15px;
  }
  .prod-price,
  .seller-name,
  .brand-name,
  .prod-details-header {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .similar-prod-header h4 {
    font-size: 22px;
    margin: 15px 0 15px;
  }
  .similar-prod-header h4 {
    font-size: 20px;
    margin: 15px 0 15px;
  }
  .similar-prod-header button {
    margin-top: 10px;
    width: 30px;
    min-width: 30px;
    height: 30px;
  }
  .similar-prod-header button img {
    height: 15px;
    vertical-align: text-top;
  }
  .reviews-holder {
    padding: 15px 0;
  }
  .reviews-holder h4 {
    font-size: 18px;
  }
  .reviews-holder button {
    padding: 0px 15px;
    color: #fff;
    height: 60px;
    font-size: 18px;
  }
  .modal-title {
    font-size: 22px;
    line-height: 26px;
  }
  .seller-description {
    padding: 15px 0 15px;
  }
}