/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.errors {
  color: red;
}

.modal {
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 100px rgba(47, 47, 47, 0.05);
          box-shadow: 0px 10px 100px rgba(47, 47, 47, 0.05);
}

.rem-check {
  margin-top: 7px;
}

.forget-pass {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */
  text-align: right;
  color: #2b2b2b;
  width: 124px;
  height: 29px;
}

.modal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  /* #2B2B2B */
  color: #2b2b2b;
}

.modal-content {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.form-control {
  background: #efefef;
  border-radius: 5px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  border: none;
  color: black;
}

.col-4 {
  font-size: 12px;
}

.btn {
  background: #454f63;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.footer {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #2b2b2b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  background-color: #000000c7;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  color: #2b2b2b;
}

.login_btn {
  background: #1f4f9e;
  border-radius: 5px;
  height: 60px;
  margin-top: 55px;
  text-transform: capitalize;
}

.col-sm-auto {
  margin-left: auto;
  margin-right: auto;
}

.create-accnt {
  color: #1f4f9e;
  text-decoration: underline;
}

.form-check-input {
  position: absolute;
  margin-top: 0.2rem;
}

.modal-body {
  padding: 4px 0px 0px;
}

.modal-header {
  border: none;
  margin-top: 14px;
  margin-bottom: 10px;
}

.modal-header .close {
  position: absolute;
  top: 27px;
  right: 35px;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .modal-header {
    margin-top: 20px;
  }
  .modal-title {
    font-size: 30px;
  }
  .modal-body {
    padding: 0;
  }
  .form-control {
    height: 50px;
    font-size: 16px;
  }
  .form-label {
    font-size: 16px;
  }
  .forget-pass {
    font-size: 16px;
    text-align: left;
  }
  .forget-pass label {
    float: left !important;
  }
  .login_btn {
    height: 50px;
    margin-top: 0;
  }
  .btn {
    font-size: 16px;
  }
  .footer {
    font-size: 16px;
  }
}
@media only screen and (min-width:992px) and (max-width:1200px){
  h5.modal-title {
    font-size: 32px !important;
    line-height: 46px !important;
  }
.modal-body{
  padding-top: 15px !important;
  padding-bottom: 10px;
}
  .modal-header {
    margin-top: 20px;
  }
  .form-label{
    font-size: 14px;
line-height: 20px;
  }
  .form-control{
    height: 48px;
    font-size: 14px;
    line-height: 20px;
  }
  .forget-pass{
    font-size: 14px;
line-height: 20px;


  }
  .login_btn{
    height: 48px;
    font-size: 16px;
    line-height: 23px;
  }
  .footer{
    font-size: 13px;
line-height: 19px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .modal-header {
    margin-top: 20px;
  }
  .modal-title {
    font-size: 40px;
  }
  .modal-body {
    padding: 0;
  }
  .form-control {
    height: 60px;
    font-size: 18px;
  }
  .form-label {
    font-size: 18px;
  }
  .forget-pass {
    font-size: 18px;
    text-align: left;
  }
  .forget-pass label {
    float: right !important;
  }
  .login_btn {
    height: 60px;
    margin-top: 0;
  }
  .btn {
    font-size: 18px;
  }
  .footer {
    font-size: 18px;
  }
}