<table class="table">
    <thead>
        <tr>
          <th scope="col">Quotation ID</th>
          <th scope="col">Date</th>
          <th scope="col">RFQ ID</th>
          <th scope="col">Seller Name</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="highlighted">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Blah Blah</td>
            <td>
                <button class="btn btn-primary" type="button">view</button>
            </td>
        </tr>
        <tr class="spacer">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Blah Blah</td>
            <td>
                <button class="btn btn-primary" type="button">view</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Blah Blah</td>
            <td>
                <button class="btn btn-primary" type="button">view</button>
            </td>
        </tr>
      </tbody>
</table>