<section class="dialogue-holder">
<mat-dialog-content class="mat-typography" >
    <mat-dialog-actions align="end" class="p-0 m-0">
        <button mat-dialog-close class="close-btn"><i class="fas fa-times mt-0 p-0"></i></button>
    </mat-dialog-actions>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="id-div"><span class="name mr-2">Quotation ID :</span> <span class="deets">#
                           358495</span></div>
                </div>
                <br><br>
                <div class="col-md-12">
                    <div class="date-div"><span class="name mr-2">RFQ ID : </span> <span class="deet-light"># 7485784</span></div>
                </div>
                 <br><br>
                <div class="col-md-12">
                    <div class="date-div"><span class="name mr-2">Date :</span> <span class="deet-light">12th june,2021</span></div>
                </div>
                 <br><br>
                <div class="col-md-12">
                    <div class="date-div"><span class="name mr-2">Seller Name:</span> <span class="deet-light">EMDAD</span></div>
                </div>
                 <br><br>
                <div class="col-md-12">
                    <div class="date-div"><span class="name mr-2">Qunatity :</span> <span class="deet-light">120</span></div>
                </div>
                 <br><br>
                <div class="col-md-12">
                    <div class="date-div"><span class="name mr-2">unit Price :</span> <span class="deet-light">$ 129</span></div>
                </div>
                 <br><br>
                <div class="col-md-12">
                    <div class="date-div"><span class="name mr-2">Total Price :</span> <span class="deet-light">$10000</span></div>
                </div>
                <br><br>
                <div class="col-md-12">
                    <div class="date-div"><span class="name">Attachments :</span> </div>
                </div>
                <br><br>
                <div class="col-md-12">

                    <div> <a class="a-download" href="javascript:void(0);" (click)="download();"><img
                        src="../../../../../assets/file-up-yellow.png" class="mr-2"><span class="file-name">ahajd.pdf</span></a>
                        <br><br>
                    </div>
                </div>
                 <br>
                 <div class="col-md-12">
                     <form action="">
                         
                         <div class="form-group">
                        <label for="description">Comment</label>
                        <p class="mob-warning">Add reason for denial</p>
                        <div class="input-group">
                            <!-- description -->
                            <textarea rows="15" id="description" class="form-control form-control-md" type="text"
                                formControlName="description" placeholder="please tell us why you want to deny...">
                            </textarea>
                        </div>
                    </div>

                        
                     </form>
                 </div>
                 <div class="col-md-12 button-div">
                     <button mat-raised-button class="accept-btn">accept</button>
                     <button mat-stroked-button class="deny-btn">deny 
                        <span class="tooltiptext" style="color: #2b2b2b !important;">Add reason for denial</span>
                     </button>
                 </div>
                <br>
               
            </div>
        </div>
  
</mat-dialog-content>
</section>